﻿
div.quick-links-add{
	background-color:#999999;color:white;font-size:10px;border:2px #999999 solid;padding:5px;float:left;width:150px;vertical-align:middle;
	text-align:center;display:table;border-radius:20px;margin-right:10px;font-weight:bold
}
div.quick-links-add a {
	color:white;display:table-cell;vertical-align:middle
}
div.quick-links-add a:hover{
	text-decoration:none; cursor:pointer;
}
img.img-quick-links-add{
	display:table-cell;vertical-align:middle
}
