﻿div.pnl-edit-quick-links{
	display:table;font-size:10px;text-align:center


}
div.itemeditquicklink{
	
    background-color:gray!important;display:block!important;float:left
}
div.itemeditquicklink:hover{
background-color:#CC3300!important;opacity:0.7;color:white;
}


.wrap-edit-quick-links{
	font-size:11px!important;;text-align:center;float:left}
div.save-edit-quick-links{
	width: 60px;height:60px;
    display: table-cell; 
    background-color:#CCCCCC;margin:10px!important;padding:0 10px 0 10px;vertical-align:middle;border:5px white solid;cursor:pointer

}
.btn-edit-quick-link{
	float:right;background:gray!important;color:white!important;border:none!important;cursor:pointer
}
div.itemeditquicklink img{
display:none;float:right
}
div.itemeditquicklink:hover img {
  display:block;float:right;margin-top: -25px;margin-right:-5px
}

div.item-edit-quick-link{
	background:#CCCCCC;width: 60px;height:60px;
    display: table-cell;padding:5px 5px 0 5px;vertical-align:middle;vertical-align:top;
    display:none;color:white!important;margin:2px
;line-height:40px
}
div.save-external-link{
	display:none
}