﻿@charset "utf-8";
/* CSS Document */
#verticalNav{ border:0px;}

#verticalNav .ui-tabs-nav {
	margin: 140px 0 0 0;
	padding: 0;
	border:0px;
	border-radius:0;
	background:none;
}
#verticalNav .ui-tabs-nav li {
	list-style: none;
	padding: 0;
	float: left;
	margin: 0 -1px 0.2em 0;
    padding: 0;
	border:0;
}
#verticalNav .ui-tabs-nav li.ui-state-focus{height:39px !important;}
#verticalNav .ui-tabs-nav a {
	position: relative;
	top: 1px;
	display: block;
	padding: 0px 10px;
	/*border: solid #e1e0dc;
                border-width: 1px 1px 0 1px;
                background: #d6d6d6;
	color: #999;*/
	text-decoration: none;/*-webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;*/
            }
#verticalNav .ui-tabs-nav li.ui-tabs-selected a {
	color: #c70d37;
	background: #fff;
}
#verticalNav .ui-tabs-hide {
	display: none;
}
#verticalNav .ms-PartSpacingVertical {
	margin-top: 0px!important;
}
#verticalNav .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
#verticalNav .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
#verticalNav .ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}
#verticalNav .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
#verticalNav .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 40em;
}

/*   Ruchi Start */
.tabNav{top:0px; left:0; z-index:1; margin:0; padding:0;}
.tabNav > ul > li{ height:39px; margin-bottom:1px; vertical-align:middle;}
.tabNav > ul > li > a{ background: url(../images/normalTab.png) no-repeat; height:39px;color:#fff; text-align:center; display:block; padding:0 10px 0 10px; text-shadow: 1px 1px #000;}
.tabNav > ul > li > a > span{display: table-cell;height: 39px;text-align: center;vertical-align: middle;width: 93px;}

.ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
    width: 112px;
	margin:10px 0 0 0;
    float:left;
}

.ui-tabs-vertical .ui-tabs-panel {
    /*background-color: #f7f7f7;*/
    float: left;
    /*padding: 1em;*/
	padding:0 0px 10px 0px;
    /*width:590px;*/
	border-top: none;
	border-left:none;
	/*border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;*/
	width:100%;

}

.tabNav ul li.ui-tabs-active a{ background: url(../images/selectedTab.png) no-repeat; height:39px; color:#464646; text-align:right; display:block; padding:0 10px 0 10px; text-shadow: 1px 1px #fff; font-weight:bold;  }

/* Ruchi End */
/* CSS Updated 13.08.2013 -- */

.tabNav{top:10px; left:0; z-index:1; margin:0; padding:0;}
.tabNav > ul > li{ height:39px; margin-bottom:1px; vertical-align:middle;}
.tabNav > ul > li > a{ background: url(../images/normalTab.png) no-repeat; height:39px; color:#fff; text-align:center; display:block; padding:0 10px 0 10px; text-shadow: 1px 1px #000;}
.tabNav > ul > li > a > span{display: table-cell;height: 39px;text-align: center;vertical-align: middle;width: 93px; font-size:13px; font-weight:normal; color:#fff;}

.tabNav ul li.ui-tabs-active a{ background: url(../images/selectedTab.png) no-repeat; height:39px; color:#464646; text-align:right; display:block; padding:0 10px 0 10px; text-shadow: 1px 1px #fff; font-weight:bold;  }
.tabNav ul li.ui-tabs-active a span{color:#464646 !important;  font-weight:bold;}

.tabNav > ul > li > a:hover{text-decoration:underline !important;}

.wpt-ui-tabs-wrapper {
    margin: 141px 0 0 0;
    display: block;
    width: 75%;
    float: left;
    position: relative;
    background: #fff;
}



