﻿@charset "utf-8";
/* CSS Document */

body{-webkit-overflow-scrolling: touch;}
#greenroom-anchor-links {background: #f4f4f4;}
.anchor-links{padding: 20px 5px; display: none; margin-bottom: -20px;}
.anchor-links ul{float: left; width:100%;}
#greenroom-anchor-links a,.anchor-links a{font-size:14px; color:#1b2326;}
.anchor-links li:after { content: "|"; margin-left: 12px;}
.anchor-links li:last-child:after {display: none;}
.owl-theme .owl-controls .owl-page span { background: #d8d8d8; border-radius: 50% !important; height: 9px; margin: 5px;  width: 9px;}
.owl-theme .owl-controls .owl-page.active span{background: #1fb7ea;}
.holiday-header {font: 26px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin-bottom: 25px;}
#greenroom-homepage-sidebar .holiday-header{font: 20px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin-top: 20px;}
#greenroom-homepage-content .holiday-header,#greenroom-homepage-content #greenroom-next-holiday-box,#greenroom-homepage-content #greenroom-btn-holiday-schedule{display:none;}
.anchor-links .mobile-btn {display: none;}
.admin-links-sidebar{display: none;}
.anchor-links li{float: left;}
.navbar{min-height: 0; margin-bottom: 0; border: 0; margin-left: -15px;}
#NavBarContainer .navbar li.static ul.static li.static {height: auto;}
.askQuestion-responsive{float: right; margin: 9px 0 0 0; display: none;}
.askQuestion-responsive .greenroom-topnav-icon-kaleo{margin-left:0;}
#greenroom-panel-start-headline.ms-webpart-titleText {text-align: left;}
.HomePageNewsfeed .ms-microfeed-postButtonSpan{position: static;}
.HomePageNewsfeed.ms-microfeed-fullMicrofeedDiv{max-height: none!important; overflow-y: visible!important;  position: relative;}
.HomePageNewsfeed .ms-core-menu-box{top: 20px!important;}
.HomePageNewsfeed .ms-core-menu-label{word-wrap: normal!important;}
.greenroom-discussion-comments-subject span {float: left; width: calc(100% - 75px); word-wrap: break-word;}
#greenroom-homepage-sidebar hr.hr.holiday-line {margin-bottom: -10px;}
#greenroom-discussion-comments-usercomment a{word-wrap: normal!important;}
.refiner-heading,.filter-icon{display: none;}
.MobilePeopleSearch{display: none;}
.error-page {max-width: 1200px; margin: 50px auto 0; background: #f4f4f4; z-index: 9; position: relative; padding: 0 32px 20px;}
.show-btn{cursor: pointer; font-size: 14px; background: url("/SiteCollectionImages/more-toggle-white.png") no-repeat 0 14px; background-size: 12px auto; line-height: 36px; position: absolute; right: 0; top: 2px; display: none; padding-left: 18px;}
.greenroom-webpart-bg-offset.active .show-btn{background-position: 0 14px;}
#greenroom-page-content-container#greenroom-page-content-container .greenroom-webpart-bg-offset.active  h2.ms-webpart-titleText{margin-bottom:0; border-radius: 7px!important;}
.greenroom-webpart-bg-offset .show-btn{background-position: 0 -8px;}
.sp-peoplepicker-autoFillContainer .ms-core-menu-label{text-overflow: ellipsis; overflow: hidden;}
.ms-core-menu-sublabel.ms-metadata {overflow: hidden; text-overflow: ellipsis;}
.ms-advsrchText-v2box{height: 24px;}
.ms-searchCenter-advanced td {padding: 2px 5px;}
.ms-advsrchText-v2 input[type="checkbox"] {margin: 0 5px 0 0;}
.ms-advsrchText-v2 label {margin-bottom: 0;}
/*.ms-belltown-authenticated #greenroom-landing-page-btn-feedback {background: #106b89 url("/SiteCollectionImages/pagelayouts/greenroom-subsite-feedback.png") no-repeat center center!important; text-indent: -9999px;}*/
#greenroom-homepage-campaign #greenroom-campaign-ctalink1, #greenroom-homepage-campaign #greenroom-campaign-ctalink2, #greenroom-homepage-campaign #greenroom-campaign-ctalink3 {margin-bottom: 10px;}
#greenroom-homepage-campaign #greenroom-campaign-ctalinks {margin-top: 15px;}
#greenroom-homepage-campaign #greenroom-campaign-title-box{height: auto; min-height: 275px;}
.viacompliments-list-item {border-bottom: 1px solid #c6c6c6; float: left; width: 100%; margin-bottom: 20px;}
.back-to-top-btn{display: none;}
.upcoming-event{float: left;}
.quick-link-responsive{display: none;}
.greenroom-recent-comment + .clearfix {display: none;}
.greenroom-sidebar-related,.greenroom-sidebar-more-videos {float: left; width: 100%;}
.greenroom-sidebar-latest-articles {float: left; width: 100%;}
.tooltip-title {display: none;}
#greenroom-page-content-container {position: relative; border-radius: 0 7px 0 0; float: left; width: 100%;}
.greenroom-webpart-bg-offset .cbs-List {display: block; margin: 0 !important;}

@media only screen and (max-width:1200px) {
	.ms-webpart-cell-vertical,.ms-webpart-chrome-vertical,.ms-webpart-zone{display: block; width:100%!important;}
	.ms-webpart-chrome-title{width:100%!important;}
	#greenroom-top-zone-horizontal .ms-WPBody{width:100%!important;}
	#greenroom-faqs-questions ul li a{width: 78%;}
	li.tile-small {float: none !important; margin: 0 !important; padding: 0 14px; width: 25%; display: inline-block!important; vertical-align: top;}
	li.tile-medium{float: none !important; margin: 0 !important; padding: 0 14px; width: 33.33%; display: inline-block; vertical-align: top;}
	li.tile-tiny{float: none !important; margin: 0 !important; padding: 0 14px; width: 33.33%; display: inline-block; vertical-align: top;}
	.happening-class li.tile-medium{width: 50%;}	
	li.tile-medium #cswp-tile-container-sm.feat-tile-container-medium .cbs-picture3LinesImageContainer img{width: 100%; height: auto;}
	li.tile-medium #cswp-tile-container-sm.feat-tile-container-medium .cbs-picture3LinesDataContainer{width: 100%;}
	li.tile-medium #cswp-tile-container-sm.feat-tile-container-medium .cbs-picture3LinesImageContainer,li.tile-medium #cswp-tile-container-sm.feat-tile-container-medium .cbs-picture3LinesImageContainer img{width:100%; height: auto;}
	
	li.tile-medium #cswp-tile-container-med.cswp-tile-med {width: 100%;}
	li.tile-medium .cswp-tile-med #cswp-tile-title-med,li.tile-medium .cswp-tile-med #cswp-tile-title-med a{width:100%;}
	li.tile-medium #cswp-tile-container-med.cswp-tile-med .cbs-picture3LinesImageContainer,li.tile-medium .cswp-tile-med img#cswp-tile-thumbnail-img-med{width:100%; height: auto;}
	li.tile-medium .cswp-tile-med #cswp-tile-subsite-med{width:100%;}
	li.tile-medium .cswp-tile-med #cswp-tile-like-med{position: absolute; right: 0; top: 0;}
	
	li.tile-tiny #cswp-tile-container-tiny{width: 100%;}
	li.tile-tiny #cswp-tile-container-tiny .cbs-picture3LinesDataContainer{width:auto;}
	li.tile-small #cswp-tile-container-sm{width:100%; max-height: none;}
	.tile-small #cswp-tile-subsite-sm,.tile-small #apiwp-latest-tile-container-sm,li.tile-medium #cswp-tile-container-sm.feat-tile-container-medium #cswp-tile-subsite-sm{width: 100%!important;}
	#cswp-tile-subsite-sm{padding-right: 55px;}
	a.cswp-tile-subsite-link, .cswp-tile-event a {display: block; overflow: hidden; text-overflow: ellipsis; white-space: pre;}
	.cswp-tile-small,.feat-tile-container-medium,.cswp-tile-med{position: relative;}
	.tile-small #cswp-tile-like-sm {position: absolute; right: 0; top: 0;}	
	.tile-small #cswp-tile-container-sm .cbs-picture3LinesImageContainer, .tile-small img#cswp-tile-thumbnail-img-sm {height: auto; width: 100%;}
	.apiwp-latest-image-container img {height: 125px!important; width: 100%!important;}
	iframe.twitter-timeline {max-width: 100%!important;}
	.tile-small #cswp-tile-container-sm.feat-tile-container-small .cbs-picture3LinesImageContainer img {height: auto; width: 100%;}
	li.tile-large {width: 50%; padding: 0 14px; margin: 0!important;  float: none!important; vertical-align: top;}
	li.tile-large #cswp-tile-container-lg {height: auto; width: 100%; position: relative; float: left;}
	li.tile-large #cswp-tile-container-lg .cbs-picture3LinesImageContainer,li.tile-large #cswp-tile-thumbnail-img-lg img {height: auto; max-width: 100%; width: 100%;}
	li.tile-large #cswp-tile-thumbnail-img-lg{width: 100%; height: auto;}
	li.tile-large .cswp-tile-subsite-lg,li.tile-large .cswp-tile-like-lg{top: auto; bottom: 0;}
	li.tile-large #cswp-tile-title-box-lg{width:auto;}
	.Gallery {width: 100% !important; height: auto!important;}
	.Gallery ul{height: auto!important;}
	ol.dots{display:none;}
	li.tile-large #cswp-tile-video-play-box-lg {background: none;  height: 40px; left: 50%;  margin-left: -15px; position: absolute; top: 30%; width: 50px;}
	li.tile-large #cswp-tile-video-play-lg {height: 50px;}
	
	h2.ms-webpart-titleText .landing-page-view-all{padding-right:0!important; margin-right: 0!important;}
	#homepage-Discussions #user-discussions{margin-top: 15px;}
	#greenroom-homepage-sidebar #greenroom-panel-default-info{display: block; float: none;}
	#greenroom-homepage-sidebar #greenroom-panel-default-dept{width: auto;}
	#greenroom-admin-block{margin:5px 0;}
	#greenroom-homepage-content-container #greenroom-homepage-alert-title{display: block; width: auto !important;}
	#greenroom-homepage-campaign #greenroom-campaign-image img { max-width: 100%;  width: 100%;}
	#greenroom-homepage-campaign #greenroom-campaign-image {margin-left: -16px; margin-right: -16px;  margin-top: -2px;}
	#greenroom-homepage-campaign #greenroom-campaign-title-box{ height: auto; left: 0;  margin-top: 0; position: absolute; bottom: 10px;  z-index: 999; padding-left: 20px; width:100%;} 	
	#greenroom-homepage-campaign #greenroom-campaign-description{width:100%;}
	#greenroom-homepage-campaign .dfwp-column{padding-left:0;}
	#greenroom-homepage-campaign  #greenroom-campaign-ctalink1,#greenroom-homepage-campaign #greenroom-campaign-ctalink2{margin-bottom: 10px;}
	.tile-small #cswp-tile-container-sm .cbs-picture3LinesImageContainer.featuring-now-survey {min-height: 105px;}
	.tile-small #cswp-tile-video-play-tiny {left: 50%; margin: -30px 0 0 -45px;  position: absolute; top: 50%; width: 90px;}
	#cswp-tile-title-sm, #cswp-tile-title-sm a{line-height: 15px!important;}
	
	#SerachBoxConatiner{position: relative; margin-right: 10px;}
	.search-button {background: url("/SiteCollectionImages/search-icon.png") no-repeat center 8px;  float: left; height: 35px; width: 30px; cursor: pointer; }
	.search-button.active {background: #fff url("/SiteCollectionImages/search-icon.png") no-repeat center -26px; }
	#SerachBoxConatiner #searchInputBox { display: none; -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23); -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23); box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23); background: #fff; width: 335px; position: absolute; right: 0; top: 40px; z-index: 99;}
	.quick-text {display: none;}
	#QuickLinks{width: auto; background: none!important; display: block!important;}
	#greenroom-logo-container { margin-left: 10px;}
	#SerachBoxConatiner div{float: none;}
	#TopBar #SerachBoxConatiner .ms-srch-sb.ms-srch-sb-border,#TopBar #SerachBoxConatiner .ms-srch-sb.ms-srch-sb-borderFocused{background: #fff; width: 100% !important;}
	#greenroom-ribbon-container #SerachBoxConatiner input{width: 290px!important;}
	#greenroom-logo-container-scroll { margin-left: -52px;}
	#FooterAreaWrapper{min-height: 425px; height: auto; padding: 15px 20px 0;}
	#FooterAreaWrapper.SearchPageFooter{min-height:0;}
	.SearchMasterPage .contentwrapper{min-width:0; margin: 0 20px;}
	.search-page #FooterAreaWrapper{min-height: 0;}
	#FooterSocial2{width:39%; height: auto;  padding-right: 30px; margin: 0;}
	#TagCloud{width:21%;}
	#FooterSocial2 ul.cbs-List li { margin: 0; padding: 0 14px; width: 50%; }
	#FooterSocial2 .cbs-picture3LinesImg {width: 100%; height: auto;}	
	#FooterAreaWrapper2{height: auto; padding: 20px; text-align: center;}
	#FooterRow3 > a { margin: 20px 2.8%;}
	#greenroom-homepage-content .cbs-List{display: block;}
	#greenroom-homepage-sidebar #kw-widget,#greenroom-sidebar #kw-widget{position: relative;}
	#greenroom-homepage-sidebar .kw-popover,#greenroom-sidebar .kw-popover{ right: 0; width: 290px;}
	#NavBarContainer .kw-iframe-container{overflow: auto; -webkit-overflow-scrolling: touch;}
	#greenroom-homepage-sidebar #kw-widget .kw-iframe-container,#greenroom-sidebar #kw-widget .kw-iframe-container{overflow: auto; -webkit-overflow-scrolling: touch; box-shadow: 4px 4px 14px #000;}
	#greenroom-homepage-sidebar #kw-widget .kw-iframe-container iframe,#greenroom-sidebar #kw-widget .kw-iframe-container iframe{box-shadow: 0 0;}
	#apiwp-latest-tile-title-container-sm .apiwp-latest-start-event {white-space: pre; overflow: hidden; text-overflow: ellipsis; display: block;}
	#NavBarContainer .static.askQuestion{display: none;}
	.askQuestion-responsive{display: block;}
	#TopBarContent .navbar{position: static;}
	#TopBarContent {position: relative;}
	#TopBarContent .kw-popover{position: absolute; right: 0; top: 30px; z-index: 99999;}
	/* Quick Links */	
	#QuickLinksPlaceholder{overflow: visible; padding: 10px 20px;}
	#homepage-recommendedLinks{overflow: visible;}
	.quick-dropdown {float: left; position: relative;}
	#QuickLinksPlaceholder .RecomendedLinks-homepage ul{width: auto;}
	.QuickLinksDropdown,.CustomLinksDropdown {background: #fff; float: left;  right: 0; padding: 0 10px !important; position: absolute; top: 61px; width: 190px!important; z-index: 9999; -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.23); -moz-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.23); box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.23); height: auto !important; display: none;}
	#QuickLinksPlaceholder .quick-dropdown ul li { width: 100% !important; border:0!important; margin: 0!important; padding: 8px 0 !important; border-bottom: 1px solid #e5e5e5!important; height: auto !important; text-align: left !important;}
	#QuickLinksContainer .quick-dropdown ul li:last-child,#customized-intranet-quickLinks .quick-dropdown ul li:last-child{border:0!important;}
	.quick-dropdown .toggle-btn {box-sizing: content-box !important; cursor: pointer; float: left; padding: 8px 10px; width: 5px; margin-top: 20px;}
	.quick-dropdown .toggle-btn.active{-webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23); -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23); box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.23);}
	.quick-dropdown .toggle-btn small {background: #a7a7a7; border-radius: 50% !important; float: left; height: 5px; margin: 2px 0; width: 5px;}
	.quick-dropdown .toggle-btn.active small {background: #1eb7ea;}
	.quick-dropdown ul li a{display: table;}
	.quick-dropdown ul li span{height: auto;  margin: 0; display: table-cell !important; font-size: 11px !important; padding-right: 0; padding-left: 10px; vertical-align: middle;}
	.quick-dropdown ul li img {display: table-cell !important;}
	#QuickLinksContainer li span{word-wrap: break-word;}
	.sprite-new.greenroom-topnav-icon-kaleo {background: url("/SiteCollectionImages/kaleo-icon.png") no-repeat 7px 7px; padding: 17px !important;}
	.askQuestion-responsive.active .sprite-new.greenroom-topnav-icon-kaleo{background-position: 7px -27px;  background-color: #f2f2f2;}
	#s4-workspace {width: 100% !important;}
	#TopBar .kw-iframe-container iframe {box-shadow: 0 0;}
	#homepage-Discussions-add-link{margin-right:0!important;}
	#apiwp-latest-tile-sm {line-height: 16px; max-height: 65px; overflow: hidden;}
	#cswp-footer-title .cbs-picture3LinesLine1Link{width:100%;}
	#FooterSocial2 .cbs-List {display: block;}
	#greenroom-subsite-title{margin-top: 0 !important;  top: 0;}
	#greenroom-landing-page-btn-feedback{margin-top: 0!important; top: 0;}
	.ms-siteicon-img, .ms-siteicon-a{height: auto;}
	.search-page .contentwrapper {margin: 0 20px; min-width: 0;}
	.search-refiners{float: left;}
	.SearchContentBox{float: left; min-width: 545px; padding-right:0; margin-top: 0;}
	.advance-search-page .SearchContentBox{float: none; padding-left: 0;}
	.ms-srch-hover-outerContainer{display:none!important;}
	.SearchSideNavBox .ms-searchCenter-refinement {margin-top: 20px;}
	.SearchContentBox .ms-srch-sb-searchLink{float: right;}
	.ms-srch-item{background:none!important;}
	.ms-searchCenter-result-main .ms-srch-sbLarge{width: 100% !important;}
	#BreadCrumbNavigation{padding: 4px 20px;}	
	#s4-bodyContainer #EditQuickLinksContainer li,#s4-bodyContainer #CustomQuickLinksContainer li{width: 100px; display: inline-block; vertical-align: top; float: none!important;}
	#s4-bodyContainer #EditQuickLinksContainer li span{height: 36px; overflow: hidden;}
	#CustomQuickLinksContainer ul {padding: 0;}
	#landing-page, #article-default.container,#article-video.container,#article-survey.container,#article-gallery.container,#article-alert.container,#article-promotion.container{margin-top: -46px!important;}	
	#Banner {height: auto; min-width: 0 !important;}		
	#AddQuickLinksContainer{padding: 16px 0;}
	.edit-quick-links{padding:0;}
	#createQuickLink {padding: 0;}
	#EditQuickLinksContainer{padding: 20px 0;}
	#CustomQuickLinksContainer{padding: 20px 0;}
	#greenroom-top-zone-full-width.col-xs-12,#landing-page .greenroom-bottom-zone-full-width{padding-left: 20px; padding-right: 20px;}
	#landing-page #greenroom-page-content-container,#landing-page .edit-quick-links {padding-left: 3px; padding-right: 3px;}
	#cswp-tile-container-sm, #cswp-tile-container-med {background: none;}
	#cswp-tile-title-sm, #cswp-tile-title-sm a{height: 60px;}
	#cswp-tile-title-box-lg{border-top:0;}
	/* Landing Page Template */
	#greenroom-sidebar ul#latest-articles{display: block !important; width: auto; margin-left:0; margin-right:0;}
	#greenroom-sidebar #cswp-tile-container-tiny{width:100%;}
	#greenroom-sidebar #cswp-tile-container-tiny .cbs-picture3LinesDataContainer{ margin-left: 0; margin-right: 0 !important; overflow: visible; padding-left: 105px; width: 100%;}
	#greenroom-page-content-container > .col-md-9{padding-left: 1px; padding-right: 0;}
	#greenroom-page-content-container > #greenroom-sidebar.col-md-3{padding-left: 12px; padding-right: 17px;}
	body #greenroom-sidebar h2.ms-webpart-titleText{width:100%;}	
	.greenroom-ed-container{width: 49%;  margin: 0 !important;}
	.greenroom-container .greenroom-ed-container{float: none; display: inline-block; vertical-align: top;}
	.greenroom-ed-container:nth-child(2n+1) {padding-left: 7px;}
	.greenroom-ed-container:nth-child(2n) {padding-right: 7px;}
	.greeroom-TitleBlock{width:100%;}
	.greenroom-ed-container:nth-child(2n+1) .greeroom-TitleBlock{padding-left: 7px;}
	.greenroom-ed-container:nth-child(2n) .greeroom-TitleBlock{padding-right: 7px;}
	.greenroom-ed-container .greenroom-edimg{width:100%;}
	.ms-rtestate-field .greenrrom-edsmalltext{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	a span.ms-rteStyle-Accent2{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;}
	#blogRSS {margin-left: -14px; margin-right: -14px; width: auto !important;}
	#blogRSS #imgsm{height:auto;}
	li.blogcontainer2.tile-small{margin-bottom: 25px!important;}
	.show-btn-block {text-align: center;}
	.list-show-btn {color: #081e25; cursor: pointer; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: bold; background: url("/SiteCollectionImages/more-toggle.png") no-repeat right 3px; background-size: 12px auto; padding-right: 18px;}
	.list-show-btn.active{background-position: right -18px;}
	.greenroom-webpart-bg-offset .ms-rtestate-field img {max-width: 100%;}
	#greenroom-company-viacomtimeline-year-cont #greenroom-company-viacomtimeline-desc{float: none; margin-left: 0; padding-right: 15px; width: 100%;}
	.tile-small #cswp-tile-container-sm.feat-tile-container-small .cbs-pictureImgLink{position: static;}
	.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a, .ms-webpart-titleText.ms-webpart-titleText nobr{text-align: left!important; white-space: normal !important;}
	#Discussions{width:100%!important;}
	#contentBox.SystemPageContent{min-width:0; max-width:100%; float: left;}	
	.cbs-List.all-items-list{width:auto;}
	#greenroom-page-content-container .col-md-9 .all-items-header li.ms-promlink-header .ms-promlink-headerNav{margin-right: 0;}
	#greenroom-article-usercomments-container {width: calc(100% - 70px) !important;}
	#greenroom-article-comments-userimage{padding-right: 10px; width: 70px;}
	.image-webpart {table-layout: fixed;}
	.image-webpart img {height: auto; max-width: 100%;}
	.advance-search-page #s4-bodyContainer {margin-top: -46px;}
	.greenroom-system-master #s4-bodyContainer {margin-top: -46px;}
	.greenroom-system-master #titleAreaBox,.greenroom-system-master #titleAreaRow,.greenroom-system-master #titleAreaRow .ms-breadcrumb-box{max-width: 100%; display: block;}
	.greenroom-system-master .ms-breadcrumb-box{height: auto;}
	.greenroom-system-master #pageTitle.SystemPageTitle{margin:0;}
	.greenroom-system-master #pageTitle.SystemPageTitle #DeltaPlaceHolderPageTitleInTitleArea span span a{margin-top:0; text-align: center; vertical-align: top; text-overflow: ellipsis; max-width:50%;  overflow: hidden;}
	.greenroom-system-master #contentRow {padding-top: 0;}
	.greenroom-system-master #s4-titlerow{margin:0; padding: 0; height: auto;}
	.search-page #s4-bodyContainer {margin-top: -46px;}
	.greenroom-system-master #pageTitle {height: 46px;}
	#greenroom-page-content{width: 100%!important;}
	#article-text {margin-top: -46px;}
	#article-video #greenroom-page-content-container,#article-text #greenroom-page-content-container,#article-default #greenroom-page-content-container{padding: 0 3px;}
	body .WordSection1 p,.WordSection1 h2 {margin-left: 0!important;}
	body .WordSection1{max-width: 100%; padding-left:0;}
	body .WordSection1 img {height: auto; margin-left: 0; max-width: 100%;}
	.WordSection1 table {max-width: 100%;}
	.WordSection1 table,.WordSection1 table tr, .WordSection1 table tbody, .WordSection1 table td {display: block;}
	.WordSection1 a {white-space: normal; word-wrap: break-word;}
	.page-field-image img {height: auto; max-width: 100%;}
	#cswp-tile-text-only-med #cswp-tile-title-med{width:100%;}
	#VoteSection {max-width: 100%;}
	.galleria .galleria-container {width: 100% !important;}
	.galleria-info{width:100%; left:0;}
	body #greenroom-article-content .galleria .galleria-info-text{margin-left:0; width:100%; padding: 0 15px;}
	body #greenroom-article-thumbnailimage img {height: auto; max-width: 100%; margin: 10px 0;}
	#greenroom-article-content .ms-rtestate-field img {height: auto!important; max-width: 100%; margin-left: 0 !important; margin-right: 0 !important;}
	.ms-rtestate-field img {height: auto; max-width: 100%;}
	.ms-comm-forumHeaderContainer img {max-width: none;}
	.ms-rtestate-field .greenroom-edimg {height: 92px;}
	#article-default .ms-rtestate-field img{margin:0!important;}
	body #selfService-section-two .disabledcss,body #selfService-section-two .disabledcss:disabled{color:#000!important; -webkit-text-fill-color:#000!important; opacity: 1;}
	#greenroom-page-content-container .col-md-6 ul#latest-articles li.tile-large {display: inline-block;}
	body #slideshow{overflow: hidden; margin-left:0;}
	body .upload,body .embedcode iframe {width: 100% !important;}
	.greenroom-SelfService-Fieldset .tool-tip-desc,.greenroom-SelfService-Fieldset .tool-tip-desc-Location{position: relative;}
	.tooltip-title {background: #f5f5f5; bottom: 32px;  position: absolute;  right: -13px;  width: 300px; z-index: 9; padding: 10px; box-shadow: 0px 0px 2px rgba(0,0,0,.5);}
.tooltip-title:after{background: #f5f5f5; box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2); content: " "; height: 20px; position: absolute;
    right: 10px; bottom: -9px; transform: rotate(45deg); width: 20px;}
	.col-md-6 #popular-docs.cbs-List {display: block;  width: 100%;}
	.col-md-6 #popular-docs.cbs-List li {display: block;}
	.darkbox{max-width:100%;}
	#greenroom-homepage-campaign li.dfwp-item{padding-bottom: 0;}
	#greenroom-home-title{top: -116px;}
	#greenroom-anchor-links{margin-bottom: 20px;}
	#cswp-tile-title-tiny.cbs-picture3LinesDataContainer {padding: 15px; margin: 0; background: #fff;}
	#popular-docs.cbs-List {display: block;}
	.cbs-Item {padding: 0;}
	#greenroom-page-content-container#greenroom-page-content-container .greenroom-webpart-bg-offset .ms-webpart-chrome-title .ms-webpart-titleText a {background: none!important;}
	.footer-most-shared img {height: auto !important; max-width: 100%;}
	#greenroom-home-title{display: none;}
}

/* iPad Landscape */
@media only screen and (max-width: 1024px) {	
	#greenroom-homepage-sidebar #greenroom-panel-default-container{width:100%;}
	#ms-microblogdiv,#ms-newsfeedpartdiv,#ms-feeddiv{max-width:100%!important;}	
	#greenroom-homepage-content{padding-left: 20px!important;}
	#greenroom-homepage-sidebar.col-md-3{padding-right: 20px!important;}
	.anchor-links{display: block;}
	#greenroom-homepage-content{padding-top: 0!important;}
	body #greenroom-homepage-sidebar #greenroom-panel-default-container {margin-top: 0px;}	
	#NavBarContainer {width: auto;}
	.navbar-collapse{padding-right: 0;}
	#NavBarContainer{margin-left: 62px;}
	#s4-workspace {height: auto !important; width: 100% !important;}
	body{overflow: auto;}
	#TopBar.fixed {left: 0; top: 0; z-index: 9999;}
	#TopBar.fixed #greenroom-logo-container-scroll {display: block !important;}	
	.ms-srchnav-list li:last-child {padding-right: 0;}
	
	#greenroom-homepage-content .cbs-List,#homepage-blockpaging.cbs-List{width:auto;}
	li.tile-large #cswp-tile-title-box-lg { display: block; float: left;  min-height: 100px;  padding: 20px 15px; width: 100%;}
	li.tile-large .cswp-tile-subsite-lg	{width: 100%; top:0; bottom: auto; padding-right: 55px;}
	li.tile-large .cswp-tile-like-lg{right: 0; left: auto; top: 0; bottom: auto;}
	li.tile-large .cbs-picture3LinesImageContainer {padding-top: 30px;}
	li.tile-large #cswp-tile-title-lg,li.tile-large #cswp-tile-title-lg a{font-size: 13px!important;}
	li.tile-large,li.tile-small,li.tile-medium,li.tile-tiny{width:100%;}
	.owl-theme .owl-controls{margin-top:0;}	
	#greenroom-sidebar .owl-controls{bottom: 30px; padding: 0 20px; position: absolute; text-align: center; width: 100%;}	
	#cswp-tile-title-tiny, #cswp-tile-title-tiny a, #cswp-tile-title-lg, #cswp-tile-title-lg a{height: 90px; line-height: 15px!important;}
	#LatestEventsHomepage ul{width:auto!important;}
	.show-btn{display: block;}
	.active.greenroom-webpart-bg-offset{background: none; padding-bottom:0; margin-bottom: 10px;}
/*.greenroom-webpart-bg-offset .ms-wpContentDivSpace{display: none;}*/
	.greenroom-webpart-bg-offset h2.ms-webpart-titleText nobr span {display: block !important; padding-right: 80px; white-space: pre !important; max-width: 100%!important;}
	.greenroom-webpart-bg-offset .ms-webpart-chrome-title .ms-webpart-titleText a {background: none!important; left: 0; max-width: 100%; padding: 0 !important; position: absolute;}
	#greenroom-sidebar ul#latest-articles{margin-left: -14px; margin-right: -14px;}
	#greenroom-sidebar ul#latest-articles li{display: block;}
	.happening-class li.tile-medium{width: 100%;}
	img#cswp-tile-thumbnail-img-sm-med{width:100%;}
	#Discussions #user-discussions:nth-child(n+4) {display: none;}
	.happening-class #greenroom-landing-page {padding: 0;}
	#greenroom-page-content-container.happening-class > #greenroom-sidebar{padding-left: 16px; padding-right: 16px;}
	.happening-class #latest-articles{width:auto;}
	.happening-class #greenroom-discussion-username, .happening-class #greenroom-discussion-date {margin-left: 0 !important; width: 100%;  padding-top: 0 !important; margin-top: 5px; float: left;}
	.happening-class .discussion-container{width:100%; float: left;}
	.happening-class #user-discussions{width:100%; float: left;}
	.happening-class #Discussions #cswp-tile-comments-lg{float: left; margin-top: 0;}
	.happening-class .homepage-discussion-reply{padding: 6px 0;}
	.happening-class #Discussions #cswp-tile-comments-num-lg{margin-right: 5px;}
	#greenroom-selfServiceProfileForm, #selfService-section-two {max-width: 100%;}
	ul.cbs-List.Grouping_HolidaySchedulePaging{margin: 0!important;}
	body #greenroom-featurecallout-large-bottom-content-cont {max-width: none; width: 100%;}
	body #greenroom-bottom-zone-full-width {padding-left: 20px !important; padding-right: 20px;}
	#greenroom-sidebar a.cswp-tile-subsite-link{display: block;}
	#greenroom-article-comments-container #greenroom-article-comments-userimage:nth-child(n+9), #greenroom-article-comments-container #greenroom-article-usercomments-container:nth-child(n+10) {display: none;}
	#greenroom-article-content{width:100%;}
	.article-buttons {float: left; margin-bottom: 20px; width: 100%;}
	.article-buttons #greenroom-add-comment {float: right;}
	.article-buttons #greenroom-page-content-count-likes {float: left; margin: 0 3px 0 0;}
	.article-buttons #greenroom-subsite-title-share {float: left; margin: 0; position: relative; top: 0; vertical-align: top;}
	.article-buttons #greenroom-subsite-title-share .ms-core-menu-list {margin-left: 0; right: 0; top: 100%;}
	.article-buttons #greenroom-add-comment .btn.btn-primary.btn-lg {margin: 0;}
	body  #article-alert.container #greenroom-page-content-count-likes{float: left; margin: 0 5px 0 0;}
	body  #article-alert.container #greenroom-subsite-title-share{margin:0; top: 0; float: left;}
	#article-alert.container #greenroom-landing-page-btn-feedback{top:0;}
	#article-alert.container #greenroom-subsite-title-alert{margin-top:0;}
	#greenroom-all-comments{width: 100%;}
	body #greenroom-article-comments-usercomment div{max-width:100%;}
	body #greenroom-article-comments-usercomment{min-width:0;}
	#greenroom-post-comment{width: 100%;}
	#greenroom-post-comment #greenroom-article-postcomment-container textarea{float: none; width: calc(100% - 70px);}
	#greenroom-article-event-page-header.page-header h1{min-height: 35px;}
	ul.cbs-List.owl-carousel{margin-left: -14px; margin-right: -14px; width: auto; min-width: 100%;}
	body #EventConatiner{margin-bottom: 20px;  position: relative;}
	body #EventDetails{margin-left:0;}
	body .outlook-box {background: none; margin-left: 0; margin-top: -50px; min-height: 0; padding: 0; position: absolute; right: 0;  top: 50%;}
	body #EventDetailsContainer{padding-right: 110px; margin-left: -30px;}
	body #EventAddtoOutlook{width: 115px; height: 100px;}
	#EventAddtoOutlook img{max-width: 100%; height: auto;}
	#greenroom-campaign-title-box #greenroom-campaign-ctalink1,#greenroom-campaign-title-box #greenroom-campaign-ctalink2,#greenroom-campaign-title-box #greenroom-campaign-ctalink3{height: auto; max-width: 95%;}
	#greenroom-campaign-title-box #greenroom-campaign-ctalink1 span,#greenroom-campaign-title-box #greenroom-campaign-ctalink2 span,#greenroom-campaign-title-box #greenroom-campaign-ctalink3 span{display: block; overflow: hidden; text-overflow: ellipsis; white-space: pre;}
	#aspnetForm > div[data-name="SecurityTrimmedAdministrators"] {display: none;}
	#back-to-top-container{display: none;}
	.back-to-top-btn{display:inline-block;  background-color: #666; float: right; font: 13px "DINPro-Bold",Helvetica Neue,Helvetica,Arial;
    height: 40px; margin-top: -15px; padding-top: 10px; text-align: center; width: 130px; color: #fff; border-radius: 0 0 7px 7px;}
	#greenroom-sidebar ul.cbs-List.owl-carousel{display: block!important;}
	.ms-wpContentDivSpace{max-width: 100%;}
	#popular-pages.popular-pages li{width:100%; height: auto; margin: 0 !important; padding: 0 14px;}
	#popular-pages.popular-pages .cbs-picture3LinesImageContainer {height: auto; width: 100%;}
	#popular-pages.popular-pages .cbs-picture3LinesImageContainer img{height: auto; width: 100%;}
	#greenroom-sidebar #popular-pages.popular-pages #cswp-tile-container-tiny .cbs-picture3LinesDataContainer{background: #fff; float: left;  min-height: 100px; padding: 20px 15px;}
	.popular-pages .cbs-noImageContainer {background-color: #fff; background-position: center center; background-repeat: no-repeat; background-size: 100% auto;}
	#VoteSection #Results {width: 100% !important; height: auto!important; margin-top: 15px;}
/*	#greenroom-subsite-title{text-overflow: ellipsis; white-space: nowrap;  max-width: 70%; overflow: hidden;}*/
	#AsynchronousViewDefault_CalendarView {min-width: 1000px;}
	#referanintern, #requestanintern, #needanintern, #internevaluation{text-align: right;}
	#completetraining, #rai, #requirements, #internevl,#refer{margin-bottom: 20px; margin-left: 20px;}
	
	.upcoming-container {overflow: auto;}
	.upcoming-container ul {margin: 0!important;}
	#greenroom-landing-page .cbs-List li.upcoming-item {display: table-cell; float: none; vertical-align: top;}
	.upcoming-item > div:nth-child(1), .upcoming-item > div:nth-child(2) {display: table-cell !important; float: none !important; vertical-align: top;}
	.upcoming-item > div:nth-child(1) {padding-top: 50px;}
	.upcoming-item > div:last-child {padding: 0;}
	body #EventImage{width:100%; margin-left: -32px;}
	body #EventConatiner{min-height:0;}
	body #greenroom-post-comment-guidelines{margin-left:70px;}
	.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a{overflow: visible;}
	#greenroom-article-comments-container {border-bottom: 1px solid #c6c6c6; float: left; margin-bottom: 15px; padding-bottom: 10px; width: 100%;}
	#greenroom-article-comments-container hr {display: none;}
	#greenroom-article-usercomments-container #greenroom-article-comments-like {float: left;}
	#greenroom-article-comments-timestamp, #greenroom-article-comments-follow, #greenroom-article-comments-report, #greenroom-article-comments-likes, #greenroom-article-comments-number {margin-bottom: 5px;}
	#greenroom-article-usercomments-container blockquote{top:0;}
	.ms-dlgContent{overflow: auto;}
	.quick-link-responsive{display: inline-block; float: right; margin: 5px 10px; padding-top: 5px;}
	#QuickLinks{display: none!important;}
	table.ms-formtable{max-width:100%; width:100%;}
	.greenroom-reuseableform-attach-desc{margin: 10px 0;}	
	.greenroom-recent-comment + .clearfix {display: block;}
	.featuring-now-survey + #cswp-tile-title-box-sm #cswp-tile-title-sm a {display: block; height: 16px; overflow: hidden;}
	.featuring-now-survey + #cswp-tile-title-box-sm #cswp-tile-title-sm #cswp-btn-vote{margin-top: 5px;}
	.ms-srch-result-noResults {padding-left: 0;}
	.greenroom-system-master #s4-titlerow.s4-titlerowhidetitle{display: block !important;}
	.happening-class ul#latest-articles li{width: 50%;}
	#greenroom-subsite-title-follow{top: 0 !important;}
	#video iframe { width: 100% !important;}
	.tooltip-title {display:block;}
	.form-content {max-width: 100%;}
	body #greenroom-landing-page-btn-feedback{height: 46px; margin-right: 15px; top: -50px;}
	.ms-formtable .ms-long {width: 100%;}
	.ms-formtable .ms-usereditor {width: 100%;}
	.MsoNormalTable {max-width: 100%;}
	iframe#iWorldClock {width: 100%;}
	#FooterSocial2.footer-most-liked, #FooterSocial2.footer-most-shared {width: 19.6%;}
	#FooterSocial2.footer-most-liked ul li, #FooterSocial2.footer-most-shared ul li {width: 100%;}	
	.tile-small .cswp-tile-txt-box-sm,.tile-small #cswp-tile-title-box-sm,.tile-small #cswp-tile-survey-sm{width:100%;}
	#cswp-tile-title-box-sm{min-height: 60px; padding: 15px;}
	#AddQuickLinksContainer,#EditQuickLinksContainer {max-width: 100%;}
	.category-links-edit-ul .btnAdd,.quick-link-pages .btnAdd{display: block; overflow: hidden; white-space: pre; width: 48px;}
	.category-links-edit-li .category-links-edit,.quick-link-pages span a:first-child {max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: pre;}
	#AddQuickLinksContainer li span{float: left;}
	#greenroom-homepage-campaign #greenroom-campaign-title-box{min-height:0;}
	#greenroom-homepage-alert{width:100%;}
}

/* iPad Portrait */
@media only screen and (max-width:992px) {	
	#homepage-discussion-cont #homepage-Discussions #user-discussions{float: none!important; width: 50% !important; display: inline-block; vertical-align: top; margin-top: 20px;}
	#greenroom-homepage-campaign #greenroom-campaign-title{width:100%; min-height: 70px;}
	.tile-small #cswp-tile-container-sm .cbs-picture3LinesImageContainer.featuring-now-survey {min-height: 125px;}
	.tile-tiny .btn-sm{font-size:12px!important;}
	#FooterSocial2 { height: auto;  margin: 0; padding-right: 30px;  width: 60%;}
	#FooterSocial2.footer-most-liked, #FooterSocial2.footer-most-shared {width: 30%;}
	#FooterSocial2.footer-most-liked {clear: left;}	
	#FooterRow2 {position: relative;}
	#TagCloud { position: absolute; right: 0; top: 58px;  width: 40%;}
	#greenroom-homepage-sidebar .kw-popover,#greenroom-sidebar .kw-popover {left: 0; right: auto;}
	.fixed #NavBarContainer li.static ul.static li.static a {padding: 10px 6px 11px !important;}
	#NavBarContainer li.static ul.static li.static a{padding: 10.5px 6px !important;}
	#cswp-footer-title{height: auto;}
	.SearchContentBox #SearchBox{width:100%; position: relative;}
	.SearchContentBox .ms-searchCenter-result-main{width:100%;}
	#AddQuickLinksContainer > ul{float: left; margin: 0 0 20px; width: 100%;}
	#AddQuickLinksContainer li{margin:0; width: 100% !important;}	
	#greenroom-bottom-zone-extreme-left-col4, #greenroom-bottom-zone-center-col4, #greenroom-bottom-zone-extreme-right-col4 {margin-top: -45px;}
	#NavBarContainer {width: 590px;}
	#greenroom-page-content-container.happening-class > #greenroom-sidebar{width: 41.666%!important;}
	body #greenroom-article-comments-usercomment div{margin-bottom: 5px;}
	#viacompliments-replies {float: none !important;}	
	#greenroom-article-usercomments-container br{display: none;}
	body #greenroom-article-comments-container hr{margin-top:0; margin-right:0;}	
	#video video {height: auto; width: 100%;}
	div[id^="divReplyTextArea"],div[id^="divCommentTextArea"]{float: left; margin-bottom: 10px; width: 100%;}
	div[id^="divReplyTextArea"] textarea,div[id^="divCommentTextArea"] textarea {margin-bottom: 5px; width: 100%;}
	div[id^="divReplyTextArea"] a, div[id^="divCommentTextArea"] a  {float: right;}
	#EventConatiner .col-xs-4 {width: 100%;}
	body #EventAddtoOutlook {height: 120px; width: 150px;}
	body #EventDetailsContainer {padding-left: 0; width:100%}
	body .outlook-box {margin-left: 0; margin-top: 25px; top: 0;}
	.galleria-stage .galleria-image img{height: 300px !important; max-height: 40px; overflow: hidden;}
	.galleria-container {height: 470px !important;}
	body #greenroom-article-content .galleria .galleria-info-text{top: 295px;}
	.edit-quick-links{margin:0;}
	#greenroom-page-content-container #greenroom-faqs-container {margin-bottom: 50px;}
	body #EventDetailsContainer{margin-left: -15px;}
	body #EventImage {margin-left: -32px;}
	body #EventAddtoOutlook{width: 135px;}
	#greenroom-top-zone-horizontal textarea, .divFileUploadControlls .greenroom-SelfService-Fieldset input{width:100%!important;}
	.responsive-tix-table, .responsive-tix-table > tbody, .responsive-tix-table > tbody > tr, .responsive-tix-table > tbody > tr > td {display: block;}
	.responsive-tix-table #selfService-section-two {overflow: auto; padding-bottom: 15px;}
	.responsive-tix-table #selfService-section-two table {min-width: 600px;}
	body .greenroom-tickets-header-eventtitle{width:auto;}
	.ms-formtable h3.ms-standardheader nobr {white-space: normal;}
	.ms-formtable .ms-formlabel {width: 50%;}
	#greenroom-page-content-container > #greenroom-sidebar.col-md-3{min-height:0;}
}

/* iPhone Landscape */	
@media only screen and (max-width:767px) {
li.tile-small,li.tile-tiny{width:100%;}
#greenroom-homepage-content .cbs-List{margin:0;}
#homepage-discussion-cont #homepage-Discussions #user-discussions{width: 100% !important; border-bottom: 1px solid #d6d6d6; padding-bottom: 20px; margin-bottom: 10px;}
#homepage-discussion-cont #homepage-Discussions #user-discussions:last-child {border: 0;}
#homepage-discussion-cont #greenroom-discussion-comments-usercomment{min-height: 0;}
#homepage-discussion-cont #homepage-Discussions #greenroom-discussion-username{width: auto; margin-right: 15px;}
#homepage-discussion-cont #user-discussions .viewallhomepage br {display: none;}
body #greenroom-homepage-sidebar #greenroom-panel-default-container{margin-top:0;}
#greenroom-homepage-sidebar {margin-bottom: 20px;}
/*#greenroom-homepage-sidebar hr {border: 0 !important;}*/

#greenroom-homepage-content .cbs-List{ margin-left: -14px; margin-right: -14px; width: auto;}
#LatestEventsHomepage ul{width:auto!important;}
#greenroom-homepage-content{padding-right: 20px!important;}
#greenroom-homepage-sidebar.col-md-3{padding-left: 20px!important;}

#greenroom-campaign-title-box #greenroom-campaign-ctalink1,#greenroom-campaign-title-box #greenroom-campaign-ctalink2,#greenroom-campaign-title-box #greenroom-campaign-ctalink3{height: auto; max-width: 100%;}
#greenroom-campaign-title-box #greenroom-campaign-ctalink1 span,#greenroom-campaign-title-box #greenroom-campaign-ctalink2 span,#greenroom-campaign-title-box #greenroom-campaign-ctalink3 span{display: block; overflow: hidden; text-overflow: ellipsis; white-space: pre;}

#greenroom-campaign-title-box #greenroom-campaign-ctalink1 a,#greenroom-campaign-title-box #greenroom-campaign-ctalink2 a,#greenroom-campaign-title-box #greenroom-campaign-ctalink3 a {font-size: 13px; line-height: 30px !important;}
#greenroom-homepage-campaign #greenroom-campaign-title-box{bottom:10px;}
#greenroom-homepage-content .holiday-header,#greenroom-homepage-content #greenroom-next-holiday-box{display: block;}
#greenroom-homepage-content #greenroom-btn-holiday-schedule{display: inline-block; margin-bottom: 20px;}
#greenroom-homepage-sidebar .holiday-header,#greenroom-homepage-sidebar #greenroom-next-holiday-box,#greenroom-homepage-sidebar #greenroom-btn-holiday-schedule{display: none;}
#greenroom-campaign-title-box #greenroom-campaign-title{font-size: 30px;}
.anchor-links .mobile-btn {display: inline;}
.anchor-links .tablet-btn {display: none;}
#greenroom-homepage-content{padding-bottom: 0!important;}
#greenroom-homepage-content .greenroom-admin-block{display: none!important;}
.admin-links-sidebar{display: block; margin-top: 20px;}
li.tile-large #cswp-tile-container-lg{position: static;}
#homepage-Discussions{margin:0!important;}
#FooterSocial2{width:100%; padding-right: 0;}
#TagCloud{ position: static;  width: 100%; margin-bottom: 20px;}

#FooterSocial2 ul.cbs-List li{width:100%;}
#FooterSocial2 ul.cbs-List{width:auto;}
#FooterSocial2 .owl-theme .owl-controls{bottom:5px;}
.footer-most-visited li:last-child #cswp-footer-header,.footer-most-liked li:last-child #cswp-footer-header{display: none;}

.back-to-top-btn {background: url("/SiteCollectionImages/back-to-top.jpg") no-repeat 0 0; height: 45px; overflow: hidden; text-indent: -9999px; width: 52px; position: fixed; right: 20px; bottom: 20px; z-index: 99999; display: inline-block;}
#NavBarContainer{width:100%; margin-left:0;}
.navbar-toggle{background: #00cec8!important; border: 1px solid #fff!important; border-bottom: 0!important; min-width: 42px; margin-bottom: 0; margin-top: 3px; margin-right: 90px; padding-bottom: 20px; border-radius: 4px 4px 0 0;}
.navbar-toggle.collapsed{background: none!important; border: 1px solid transparent!important; padding-bottom: 9px; margin-bottom: 3px;}
#SerachBoxConatiner{position: absolute; right: 0; top: 0;}
#QuickLinks{position: absolute; right: 55px; top: 0; }
#TopBar{position: relative;}
#TopBar.fixed{position: fixed; z-index: 99999;}
.navbar{margin-left:0;}
.navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse.collapse,.navbar-collapse.collapsing{padding: 0 20px; border:0;}
.navbar-collapse.collapse > div,.navbar-collapse.collapsing > div{background: #00cec8;}
.navbar-collapse.collapse ul,.navbar-collapse.collapsing ul {padding: 0;}
#NavBarContainer .navbar li.static ul.static li.static{float: left; width:100%; border-bottom: 1px solid rgba(255,255,255,.4);}
.ms-core-navigation, .ms-core-listMenu-verticalBox, .ms-core-listMenu-horizontalBox{font-size:18px;}
.s4-workspace-scroll {top: 0;}
#s4-workspace,#s4-workspace.s4-workspace-scroll {margin-top: 0 !important;}
#NavBarContainer li.static ul.static li.static a,.fixed #NavBarContainer li.static ul.static li.static a {float: left;  padding: 10px 20px !important; width:100%;}
.ms-core-listMenu-horizontalBox ul, .ms-core-listMenu-horizontalBox li, .ms-core-listMenu-horizontalBox .ms-core-listMenu-item, .ms-core-listMenu-horizontalBox > ul > li > table{display: block;}
/*#NavBarContainer li.static ul.static li.static a:hover{background: none!important;}*/
#NavBarContainer li.static ul.static li.static:hover,#NavBarContainer li.static ul.static li.static a:active,#NavBarContainer li.static ul.static li.static a:focus{background: #1a9cc7;}
#greenroom-logo-container-scroll {margin-left: 20px;}
#greenroom-logo-container { margin-left: 20px;}
#SerachBoxConatiner{margin-right: 20px;}
#suiteBarRight{padding-right: 20px;}
#NavBarContainer .static.askQuestion{display: block; padding-left: 20px;}
.askQuestion-responsive{display: none;}
#suiteBarLeft {display: none;}
#suiteBar,.ms-belltown-authenticated #suiteBar{display: block;}
#suiteBarRight {float: right; padding-right: 10px; padding-top: 5px;}
#welcomeMenuBox .welcome-txt {display: none;}
.ms-welcome-root{padding: 0 7px;}
/*#QuickLinksPlaceholder input[type="button"]{width: 50px; height: 35px; right: 20px; text-indent: -9999px; padding: 0 !important; position: absolute; background-position: center center; top: 18px;}*/
#QuickLinksContainer > ul > li,.RecomendedLinks-homepage li{margin: 0!important; padding: 5px 3px 0!important;}
#TopBarContent .kw-popover{position: static; width: 100%;}
#TopBarContent #kw-widget{left: 10%; right: auto; height: 80%; overflow: auto; position: fixed; top: 10px; width: 80% !important; margin-top: 0 !important; z-index: 999999; background: #f2f2f2; max-height: 560px;}
.kw-iframe-container{width:100%; position: static;}
#LatestEventsHomepage h2.ms-webpart-titleText .landing-page-view-all{margin-left: 10px;}
#greenroom-panel-top-pages-all-pages-link {margin-top: 20px;}
#greenroom-homepage-sidebar br {display: none;}
#greenroom-homepage-sidebar .hr.holiday-line { border: 0 !important; margin-bottom: 0; margin-top: 0;}
.ms-rtestate-field.holiday-schedule-container{display: none;}
.anchor-links li{padding-bottom: 5px;}
#QuickLinksContainer li span,.RecomendedLinks-homepage li span{padding-right:0; font-size: 10px;}
#QuickLinksDropdown.right .QuickLinksDropdown{left: 0; right: auto;}
/*#FooterSocial2 .cbs-picture3LinesImg{height: 150px;}*/
.search-page .ms-core-listMenu-horizontalBox{float:none;}
.search-page #QuickLinks{right:10px;}
.search-page .navbar-toggle{margin-right:45px;}
#ms-belltown-table.SearchMasterPage, .SearchMasterPage .ms-tableRow, .SearchMasterPage .ms-tableCell,.SearchMasterPage .ms-table {display: block;}
.SearchMasterPage .search-refiners {background: #fff; left: 20px;  overflow: auto; padding: 0; position: fixed; top: 50%;  width: calc(100% - 40px); z-index: 99999; display: none; height: 96%; top: 2%; margin-top: 0; z-index: 999999;}
.refiner-heading {background: #00a5d7; color: #fff; display: block; font-size: 20px; margin: 0; padding: 10px 30px; position: relative; z-index: 999999;}
.search-refiners #sideNavBox {padding: 0 20px;}
.refiner-close {background: url("/SiteCollectionImages/refiner-close.png") no-repeat 0 0; background-size:30px 30px; cursor: pointer; float: right; height: 30px; position: absolute; right: 7px; top: 7px; width: 30px;}
.filter-icon {background: url("/SiteCollectionImages/filter-icon.png") no-repeat 0 0; background-size: 26px auto; cursor: pointer; float: left; height: 30px;
    margin: 5px 20px 0 0; width: 30px; display: inline-block;}
#Banner .ms-siteicon-img{display: none;}
.search-page #greenroom-subsite-title{margin-top: 0 !important; width: 100%; text-align: center;}
.search-page #greenroom-landing-page-btn-feedback{margin-top: 0; width:100%;}
.ms-srch-communityItem-body{width:100%;}
#Banner{height: auto;}
.ms-srch-item{width: 100%; padding: 5px 0; margin: 10px 0;}
.ms-srch-item-summaryPreview,.ms-srch-item-preview-path,.ms-srch-item-path{width:100%; word-wrap: break-word;}
.SearchContentBox{width:100%; min-width: 0; padding-left:0;}
h3.ms-srch-ellipsis {font-size: 18px;}
.ms-srch-result #Paging{display: block;}
#SearchBox .ms-srch-sbLarge-fullWidth {margin: 0; padding: 0 30px 0 6px; width: 100%;}
#ms-belltown-table{float: left; width:100%;}
.SearchContentBox #SearchBox {width: 90%; width: calc(100% - 50px);}
.SearchContentBox .ms-srch-sb-searchLink {position: absolute; right: 0px; top: 0;}
.createQuickLinkForm{width:100%;}
.createQuickLinkForm label{width:100%;}
.createQuickLinkForm #txtCreateQuickLinkTitle, .createQuickLinkForm #txtCreateQuickLinkUrl{width:100%; margin-bottom: 5px;}
body #greenroom-subsite-title{width:100%; float: left; text-align: center; margin-top: 0 !important; overflow: hidden; padding: 4px 20px; text-overflow: ellipsis; white-space: normal;}
body #greenroom-landing-page-btn-feedback {margin: 0; text-align: center; top: 0; width: 100%;} /**width updated from 50% to fix the HIDE FOLLOW BUTTON hack on 6June 2018 **/
body #greenroom-subsite-title-follow{width:50%; margin:0; height: 46px;}
#greenroom-subsite-title-follow:after{background: rgba(255, 255, 255, 0.5); content: ""; height: 30px; position: absolute; right: 0; top: 8px; width: 1px;}
#BreadCrumbNavigation{display: none;}
#DeltaPageStatusBar{margin-top:0;}

#Revertquicklinks{margin-left: 10px;}
#UserPersonaContainer .ms-tableCell {display: table-cell;}
.ms-srch-people-item,.ms-srch-people-outerContainer{width:100%; margin-bottom: 30px;}
.ms-srch-people-outerContainer{padding-left: 0; margin: 0; background: none!important;}
.ms-srch-people-item{padding: 5px 0 0; }
.ms-srch-people-item #UserInfoContainer{width:auto !important; padding-left:15px; float: none; display:block;}
.srch-advancedtable td {display: block; padding: 0 10px; text-align: left;}
.srch-advancedtable td label {margin: 0;}
.srch-advancedtable td.ms-advsrchText-v2 select, .srch-advancedtable td.ms-advsrchText-v2 input {margin-bottom: 10px; vertical-align: top;}
.MobilePeopleSearch{display: block;}
#MoreInfoShort,#MoreInfoLong,#DepartmentField{display:none;}
.MobilePeopleSearch #WorkEmailValue a {color: #2171b5; font-family: ProximaNova-Semibold,Helvetica Neue,Helvetica,Arial; font-size: 16px; line-height: 20px;}
.MobilePeopleSearch #WorkEmailValue a span {background: url("/SiteCollectionImages/search-sprite.png") no-repeat 0 4px; float: left; height: 18px; width: 26px;}
.MobilePeopleSearch #WorkPhone a {color: #2171b5; float: left;font-family: ProximaNova-Semibold,Helvetica Neue,Helvetica,Arial; font-size: 16px; line-height: 20px;}
.MobilePeopleSearch #WorkPhone a span{background: url("/SiteCollectionImages/search-sprite.png") no-repeat 0 -27px; float: left; height: 20px; width: 26px;}
.MobilePeopleSearch #OfficeLoc{color: #666; font-family: ProximaNova-Regular,Helvetica Neue,Helvetica,Arial; font-size: 16px; line-height: 20px;}
.MobilePeopleSearch #OfficeLoc span{background: url("/SiteCollectionImages/search-sprite.png") no-repeat 0 -60px; float: left; height: 20px;   width: 26px;}
#UserInfoContainer #NameField #NameFieldLink,#UserInfoContainer #JobTitleValue {font-family: ProximaNova-Semibold,Helvetica Neue,Helvetica,Arial; color: #2171b5; font-size: 20px;  line-height: 24px;}
#UserInfoContainer #JobTitleValue {color: #666666; font-family: ProximaNova-Regular,Helvetica Neue,Helvetica,Arial;}
.ms-srch-people-item #ContactInfo #JobTitleField {padding: 0 0 5px;}
.MobilePeopleSearch #WorkEmail,.MobilePeopleSearch #WorkPhone{margin-bottom: 5px;}
.ms-srch-result .ms-spimn-presenceLink {display: none !important;}
.ms-srch-people-item #UserPersonaContainer{width: 110px;}
.ms-srch-people-item #UserPersona {height: 120px;}
.ms-peopleux-userImgWrapper{width: 110px !important; height: 120px !important;}
.ms-peopleux-userImg {clip: rect(0px, 110px, 120px, 0px) !important; height: 120px !important; max-width: none !important; width: 110px !important;}
.ms-srch-people-item #ContactInfo #NameField{margin-top: -4px;}
.greenroom-system-master .ms-peopleux-userImg{width: 48px !important; height: 48px !important;}
.greenroom-system-master .ms-peopleux-userImgWrapper{width: 48px !important; height: 48px !important;}
.advance-search-page .SearchContentBox{float: left;}
#greenroom-bottom-zone-left{padding-right: 16px;}
#greenroom-bottom-zone-right{padding-left: 16px;}
#greenroom-page-content-container > #greenroom-sidebar.col-md-3 {padding-left: 17px; padding-right: 17px;}
#greenroom-sidebar.col-md-3, #greenroom-sidebar.col-xs-3 {padding-top: 15px;}
#landing-page, #article-default.container,#article-video.container,#article-survey.container,#article-gallery.container,#article-alert.container,#article-promotion.container{margin-top: 0!important;}
#greenroom-page-content-container > .col-md-9{padding-top:20px;}
.timeline-years {margin: 0 -10px;}
.timeline-years td > div {float: left; margin: 10px;}
.timeline-years span.glyphicon.glyphicon-chevron-left {display: none !important;}
.timeline-years .uniqueYears{font-size:14px!important;}
#greenroom-page-content-container.happening-class > #greenroom-sidebar {width: 100% !important;}
.aboutContainer {margin-top: 20px;}
.aboutContainer #greenroom-about-intro p {margin-bottom: 0;}
.aboutContainer #greenroom-about-intro {height: 40px; overflow: hidden;}
.aboutContainer #greenroom-about-container.active #greenroom-about-intro{height: auto; overflow: visible;}
.aboutMore {text-align: center;}
.aboutMore span {color: #081e25; cursor: pointer; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: bold; background: url("/SiteCollectionImages/more-toggle.png") no-repeat right 3px; background-size: 12px auto; padding-right: 18px;}
.aboutMore.active span{background-position: right -18px;}
.greenroom-SelfService-Fieldset .label {font-weight: bold !important;  margin-bottom: 0; padding-left: 0;}
.greenroom-SelfService-Fieldset .tool-tip-desc{float: right;}
.greenroom-SelfService-Fieldset .inputTextlabel{max-width: 280px;}
.greenroom-SelfService-Fieldset .ReportingStructureSuggestion{padding-left:0;}
.ms-webpartzone-cell .group #greenroom-next-holiday-box h3,.ms-webpartzone-cell .group #greenroom-next-holiday-date{width:100%!important;}
.ms-comm-postSubjectColumn{max-width:100%; float: left;}
#contentBox.SystemPageContent .ms-pivotControl-container{margin-right:0;}
body #contentBox.SystemPageContent{padding: 10px 20px;}
.ms-comm-heroLinkContainer {margin-left: 0;}
body .via-compliment-container .complimentee-title,body .via-compliment-container .other-complimentee-title,body .via-compliment-container .compliment-title { width: 100%;}
body .via-compliment-container .other-complimentee-input,body .via-compliment-container .complimentee-input,body .via-compliment-container .compliment-input{float: left; width:100%; max-width: none;}
.via-compliment-container .sp-peoplepicker-topLevel{width: 100% !important;}
body .via-compliment-container .compliment-input textarea{width:100%;}
.advance-search-page #s4-bodyContainer {margin-top: 0;}
#CustomQuickLinksContainer li:last-child,#EditQuickLinksContainer li:last-child{border-right: 1px solid #e5e5e5;}
.greenroom-system-master #s4-bodyContainer{margin:0;}
.greenroom-system-master #pageTitle.SystemPageTitle #DeltaPlaceHolderPageTitleInTitleArea span span a{display: block; overflow: hidden; text-overflow: ellipsis;}
.greenroom-system-master #pageTitle a[href$="SkipLink"] {display: none;}
.ms-formtable td {display: block; width: 100%;}
.ms-formtable .ms-rtefield {min-width: 0;}
.ms-formtable .ms-long {width: 100%;}
.ms-formtable textarea, .ms-formtable input[type="text"],.ms-formtable select {width: 100%!important;}
.ms-formtable td.ms-dtinput,.ms-formtable td.ms-dttimeinput{display: table-cell;}
.ms-dttimeinput select[id$="DateTimeFieldDateHours"], .ms-dttimeinput select[id$="DateTimeFieldDateMinutes"] {width: 50px !important;}
/*.ms-formtable td.ms-dtinput input{min-width: 200px;}*/
body .ms-formtable .ms-usereditor{width:100%;}
body .ms-formtable .ms-usereditor > table > tbody > tr > td {display: table-cell;}
.ms-formtable .ms-formlabel h3.ms-standardheader{font-weight: bold;}
.ms-standardheader nobr{white-space: normal;}
.ms-dttimeinput select[id$="DateTimeFieldDateHours"], .ms-dttimeinput select[id$="DateTimeFieldDateMinutes"]{width: 50px !important;}
.ms-formtable .ms-formlabel{padding-bottom:0;}
.greenroom-system-master #pageTitle.SystemPageTitle #DeltaPlaceHolderPageTitleInTitleArea span span a{max-width:none;}
.greenroom-system-master #pageTitle #DeltaPlaceHolderPageDescription{display: none;}
.greenroom-system-master #DeltaPlaceHolderPageTitleInTitleArea span span:nth-child(3) {display: none;}
.greenroom-system-master #layoutsTable td {display: block; width: 100% !important;}
.greenroom-system-master .ms-wikicontent{padding-right:0!important;}
.greenroom-system-master .ms-comm-forumContainer{max-width: none;}
.greenroom-system-master div.ms-comm-wiki-divFormat1{max-width: none;}
.greenroom-system-master .ms-comm-postSubjectColumn{width:100%;}
#layoutsTable, #layoutsTable tr, #layoutsTable tbody {display: block;}
.greenroom-system-master .ms-wiki-columnSpacing{padding-left: 0;}
.via-compliment-container,.viacompliments-guidelines{display: none;}
.compliment-btn {float: right; font-size: 18px; line-height: 36px; background: url("/SiteCollectionImages/more-toggle.png") no-repeat 0 14px; background-size: 12px auto; padding-left: 20px; cursor: pointer;}
.compliment-btn.active{background-position: left -8px;}
.viacompliment-webpart .ms-webpart-titleText {border-bottom: 1px solid #c6c6c6; padding-bottom: 5px;}
#greenroom-homepage-campaign #greenroom-campaign-title-box{position: static; padding-left:0;}
#greenroom-campaign-ctalinks {background: #181d1f; margin: 0 -16px!important; padding: 12px 20px 0px; margin-top:0;}
#greenroom-homepage-campaign #greenroom-campaign-title {left: 0; overflow: hidden; padding: 20px; position: absolute; text-overflow: ellipsis; top: 30px; white-space: pre; width: 100%;}
#greenroom-homepage-campaign #greenroom-campaign-description {left: 0; overflow: hidden; padding: 0 20px; position: absolute; text-overflow: ellipsis; top: 70px; white-space: pre; width: 100%;}
.search-page #s4-bodyContainer {margin-top: 0;}
.greenroom-system-master #pageTitle {height: auto;}
#article-text{margin-top:0;}
.greenroom-recent-comment {padding: 0 20px; float: left; width: 100%;}
blockquote {margin: 0 0 20px !important;}
#greenroom-sidebar-add-comment #greenroom-add-comment{display: none;}
#greenroom-sidebar .owl-controls{position: static;}
.greenroom-recent-comment #ProfilePicture {height: 100px !important;}
body #EventConatiner {padding: 15px 0;}
body .outlook-box{margin:0; position: static;}
body #EventAddtoOutlook{float: left; margin-left: 15px;}
body #EventImage img {margin-left: 0;}
body #EventDetailsContainer{padding-right:15px; margin-left:0;}
#greenroom-more-related-articles{margin: 0;}
#greenroom-homepage-campaign #greenroom-campaign-title-box{min-height:0;}
#NavBarContainer .kw-iframe-container{overflow: visible; height: auto;}
#NavBarContainer .kw-popover{height: auto;}
#NavBarContainer .kw-iframe-container iframe{height: 560px;}
body.kw-opened .navbar-collapse.in{overflow: visible;}
body.kw-opened{overflow: hidden!important;}
.galleria-thumbnails-container .galleria-image img {display: none !important;}
.galleria-thumbnails-container .galleria-image {background: #d8d8d8; float: none; display: inline-block; height: 8px !important; width: 8px !important; border-radius: 50%!important; margin: 0 5px;}
.galleria-thumbnails-container .galleria-image.active{background: #1fb7ea;}
.galleria-thumbnails-container .galleria-thumbnails { height: auto !important; text-align: center; width: 100% !important;}
.galleria-thumbnails-container {height: auto !important; bottom: 5px;}
.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right{display: none;}
.galleria-carousel .galleria-thumbnails-list {margin-left: 0;  margin-right: 0;}
.galleria-info-title {font: normal 13px/15px Helvetica Neue,Helvetica,Arial;}
body #greenroom-article-content .galleria .galleria-info-text {max-height: 45px; overflow: hidden;}
.galleria-image-nav{display: none;}
#article-alert.container #greenroom-subsite-title-alert{text-align: center; width:100%;}
.ms-dlgContent{height: 98% !important; left: 1% !important; position: fixed; top: 1% !important; width: 98% !important; z-index: 99999 !important;}
.ms-dlgContent div{max-width:100%; width:100% !important; max-height: 100%;}
.ms-dlgContent .ms-dlgFrame{width: 100% !important;}
.ms-dlgContent .ms-dlgFrameContainer {max-height: calc(100% - 100px) !important;}
#greenroom-subsite-title{max-width: none;}
body #EventImage {margin-left: 0;}
.ms-dlgContent .ms-dlgTitleText{width: calc(100% - 20px) !important;}
.quick-link-responsive{position: absolute; right: 52px; top: 0;}
.search-page .quick-link-responsive{right:12px;}
.ms-formtable .ms-formlabel {width: 100%!important;}
table.ms-formtable{width:100%!important;}
#pageTitle.SystemPageTitle #DeltaPlaceHolderPageTitleInTitleArea span span a{height:auto;}
.ms-core-pageTitle{white-space: normal;}
.ms-dlgTitle{white-space: normal;}
.greenroom-system-master #s4-titlerow.s4-titlerowhidetitle{margin: 15px 0;}
.happening-class li.tile-medium{width: 50%;}
#waitlist-container{padding-left:0!important;}
.waitlist-div {float: left!important; margin-bottom: 10px!important; margin-right: 0!important;  width: 100%!important;}
#TicketCount {margin-left: 0!important;}
.waitlist-div #peoplePickerDivUser {margin: 0 !important;}
.waitlist-div td, .waitlist-div th {display: block;}
.waitlist-div .submit-button{float: right; margin: 5px 0 0;}
.waitlist-div td label {margin-top: 10px;}
body #greenroom-page-content-container.happening-class > .col-md-6 {padding-top: 0;}
.waitlist-div > table {margin: 0 !important; width: 100%;}
.waitlist-div .sp-peoplepicker-topLevel {display: block; width: 100% !important;}
#TicketCount {min-width: 50px;}
#moviescreeningform{width:100%;}
#moviescreeningform td {display: block;}
#moviescreeningform tr td:first-child {font-weight: bold;}
#moviescreeningform input[type="text"] {width: 100%;}
#moviescreeningform #createListItem {float: right;}
.jwplayer{max-width: 100%;}
.ms-rte-embedcode iframe {max-width: 100%;}
.ms-comm-postBodyThreaded {word-break: break-word;}
.ms-comm-postMainContainer .ms-noWrap {white-space: normal;}
#greenroom-home-title {position: static; border-radius: 8px!important; margin-bottom: 10px;}
.back-to-top-btn{border-radius: 7px;}
#FooterSocial2.footer-most-liked, #FooterSocial2.footer-most-shared {width: 50%;}
#greenroom-page-content-container > .col-md-9, #greenroom-page-content-container > .col-xs-9{min-height: 0;}
#greenroom-subsite-title-follow {background-position: center center !important; margin-left: 0!important; border-radius: 0 !important;}
body #greenroom-landing-page-btn-feedback {background-color: #009ab5 !important; border: 0 none !important; border-radius: 0 !important;}
.dynamic-children ul.dynamic.inactive-item{display: none;}
.dynamic-children ul.dynamic.active-item {padding: 0 10px; width: 100%!important; display: block; left: 0!important; position: static;}
#MostShared img.page-image-url {width: 100%!important; height: auto!important;}
#FooterSocial2.footer-most-liked{padding-right: 14px; margin-top: 10px;}
#FooterSocial2.footer-most-shared{padding-left: 14px;}
#greenroom-subsite-title{border-radius: 0 !important;}
#greenroom-home-title {font-size: 24px; background: none!important; padding: 0; color: #333; font: 28px 'DINPro', Helvetica Neue, Helvetica, Arial !important; text-transform: capitalize;}

/*** fix for User Story 48536 11June 2018 ***/
div#FooterRow4 > h6{display:block;}
div#FooterRow4 > h6:after{display:none !important;} 

}

/* iPhone Portrait */				
@media only screen and (max-width:479px){
	.owl-theme .owl-controls {bottom: 30px; margin-top: 0; position: absolute; text-align: center; width: 100%;  padding: 0 20px;}
	.owl-theme .owl-controls .owl-page{vertical-align: top;}
	#greenroom-campaign-ctalinks {margin-top: 20px;}
	#LatestEventsHomepage ul li{height: auto!important;}
	.apiwp-latest-image-container img {height: 210px !important;}
	#welcomeMenuBox > a {display: inline-block; vertical-align: top; max-width: 70px; overflow: hidden; text-overflow: ellipsis;}
	#SerachBoxConatiner #searchInputBox{width: 280px;}
	#greenroom-ribbon-container #SerachBoxConatiner input {width: 230px !important;}
	#QuickLinksPlaceholder img {height: auto !important; width: 36px!important;}
	#cswp-footer-title .cbs-picture3LinesLine1Link {color: #000; width:100%; height: 45px; overflow: hidden;}
	#cswp-footer-title .cbs-picture3LinesLine1Link span{display: block; height: 16px; overflow: hidden;}
	#cswp-footer-number{padding: 10px 20px 0px; margin: 0; background: #fff;}
	#cswp-footer-title{background: #fff;  padding: 2px 20px; border-radius: 0 0 7px 7px;}
	.greenroom-ebtitle, .greenroom-ebtitle a:visited, .greenroom-ebtitle a:hover{font-size:20px;}
	#greenroom-sidebar .owl-controls{position: absolute;}
	/*.greenroom-webpart-bg-offset .greenroom-meettheteam td {display: block;}*/
	.galleria-container {height: 410px !important;}
	.tooltip-title{width: 260px;}
	.happening-class li.tile-medium{width: 100%;}
	.happening-class ul#latest-articles li{width: 100%;}
	.jwplayer {max-width: 100%; max-height: 250px;}
	#FooterSocial2 .cbs-picture3LinesImg{border-radius: 7px 7px 0 0;}
	#FooterSocial2.footer-most-liked, #FooterSocial2.footer-most-shared {width: 100%;}
	.office-loc li{width:100%!important; padding-right: 0!important;}	
	#MostShared {background: #fff; border-radius: 10px 10px 7px 7px; float: left; padding-bottom: 7px; width: 100%;}
	#FooterAreaWrapper .dfwp-column #MostShared .page-image-url {border-radius: 7px 7px 0 0;}
	#FooterSocial2.footer-most-liked{padding-right: 0;}
	#FooterSocial2.footer-most-shared{padding-left: 0;}
	#MostShared .page-title a {color: #000; padding: 0 20px; width: 100%; height: 40px;}
	#MostShared #cswp-footer-number{padding:0;}
	#MostShared #cswp-footer-number.number-of-shares{padding-left: 20px;}
	#FooterSocial2 #MostShared .page-image + div {line-height: 17px; margin: 10px 0 0 !important;}
}	
@media only screen and (max-width:420px){
	/*.QuickLinksDropdown{left: 0; right: auto;}*/
	#QuickLinksContainer{margin-right:5px;}
	.article-buttons #greenroom-add-comment .btn.btn-primary.btn-lg{padding: 12px 10px;}
}

@media only screen and (max-width:767px) and (orientation:landscape) {
    .navbar-collapse.collapse > div, .navbar-collapse.collapsing > div{max-height: 260px; overflow-y: auto;}
	body.kw-opened .navbar-collapse.collapse > div,body.kw-opened .navbar-collapse.collapsing > div{overflow: visible; max-height: none;}
	.search-refiners{top: 20px; margin-top:0; max-height: calc(100% - 40px);}
}
@media only screen and (max-width:620px) and (orientation:landscape) {
    .navbar-collapse.collapse > div, .navbar-collapse.collapsing > div{max-height: 220px;}
	body.kw-opened .navbar-collapse.collapse > div,body.kw-opened .navbar-collapse.collapsing > div{max-height: none;}
}