﻿.title{
	float: right;
	font-weight:bold;
	
}
.body{
	width:771px;
	border:1px black solid;	
	padding:10px;	
}
.section-one{
	background-color: darkslateblue;
	border-bottom:10px solid blue;
}
.label{	
	background-color: #ffffff;	
	margin-top:15px;
	margin-bottom:5px;	
	margin-right: 10px;
	float: left;
	width: 80px;
	font-weight:bold;
}
.greenroom-SelfService-Fieldset{
	border:none;
}
.input{
	margin-top:7px;
	
}
.edit-button{
	float:right;
	border-color: cornflowerblue;
}
