﻿/* light site background color start */
#TopBar,#greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link,a span.ms-rteStyle-Accent2{background-color:#a864a8!important;}
/* light site background color end */

/* dark site background color start */
core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, #TopBar li.static.selected, #TopBar a.selected,#greenroom-subsite-title-follow, #greenroom-subsite-title-share, #greenroom-page-content-count-likes, #greenroom-page-content-count-comments,#greenroom-landing-page-btn-feedback, #greenroom-subsite-title-share a.ms-core-menu-link:hover, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, #greenroom-featurecallout-large-headline, #greenroom-featurecallout-large-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content,  a span.ms-rteStyle-Accent2:hover{background-color:#713c71 !important;}
#greenroom-about-container small a, .ms-rteStyle-Accent1 a, a span.ms-rteStyle-Accent1, .ms-rteStyle-Accent1{color:#a864a8 !important;}
/* dark site background color end */

/*******homepage of benefits***************/

/*********** employee discounts************/
.greenroom-ed-container{width:168px;float:left;/* margin: 10px 8px 15px; */position: relative;font-weight:bold}
.greenroom-edcontent{width:280px;}
.greenroom-edimg{width:168px;height:92px;}
.greenroom-largePictureContainer{height:90px;position:relative;width:100%}
.greenroom-edtext{position: absolute;top: 200px;left:0;width:100%;}
.greenroom-ebtitle, .greenroom-ebtitle a:visited, .greenroom-ebtitle a:hover{color:#ffffff!important;font: 24px 'ProximaNova-Light', Helvetica Neue, Helvetica, Arial;text-decoration: none!important;}
.greenroom-moveebtitle{margin-left:auto;margin-right:auto;display:table; width: 100%; height: 90px; text-align:center; vertical-align: middle;  text-transform: uppercase;   }
.greenroom-moveebtitle .greenroom-ebtitle {display: table-cell; vertical-align: middle;}
.greenroom-container{width:100%;/*margin-left:-8px;*/padding:5px 0;}
.greeroom-TitleBlock{top: 0; left: 0; position:absolute;width:168px;height:92px; display: block;}
.ms-rtestate-field .greenrrom-edsmalltext{color:#000000; font:14px 'ProximaNova-Semibold', sans-serif!important;display:block;margin:15px 0 30px 0;}

#greenroom-discounts-container{background-color: #e4e5e6;height:330px;border-bottom:4px solid #F4F4F4;}
#greenroom-discounts-title{background-color: #582e86;color: white;font-family: Arial;font-size: 14px;font-weight: bold;height: 40px;padding-left: 18px;padding-top:10px;width: 100%;}
#greenroom-discounts-image{max-width: 200px;min-width: 150px;width:200px;overflow : hidden;}
#greenroom-discounts-image, #greenroom-discounts-description-container{float:left; margin-top:30px;}
#greenroom-discounts-description-container{margin-left: 50px; }
/*********** end employee discounts************/

/*****self*****/
.greenroom-selfimage{width:43px;height:43px; border-radius: 50%!important}
.greenroom-selfcontainer{width:240px;padding-right:10px;padding-bottom:10px;}
.greenroom-item{float:left;/*width:200px;*/width:100%}
#MSOZoneCell_WebPartWPQ4 .dfwp-item{float:left!important;}
.greenroom-selfcontainer a{color:#000000;font-weight:bold;}
.greenroom-selftitle{padding-right:15px;color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;padding-left:15px;}
.twocolumn div{width:150px;}
.firsthalf {float:left;/*width:170px;*/width:100%;padding-bottom:10px;}
.textonhomepage{margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;padding-top:10px;}
.secondhalf{width:150px;}

/***end self****/
/**** health and wealth *****/
.greenroom-featuredtext{vertical-align: top;}
.greenroom-featured img{height:80px;width:140px;float: left;}
.btn-lg,.greenroom-leftbuttonboxes,.greenroom-buttonboxes{height:44px;float:right; background-color:#a864a8 !important;text-align:center;margin-top:10px;}
a.btn-lg,.btn-lg a:visited,.btn-lg a:hover, .greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{color:#ffffff!important;margin-top:11px;display:block;}
.btn-lg:hover,.greenroom-buttonboxes:hover{background-color:#713c71!important}
.greenroom-featured {height:100px;width:140px;float: left;/*margin-top:20px;*/}
/*#WebPartWPQ18_ChromeTitle, #WebPartWPQ10_ChromeTitle{width:/*356px;100%}*/
/****end health and wealth ***/



/*tuition reimbursement*/
.ms-rteCustom-TEXT ol ul{list-style-type: circle;}
.ms-rteCustom-TEXT ul{padding-left:40px;display:block;padding-top:10px;}
.ms-rteCustom-TEXT li{list-style-type:circle!important;}
.ms-rteCustom-HEADERHR_POLICIES {color: #6f2a8e;font-weight: bold;font-size: 16px;}
.ms-rteCustom-BULLET_HR1 {font-weight: normal;font-size: 12px;line-height: 20px;list-style-image: url('/benefits/SiteAssets/bullet_purple_triangle.jpg');}

/* end of tuition reimbursement*/

/*FWa*/

.ms-rteCustom-HEADERHR_POLICIES {color: #6f2a8e;font-weight: bold;font-size: 16px;}
.fwa li{list-style-type:disc; margin-left:40px;}
/*FWA ends*/
#greenroom-sidebar h2.ms-webpart-titleText{width: auto!important;}

#greenroom-top-zone-horizontal .ms-webpart-chrome-title{width:95%;}
.darkbox{background-color:#713c71!important;max-width:398px;}
.greenroom-whitebuttonboxes{background-color:#ffffff;color:#e0be58;width:60%;height:44px;float:left;text-align:center;margin-top:10px;}
.greenroom-whitebuttonboxes a{color:#a864a8;font-weight:bold;margin-top:11px;display:block;}

/*#landing-page #greenroom-bottom-zone-left .ms-rtestate-field{font:14px Helvetica Neue, Helvetica, Arial!important;line-height:1.42857143!important;}*/
.ms-rtestate-field p{font-family:Helvetica Neue, Helvetica, Arial!important;}
.greenroom-col2noimage{float: none;width:400px;height:50px;overflow: hidden;display: table-cell;}
.left{float:left}
.bullet ul{list-style-type:disc!important;margin-left:10px;display:block;padding-top:10px;}
#greenroom-bottom-zone-right h2.ms-webpart-titleText span{color:#ffffff;}


#greenroom-sidebar .ms-webpart-zone,#greenroom-sidebar .ms-webpart-chrome-vertical,#greenroom-sidebar .ms-webpart-cell-vertical{display: block;}
#greenroom-sidebar .twocolumn{max-width: 100%;}

.greenroom-largePictureContainer br{display: none;}

/* print lounge start */
/* print lounge end */

#greenroom-subsite-title-follow:hover,#greenroom-landing-page-btn-feedback:hover{background-color:#653665 !important; }
a.greenroom-benefits-resources-links{color:#000;}
.greenroom-benefits-resources-links img {
  background-color: #fff;
  border: 0 none;
  height: 90px;
  margin: 0 13px 0 0;
  width: 90px;
}
#greenroom-benefits-resource-cont{
	margin-bottom:20px;
}
span.textonhomepage2 {font-size:13px; color: #333; line-height:1.42857143!important;}
#greenroom-sidebar p{font-size: 14px;}

#printloungestatus #greenroom-featurecallout-large-headline{margin-top: 0;}
.greenroom-webpart-bg-offset.ms-webpartzone-cell-no-margin{background-color:transparent!important;}



#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/

/* Travel Deals CSS */
.benefits-travel-image {
	width: 250px;
	height:120px;
	float: left; 
}
.image-area-left.benefits-travel-image.col-lg-4
{

	width: 33%;
}
.benefits-travel-description {
	float: left; width: 33%;
}

.benefits-travel-button { 
	float: left; width: 100%;	
	text-align:center;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
