﻿/* light site background color start */
#TopBar, #greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link, #greenroom-about-container small a, a.greenroom-about-contact-link, a span.ms-rteStyle-Accent2{background-color:#4eb19f !important;}
/* light site background color end */

#submitevent{margin-bottom:27px; background: #4eb19f;}
#submitevent h1{margin-left:0px;}
#greenroom-top-zone-horizontal .ms-WPBody{overflow:hidden !important;}

/*grey boxes*/
.darkbox{height:auto;width:100%;}
.greenroom-whitebuttonboxes{background-color:#ffffff;color:#4eb19f;/*width:60%;*/height:44px;float:left;text-align:center;margin-top:10px;}
.greenroom-whitebuttonboxes a{color:#4eb19f;font-weight:bold; display:block; padding: 7px 20px; }
.greenroom-whitebuttonboxes a .glyphicon-play{margin-left: 13px;}
.darkboxtext, .darkboxtext h1{color:#ffffff;width:90%;display:block;margin-left:auto;margin-right:auto;line-height:30px;padding-top:10px;}
/*grey boxes*/

/* happening now discussions*/
.ms-comm-postSubjectColumn a{font-weight:bold;color:#000000;}
.ms-comm-postSubjectColumn  .ms-metadata{padding-top:20px;padding-bottom:20px;}
/*.ms-comm-postSubjectColumn,*/ .ms-comm-postListItem{ border: 0; border-top: 1px solid #ccc!important; margin: 1em 0; padding-top:10px; padding-bottom: 10px; display:block}
.ms-comm-postListItem{display:block!important;margin-top:0px;margin-bottom:0px!important;}
.ms-comm-forumHeaderContainer{border-bottom:0px!important;}
.ms-comm-postSubjectColumn{width:480px;display:block;float:right;}
.ms-comm-heroLinkContainer a{background: #009ab5 url("/SiteCollectionImages/icons/edit-icon.png") no-repeat 92% center; color:#ffffff!important; padding: 10px 40px 10px 16px; border-radius:7px;}
.ms-comm-heroLinkContainer a .ms-list-addnew-imgSpan20{display: none;}
.ms-comm-heroLinkContainer a > span {font: 13px/18px 'DINPro',Helvetica Neue,Helvetica,Arial !important;}

.ms-comm-forumHeaderContainer{margin-top:20px;}
.newbutton{left:-5px!important;top:-3px!important;}
.ms-pivotControl-surfacedOpt-selected, .ms-pivotControl-surfacedOpt-selected:hover{font-weight:bold!important;}

/* end happening now discussions*/

/* Latest Discussion Right Section */
#Discussions{max-width: 100%; margin-top: 10px;}
#Discussions .circular{margin-left: 0; height: 65px !important; width: 65px !important;}
#Discussions #greenroom-discussion-username{font-size:11px!important;padding-right:10px;}
#Discussions #greenroom-discussion-comments-usercomment{height: auto!important;}
#greenroom-page-content-container.happening-class > .col-xs-9{width: 50%;}
#greenroom-page-content-container.happening-class > #greenroom-sidebar{width: 50%; padding-top: 47px; padding-right: 32px; padding-left: 28px;}
#greenroom-sidebar h2.ms-webpart-titleText{width: 100%!important;}
.ms-comm-heroLinkContainer{margin-left: -10px;}
.ms-comm-heroLinkContainer .ms-textXLarge{font-size: 14px;}
#greenroom-discussion-date a{color: #4eb19f; text-decoration: underline;}
#greenroom-discussion-date a:hover{color: #000000;}
#greenroom-discussion-date{font-size: 11px!important; margin-top: 10px; margin-left: 76px!important;}
#Discussions #cswp-tile-comments-lg{float: right; margin-top: -20px; height: auto; }
#Discussions  #cswp-tile-comments-num-lg{padding-right: 6px; padding-top: 1px; }
#user-discussions {border-top: 1px solid #cacaca; margin-bottom: 20px !important;}
#navcontainer ul li a{  padding: 0.2em 0.2em 0.2em 0!important;}
/* Latest Discussion Right Section */

.homepage-discussion-reply:hover #cswp-tile-comments-num-lg{background-color: transparent!important;}

#navcontainer ul li a{font-family: 'DINPro';}
#navcontainer ul li a:hover{/*font-family: 'ProximaNova-Semibold';*/ text-decoration: underline!important; }

.happening-class #greenroom-sidebar.col-xs-3{padding-right: 32px;  padding-left: 30px;}
.happening-class > .col-xs-9{padding-left: 17px; }
.happening-class > .col-xs-9 #greenroom-landing-page .ms-webpart-chrome-title,.happening-class > .col-xs-9 #greenroom-landing-page .ms-wpContentDivSpace{width: 100%!important;}
.happening-class > .col-xs-9 #greenroom-landing-page .ms-webpart-chrome{width: 256px!important; margin-right: 28px;}
.happening-class #greenroom-sidebar.col-xs-6 .ms-webpart-cell-vertical.ms-fullWidth:first-child h2.ms-webpart-titleText span{font-size: 28px!important; display: inline-block; vertical-align: top; margin-bottom: 5px; font-family: "DINPro",Helvetica Neue,Helvetica,Arial !important; }
.happening-class #greenroom-sidebar.col-xs-6 .ms-webpart-cell-vertical.ms-fullWidth:first-child h2.ms-webpart-titleText span.landing-page-view-all {font-size: 12px !important; font-family: 'DINPro',Helvetica,Arial !important}
#greenroom-page-content-container.happening-class > .col-xs-6 {padding-top: 46px;}


#landing-page .happening-class #greenroom-top-zone-left-col6 h2.ms-webpart-titleText,#landing-page .happening-class #greenroom-top-zone-right-col6 h2.ms-webpart-titleText{background: none; padding: 0;}

.happening-class #greenroom-landing-page-content #greenroom-top-zone-left-col6 h2.ms-webpart-titleText span,
.happening-class #greenroom-landing-page-content #greenroom-top-zone-right-col6 h2.ms-webpart-titleText span{
	font: 28px 'DINPro', Helvetica Neue, Helvetica, Arial !important;	color:#1b2326;}
#user-discussions > #greenroom-discussion-userimage {padding: 14px 10px 14px 0;}

#submitevent.darkbox{padding-top: 20px;padding-left:20px;}
#submitevent.darkbox .darkboxtext h1{font-size: 28px !important; line-height: 30px; width: 100%; }
#submitevent.darkbox .darkboxtext{padding: 10px 0; min-height: 1px; }
.ms-comm-postList .ms-comm-postListItem:first-child {border: 0 !important;}
.ms-comm-postList p {font-size: 13px;}
#greenroom-landing-page-content #greenroom-top-zone-left-col6 h2.ms-webpart-titleText span.landing-page-view-all, #greenroom-landing-page-content #greenroom-top-zone-right-col6 h2.ms-webpart-titleText span.landing-page-view-all{color:#333!important;  font: bold 12px 'DINPro',Helvetica,Arial !important;}
.plus-icon {display: inline-block; margin-left: 10px !important; vertical-align: top;}

#navcontainer ul li a:hover{font-weight:normal;}
    #navcontainer ul
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    
    #navcontainer ul li
    {
        display: inline;
    }
    
    #navcontainer ul li a
    {
        text-decoration: none;
        padding: .2em 1em;
        color: #000000;
/*		font-size: 14px;*/
    }
    
    #navcontainer ul li a:hover
    {
    }
    #navcontainer
    {
        margin-top: 25px;
        margin-left: -10px;
    }
.greenroom-hapnow-allevents {
	margin-bottom:60px; display:inline-block; float:right;
}
#navcontainer ul li a#recent-discussion:hover, #navcontainer ul li a#currentuser-discussion:hover, #navcontainer ul li a.category-discussion:hover{color:#000 !important;}
.discussion-container li:last-child .greenroom-cat-separator{display:none;}
#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/