﻿/* light site background color start */
#TopBar, #greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link, a span.ms-rteStyle-Accent2{background-color:#19a5d4 !important;}
/* light site background color end */

/* dark site background color start */
#TopBar .selected, #greenroom-subsite-title-follow, #greenroom-subsite-title-share, #greenroom-page-content-count-likes, #greenroom-page-content-count-comments,#greenroom-landing-page-btn-feedback, core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, #greenroom-subsite-title-share a.ms-core-menu-link:hover, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, .ms-rteStyle-greenroom-button-lg, #greenroom-featurecallout-large-headline, #greenroom-featurecallout-large-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, a span.ms-rteStyle-Accent2:hover, .ms-acal-item{background-color:#106b89 !important;}
/* dark site background color end */

/* light font color start */
#greenroom-about-container small a, .ms-rteStyle-Accent1 a, a span.ms-rteStyle-Accent1, .ms-rteStyle-Accent1{color:#19a5d4 !important;}
/* light font color end */

/**************Around Viacom ********/

.twocolumn {width:100%;} /*prev 400px 1/27/15*/
.twocolumn div{width:150px;}
.firsthalf {float:left;/*width:170px;*/width:100%;padding-bottom:10px;}
.textonhomepage{margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;padding-top:10px;}
.secondhalf{width:150px;}

/*************** Blog ******************/
ul#blogRSS {list-style-type: none;margin: 0;padding: 0;}
.blogcontainer{width:900px;}
#blogRSS {margin-right: -28px;}
li.blogcontainer2{display:inline;width: 185px; float:left; padding: 0; margin-right: 28px; }
.viacomblogstyles,.viacomblogstyles a, .viacomblogstyles a:visited,.viacomblogstyles a:hover{width:100%;/*padding-top:5px;*/color:black;text-decoration:none}
/*hr{height:10px;background-color:#19a5d4;width:185px;}*/
.blueline{background-color:#19a5d4!important; padding-top:8px!important; float: left; width: 100%;}
.bluelinetext{color:#ffffff!important;font-size:13px!important;font-weight:bold!important;top:-4px!important;right:-10px!important;position:relative!important}
.morenews{top:-40px;position:relative;}
.moveleft{left:-10px;position:relative;}

#imgsm{overflow:hidden;background-color:#000000; width:100%; height: 130px;}
/******* company timeline **************/
/*.greenroom-col1 {float: left;width: 100px;height: 56px;}
*/
.greenroom-col1 {float: left;width:80px;height: 56px;}
/*.greenroom-col2 {float: none;width:280px;height: 65px;overflow: hidden;display: table-cell;}
.greenroom-col3 {float: right;height: 65px;top:-110px;position:relative}*/
.greenroom-col3 {float: none;width:325px;height: 65px;overflow: hidden;display: table-cell;}
.greenroom-container{display:block;padding-bottom:10px;}
.greenroom-year{color:#2cacd9;font-weight:bold;}
.greenroom-description{color:#000000;font-size:14px;font-weight:bold;}
.greenroom-companyline{width:100%;margin-top:0px;margin-bottom:0px;}
.greenroom-historycont{height:100%;display:block;float:right}
#js-listviewthead-WPQ17{display:none!important;}
.greenroom-bluebuttontext a, .greenroom-bluebuttontext a:hover, .greenroom-bluebuttontext a:visited{color:#ffffff;font-weight:bold;margin-top:11px;display:block;}

.greenroom-bluebuttonboxes{width:60%;height:44px;float:right; background-color:#106b89;text-align:center;}
.ms-rteCustom-HEADERHR_POLICIES {color: #6f2a8e;font-weight: bold;font-size: 16px;}
.disc li, .arrow li{list-style-type:disc;margin-left:40px;}
.hrpolicieslink{color: #6f2a8e;}
#greenroom-sidebar h2.ms-webpart-titleText{width: auto!important;}
.greenroom-featuredtext{vertical-align: top;font:13px Helvetica Neue, Helvetica, Arial;line-height:1.4}
.greenroom-featured {height:100px;width:110px;float: left;/*margin-top:20px;*/}
.greenroom-featured img{float: left;}
.submiteventbutton{width:57%;}

/*#greenroom-sidebar .ms-webpart-chrome-title, #greenroom-top-zone-horizontal h2.ms-webpart-titleText{border-bottom:1px solid #ccc;margin-bottom:10px;}*/
a.btn.btn-primary.btn-lg, .greenroom-leftbuttonboxes a,.greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{color:#ffffff;margin-top:11px;display:block;}
.btn-lg:hover,.greenroom-buttonboxes:hover{background-color:#106b89 !important}
.btn-lg,.greenroom-buttonboxes  {height:44px;float:right; background-color:#19a5d4!important;text-align:center;margin-top:10px;}
.greenroom-leftbuttonboxes{width:60%;height:44px;float:left; background-color:#19a5d4;text-align:center;margin-top:10px;}
/*grey boxes*/
.darkbox{background-color:#106b89;height:auto;width:100%;}
.greenroom-whitebuttonboxes{background-color:#ffffff;color:#19a5d4;width:60%;height:44px;float:left;text-align:center;margin-top:10px;}
.greenroom-whitebuttonboxes a{color:#19a5d4;font-weight:bold;display:block;margin-top:5px}
.darkbox #greenroom-featurecallout-large-bottom-content-cont{
	padding-top:18px!important;
}
/*grey boxes*/


#greenroom-sidebar ul.cbs-List, #greenroom-sidebar .cbs-List#popular-docs {display:table-caption!important;}
#greenroom-sidebar .twocolumn{width:300px;}
.blackheader{font-weight:bold;background-color:#081e25;color:#ffffff!important;height:40px;padding-top:8px;font: 18px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;color:#fff;padding-left:15px;width:100%!important;display:block}
/*ul.cbs-List > li{display:inline-block!important;}*/

#greenroom-sidebar.col-xs-3 #popular-docs.cbs-List .cbs-Detail a{ display: inline-block !important; max-width: 100%;}
#greenroom-sidebar.col-xs-3 #popular-docs.cbs-List{display: block!important;}

#greenroom-subsite-title-follow:hover,#greenroom-landing-page-btn-feedback:hover{background-color:#0e607b !important; }

/* landing page viacom timeline styles start */
#greenroom-company-viacomtimeline-year-cont{clear:both;float:left;border-top: #ececec 2px solid;width:100%;}
#greenroom-company-viacomtimeline-year-cont div{font: 12px /* font size should be 32px after year only is displayed */ Helvetica Neue, Helvetica, Arial;color: #19a5d4; margin-left:8px; padding-top:15px;}
#greenroom-company-viacomtimeline-desc, #greenroom-company-viacomtimeline-desc a{font: 13px Helvetica Neue, Helvetica, Arial;color: #222;}
#greenroom-company-viacomtimeline-desc a{color:#222;}
ul #greenroom-company-viacomtimeline-year-cont{ background-color: #fff; min-height: 97px;}
#greenroom-content-cont-notitle{margin-top:-30px;background-color:#ffffff;padding-right:15px;}
.article-copy{
	
}
#greenroom-company-viacomtimeline-year-cont #greenroom-company-viacomtimeline-year{font-size: 32px; font-weight: bold; padding-top: 0; float: left; margin-right: 20px;}
#greenroom-company-viacomtimeline-year-cont #greenroom-company-viacomtimeline-desc{padding-top: 4px; float: left; width: 70%; padding-right: 20px;}
.greenroom-company-timeline-list {float: left; padding: 0 0 20px; width: 100%; margin: -20px 0 0; background: #fff;}
/* landing page viacom timeline styles end */

#greenroom-bottom-zone-full-width h2.ms-webpart-titleText span:first-child{font-size: 28px!important;}
#greenroom-featurecallout-large-bottom-content-cont a span.ms-rteStyle-Accent2{margin-top: 7px}

#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/

/* Css for ViaCompliment reply section */
.ms-comm-forumContainer .ms-spimn-presenceWrapper{display: none;}
.ms-comm-forumContainer .ms-comm-reputationTextContainer{display: none;}
.ms-comm-forumContainer .ms-comm-authorTitle .ms-subtleLink{font-size: 13px; font-weight: bold;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.ms-comm-forumContainer #forum1-PostList > li {border-bottom: 1px solid #c6c6c6; padding-bottom: 15px;}
.ms-comm-forumContainer #forum1-PostList > li:last-child {border: 0;}
.ms-comm-forumContainer .ms-comm-postReplyBody{font-size: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; padding: 4px 0;}
.ms-comm-forumContainer .ms-comm-forumCmdList .ms-comm-likesCount{float: left; color: #777; font-size: 11px; font-weight: normal; margin-top: 2px;}
.ms-comm-forumContainer .ms-comm-forumCmdList .ms-comm-likesImgContainer{background: url(/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes.png) no-repeat 0 0;  width: 11px; height: 11px; display: inline-block;  vertical-align: top; margin-left: 2px; margin-top: 2px; display: none;}
.ms-comm-forumContainer .ms-comm-forumCmdList .ms-comm-likesImgContainer img{display: none;}
.ms-comm-forumContainer .ms-peopleux-userImgWrapper { display: inline-block;  overflow: hidden;  position: relative;  width: 60px!important;  height: 60px!important;}
.ms-comm-forumContainer .ms-peopleux-userImg {border-radius: 50%!important; width: 60px!important; max-width: none!important; height: 60px!important; clip: rect(0,60px,60px,0)!important;}
.ms-comm-statsInlineContainer .ms-comm-statsInline{vertical-align: middle;}
.ms-comm-statsInlineContainer .ms-comm-statsInline:first-child{color: #4eb19f; text-transform: capitalize; font-size: 14px;}
.ms-comm-statsInlineContainer .ms-comm-statsInline:first-child .ms-comm-reputationNumbers{background: url(/SiteCollectionImages/replies.png) no-repeat 0 0; width: 22px; height: 20px; float: left; text-align: center; line-height: 20px; color: #fff; margin-right: 4px; font-size: 11px;}
.ms-comm-statsInlineContainer .ms-comm-statsInline:nth-child(2){width: 26px; overflow: hidden; white-space: pre;}
.ms-comm-statsInlineContainer .ms-comm-statsInline:nth-child(2) .ms-comm-reputationNumbers{  background: url(/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes.png) no-repeat right 3px;  width: 11px;  height: 14px;  float: left;  padding-right: 23px;  color: #777;  font-size: 12px; font-weight: normal;}

.ms-comm-forumContainer .ms-comm-forumCmdList [id^=likesElement]{background: url(/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes.png) no-repeat 0 3px;  width: 11px; height: 14px; display: inline-block;  vertical-align: top; margin-left: 2px; margin-top: 2px; text-indent: -9999px;}
.ms-comm-forumContainer .ms-comm-forumCmdList [id^=likesElement].active{background: url(/SiteCollectionImages/sprite.png) no-repeat -130px -117px;}
.ms-comm-forumContainer .ms-comm-forumCmdList .ms-comm-likesMetadata{margin-right: 0;}