﻿/* light site background color start */
#TopBar, #greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link, #greenroom-about-container small a, a.greenroom-about-contact-link, a span.ms-rteStyle-Accent2{background-color:#ec5767 !important;}
/* light site background color end */

/* dark site background color start */
#TopBar .selected, #greenroom-subsite-title-follow, #greenroom-subsite-title-share, #greenroom-page-content-count-likes, #greenroom-page-content-count-comments,#greenroom-landing-page-btn-feedback, #greenroom-subsite-title-share a.ms-core-menu-link:hover, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, .ms-rteStyle-Accent2 a, a span.ms-rteStyle-Accent2:hover{background-color:#b43b48 !important;}
/*#greenroom-page-content-container .ms-rtestate-field a{color:#ec5767 !important;}*/
/* dark site background color end */

.greenroom-socialfeedwidth{width:50px;height:35px;vertical-align:middle;}
.greenroom-socialfeedtext{vertical-align:middle;}


/* buttons*/
a.btn.btn-primary.btn-lg,.greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{font-size:14px;color:#ffffff;margin-top:11px;display:block; width: auto!important;}
.btn-lg:hover,.greenroom-buttonboxes:hover{background-color:#b43b48!important}
#button{height:44px;color:#ffffff;background-color:#ed6271!important;text-align:center;margin-top:20px;font-size:14px;color:#ffffff;margin-top:11px;display:block;text-transform:uppercase;font:14px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial!important;}
.btn-lg,.greenroom-buttonboxes{height:44px;float:right; background-color:#ed6271!important;text-align:center;margin-top:20px;}
.greenroom-featured {/*height:120px;*/width:160px;}
.greenroom-featuredtext{vertical-align: top;}
.greenroom-leftbuttonboxes{width:60%;height:44px;float:left; background-color:#ed6271;text-align:center;margin-top:20px;}

/* button ends */


/* college relation city guides*/
.greenroom-ed-container{width:210px;float:left;}
.greenroom-largePictureContainer{height:80px;position:relative;width:100%}
.greenroom-edimg{width:170px;height:90px;}
.greeroom-TitleBlock{top:-10px;position:relative;width:170px;height:50px;}
.greenrrom-edsmalltext{padding-top:10px;color:#000000; font-size:14px;font-weight:bold;margin-top:5px;display:block;}
.greenroom-container{width:850px;}
#referanintern, #requestanintern, #needanintern,#internevaluation{padding:0 10px 10px 10px;}
#refer span, #rai span,#internevl span,#completetraining span{color:#ffffff!important;}
/* college relation city guides end*/



/*new employees*/
.greenroom-col1{float: left;width:60px!important; height: 56px!important;}
.greenroom-col2{float: none;width:100%;overflow: hidden;display: table-cell;}
.greenroom-col3{float: right;height:25px;top:-60px;position:relative;left:-5px;}
.twocolumn{width:100%;min-height:75px;max-height:90px} /*prev 400px 1/27/15*/
.twocolumn div{width:250px;}
.firsthalf {float:left;/*width:170px;*/width:100%;padding-bottom:10px;}
/*#MSOZoneCell_WebPartWPQ12 .textonhomepage, .textonhomepage, #MSOZoneCell_WebPartWPQ9 .textonhomepage, #MSOZoneCell_WebPartWPQ16 .textonhomepage, #MSOZoneCell_WebPartWPQ15 .textonhomepage{margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;width:100%;color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;padding-top:10px;}*/
.textonhomepage, .textonhomepage2lines{margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;padding-top:10px;}
.secondhalf{width:150px;}
.greenroom-col2noimage{float: none;width:350px;height:50px;overflow: hidden;display: table-cell;}
.greenroom-featuredtext{vertical-align: top;}
.greenroom-featured img{height:80px;width:140px;float: left;padding-right:15px;}
/*.twocolumn:hover{background-color:#f1f1f1;}*/
.aboutnewempl{width:300px;display:block;}
#greenroom-sidebar h2.ms-webpart-titleText{float:left;}
.greenroom-selfimage{width:43px;height:43px;}
.left{float:left!important;}
/*new employee ends*/

p, .ms-rtestate-field{font:13px Helvetica Neue, Helvetica, Arial!important;line-height:1.6!important}
.hr{display: block; height: 1px; border: 0; border-top: 1px solid #ccc!important; margin: 1em 0; padding: 0; }


.darkbox{background-color:#a23541!important;width:398px;}
.greenroom-whitebuttonboxes{background-color:#ffffff;color:#ed6271;width:60%;height:44px;float:left;text-align:center;margin-top:10px;}
.greenroom-whitebuttonboxes a{color:#ed6271!important;font-weight:bold;margin-top:11px;display:block;}
.darkboxtext a{color:#ffffff;}

.darkboxtext{color:#ffffff;display:block;margin-left:auto;margin-right:auto;line-height:20px;padding-top:10px;padding-left:20px;padding-right:20px;}

.blackheader{font-weight:bold;background-color:#081e25;color:#ffffff!important;height:40px;padding-top:6px;font: 18px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;color:#fff;padding-left:15px;width:100%;display:block}
 /* College relation homepage */
#list{height:44px;margin-top:11px;width:150px;}
#button{width:200px;}
.instagram-image{width:100px;height:100px;} 
.instagram-wrap{float:left;padding:5px;}
.align{padding-right:5px;vertical-align:text-top;} 
/*.socialfeed tr{padding-top:20px;display:block;}*/
.socialfeed {width:250px;}
.socialfeed td{padding-right:10px;}
#socialstream{margin-top:-30px;}
.socialdescription{text-decoration:underline;font-weight:bold;font:13px Helvetica Neue, Helvetica, Arial!important;}
.stream li .section-title a{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;font-size:13px!important;}
.linkedinfeeds{margin-top:-80px;position:relative;left:20px;width:190px;}

#greenroom-sidebar  h2.ms-webpart-titleText span, #greenroom-top-zone-horizontal h2.ms-webpart-titleText span{color:#1b2326!important;}/* College relation homepage ends */
#greenroom-sidebar ul.cbs-List, #greenroom-sidebar .cbs-List#popular-docs {display:table-caption!important;}
.imagecenter{text-align:center;margin-left:auto;margin-right:auto;display:block;width:900px;}
img.icon{width:20px;height:16px;}
.stream li .icon {position: absolute;left: 8px;	bottom: 5px;z-index: 2;height: 20px;}
.section-user {display: none!important;}
.dcsns ul, .dcsns li { padding: 0; margin: 0; list-style: none!important; background: none; }
.dcsns-content { position: relative; overflow: hidden; padding: 0; margin: 0 0 5px 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.stream li { padding: 0; position: relative; font-size: 11px; color: #444; margin-bottom: 4px; line-height: 18px; }
.stream li .clear {clear: both;}
.stream li .section-intro { clear: both; display: block; font-style: italic; padding: 8px 0 5px 35px; margin: 0; height: 19px; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; }
.stream li .section-intro a { text-decoration: underline; margin-right: 3px; color: #444; }
.stream li .section-title { display: block; font-weight: bold; margin-bottom: 3px; font-size: 14px; color: #f0f0f0; }
.stream li .section-title a { display: block; margin-bottom: 3px; font-size: 14px; color: #0084b4; font-weight: normal; text-decoration: none; }
.stream li .section-thumb { float: left; margin: 0 7px 0 0; max-width: 99%; }
.stream li .section-thumb img { border: 1px solid #ccc; padding: 1px; background: #fff; /*max-width:80%;*/height:150px;width:150px; }
iframe#MSOPageViewerWebPart_WebPartWPQ28{height:730px;width:320px;overflow:hidden;}
#completetraining, #rai, #requirements, #internevl{margin-top:10px;}
.bullet ul{list-style-type:disc!important;margin-left:10px;display:block;padding-top:10px;}

#greenroom-subsite-title-follow:hover,#greenroom-landing-page-btn-feedback:hover{background-color:#a23541 !important; }
.twocolumn .greenroom-featured{float:none!important;}



.textonhomepage2 p{display: block;text-overflow:ellipsis; overflow: hidden; white-space: pre; font-size: 11px; margin: 5px 0; font-weight: bold;padding-right:10px}
.textonhomepage2 a{font-weight:bold;color:#081e25}
#greenroom-featurecallout-large-top-content,#greenroom-featurecallout-large-bottom-content-cont{background-color:transparent!important;}
.icon{border:0px}

.ms-formlabel{white-space:normal!important;width:50%!important}
.textonhomepage2 p span{white-space: normal;}
#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/

