﻿#greenroom-trademark{
border:solid;
background-color: #ebf0f9;	
}
.greenroom-fieldset{
	border:none;
}

.first{
	float:left!important;
}
.sub{
	border: #517dbf;
	background-color: #1e3c7b;
	color: #ebf0f9;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 5pt solid;
	font-size: 14pt;
}

.span-text{
	
	font-weight: 700;
	font-size: 10pt;
	font-family: Verdana;
	padding-right:50px;
	width: 50%;
	padding-right: 0px;
	min-height: 30px;
	display:table-cell!important;
}
.header{
	margin-top: 0px;
	margin-bottom: 0px;
	font-style:normal;
	font-weight: 700;
	background-color: #1e3c7b;
	font-size:medium;
}

.span-chkbox{
	display:block;	
}
.span-inputbox{	
	margin: 1px;
	padding: 5px 10px 2px;
	width:100%!important;
	border: 0px solid #dcdcdc;
	margin: 5px 0px 0px;
	top: -2px;
	display:table-cell!important;

}

/* Trademark registraions*/
#greenroom-trademark-registration{
	border:solid;
	padding:10px;
}
#trademark-registration-section-one .title, #trademark-registration-section-two .title{
	font-weight: 700;
	font-size: 12pt;
	font-family: Verdana;	
	border: 1pt solid #000;
	background-color: #cbcbff;
	margin-bottom:5px;
	margin-top:5px;

}
.greenroom-trademark-registration-label{
	margin-right: 10px;
	float: left;
	width: 80px;
	font-weight:bold;
}

.greenroom-trademark-registration-fieldset{
	border:none;
}
/*Trademark registraions ends*/ 