﻿<style>
   
 .circular {
	width:80px!important;
	height:80px!important;
	border-radius:60px!important;
	-webkit-border-radius:60px!important;
	-moz-border-radius: 60px!important;
	margin:20px 0px 10px 20px;	
	
	}
	
	#progress {
  

 position: relative;
 background:white

}
.check
{
	width:25px!important;
	height:25px!important;
	margin:0px 0px 0px 30px;
	
}
#completePrecentage{
	color:#1eb7ea;font-size:50px
}

#bar {
 height: 22px;
 background-color: #1eb7ea;

}
.Information{
	color:white;width:200px;font-size:large;
}
.completed{
	color:#1eb7ea;font-size:12px
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 165px solid transparent;
	border-right: 165px solid transparent;
	
	border-top: 30px solid #06252f;
	
}
    </style>