<style>
input#btnSave {background: #0d313c; color: #fff;  border: 0; padding: 6px 10px; cursor: pointer;}
.select1-clock { float: left;  width: 150px!important; height: 250px;}
.clock-btns {float: left; width: 34%; padding-top: 20%;}
.select2-clock { float: right; width: 150px!important; height: 250px;}
.custom-clock-bottom { float: left;  width: 100%;}
.clock-btns a {text-decoration: none; line-height: 20px; color: #333;}
</style>