<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at https://greenroomqa.viacom.com/sites/Asia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroomqa%2Eviacom%2Ecom%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2Fkonda%2FLandingPage%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!-- _lcid="1033" _version="15.0.4505" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/Master.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/QuickLinksPanel.css" />
        <link rel="stylesheet" href="css/EditQuickLinksPanel.css" />
        <script src="scripts/js/_archive/jquery-2.0.3.min.js">//<![CDATA[
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/jquery-v1.10.3-ui.min.js">//<![CDATA[
        
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/Master.js">//<![CDATA[
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/knockout-3.0.0.js">//<![CDATA[
        
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/knockout-sortable.min.js">//<![CDATA[
        
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/Utility.js">//<![CDATA[
        
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/QuickLinksPanelapp.js">//<![CDATA[
		
        
        
        
        
        //]]>
        </script>
        <script src="scripts/js/QuickLinks.js">//<![CDATA[
		
    
        
        
        
        //]]>
        </script>
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">https://greenroomqa.viacom.com/sites/Asia/_catalogs/masterpage/konda/LandingPage.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B</mso:ContentTypeId>
<mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
<mso:MasterHash msdt:dt="string">466252818</mso:MasterHash>
<mso:HtmlDesignFromMaster msdt:dt="string">https://greenroomqa.viacom.com/sites/konda/_catalogs/masterpage/Master.html, https://sp2013-dev-12:8081/sites/konda/_catalogs/masterpage/Master.html</mso:HtmlDesignFromMaster>
<mso:PublishingAssociatedContentType msdt:dt="string">;#LandingPage;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00F2A2A30926D95143B8F9F2F3BFE894C8;#</mso:PublishingAssociatedContentType>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
<mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
<mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">715745487</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
<mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass msdt:dt="string">268219038</mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>

<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <title>Landing Page </title>
    </head>
    <body>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
            <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="0" SkipLinkText="">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/benefitsold/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved/Pages/Get Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/New Joinees/SitePages/Community Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Project Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</SharePoint:AspMenu>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
        
        
        
        //]]>
        </script>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderPageTitleInTitleArea" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
            <link href="css/pagelayouts.css" rel="stylesheet" type="text/css" ms-design-css-conversion="no" />
            <div id="RightDiv">
                <div id="PageHead" class="ms-emphasis">
                    <div id="PageTitle">
                        <!--CS: Start Page Field: Title Snippet-->
                        <!--SPM:<%@Register Tagprefix="PageFieldTextField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <h1>
                            <!--MS:<PageFieldTextField:TextField FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
                            <!--ME:</PageFieldTextField:TextField>-->
                        </h1>
                        <!--CE: End Page Field: Title Snippet-->
                    </div>
                    <div id="dvShare">Follow 
                    
                    
                    </div>
                    <div id="dvFollow">Share
                    
                    
                    </div>
                </div>
                <div>
                </div>
                <div>
                    <!--CS: Start Page Field: Page Image Snippet-->
                    <!--SPM:<%@Register Tagprefix="PageFieldRichImageField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<PageFieldRichImageField:RichImageField FieldName="3de94b06-4120-41a5-b907-88773e493458" runat="server">-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Page Image</div><div id="ctl02__ControlWrapper_RichImageField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Page Image</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field"><img alt="" src="/_layouts/images/home.gif" style="BORDER: px solid; " /></div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                    <!--ME:</PageFieldRichImageField:RichImageField>-->
                    <!--CE: End Page Field: Page Image Snippet-->
                </div>
                <div>
                    <!--CS: Start Page Field: Page Content Snippet-->
                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="f55c4d88-1f2e-4ad9-aaa8-819af4ee7ee8" runat="server">-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Page Content</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Page Content</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">Page Content field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                    <!--CE: End Page Field: Page Content Snippet-->
                </div>
                <div data-name="WebPartZone">
                    <!--CS: Start Web Part Zone Snippet-->
                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div xmlns:ie="ie">
                        <!--MS:<WebPartPages:WebPartZone runat="server" ID="x958b7b14192444e0a83f199cff277619" LayoutOrientation="Horizontal" AllowPersonalization="False" FrameType="None" Orientation="Horizontal" PartChromeType="None">-->
                            <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                        <!--ME:</WebPartPages:WebPartZone>-->
                    </div>
                    <!--CE: End Web Part Zone Snippet-->
                </div>
                <div data-name="WebPartZone">
                    <!--CS: Start Web Part Zone Snippet-->
                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div xmlns:ie="ie">
                        <!--MS:<WebPartPages:WebPartZone runat="server" ID="x97ce337279374c53b0a53488f89497e1" LayoutOrientation="Horizontal" AllowPersonalization="False" FrameType="None" Orientation="Horizontal" PartChromeType="None">-->
                            <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                        <!--ME:</WebPartPages:WebPartZone>-->
                    </div>
                    <!--CE: End Web Part Zone Snippet-->
                </div>
                <div data-name="WebPartZone" style="width:50%;float:left">
                    <!--CS: Start Web Part Zone Snippet-->
                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div xmlns:ie="ie">
                        <!--MS:<WebPartPages:WebPartZone runat="server" ID="x088f44209fce41cd9bc2ded02b7de317" AllowPersonalization="False" FrameType="None" Orientation="Vertical" PartChromeType="None">-->
                            <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                        <!--ME:</WebPartPages:WebPartZone>-->
                    </div>
                    <!--CE: End Web Part Zone Snippet-->
                </div>
                <div data-name="WebPartZone" style="width:50%;float:left">
                    <!--CS: Start Web Part Zone Snippet-->
                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div xmlns:ie="ie">
                        <!--MS:<WebPartPages:WebPartZone runat="server" ID="x3d9c7e2b0b0941e593be34f37cc4bc6a" AllowPersonalization="False" FrameType="None" Orientation="Vertical" PartChromeType="None">-->
                            <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                        <!--ME:</WebPartPages:WebPartZone>-->
                    </div>
                    <!--CE: End Web Part Zone Snippet-->
                </div>
            </div>
            <div id="Leftdiv">
                <div data-name="WebPartZone">
                    <!--CS: Start Web Part Zone Snippet-->
                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div xmlns:ie="ie">
                        <!--MS:<WebPartPages:WebPartZone runat="server" ID="xf4121615019b4147b40fb843b570189d" AllowPersonalization="False" FrameType="None" Orientation="Vertical" PartChromeType="None">-->
                            <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                        <!--ME:</WebPartPages:WebPartZone>-->
                    </div>
                    <!--CE: End Web Part Zone Snippet-->
                </div>
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
