﻿#titleAreaBox, #sideNavBox, #ms-designer-ribbon, #ctl00_PlaceHolderMain_UploadDocumentSection_ctl05_OpenWithExplorerLink, #ctl00_PlaceHolderMain_UploadDocumentSection_ctl05_OverwriteSingle, #ctl00_PlaceHolderMain_UploadDocumentSection_ctl05_tablerow3 label, #ctl00_PlaceHolderMain_ctl01_ctl04_OpenWithExplorerLink,#ctl00_PlaceHolderMain_UploadDocumentSection_ctl04_OverwriteSingle, #ctl00_PlaceHolderMain_UploadDocumentSection_ctl04_tablerow3 label , .ms-upload-overwrite-cb {
	display:none;
}

#s4-titlerow{
	height:0px;
}
#contentBox{
	margin-left:0px;
}