﻿.ms-core-webpartadder{top:126px !important;position:static!important}
#DeltaWebPartAdderUpdatePanelContainer{position:unset;top:125px;}
#WebPartAdderUpdatePanelContainer{position:relative !important;z-index:2;}
.ms-wpadder-descriptionArea{width:350px;}
#landing-page.container{margin-top:230px !important; position:relative !important;}
#greenroom-landing-page-content{overflow:scroll;}
#greenroom-hidden{display:block;}
