﻿.Box0,.Box7{

	height:370px;width:437px;background:#FF9966;
}
.Box1,.Box6,.Box10{
height:245px;width:344px;background:#CC3399
	
}
.Box2,.Box3,.Box5,.Box8,.Box9,.Box12{
height:220px;width:158px;background:gray
	
}
.Box4,.Box11{
height:220px;width:251px;background:green
	
}

.cbs-List{
	width:70%!important; 
 
}
.item{
	list-style-type:none
}
.js-masonry{
	width:1000px!important
}