﻿/* for greenroom-homepage page layout start */
#greenroom-homepage-preloader{display:none;}
#greenroom-homepage-alert{ visibility:hidden;}
.ms-siteicon-a, #BreadCrumbNavigation, #Banner{display:none;}
#greenroom-campaign-image{margin-left:-33%;margin-top:-2px;}
#greenroom-campaign-title-box{position: relative; margin-top: -550px; height: 250px; }
#greenroom-campaign-title{font: 42px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; color:#fff; width: 405px;min-height:100px;} 
#greenroom-campaign-description{font: 20px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; color:#fff; width: 405px; min-height:25px;}
#greenroom-campaign-ctalinks{margin-top: 10px;}
#greenroom-campaign-ctalink1,#greenroom-campaign-ctalink2{display:inline-block; font: 16px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;}
#greenroom-campaign-ctalink1{text-align: center; height: 45px; margin-right: 20px; background-color:#009ab5; text-transform:uppercase;-webkit-border-radius:8px!important; -moz-border-radius:8px!important;border-radius:8px!important;}
#greenroom-campaign-ctalink2{/*width: 145px; */text-transform:uppercase;text-align: center; height: 45px; background-color: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); border:1px solid rgba(255,255,255,.5);-webkit-border-radius:8px!important; -moz-border-radius:8px!important;border-radius:8px!important;}
#greenroom-campaign-ctalink1 a{color:#ffffff; padding-left:18px; padding-right:18px; line-height: 42px !important;}
#greenroom-campaign-ctalink2 a{color:#fff; padding-right: 18px; padding-left: 25px;}
#greenroom-campaign-ctalink1 a, #greenroom-campaign-ctalink2 a{text-decoration:none;vertical-align:middle; line-height: 40px; display: block;}
a span.greenroom-campaign-ctalink1:after, a span.greenroom-campaign-ctalink2:after {
  content: "";
  font-family: "Glyphicons Halflings";
  font-weight: 400;
  margin-left: 13px;
  position: relative;
  top: 1px;
}

#greenroom-panel-default-container {background: #fff;
  height: 100%;
  min-height: 138px;
  width: 256px;margin-bottom:25px; max-width: 100%; float: left; border-radius: 7px;
}
#greenroom-panel-default-info{float:left;padding-top:20px;}
#greenroom-panel-default-image{float:left; padding:20px 15px; }
#greenroom-panel-default-name{display: inline; word-wrap: break-word;}
#greenroom-panel-default-dept{font: 13px Helvetica Neue, Helvetica, Arial; color:#666;width: 115px; word-wrap: break-word;}
#greenroom-panel-default-links, #greenroom-panel-default-links a{font: 12px 'DINPro',Helvetica Neue, Helvetica, Arial; color:#666; font-weight:bold;}
#greenroom-panel-default-links ul li{margin-bottom:10px;}
#greenroom-panel-default-links img{margin-right:5px;}
#greenroom-panel-onboarding-link {clear:both; float: left; margin: 0 0 26px; width: 100%;}
#greenroom-panel-onboarding-link-image{float:left;margin-right:15px; width: 45px;}
#greenroom-panel-onboarding-link-text{float:left; width: 185px;}
.greenroom-panel-link-employee, .greenroom-panel-link-contractor, #greenroom-panel-contractor-container{display:none;}
#greenroom-panel-onboarding-subheadline p {font-size: 13px;}

#progress {position: relative;background:white}
.check, .uncheck{width:25px!important;height:25px!important;margin:0px 0px 0px 30px;float:right;}
#completePrecentage{color:#1eb7ea;font-size:50px}
#bar{height: 55px; background-color: #fff;}
.Information{color:white;width:200px;font-size:large;}
.completed{color:#1eb7ea;font-size:12px}
#complete{height:100%!important;background-color:#009ab5!important;color:#fff;font: 27px 'DINPro', Helvetica Neue, Helvetica, Arial; font-weight:bold;padding:10px 0px 0px 20px ;}
.arrow-down {width: 0;height: 0;border-left: 165px solid transparent;border-right: 165px solid transparent;border-top: 30px solid #06252f;}
#greenroom-panel-start-bar{background:#fff; width: 100%;margin-bottom:10px;}

#greenroom-panel-start-desc{font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial; color:#464646;margin-bottom:10px;}
#questions a{font: 12px 'DINPro',Helvetica Neue, Helvetica, Arial; color:#000;text-decoration:none;color:#000;}
#questions li{margin-bottom:10px;}

#greenroom-panel-top-pages-container ul li{clear: both; margin-bottom: 5px;}
#greenroom-panel-top-pages-left{background-color: #0d8bb5; float:left; padding: 10px; color: #fff;font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial; font-weight:bold; width:12%;border-bottom:5px solid #fff;}
#greenroom-panel-top-pages-left a{color: #fff;}
#greenroom-panel-top-pages-right{float:left; padding: 10px; background-color: #d7d8d8; color: #000;font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial;width:88%;border-bottom:5px solid #fff;}
#greenroom-panel-top-pages-right a{color: #000;}
#greenroom-panel-top-pages-all-pages-link{clear:both;}
#greenroom-panel-top-pages-all-pages-link a{font: 12px 'DINPro',Helvetica Neue, Helvetica, Arial;color:#333; font-weight: bold; }
#greenroom-panel-contractor-links li a{color:#000;font: 12px 'DINPro',Helvetica Neue, Helvetica, Arial;}
#greenroom-panel-top-pages-container ul{margin-bottom:20px;}

#greenroom-next-holiday-box{margin-left:10px;}
#greenroom-next-holiday-icon{display:inline; float:left; margin-right:15px; margin-left:-5px;}
#greenroom-next-holiday-occassion{color:#0d8bb5;font-weight:bold !important;font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial;}
#greenroom-next-holiday-date{color:#363636; font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial;}

/* for greenroom-homepage page layout end */
#greenroom-homepage-campaign .ms-webpart-zone,#greenroom-homepage-campaign .ms-webpart-cell-vertical,#greenroom-homepage-campaign .ms-webpart-chrome-vertical{display: block;}
#greenroom-campaign-image img{max-width: 1344px;}
#greenroom-homepage-campaign .dfwp-column{margin: 0;}
#greenroom-campaign-image{margin-right: -80px;}

#homepage-Discussions{max-width: 100%; margin: 1px -10px 0;}
#homepage-Discussions-add-link{float:right;font-weight: 600;margin-right: 25px;}
#homepage-Discussions-add-link a, #greenroom-discussion-comments-usercomment a{color:#000000;}
#greenroom-discussion-comments-usercomment a{font-size: 12px;}
#homepage-discussion-clearboth{clear:both;}
#homepage-Discussions .circular{margin-left: 0; height: 65px !important; width: 65px !important; margin-right: 10px;margin-top:5px;}
#greenroom-discussion-userimage{float: left;}
#homepage-Discussions #greenroom-discussion-username{font-size:11px; width: 56%; float: left;padding-top:2px;}
#homepage-Discussions #greenroom-discussion-comments-usercomment{height: auto!important;min-height:130px;/*padding-top: 30px;*/}
#homepage-Discussions .ms-comm-heroLinkContainer{margin-left: -10px;}
#homepage-Discussions .ms-comm-heroLinkContainer .ms-textXLarge{font-size: 14px;}
#homepage-Discussions #greenroom-discussion-date a{color: #27907b; text-decoration: underline;}
#homepage-Discussions #greenroom-discussion-date a:hover{color: #000;}
#homepage-Discussions #greenroom-discussion-date{font-size: 11px; margin-left: 0!important;margin-top: 15px;}
#homepage-Discussions #cswp-tile-comments-lg{height: auto; background: none; float:left;margin-top: 25px;}
#homepage-Discussions  #cswp-tile-comments-num-lg{padding-right: 5px; background-color: transparent; margin-top:-4px;}
#homepage-Discussions #user-discussions{width: 25%!important; margin-left: 0!important; margin-right: 0!important; padding:0px 14px;
float:left;margin-bottom: 35px;}
#homepage-navcontainer ul{margin: 0;padding: 0;list-style-type: none;text-align: center;}
#homepage-navcontainer ul li { display: inline; }
#homepage-navcontainer ul li a{text-decoration: none;padding: .2em 1em;color:#000000;}
#homepage-navcontainer ul li a:hover{}
#homepage-navcontainer{margin-top: 16px;margin-left: -10px;}
#greenroom-discussion-comments-usercomment p{font: 14px 'DINPro',Helvetica Neue, Helvetica, Arial;font-weight: 300;}
#homepage-discussion-cont{width: 100%; padding: 15px 0;}

#greenroom-homepage-sidebar .ms-webpart-zone{display: block;}
#greenroom-homepage-sidebar #greenroom-panel-default-image .circular{height:85px!important; width:85px!important;}
.complete-new{background-color: #0d8bb5 !important; color: #fff; font: bold 27px 'DINPro',Helvetica Neue,Helvetica,Arial; height: 100% !important; padding: 10px 0 0 20px;}
#ifProfileCompleteHtml #questions li {float: left; line-height: 24px; width: 100%;}
#greenroom-campaign-ctalink1:hover{background: #1eb7ea;}
#greenroom-campaign-ctalink1:hover a{color: #fff;}
#greenroom-campaign-ctalink2:hover{background: #1eb7ea; border: 1px solid #1eb7ea; }
#greenroom-campaign-ctalink2:hover a{color: #fff;}
#DeltaPageStatusBar{margin-top: 0;}
#greenroom-homepage-sidebar #greenroom-panel-default-container{margin-top:90px;margin-top:110px \9;}
#greenroom-homepage-content h2.ms-webpart-titleText span{font-size: 28px!important;}
#discussion-header{font:28px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin-top: -10px;margin-bottom:26px;float:left;font-size: 20px;}
/*#greenroom-homepage-content {margin-top: 13px;}*/
.greenroom-adddiscussion{color:#333;display:block;font-size:13px;float:right;padding-right:25px;}
.greenroom-adddiscussion a:first-child{border-right:1px solid #959595;padding-right:10px;}
.greenroom-adddiscussion a:hover{text-decoration:underline;}
.greenroom-showalldis {padding-left:10px;}
/*#greenroom-homepage-alert .dfwp-item {margin-left: -16px; margin-right: -16px;}*/
#homepage-recommendedLinks .cbs-List{margin: 0;}
#homepage-recommendedLinks .cbs-List li{margin: 0;}
#greenroom-homepage-content{padding-top:30px;padding-bottom:32px; padding-left: 32px; }
#greenroom-homepage-sidebar.col-md-3,#greenroom-homepage-sidebar.col-xs-3{padding-right: 32px; padding-left: 12px; }
#greenroom-campaign-image{position: relative;}
#greenroom-campaign-image:before {background: rgba(0,0,0,.3); content: ""; float: left; height: 100%; position: absolute; z-index: 0;}
#greenroom-campaign-image img{width: 1920px; max-width: 1920px;}
#greenroom-campaign-image:before{width: 1920px;}
/*#greenroom-homepage-sidebar h2.ms-webpart-titleText,#greenroom-panel-onboarding-container{border-top:2px solid #e4e4e4;margin-bottom:0px!important;padding-bottom:12px;padding-top:38px;}*/
/*#greenroom-homepage-sidebar .s4-wpcell-plain{border-bottom:2px solid #e4e4e4 !important;margin-bottom:0px!important;padding-bottom:12px;padding-top:38px;}*/
/*#MSOZoneCell_WebPartctl00_ctl35_g_43d007d6_1579_40c3_9174_4ebd81a19b72.s4-wpcell-plain,#MSOZoneCell_WebPartctl00_ctl35_g_e32526d4_7b69_4f91_8165_9e950d2f4bfc.s4-wpcell-plain{border-bottom:0px transparent none !important;} hides border for standard employee panel and twitter */
hides border for standard employee panel and twitter */
/*#greenroom-panel-contractor-container{border-bottom:2px solid #e4e4e4;margin-top: 25px; padding-bottom: 20px;}*/
#greenroom-homepage-sidebar .ms-webpart-chrome-title{margin-bottom:0px!important;}
/*#WebPartTitlectl00_ctl35_g_75beb268_adc9_44a7_9c7a_8c02e2114f51 > h2:nth-child(1){border-top:0px transparent none; margin-top:-30px;} removes top border from get started panel*/
#homepage > iframe {position: absolute;}
#greenroom-panel-top-pages-followed #greenroom-panel-top-pages-left,#greenroom-panel-top-pages-followed #greenroom-panel-top-pages-right{float: none; border-bottom: 5px solid #f6f6f6;}
#greenroom-homepage-sidebar .ms-webpart-cell-vertical:nth-child(2) h2.ms-webpart-titleText {border: 0; padding-top: 0;}
#greenroom-panel-onboarding-container {float: left; margin: 10px 0 0; width: 100%;}
#greenroom-panel-onboarding-headline {font: 20px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin-bottom: 10px; }
#greenroom-panel-onboarding-video u,#greenroom-panel-onboarding-video a {color: #19a5d4; text-decoration: none;}
#greenroom-panel-onboarding-links {float: left; padding: 15px 0 5px; width: 100%;}
#greenroom-homepage-sidebar hr{margin-top:25px;}
#greenroom-welcome-close {float: right; margin-top: -20px;}

/* popup video starts */
			#overlay {
				position:fixed; 
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:#000;
				opacity:0.75;
				filter:alpha(opacity=75);
			}

			#modal {
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 1050;
                width: 680px;
                margin: -250px 0 0 -280px;
				background:rgba(0,0,0,0.2);
				border-radius:14px;
				padding:8px;
			}

			#content_wrapper {
				border-radius:8px;
				background:#fff;
				padding:10px;
                width: 520px;
			}

			#close {
				position:absolute;
				background:url(/SiteCollectionImages/icons/close.png) 0 0 no-repeat;
				width:24px;
				height:27px;
				display:block;
				text-indent:-9999px;
				top:-7px;
				right:15px;
			}
/* popup video ends */

#homepage-discussion-cont, .user-discussions{ visibility:hidden;}
h2.ms-webpart-titleText{display:none;}
#greenroom-homepage-preloader{height:550px;background-color:#F4F4F4;text-align:center;padding-top:100px;}
/*#greenroom-campaign-image{
	display:none;
}*/

#greenroom-homepage-sidebar #greenroom-faqs-questions ul.dfwp-column.dfwp-list{margin-left:-5px;}

@media only screen and (max-width:1024px) {
.ms-dlgContent{height: 98% !important; left: 1% !important; position: fixed; top: 1% !important; width: 98% !important; z-index: 99999 !important;}
.ms-dlgContent div{max-width:100%; width:100% !important; max-height: 100%;}
.ms-dlgContent .ms-dlgFrame{width: 100% !important;}
.ms-dlgContent .ms-dlgFrameContainer {max-height: calc(100% - 100px) !important;}
}