﻿.container{padding-left:0px;}
#RightDiv{background-color:#f3f3f3;display:inline-block;position:absolute;top:-100px;width:837px;padding:30px 150px 10px 50px;
	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	left:0}
#Leftdiv{background-color:#f1f1f1;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;;display:inline-block;width:307px;position:absolute;top:0;right:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:20px;}
.left{float:left !important;}
.right{float:left !important;}
.Heading{background-color:#081e25;padding:10px 30px;width:70%;color:white;font-weight:600;}
.LikeSection{position:absolute;right:0;top:0;color:white;padding:10px;height:50px;width:50px;text-align:center;}
.CommentSection{position:absolute;right:75px;top:0;background:#aeb1a7;padding:10px;height:50px;width:50px;text-align:center;color:white;}
.commentsSec{position:absolute;bottom:10px;right:5px;}
.likes{position:absolute;bottom:10px;right:5px;}

/* for pagelayout greenroom- start */
.greenroom-breadcrumb{font: 13px Helvetica Neue, Helvetica, Arial; color:#666; height:30px;}
#greenroom-subsite-title,#greenroom-subsite-title-alert{display: inline-block;color:#fff; font: 32px/38px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; background-color:#19a5d4;text-transform:uppercase;padding:4px 40px 4px 32px; min-width:210px;}


#greenroom-subsite-title-follow/*,#greenroom-subsite-title-share*/{display: inline-block; background-color:#106b89;text-align: center; margin-left: -4px; position: relative;color:#fff;height:46px;padding:0;}
#greenroom-subsite-title-share a, #greenroom-subsite-title-share .ms-promotedActionButton-text{color:#fff; margin-right:3px;}
#site_follow_button.ms-promotedActionButton{margin:0; padding:13px 16px;}
/*#greenroom-subsite-title-follow{padding-left: 10px;top: -5px; padding-top: 11px;}*/
#greenroom-landing-page-btn-feedback{color:#f0ef7a;display:inline-block;height:44px;width:145px;font:16px/40px 'DINPro',Helvetica Neue, Helvetica, Arial; text-align:center;vertical-align:middle;margin-top:-8px;position: relative; float: right; margin-top: 85px;background-color:#106b89; top: 2px;}
#greenroom-landing-page-btn-feedback span{display:inline-block; width:8px; height: 13px; background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -305px -173px; margin-left:5px;}


#greenroom-subsite-title-share{top:0px; position:relative; right: 4px;  padding-top: 0px; border-left: 1px solid #009ab5;  border-radius: 0 7px 7px 0;}
#greenroom-subsite-title-share .ms-core-menu-list{min-width:130px; display: none; position: absolute; margin-top:0px; margin-left: 15px; overflow:hidden; width: 40px; background-color:#fff; right: 0; z-index: 9; top: 33px; }
#greenroom-subsite-title-share .ms-core-menu-item a{display:block;}
#greenroom-subsite-title-share a.ms-core-menu-link{padding:0px; margin:0px; text-decoration:none;}
#greenroom-count-likes{display: inline-block; background-color: rgb(39, 144, 123); width: 60px; text-align: center; margin:60px 0 20px; height: 46px; color:#fff; padding-top:7px;}
#greenroom-page-content-count-likes .MyLikeButton{position: relative; top: -30px; text-decoration: none;}
#greenroom-page-content-count-likes #cswp-like-text{height: 32px; color: transparent; top: 8px; position: relative; border-radius: 7px 0 0 7px;}
#greenroom-count-comments{display: inline-block; background-color: rgb(39, 144, 123); width: 60px; text-align: center; margin:60px 0 20px; height: 46px; color:#fff; padding-top:7px;}
#landing-page #greenroom-page-content-container, #landing-page #greenroom-page-content-container.container div.col-xs-9, #landing-page #greenroom-sidebar.col-xs-3, #landing-page #greenroom-bottom-zone-full-width{background: none repeat scroll 0 0 #F1F1F1/*aqua;*/}
#greenroom-page-content-container, #greenroom-page-content-container.container div.col-xs-9, #greenroom-sidebar.col-xs-3{background: #f1f1f1;}
.greenroom-article-info-report{margin:10px 0 10px; display:none; }
/*.page-header{width:540px; display: inline-block;}*/
#greenroom-page-content{width:610px; font-size:18px;}
#greenroom-page-content .ms-rtestate-field div,#greenroom-page-content .ms-rtestate-field{font-size:18px; line-height: 26px;}
.comments{display:inline-block;}
.greenroom-top-comment-headline, .greenroom-all-comment-headline, #greenroom-post-comment, .greenroom-sidebar-top-comment-headline, .greenroom-sidebar-related-headline, .greenroom-sidebar-more-articles-headline{display: inline-block;}

#greenroom-about-container div#greenroom-about-intro, .ms-rteCustom-BULLET_BENEFITS1, .ms-rteCustom-TEXT, .ms-rtestate-field p, .ms-rtestate-field div, #greenroom-sidebar #greenroom-about-container{font: 13px 'DINPro',Helvetica Neue, Helvetica, Arial;line-height:18px}
.greenroom-sidebar-view-all{display: inline-block; float:right; font-weight:bold;}
#greenroom-sidebar-add-comment{font-weight:bold;}
#greenroom-top-comments-sidebar{margin-top:15px;position: relative;float: right; } /*For Bug ID * 526 changed 120 Px to 15 px*/
#greenroom-page-content-count-likes, #greenroom-page-content-count-comments{display: inline-block; background-color: #d8e07b; width: 60px; text-align: center; margin: 5px 0 0; height: 32px; color:#009ab5; padding-top:0; border-radius: 7px 0 0 7px;}
#greenroom-page-content-count-comments{position: relative; top:-20px;}
.ms-microfeed-title, #ms-blankfeeddiv{display:none;}
#greenroom-article-comments-header{}
#greenroom-article-comments-container{}
#greenroom-article-comments-container a:hover {text-decoration: none;}
#greenroom-article-comments-userimage, #CommenterPictureURL{float:left;}
#greenroom-article-comments-userimage img, #CommenterPictureURL img, .greenroom-sidebar-top-comment #ProfilePicture img{width:60px!important;height:60px!important;border-radius:60px!important;-webkit-border-radius:60px!important;-moz-border-radius: 60px!important;margin:0px 10px 0px 0px;}
#greenroom-article-usercomments-container{float:left; width: 86%; }
#greenroom-comments-username{font: 13px 'DINPro-Bold',Helvetica Neue, Helvetica, Arial; color:#000; font-weight:bold;}
#greenroom-article-comments-number{float:right}
#greenroom-article-comments-usercomment{min-width: 550px;min-height: 50px;font: 14px/20px 'DINPro',Helvetica Neue, Helvetica, Arial; color:#000;}
#greenroom-article-comments-usercomment div{max-width: 515px; margin-bottom:10px;}
#greenroom-article-comments-edit-container{float:left;}
#greenroom-article-comments-edit, #greenroom-article-comments-delete{float:right}
#greenroom-article-comments-edit a, #greenroom-article-comments-delete a{cursor:pointer}
#greenroom-article-comments-timestamp, #greenroom-article-comments-follow, #greenroom-article-comments-report, #greenroom-article-comments-likes, #greenroom-article-comments-number{float:left; font: 11px 'DINPro',Helvetica, Arial; color:#009ab5;}
#greenroom-article-comments-number {float: right;}
#greenroom-article-comments-follow a{text-decoration:underline; color:#009ab5;}
#greenroom-article-comments-likes{width: 25px; height: 11px; font-weight:bold;}
#greenroom-article-comments-likes {background: transparent url("/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes.png") no-repeat right top;}
#greenroom-article-comments-likes:hover {background: transparent url("/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes-hover.png") no-repeat right top;overflow: hidden; }
#greenroom-article-comments-likes:active {font-weight: bold;}
#greenroom-article-comments-likes-text{position: relative;}
a#greenroom-article-comments-likes-text{color:transparent;}
#greenroom-article-comments-report a{text-decoration:underline; color:#009ab5;cursor:pointer; font-size:12px;}
#greenroom-article-comments-report a:hover {color:#666; text-decoration: underline; cursor: pointer;}
/*#greenroom-article-comments-container #cswp-like-text {color: transparent; margin-left: -20px;}*/
#greenroom-article-comments-container #cswp-like-text:hover {background: rgba(0, 0, 0, 0); text-decoration: none; filter: alpha(opacity=0);}
#greenroom-article-comments-container #cswp-like-text:active {text-decoration: none;}
#greenroom-article-comments-container hr{height:1px; background-color:#009ab5; margin-left: -70px; margin-right: -16px; }
#greenroom-article-postcomment-container{}
#greenroom-post-comment-guidelines{margin-left:80px; width:235 	px;font-size:13px;float:left;}
#greenroom-post-comment-button{float:right; /*margin-right:20px;*/}
#greenroom-post-comment-button .btn-lg{/*width:212px; margin-right:70px;*/ background-color:#d8e07b!important; padding: 5px 20px; font-size:13px;}
#greenroom-post-comment-guidelines, #greenroom-post-comment-button{margin-top:20px;}
#TimeStampCreated, #greenroom-post-comment-guidelines{font-size:13px;color:#009ab5;}
#TimeStampCreated a, #greenroom-post-comment-guidelines a{color:#009ab5; text-decoration:underline;}

.ms-promotedActionButton-icon{margin-top:-15px;} 
/* for pagelayout that start with greenroom- end */

/* for pagelayout greenroom-article-event end start */
#EventImage {display:inline-block;width:35%;height:100%}
#EventImage img{width:256px; /*height:195px;*/ margin-left:-35px; border-radius: 7px 0 0 7px;}
#EventDetailsContainer{display:inline-block;vertical-align:top;height:100%;width:65%;position:relative}

.outlook-box{margin-left: -40px; margin-top: 98px; min-height: 172px; padding: 25px 0; background: #fff;  border-radius: 0 7px 7px 0;}
#EventAddtoOutlook{margin-top:0; background-color: #b7d689!important; height:120px; width:155px; float: right; margin-right: 14px; border-radius: 7px;}
#EventDetails{margin-top:0px;margin-left: 30px;}
.greenroom-article-event-title{font: 24px 'DINPro-Bold',Helvetica Neue, Helvetica, Arial;color:#009ab5; margin-top:10px;margin-bottom:10px;}
.greenroom-article-event-desc{font: 20px 'DINPro', Helvetica Neue, Helvetica, Arial;color:#000;margin-bottom: 8px;}
#greenroom-article-event-loc{font: 14px Helvetica Neue, Helvetica, Arial;color:#000;font-weight:bold;float:left;}
#greenroom-article-event-loc, #greenroom-article-event-start-time, #greenroom-article-event-end-time{font: 14px Helvetica Neue, Helvetica, Arial;color:#000;font-weight:bold;float:left; margin-right:5px;}
#greenroom-article-event-details{margin-bottom:5px;}
#EventAddress, #EventStartDate, #EventEndDate{font: 14px Helvetica Neue, Helvetica, Arial;color:#000;}
/* for pagelayout greenroom-article-event end */

#PageHead{
	height:50px;position:relative;
	top:-80px;left:-50px;
	width:400px;color:white;padding:0 5px 0 20px
}
#PageHead div{
	height:40px;margin:5px 2.5px
}
#PageTitle{
	float:left;width:60%
}
#PageTitle h1{
	color:white;text-transform:uppercase
}
#dvShare,#dvFollow{
	float:right;width:17%;text-align:center; background: rgba(0, 0, 0, 0.2);line-height:50px
}

#greenroom-top-zone-full-width .ms-webpartzone-cell{margin-bottom:0px;}

.cbs-List li{float:none;}

#greenroom-landing-page .cbs-List li {display:inline-block;float:left;}
/*#greenroom-top-zone-horizontal li{display:block !important;float:none !important;}*/
/* for landingpagelayout start */
#landing-page #greenroom-bottom-zone-left h2.ms-webpart-titleText a:link, #landing-page #greenroom-bottom-zone-left h2.ms-webpart-titleText, #landing-page #greenroom-bottom-zone-right h2.ms-webpart-titleText, #greenroom-webpart-darktitle,#landing-page #greenroom-top-zone-left-col6 h2.ms-webpart-titleText,#landing-page #greenroom-top-zone-right-col6 h2.ms-webpart-titleText{font-weight:bold;background-color:#081e25;color:#ffffff!important;height:40px;padding-top:9px;font: 18px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;color:#fff;padding-left:15px;}
#landing-page #greenroom-bottom-zone-left .ms-rtestate-field,#landing-page #greenroom-bottom-zone-right .ms-rtestate-field, .greenroom-featured, .ms-rtestate-field span{
	font: 13px Helvetica Neue, Helvetica, Arial!important;
	color:#222;
	margin-left:0px;
	line-height:18px!important;
}
#greenroom-sidebar  h2.ms-webpart-titleText{background-color:transparent;color:#000; width:260px;}
.greenroom-sidebar-top-comment-headline .landing-page-view-all{
margin-top:-18px;
}

ul#popular-docs.cbs-List li{float:none;}
ul#popular-docs a:hover{text-decoration:underline !important;}
ul#popular-pages {display:inline-block;}
#popular-pages li{display:inline-block!important; float:left!important; width:255px; height:117px;vertical-align: top;}
#popular-pages .cbs-picture3LinesImageContainer{
	width:90px; height:90px;
}
#popular-pages .cbs-picture3LinesDataContainer{
	margin-left:90px;    height:80px; overflow: hidden; 
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#popular-pages .cbs-picture3LinesDataContainer a{
	color:#000; 
}
#popular-pages .cbs-picture3LinesContainer{
	padding-top:0px;
}
#popular-pages .ms-webpart-titleText{
	height:50px;
}
.landing-page-view-all{font:12px 'Helvetica Neue', Helvetica, Arial!important; color:#333; font-weight:bold !important; float:right;margin-top:10px;/*margin-right:20px;*/}

/* for landingpagelayout end  */
/* for pagelayout greenroom-article-alert start */


/*#greenroom-subsite-title-alert img{margin-left:-30px;margin-right:15px;}
#article-alert.container #greenroom-subsite-title-share{display: inline-block; background-color: #e23749; width: 60px; text-align: center; margin-left: -3px; position: relative; height: 46px;top: -10px;padding-top: 7px;}
#article-alert.container #greenroom-subsite-title-share{display: inline-block; background-color: rgb(161,52,63); width: 60px; text-align: center; margin:30px -1px -24px; height: 46px; color:#fff; padding-top:7px;}*/
#article-alert.container #greenroom-page-content-count-likes, #article-alert.container #greenroom-page-content-count-comments-alert, #greenroom-subsite-title-share{display: inline-block; background-color: #d8e07b; width: 60px; text-align: center; margin:5px -1px -4px; height: 32px; color:#fff;}
.container .ms-promotedActionButton-icon{margin-top:-12px;}
#greenroom-all-comments-sidebar.col-xs-3{display:none;}
#greenroom-article-thumbnailimage img{width:620px;height:350px;}
/*#article-alert.container #greenroom-page-content-count-likes{display: inline-block; background-color: rgb(39, 144, 123); width: 60px; text-align: center; margin:60px -1px 20px; height: 46px; color:#fff; padding-top:7px;}*/
/*#article-alert.container #greenroom-subsite-title-share .ms-core-menu-link, #article-alert.container #greenroom-page-content-count-comments-alert{background-color:#e23749!important;}*/
#article-alert.container #greenroom-subsite-title-alert{min-width:220px;}
/* for pagelayout greenroom-article-alert end */
#greenroom-sidebar-add-comment .btn-primary{
	background-color:#0d313c!important;
}
#greenroom-article-comments-likes-text > span {background: transparent url("/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes.png") no-repeat 13% 0}
#greenroom-article-comments-likes:hover {background: transparent url("/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes-hover.png") no-repeat 13% 0;overflow: hidden; }
#greenroom-article-comments-likes-text > #cswp-like-text:hover {background: transparent url("/SiteCollectionImages/pagelayouts/greenroom-article-comments-likes-hover.png") no-repeat 13% 0;overflow: hidden; }/*Modified on Dec 2014 for overwridding galaria style for galary article banner */
#greenroom-article-content .galleria .galleria-info-text {
    display: block !important;
    position: absolute;
    top: 530px;
    z-index: 9999;
    padding: 0;
	margin-left:25px;
	width:775px;
	}

#greenroom-article-content .galleria .galleria-info-link {display: none !important;}
.galleria-info-text{background-color:transparent;}
.galleria-info-description{color:#000; font: normal 12px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;}
#cswp-tile-like-tiny span > img {
    width: 11px !important;
    height: 10px !important;
}
#cswp-tile-like-tiny {
    bottom: 0px !important;
}



/* for comments reply blockquote start */
		blockquote {
			background-color:#fff;
			font: 14px Helvetica Neue, Helvetica, Arial;
			color:#010000;
			font-style: italic;
			width: 500px;
			margin: 15px 0 0 0;
			padding: 15px 40px 30px 40px;
			line-height: 1.45;
			position: relative;
			top: 15px; border-radius: 7px;
		}

		blockquote:before {
			display: block;
			content: open-quote;
			font-size: 34px;
			position: absolute;
			left: 15px;
			top: 5px;
			color: #010000;
		}
		blockquote:after {
			display: block;
			content: close-quote;
			font-size: 34px;
			position: absolute;
			left: 165px;
			bottom: -15px;
			color: #010000;
		}


		blockquote cite {
			color: #999999;
			font-size: 14px;
			display: block;
			margin-top: 5px;
		}

		blockquote cite:before {
			content: "\2014 \2009";
		}
/* for comments reply blockquote end */
#WebPartAdderUpdatePanelContainer{position:relative !important;z-index:2;}
/* for Bug Id 227 */
.col-xs-3 .cbs-List .cbs-Detail a{display:inline !important;}
#MSOTlPn_MainTD{position:relative;z-index:2;}
/*For Bug ID * 526*/
#greenroom-top-comments-sidebar	 a.btn.btn-primary.btn-lg {width: auto !important;}
#greenroom-about-container div#greenroom-about-intro p, #greenroom-about-find p, .ms-rteFontSize-2{font: 13px Helvetica Neue, Helvetica, Arial;line-height:18px;color:#222222;}
#greenroom-about-container div#greenroom-about-intro p a{color:#000; text-decoration:underline;}
#greenroom-about-find p b, #greenroom-about-contact p b{font: 16px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial !important;}
#greenroom-about-find, #greenroom-about-contact{margin-top:25px;}
#greenroom-about-container small a, a.greenroom-about-contact-link{font: 13px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; text-decoration:underline; }

/* landing page featured call outs start */

/*large featured call out start*/
#greenroom-featurecallout-large-headline{max-width:398px;background-color:#106B89;}
#greenroom-featurecallout-large-headline p {font: 41px 'DINPro', Helvetica Neue, Helvetica, Arial; color:#fff; margin-right:30px;}
#greenroom-featurecallout-large-top-content{max-width:398px;min-height:57px;background-color:#106B89;padding-bottom:15px;}
#greenroom-featurecallout-large-top-content p, #greenroom-featurecallout-large-headline p{font:18px Helvetica Neue, Helvetica, Arial!important; font-weight:bold; color:#f3f3f3;padding-top:10px}
#greenroom-featurecallout-large-bottom-content-cont{/*min-width:398px;*/max-width:398px;min-height:100px; background-color:#fff; color:#000;padding-left:15px;padding-top:6px;padding-right:15px;margin-top: -10px;}
#greenroom-featurecallout-large-bottom-content{float:left;max-width:215px; width:35%;}
#greenroom-featurecallout-large-bottom-content p{font: 13px Helvetica Neue, Helvetica, Arial;}
#greenroom-featurecallout-large-bottom-content a{color:#000; text-decoration: underline;}

/*large featured call out end*/

/*small featured call out start*/
#greenroom-featurecallout-small-headline{width:256px; padding-top:15px; padding-bottom:5px;padding-left:15px; padding-right:15px; background-color:#106B89;}
#greenroom-featurecallout-small-headline p {font: 37px 'DINPro', Helvetica Neue, Helvetica, Arial; color:#fff;}
#greenroom-featurecallout-small-top-content{max-width:256px;min-height:115px; padding-left:15px; padding-right:55px; background-color:#106B89;}
#greenroom-featurecallout-small-top-content p{font: 16px Helvetica Neue, Helvetica, Arial; font-weight:bold; color:#f3f3f3;}
#greenroom-featurecallout-small-bottom-content-cont{width:256px;max-width:256px;min-height:100px; background-color:#fff; color:#000;padding-left:15px;padding-top:20px;padding-right:15px;margin-top: -10px;}
#greenroom-featurecallout-small-bottom-button{}
/*small featured call out end*/



/* landing page featured call outs end */

/* to address white background on webparts for landing page layouts left and right zones only start */
/*#landing-page #greenroom-bottom-zone-left .ms-webpart-chrome, #landing-page #greenroom-bottom-zone-left .ms-webpart-chrome:hover,
#landing-page #greenroom-bottom-zone-right .ms-webpart-chrome, #landing-page #greenroom-bottom-zone-right .ms-webpart-chrome:hover{background-color:#fff;}*/
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a,
.ms-webpart-titleText.ms-webpart-titleText:hover, .ms-webpart-titleText > a:hover{margin-top:0px; text-decoration:none;}
.greenroom-webpart-bg-offset, .dfwp-column{background-color:#fff/*red*/;padding-left: 15px;padding-right: 15px;padding-bottom:25px;/*prev 50 */}
.dfwp-column{
	margin-top:-20px;
}
.greenroom-webpart-bg-offset h2.ms-webpart-titleText{margin-left:-15px;margin-right:-15px;margin-bottom: 20px;}
/*#greenroom-landing-page-content .greenroom-webpart-bg-offset{/*height:365px;height:360px;}*/

/* to address white background on webparts for landing page layouts left and right zones only end */

#landing-page,#article-default.container{
margin-top:-75px;
}

/* Document name in top docs bleeds off the edge of the page [UAT] */
#greenroom-sidebar.col-xs-3 #popular-docs.cbs-List .cbs-Detail a{ display: inline-block !important; max-width: 100%;}
#greenroom-sidebar.col-xs-3 #popular-docs.cbs-List{display: block!important;margin-top:-25px;}
#greenroom-sidebar.col-xs-3 #popular-docs .cbs-Item {padding-bottom:0px!important;}
#greenroom-sidebar.col-xs-3 #popular-docs .cbs-Item a{color: #000;}

.greenroom-selfimage {height: 43px;  width: 43px; border-radius: 50%!important; }
.col-xs-9 #greenroom-sidebar .ms-webpart-titleText .landing-page-view-all {color: #fff;}
#greenroom-sidebar .ms-webpart-titleText .landing-page-view-all {color: #333; margin-top:8px;}
#greenroom-top-zone-horizontal .ms-fullWidth{margin-bottom:15px;}
#greenroom-landing-page.col-xs-12{/*padding-top:20px;*/}
#greenroom-landing-page #greenroom-sidebar{margin-top:5px;}
/*.greenroom-featured{margin-bottom:75px;}*/
#greenroom-bottom-zone-left h4, #greenroom-bottom-zone-right h4{margin-bottom:0px;}
/*#greenroom-bottom-zone-left .ms-rtestate-field h4, #greenroom-bottom-zone-right .ms-rtestate-field h4{margin-left:5px;}*/


.greenroom-meettheteam .ms-vb-itmcbx, .greenroom-meettheteam .ms-spimn-img{display:none;}
.greenroom-meettheteam .ms-peopleux-userImgDiv{margin-left:-10px;}
.greenroom-meettheteam .ms-subtleLink, .greenroom-meettheteam .ms-metadata{font: 13px Helvetica Neue, Helvetica, Arial;color:#000;}
.greenroom-meettheteam .ms-subtleLink{font-weight:bold;}
.greenroom-meettheteam .ms-peopleux-detailuserline{	margin-top:-8px;}
.greenroom-meettheteam .ms-peopleux-userImgWrapper{width: 65px !important; height: 65px !important;}
.greenroom-meettheteam .ms-peopleux-userImg{
	min-height: 65px !important;
clip: rect(0px, 65px, 65px, 0px)!important;
min-width: 65px!important;
max-width: 65px!important;
width: 65px !important;
height: 65px !important;
border-radius: 65px !important;
margin: 0px;
}
.greenroom-webpart-bg-offset .ms-rtestate-field p, .twocolumn, .greenroom-featuredtext{
	font: 13px Helvetica Neue, Helvetica, Arial;color:#222;line-height:18px;
}
.ms-bottompaging.greenroom-meettheteam{display:none;}
#greenroom-top-zone-vertical .ms-webpartzone-cell{margin: auto auto 20px!important;}
.ms-webpart-chrome-title{margin-bottom:0px!important/*new*/;/*margin-top:-3px;*/}
#greenroom-sidebar .cbs-Thumbnail{height:16px!important;width:16px!important;}
#greenroom-sidebar .cbs-Line1Li{font-size:12px!important;}
/*#greenroom-subsite-title-follow img{margin-top:-5px;}*/

#greenroom-sidebar #cswp-tile-container-tiny{margin-bottom:27px;}
#greenroom-sidebar #cswp-tile-container-tiny .cbs-picture3LinesDataContainer{margin-right:15px;}
#greenroom-sidebar .ms-webpart-titleText.ms-webpart-titleText{margin-bottom:25px;}
/*#greenroom-sidebar h2.ms-webpart-titleText){margin-bottom:0px!important;padding-bottom:12px;border-top:2px solid #e4e4e4;padding-top:38px;}*/

.darkboxtext h1{color:#d8e07b!important;display:block;margin-left:auto!important;margin-right:auto!important;line-height:24px;font-size:20px!important;margin:0px!important; text-transform: uppercase;}
.darkboxtext{min-height:145px;padding:10px}
/*.ms-webpartzone-cell{margin:0px!important;}*/

.discussion-container {padding: 15px 15px 15px 25px;}
.discussion-container #user-discussions #cswp-tile-comments-lg{padding-right: 0;}
.discussion-container #Discussions #greenroom-discussion-username a{font-weight: bold;color:#4eb19f;text-decoration:underline;}
#greenroom-page-content-count-likes .mylikecount {display: block; padding-top: 4px; position: relative; top: 4px;}
#getinvolved-cqwp-item.greenroom-item:hover {
  background-color: #f1f1f1;
  margin-bottom: -30px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  position: relative;
  top: -20px;
}

.ms-acal-item{max-height:60px; height:13% !important;}
.ms-acal-rootdiv div{ white-space:normal;}
.ms-positionRelative{position:initial;}

.ms-rteStyle-HelveticaNeue-Regular {-ms-name: "Greenroom HelveticaNeue Regular"; font: Helvetica Neue, Helvetica, Arial;}
.ms-rteStyle-HelveticaNeue-Bold {-ms-name: "Greenroom HelveticaNeue Bold"; font: Helvetica Neue, Helvetica, Arial;font-weight:bold !important;}
.ms-rteStyle-Helvetica-Regular {-ms-name: "Greenroom Helvetica Regular"; font: Helvetica, Arial;}
.ms-rteStyle-Helvetica-Bold {-ms-name: "Greenroom Helvetica Bold"; font: Helvetica, Arial;font-weight:bold !important;}
.ms-rteStyle-ProximaNova-Light {-ms-name: "Greenroom ProximaNova Light"; font: 'DINPro', Helvetica Neue, Helvetica, Arial;}
.ms-rteStyle-ProximaNova-SemiBold {-ms-name: "Greenroom ProximaNova SemiBold"; font: 'DINPro-Bold',Helvetica Neue,Helvetica,Arial !important; font-weight:bold !important;}

.ms-rtestate-field h2 span.ms-rteStyle-ProximaNova-SemiBold{font-size:20px !important;}
#greenroom-bottom-zone-left .landing-page-view-all, #greenroom-bottom-zone-right .landing-page-view-all{color: #fff;
margin-right: 5px;margin-top: 5px;}
/*#EventAddtoOutlook{display:none;}*/
.outlook-box{display:none;}
#greenroom-article-event-page-header.page-header h1{min-height: 68px;}
.ui-widget-header{background:none!important; border:0!important;}
#share-container a.ms-core-menu-link{color:#000;}

#greenroom-article-event-page-header {
    min-height: 135px;
    float: left;
    width: 100%; 
}
.galleria-thumbnails-container .galleria-image, .galleria-thumbnails-container .galleria-image img,.galleria-container{border-radius: 7px;}
.galleria-stage .galleria-image img{border-radius: 7px 7px 0 0;}
#greenroom-article-usercomments-container textarea {  border: 0;  border-radius: 7px;  resize: none;  margin-bottom: 10px;}
div[class^='checkReply'] a { font-family: 'DINPro-Bold',Helvetica, Arial;}
#greenroom-subsite-title-share .ms-promotedActionButton-icon {margin-top: -17px;  margin-right: 10px;}
#article-alert #greenroom-sidebar{margin-top: -18px;}
#article-alert #greenroom-landing-page-btn-feedback{top: -70px;}