﻿div.pnl-quick-links{
	display:table;font-size:10px;text-align:center
}
div.item-quick-link{
	width: 72px;height:60px;
    display: table-cell; 
   vertical-align:middle;float:left!important;padding:0px 5px;text-align:center;

}
.line-separator{

width: 1px;
  width: 1px; /* Line width */
  background-color: silver; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float:right;
 }


img.logo-quick-link{
	height:40px;width:40px
}
div.image-area-left img{
	height:500px;width:1200px
} 
.master-hide-campaign {
	display:block;float:right;
	height:150px;background:#CCCCCC; 
	-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.master-hide-campaign a{
 color:black
}
.master-hide-campaign img{
	display:none
}
.ms-breadcrumb li,ul {
 display: inline;  
}
.ms-breadcrumb>li:first-child >span:first-child{
	display:none
}

li {  }  
div.save-nav-quick-links{
	float:left;cursor:pointer;background-color:#C0C0C0;margin:0px 10px 0px 10px;padding:10px
}
.ms-breadcrumb{
	float:left
}
.btnEdit{
	background-color:gray;color:white;width:60px;height:60px; text-align: center; line-height: 50px;
}
.btnEdit:hover{
	background-color:#3db5e6;
}