﻿/*For Top nav scroll start*/
.fixed{
    position:fixed;
     z-index: 999;
/*    top: 0;
    margin-right:auto;*/
}

.mainRibbonHide{
/*display:none;*/
visibility:hidden;
}

.mainRibbonDisplay{
/*display:block;*/
visibility:visible;
background-color:#000;
}

#s4-bodyContainer{
	padding-bottom:0px;
}
/*For Top nav scroll end*/

.container{ /*to make responsive, remove this overriding width */
  width: 1200px;
  padding:0px;
}
 .circular {
	width:100px!important;
	height:100px!important;
	border-radius:80px!important;
	-webkit-border-radius:80px!important;
	-moz-border-radius: 80px!important;
	margin:20px 20px 10px 20px;	
	
	}
.landing-page-view-all{font: 12px Helvetica Neue, Helvetica, Arial; color:#333; font-weight:bold; float:right; margin-top:12px;margin-right:15px;}

#contingency_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
#browser_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
#greenroom-ribbon-container{background-color:#000;}/* Changes for Defact ID 473 */
#greenroom-admin-block{margin: 5px; padding: 5px; border: solid black; color: black; background-color: yellow; display:none;}/* Changes for Defact ID 544 */
#greenroom-admin-block-blue{margin: 5px; padding: 5px; border: solid black; color: black; background-color: #78d4f2;}
.DefaultContentBlock{border:medium black solid; background:yellow; color:black; margin:20px; padding:10px;}
#greenroom-logo-container{margin-top:-7px;}
#greenroom-logo-container-scroll{margin-left:-50px; display:none;}
#greenroom-logo-container-scroll #greenroom-logo{margin-top:0px;}
#greenroom-logo-container-scroll img{height:40px;}
.s4-workspace-scroll {top:-25px; /*max-height:900px;*/}

#greenroom-logo{
margin-top: -15px;
padding-top: 0;
position: absolute;
z-index: 1;
}
#suiteBar{height:40px;}
#suiteBarLeft,#suiteBarRight, #globalNavBox{
	background-color:#000;
}
#globalNavBox{display:none;}/* Changes for Defact ID 473 */
/* for greenroom-homepage page layout start */
#greenroom-homepage-alert .ms-webpartzone-cell{margin-bottom:0px;}
#greenroom-homepage-alert ul.dfwp-column{margin-left:0px;}
#greenroom-homepage-alert{padding-left: 0px; padding-right: 0px;}
#greenroom-homepage-alert-icon{display:inline; float:left; background-color:#e23749; height:35px; width:50px; text-align:center; padding:5px;}
#greenroom-homepage-alert-title{height:35px; width:100%; padding:7px 0px 0px 0px; background-color:#a2343f; color:#fff;}
#greenroom-homepage-alert-title a{color:#fff; padding-left:10px; font: 14px Helvetica Neue, Helvetica, Arial; font-weight:bold;}
#greenroom-homepage-content, #greenroom-homepage-sidebar{background-color:#f4f4f4;}
/* for greenroom-homepage page layout end */

#ms-help{
	display:none;
}
.ms-siteactions-hover{
	background-color:#FFF;
	border-right-color:transparent;
	height:30px;
	width:20px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}



h1 {
	font: 28px 'ProximaNova-Light', Helvetica Neue, Helvetica, Arial;
	color:#1b2326;
}

h2, h2.ms-webpart-titleText nobr span{
	font: 20px 'ProximaNova-Light', Helvetica Neue, Helvetica, Arial !important;
/*	color:#1b2326;*/
}

.landing-page-title{
	font: 31px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;	
	color:#f1f1f1;	
}
.article-header{
	font: 38px 'ProximaNova-Light', Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:42px;
}
.article-subheader{
	font: 28px 'ProximaNova-Regular', Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:32px;
}

p, .article-copy{
	font: 18px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:26px;
}

.caption{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:18px;
}

.tile-title{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:13px;	
}

.text-links{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	font-weight:bold;
	color:#1b2326;		
	line-height:18px;	
}

.ms-core-navigation, .ms-core-listMenu-verticalBox, .ms-core-listMenu-horizontalBox{
	font: 15px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;	
	color:#fff;		
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {margin-right: 7px;}
.btn, input.btn-xs, input.btn-sm{
	font: 14px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;	
	color:#fff;		
	text-transform:uppercase;
}

.btn-primary, input.btn-xs, input.btn-sm{
	background-color:#0d313c;
	border:0px;
}
.btn-primary:hover, input.btn-xs:hover, input.btn-sm:hover{
	background-color:#090b0c;
	border:0px;	
}


/*
.ms-cui-ribbon, .ms-cui-menu, .ms-cui-toolbar-toolbar{
	float:right;
}*/

.ms-cui-tabContainer{
	height:90px; background-color:#fff;
}

#pageStatusBar[class], .ms-status-msg{
	/*text-align:right;*/
	margin-bottom:0px;
}
#zz13_RootAspMenu{
	margin-left:80px;
}
.ms-siteicon-img, .ms-siteicon-a{
	width:100%;
	height:100%;
	max-height: 100%;
	max-width:100%;
}
img#WelcomeIcon{margin-left:10px;}
#welcomeMenuBox{margin-left:-10px;}
#FooterAreaWrapper{
	background-color:#181D1F; clear:both; padding:15px 0 0; height:425px; color:#CECECE; width:100%;
}
#FooterRow1, #FooterRow2, #FooterRow3, #FooterRow4{
	margin:0 auto;
	max-width:1144px;
}

#FooterAreaWrapper2{
	background-color:#111416; clear:both; height:135px; color:#666; width:100%;
}

#FooterRow3{
	background-color:#111416;
}

#FooterRow3.section a img{
	margin:35px 45px 35px 0;
}

.group:after{
	clear:both;
	content: ".";
	display:block;
	height:0;
	visibility:hidden;	
}
#FooterSocial1{
	float: left; padding-right:15px;
}

#FooterSocial2{
	float: left;width:190px; height:200px;
	font: 18px 'ProximaNova-Light', Helvetica Neue, Helvetica, Arial;
	color:#cecece;
	margin-top:-20px;
}

#FooterSocial2 ul.cbs-List li{
	width:185px;
}

#cswp-footer-header{
	margin-bottom:25px;margin-top:30px;
}
#FooterSocial2 .cbs-picture3LinesImg{
	width:185px; height:110px;
}
#FooterSocial2 .cbs-picture3LinesImg{
	right:0px !important;
}
#FooterPopularText{
	margin-top:30px;
}

#FooterPopularText h2{
	color:#cecece; font-weight:bold;
}

#cswp-footer-number{color:#666; font: 13px Helvetica Neue, Helvetica, Arial;margin-top:20px; font-weight:bold;}
#FooterSocial2 .cbs-picture3LinesLine1Link{word-wrap: break-word!important;color:#e0e0e0; text-decoration:none;font: 13px Helvetica Neue, Helvetica, Arial;}
#TagCloud{
	float: left;width:290px;background-color:#181D1F;
}

#FooterRow4{
	text-align:center; font-size:11px; background-color:#111416;
}

#back-to-top-container{font: 13px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial; margin-top:-15px; float:right; text-align:center; padding-top:10px; width:130px; height:40px; background-color:#666;}
a #back-to-top-container {text-decoration:none;color:#fff;}
#back-to-top-text{margin-left:15px; display:inline; float:left;}
#back-to-top-caret{font-size:25px; margin-left:5px;margin-top:-2px; display:inline; float:left;}

/*.content{
	width:1144px;margin:auto;
}*/
#ms-designer-ribbon >div {
	/*background-color:black;border:0 black solid;color:white*/
}
#WelcomeBar
{
	background-color:#000000;
	width:100%;
	height:65px
}
#TopBar{
	width:100%;
	height:40px;
	background-color:#1eb7ea;
}
#TopBarContent{
	height:100%;margin:auto;vertical-align:middle;
}
#TopBarContent a{
	color:white;
}
#s4-ribbonrow{height:0px !important;}
#NavBarContainer{
	width:800px;float:left;margin-left:75px;/*width:855px;float:left;height:100%;padding-top:10px*/
	font: 15px 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial;	
	color:#fff;		
	white-space:nowrap;
	overflow:hidden;
}
#NavBarContainer .selected{}
#NavBarContainer li.static ul.static li.static{padding-left:5px;height:40px; padding-top:10px;}
#SerachBoxConatiner{
	width:215px;height:37px;float:left;padding-top:5px;}
#QuickLinks{
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
float: left;
font-weight: 600;
height: 30px;
margin: 5px 10px;
padding-top: 5px;
text-align: center;
width: 125px;
}
#Banner{
	height:65px; /* prev 250px */
	min-width:1200px!important;
}
#SerachBoxConatiner  div{
	height:99%;width:215px;float:right}
#SerachBoxConatiner input{
	height:99%;width:80%;
}
.ms-srch-sb, .ms-srch-sb-border{
	border:1px solid rgba(255, 255, 255, 0.9) ; 

    background: rgba(255, 255, 255, 0.9);

}
#BreadCrumbNavigation{
	background-color:#fff;
	width:100%;
	height:30px;padding-top:5px;padding-left:15px;float:left;

}
.nopaddingincrease{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
#greenroom-homepage-content-container{
	background-color:#F0F0F0;
}
#MainPlaceHolder{
	background-image:url('PublishingImages/offset.png')!important;
}

/*#MainPlaceHolder{
	background-color:#dddddd;
}*/
/*#BreadCrumbNavigation > ul
{
	margin-left:-870px;
}*/
.ms-nav-breadcrumb li,ul {
display:inline;list-style-type:none;}
.ms-nav-breadcrumb li{
	margin-left:-35px
}
.ms-nav-breadcrumb a{
	color:black
}
.ms-nav-breadcrumbCurrentNode{
	font-weight:600
}
.ms-nav-breadcrumb > li:first-child  > span:first-child{
display:none
}
.ms-core-listMenu-root> li:first-child > a:first-child{
	display:none
}
#QuickLinksPlaceholder{
	height:auto; overflow:auto; display:none;background-color:white;
}
#QuickLinksContainer{
	height:100%
}
#QuickLinksSection{
 width:70%;float:left;height:100%;padding:28px;-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;font-weight:600

}
#RecommendedlinksSection{
	 width:30%;float:left;height:100%;padding:28px;-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; font-weight:600


}

.cbs-List li, #homepage-blockpaging.cbs-List li{display:inline-block;float:left;}


.large-block{
	
}
.block-content{
	background-color:white;height:40%;position:absolute;width:100%;bottom:0;padding:20px
}
.block-Header{
	height:30px;color:white;
}
.block-Header-ParentLink{
	width:50%;float:left;padding:5px 10px
}
.block-Header-Likes{
	width:20%;float:right;background:rgba(0,0,0,0.3);height:100%;padding:5px
}
.block-body{
	padding:20px;background-color:white
}
.survey-medium{
	padding:20px;background-color:white
}
.survey-medium div{
	padding:20px 0px
}
input.btnVote{
	background-color: #081E25;color:white;width:80%;height:50px
}
input.btnVote:hover{
	background-color: #081E25;color:white;
}

.Gallery{ position: relative; overflow: auto; }
    .Gallery li { list-style: none; }
        .Gallery ul li { float: left; }
        
/* used in display templates: Related_Articles.html, LandingPage_LatestArticles_med.html start */        
.ellipsis {
    background: #fff;
    bottom: 25px;
    position: absolute;
    right: 45px;
}
ul#latest-articles li{display: inline; float: left;}
li.disc{list-style:disc;margin-left:40px;}
#cswp-btn-vote{text-align:center;background-color:#fff;}

/*NOTE: commented out are actual sizes for launch but have been commented out for dev purposes*/

/***** tiny tile styles start *****/
#cswp-tile-container-tiny{width:256px; height:90px;margin-top:30px; margin-right:30px; overflow:hidden;}
#cswp-tile-container-tiny .cbs-picture3LinesImageContainer, #cswp-tile-container-tiny .cbs-picture3LinesImageContainer img{width:90px;height:90px;}
#cswp-tile-container-tiny .cbs-picture3LinesDataContainer{word-wrap:break-word!important;margin-left:90px;margin-right: 10px;width:150px;padding-left: 10px;padding-right:5px;vertical-align: top;background-color:#f4f4f4; height:95px;}
#cswp-tile-container-tiny .cbs-picture3LinesDataContainer a{height:95px; overflow:hidden;margin-top:-5px;word-wrap:break-word;}
#cswp-tile-container-tiny .cbs-pictureOnTopDataContainer{padding-top:1px;}
#cswp-tile-subsite-tiny, #cswp-tile-container-tiny #cswp-tile-event{font-weight:bold; margin-top:-5px; background-color:transparent;}
#cswp-tile-like-tiny{/*width:135px;*/position:absolute;right:0px;bottom:10px;width:50px;height:30px;color:white;text-align:center;}
#cswp-tile-title-tiny, #cswp-tile-title-tiny a{width:140px; height:65px; color:#000; text-decoration:none; overflow:hidden; padding-top:0px;}
#cswp-tile-title-box-tiny{background-color:#fff;padding-top:15px;padding-bottom:5%;clear:both;padding-left:15px;height:100px;overflow:hidden;}
#cswp-tile-thumbnail-img-tiny{height:130px;/*width:185px;*/width:165px;margin-bottom:0px;}
#cswp-tile-title-box-tiny{margin-left:-15px;}
#cswp-tile-container-tiny #cswp-btn-vote{background-color:transparent;text-align:left;margin-left: -15px;}
#cswp-tile-title-survey-tiny, #cswp-tile-title-survey-tiny a{padding:45px 10px 10px 10px; color:#000; text-decoration:none;}
#cswp-tile-container-tiny #cswp-like-text{color: transparent;height: 30px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;width: 50px;z-index: 100;}
#cswp-tile-video-play-tiny{width:90px; height:60px; margin-top:-90px;}
/***** tiny tile styles end *****/

/***** small tile styles start *****/
#cswp-tile-container-sm{width:185px;max-height:215px;} /*bug# 427 fixed*/
#cswp-tile-container-sm .cbs-picture3LinesImageContainer, img#cswp-tile-thumbnail-img-sm{width:185px; height:90px;} /* Updated as per requested from Thao for Defect Id 307 */
img#cswp-tile-thumbnail-img-sm-med{width:256px; height:100px;} /* This css is applied to medium tiles for scrolling on landing pages */
#cswp-tile-subsite-sm{width:135px;}
#cswp-tile-like-sm{width:50px;}
#cswp-tile-title-sm, #cswp-tile-title-sm a{width:175px; height:50px;}
#cswp-tile-text-only-sm{ min-height:250px;}
#cswp-tile-text-only-sm #cswp-tile-title-sm{
	height:165px;
}
#cswp-tile-title-box-sm{background-color:#fff;padding-top:15px;padding-bottom:5%;clear:both;padding-left:15px;height:95px;overflow:hidden;}
#cswp-tile-title-box-sm #cswp-btn-vote{margin-left:-15px;}
#cswp-tile-text-content-sm{
	width:160px; height:80px;
}
#cswp-tile-title-survey-sm, #cswp-tile-title-survey-sm a{padding:45px 10px 10px 10px; color:#000; text-decoration:none;}
#cswp-tile-container-sm #cswp-like-text {color: transparent; width:50px; height: 30px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;z-index: 100;}
#cswp-tile-video-play-sm{height: 90px; margin: 0px 10px 0 0;}/* Updated as per requested from Thao for Defect Id 307 */
.cswp-tile-title-box-text-only-sm{height:220px !important; background-color:#fff;}
#cswp-tile-read-article{text-align:right; margin-right:10px;}
#cswp-tile-video-play-sm{height: 90px; margin: 0px 10px 0 0;}/* Updated as per requested from Thao for Defect Id 307 */
/***** small tile styles end *****/

/***** medium tile styles start *****/
#cswp-tile-container-med{width:256px;}
#cswp-tile-container-med .cbs-picture3LinesImageContainer, img#cswp-tile-thumbnail-img-med{height:126px;width:256px; margin-bottom:0px;}
#cswp-tile-subsite-med{width:205px;}
#cswp-tile-like-med{width:51px;}
#cswp-tile-title-box-med{background-color:#fff;padding-top:15px;padding-bottom:5%;clear:both;padding-left:15px;}
#cswp-tile-title-med, #cswp-tile-title-med a{width:200px; height:45px; text-decoration:none;}
#cswp-tile-thumbnail-img-med{height:120px;width:200px}
#cswp-tile-title-survey-med{padding:10px; }
#cswp-tile-title-survey-link-med, #cswp-tile-title-survey-link-med a{padding-top:30px; color:#000; text-decoration:none; text-align:center;}
#cswp-tile-container-med #cswp-like-text{color: transparent;height: 30px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;width: 50px;z-index: 100;}
#cswp-tile-video-play-med{height: 100px; margin: 0px 10px 0 0;}
.cswp-tile-title-box-text-only-med{height:185px !important; background-color:#fff;}
#cswp-tile-text-only-med #cswp-tile-title-med{ height:160px; width:230px;}

/***** medium tile styles end *****/

/***** large tile styles start *****/
#cswp-tile-container-lg{width:398px;height:358px; margin-right:28px;}
#cswp-tile-container-lg .cbs-picture3LinesImageContainer, #cswp-tile-thumbnail-img-lg img{max-width:398px; width:398px;height:258px; margin-bottom:0px;}
#cswp-tile-container-lg #cswp-btn-vote{height:60px;}
/*#cswp-tile-subsite-lg, */.cswp-tile-subsite-lg{position:absolute;left:0%;top:228px;width:135px;height:30px;color:#fff;text-align:left;padding:5px 0px 0px 0px;}
/*#cswp-tile-like-lg*/.cswp-tile-like-lg{color:#fff;height: 30px;left: 135px;position: absolute;text-align: center;top: 228px;width: 50px;padding-top:4px;}
#cswp-tile-title-box-lg{background-color:#fff;padding-left:15px;display:table-cell;height:70px;width:398px;vertical-align:middle;}
#cswp-tile-title-lg, #cswp-tile-title-lg a{font: 14px Helvetica Neue, Helvetica, Arial !important; }
#cswp-tile-thumbnail-img-lg{width:398px;height:258px;}
#cswp-tile-title-survey-lg{padding:10px; }
#cswp-tile-title-survey-link-lg, #cswp-tile-title-survey-link-lg a{padding-top:30px; color:#000; text-decoration:none;}
#cswp-tile-comments-lg{background-color:#fff;font: 12px Helvetica Neue, Helvetica, Arial;font-weight:bold;color:#666;text-align:right;padding-right:15px;bottom: 15px;right: 0px;height:30px;text-align:right;}
#cswp-tile-comments-num-lg{display:inline; float:right; width: 25px; height:25px;background: #ffffff url('/SiteCollectionImages/pagelayouts/greenroom-comments-bubble.png') no-repeat right top; color:#fff;padding-top:3px;padding-right:2px;margin-top:-2px;}
#cswp-tile-comments-text-lg{display:inline; float:right;margin-left:5px;}
#cswp-tile-container-lg #cswp-like-text{height:30px;margin-top:-24px; z-index:100;text-decoration:none; color:transparent}
#cswp-tile-video-play-box-lg, #cswp-tile-video-play-lg{height: 225px; margin: 0px 10px 0 0; background-color:red;}
/***** large tile styles end *****/

/***** global tile styles start *****/
#cswp-tile-container-sm, #cswp-tile-container-med{overflow:hidden; background-color:#000;margin-right:14px;/*margin-right:25px;*/margin-bottom:20px;}
#cswp-tile-container-tiny .cbs-picture3LinesContainer, #cswp-tile-container-sm .cbs-picture3LinesContainer, #cswp-tile-container-med .cbs-picture3LinesContainer, .cbs-picture3LinesContainer{padding-top:0px;}
#cswp-tile-container-tiny .cbs-picture3LinesImageContainer, #cswp-tile-container-sm .cbs-picture3LinesImageContainer, #cswp-tile-container-med .cbs-picture3LinesImageContainer, #cswp-tile-container-lg .cbs-picture3LinesImageContainer{background-color:#fff; margin-bottom:0px;}
#cswp-tile-subsite-sm, #cswp-tile-subsite-med{float:left;padding-top:5px;height:30px;overflow:hidden;}
a.cswp-tile-subsite-link, .cswp-tile-event a{margin:0px 0 0 10px; text-decoration:none; color:#fff; font-weight:bold;}
#cswp-tile-like-tiny, #cswp-tile-like-tiny a,#cswp-tile-like-sm, #cswp-tile-like-sm a,#cswp-tile-like-med, #cswp-tile-like-med a,#cswp-tile-like-lg, #cswp-tile-like-lg a{text-align:center;vertical-align:middle;float:right; text-decoration:none;font: 13px Helvetica Neue, Helvetica, Arial;color:#fff;font-weight:bold; height:30px;padding-top:5px; overflow:hidden;}
#cswp-like-text:hover{background: rgb(0, 0, 0) transparent;background: rgba(0, 0, 0, 0.40);filter:alpha(opacity=40);}
#cswp-tile-title-sm, #cswp-tile-title-sm a, #cswp-tile-title-med, #cswp-tile-title-med a, #cswp-tile-title-lg, #cswp-tile-title-lg a{font: 13px Helvetica Neue, Helvetica, Arial;color:#000; text-decoration:none;overflow:hidden;}
#cswp-tile-survey-sm .cbs-picture3LinesImageContainer, #cswp-tile-survey-med .cbs-picture3LinesImageContainer, #cswp-tile-survey-lg .cbs-picture3LinesImageContainer{background: #fff url('/SiteCollectionImages/pagelayouts/tile-bg-survey-sm.png') no-repeat center center;}
#cswp-tile-video-play-tiny, #cswp-tile-video-play-sm, #cswp-tile-video-play-med, #cswp-tile-video-play-lg{background: url('/SiteCollectionImages/pagelayouts/greenroom-btn-video-play_opaque_65.png') center center no-repeat; position: relative;   z-index: 10;}
#cswp-tile-video-play-tiny:hover, #cswp-tile-video-play-sm:hover, #cswp-tile-video-play-med:hover, #cswp-tile-video-play-lg:hover{background: url('/SiteCollectionImages/pagelayouts/greenroom-btn-video-play.png') center center no-repeat;}
#cswp-tile-event, .cswp-tile-event{background-color:#63BA73;}
#cswp-tile-like-event, .cswp-tile-like-event{background-color:#087542;}
#greenroom-sidebar #cswp-tile-title-tiny a:hover{text-decoration:underline !important;}
#greenroom-sidebar .ms-webpart-chrome-title, #greenroom-top-zone-vertical .ms-webpart-chrome-title{border-bottom:1px solid #ccc;margin-bottom:10px;}

ul.cbs-List a{text-decoration:none !important;}
/***** global tile styles end *****/

img.greenroom-helpful-faq-icon-kaleo{border:0px;}
#greenroom-faqs-questions{margin-top:-20px;}
#greenroom-faqs-questions ul li{  background-color: #fff; border: 1px solid #f4f4f4; height: 100%px; padding: 5px 0 15px 5px; width: 255px;}
#greenroom-faqs-questions ul li a,#greenroom-faqs-view-all, #greenroom-faqs-ask-kaleo{font: 12px Helvetica Neue,Helvetica,Arial;}
#greenroom-faqs-view-all{font-weight:bold; margin: 15px 0px;}
.greenroom-faqs-board-name-link{color:#000;}
#greenroom-faqs-ask-kaleo{font-size:11px; font-weight:bold;margin-top:10px;}
.btn-primary.greenroom-faqs-ask-kaleo{background-color:#f9a732;}
/* used in display templates: Related_Articles.html, LandingPage_LatestArticles_med.html end */     

#greenroom-top-pages-edit-links li {border: 1px solid #333;margin: 5px;padding: 10px;width: 300px;}
.RecomendedLinks-homepage a {font-weight:bold;color:#000000;}
.RecomendedLinks-homepage li{padding-right:20px;width:120px;min-height:120px;}
.RecomendedLinks-homepage{margin-left:50px;}
.homepage-recommendedLinks{font-weight:bold;color:#A7A7A7;}
.searchinactive{background-color:#696969;}

#AddQuickLinksContainer li, .RecomendedLinks li{float:left!important;padding-right:20px!important;width:380px!important;}
#AddQuickLinksContainer{min-height:200px;}


/*Modified on 14 Dec 2014 for overwridding galaria style for galary article banner */
#cswp-tile-like-tiny span > img {
    width: 11px !important;
    height: 10px !important;
}
#cswp-tile-like-tiny {
    bottom:1px !important;
}
/*Modified on Dec15 for Survey Questions in featuring now */
.featuring-now-survey{background: #fff url('/SiteCollectionImages/pagelayouts/tile-bg-survey-sm.png') no-repeat center center;}
.ms-backgroundImage{background-image:url('../../../../PublishingImages/offset.png')!important;}

/* Masterpage by ankush */
#s4-bodyContainer{max-width: 100%;}
.ms-srch-sb > .ms-srch-sb-searchLink{margin-left: -3px;}
#BreadCrumbNavigation{margin: 0px 0 6px;}
/*div#SerachBoxConatiner{width: 100%; background: #000;}*/
#SerachBoxConatiner div{float: left; margin-left: 1px; height: auto;}
#SerachBoxConatiner input{height: 25px;}
.ms-srchnav{margin-top: 20px;}
.ms-srch-ellipsis{margin-top: 0;}
.ms-qSuggest-listItem{color: #333;}
.ms-qSuggest-hListItem{background: #B6B3B3;}
#SerachBoxConatiner #NavDropdownListContainer{margin-left: -1px; margin-top: 1px;}
#NavDropdownListContainer div{margin-left: 0;}
#PageLinkNext{height:25px;width:25px;}
#PageLinkPrev{height:25px;width:25px;}
.ms-srch-item:hover, .ms-srch-resultHover:hover, .edisc-SearchResultItemContainer:hover{background-color:#B6B3B3;}
#searchIcon{display:none;}
#NavBarContainer{width:674px;}