﻿
#slideshow { 

    position: relative; 
    padding-bottom:95%;
    margin-left:-10px; 
 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: -5px; 
    
    bottom: 10px; 
}

