﻿/* light site background color start */
#TopBar,#greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link,#greenroom-about-container small a, a.greenroom-about-contact-link, a span.ms-rteStyle-Accent2{background-color:#fb8964 !important;}
/* light site background color end */

/* dark site background color start */
#TopBar .selected, #greenroom-subsite-title-follow, #greenroom-subsite-title-share, #greenroom-page-content-count-likes, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, #greenroom-page-content-count-comments,#greenroom-landing-page-btn-feedback, #greenroom-subsite-title-share a.ms-core-menu-link:hover, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, .ms-rteStyle-greenroom-button-lg, #greenroom-featurecallout-large-headline, #greenroom-featurecallout-large-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, a span.ms-rteStyle-Accent2:hover{background-color:#e26b43 !important;}
#greenroom-sidebar  h2.ms-webpart-titleText{background-color:transparent;color:#000;}

/*#greenroom-page-content-container .ms-rtestate-field a{color:#fb8964 !important;}*/
/* light site background color end */

/*volunteer match*/

.greenroom-col1 {float: left;width:50px!important;height: 56px!important;}
.greenroom-col2 {float: none;width:280px;height:56px;overflow: hidden;display: table-cell;}
.greenroom-col3 {float: right;height: 55px;top:-50px;position:relative;left:-5px;}
.greenroom-col3noimg{float: right;height: 65px;position:relative;left:-5px;}
.greenroom-col4 {height: 85px;width:250px;}
.greenroom-featured {height:100px;width:160px;float: left;margin-top:20px;}

/* volunteer match ends */

/*#MSOZoneCell_WebPartWPQ15{display:none;}*/
.greenroom-bottomimage{padding-right:20px;}
.greenroom-imagewrap{width: 400px;}
.greenroom-image1{width:160px;height:100px;float:left;}
.greenroom-image2{width:200px;height:100px;float:left;}
a.btn.btn-primary.btn-lg, .greenroom-leftbuttonboxes a,.greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{color:#ffffff;margin-top:11px;display:block;}
/*.twocolumn:hover{background-color:#f1f1f1;}*/
.greenroom-featuredtext{vertical-align: top;}
.greenroom-leftbuttonboxes{width:65%;height:44px;float:left; background-color:#ed6271;text-align:center;margin-top:20px;}
.twocolumn {width:100%;margin-top:-10px;} /*prev 405px 1/27/15*/
.greenroom-col2noimage{float: none;width:450px;height:50px;overflow: hidden;display: table-cell;}
.btn-lg,.greenroom-buttonboxes{width:65%;height:44px;float:right; background-color:#fb8964!important;text-align:center;margin-top:20px;}
.btn-lg{width: auto;}
.btn-lg:hover,.greenroom-buttonboxes:hover{background-color:#e26b43!important;}
#greenroom-sidebar h2.ms-webpart-titleText{width: auto!important;}

/* ul#latest-articles li{float:none!important;} This CSS style was making the More Related Articles section display vertically */  

.bullet ul{list-style-type:disc!important;margin-left:10px;display:block;padding-top:10px;}
#greenroom-sidebar .ms-webpart-chrome-title, #greenroom-top-zone-horizontal .ms-webpart-chrome-title{margin-bottom:10px;}

/* h2.ms-webpart-titleText span{color:#ffffff;} This CSS style was making the More Related Articles Title color as WHITE */
/* h2.ms-webpart-titleText span{color:black;} */

/* #greenroom-sidebar  h2.ms-webpart-titleText span, #greenroom-top-zone-horizontal h2.ms-webpart-titleText span, #greenroom-top-zone-vertical h2.ms-webpart-titleText span{color:#1b2326!important;} */
.bullet ul{list-style-type:disc!important;margin-left:10px;display:block;padding-top:10px;}
#greenroom-sidebar ul.cbs-List, #greenroom-sidebar .cbs-List#popular-docs {display:table-caption!important;}

#greenroom-subsite-title-follow:hover,#greenroom-landing-page-btn-feedback:hover{background-color:#cb603c !important; }
.item{margin-top:0px!important}
#greenroom-top-zone-vertical .ms-webpartzone-cell{margin:0px!important;}
hr{margin-top:10px!important;}
.greenroom-webpart-bg-offset.ms-webpartzone-cell-no-margin{display:none!important;}

.facilitiestable img{width:47px;height:47px;}
#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/