﻿#landing-page #greenroom-bottom-zone-left h2.ms-webpart-titleText a:link, #landing-page #greenroom-bottom-zone-left h2.ms-webpart-titleText, #landing-page #greenroom-bottom-zone-right h2.ms-webpart-titleText, #greenroom-webpart-darktitle, #landing-page #greenroom-top-zone-left-col6 h2.ms-webpart-titleText, #landing-page #greenroom-top-zone-right-col6 h2.ms-webpart-titleText{background:#4f4f4e!important; border-radius: 7px 7px 0 0!important;}
.greenroom-webpart-bg-offset { border-radius: 7px!important;  border: 1px solid #e7e7e7;}
/* light font color start */
#greenroom-about-container small a, .ms-rteStyle-Accent1 a, a span.ms-rteStyle-Accent1, .ms-rteStyle-Accent1{color:#19a5d4 !important;}
/* light font color end */

#greenroom-subsite-title,#greenroom-subsite-title-alert {
    background: #07cfc6 url("../../../../PublishingImages/heading-bg.png") repeat-y 0 0!important;
    background-size: 100% auto!important;
	border-radius: 8px 8px 0 0!important;
	position: relative; z-index:9;
}
#greenroom-subsite-title-follow{background: #009ab5!important; margin-left: -15px!important; border-radius: 8px 8px 0 0!important; min-width: 120px!important;}
#greenroom-landing-page-btn-feedback{  background-color: rgba(0, 0, 0, 0.2)!important; margin-top: 20px!important; border: 2px solid #fff!important; border-radius: 8px !important;}


.twocolumn {/*width:340px;*/width:100%}
.twocolumn div{width:150px;}

/*.firsthalf {float:left;width:170px;padding-bottom:10px;}*/
/*.secondhalf{float:right;}*/
.textonhomepage{padding-top:10px;margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;/*width:120px;width:100%;*/color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;}
.secondhalf,.services-secondhalf{width:150px;}
.greenroom-item{float:left;/*width:200px;*/width:100%}

/* food menu */
.greenroom-ed-container{float:left; margin: -40px 0 0 0; padding-left: 14px; padding-right: 14px; padding-bottom:20px;}
.greenroom-container .greenroom-largePictureContainer{position:relative;width:100%}
.greenroom-container .greenroom-edimg, .sendmailimg{width:185px;}
.greenroom-container .greeroom-TitleBlock{top:-10px;position:relative;width:168px;/*height:50px;*/}
.greenroom-container .greenrrom-edsmalltext{padding-top:10px;color:#000000; font-size:14px;font-weight:bold;margin-top:5px;display:block;}
.greenroom-container, .greenroom-sendmail-container{/*width:850px;*/ margin: 0 -14px; }
.greenroom-location-container{min-height:180px;max-height:180px;float:left; margin: 0 14px; }

/* food menu */

/*buttons*/

/*#greenroom-top-zone-horizontal .ms-webpart-chrome-title{border-bottom:1px solid #ccc;margin-bottom:10px;}*/


a.btn.btn-primary.btn-lg,.greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{color:#009ab5!important;font-size:14px;/*font-weight:bold;*/margin-top:8px;display:block; border-radius: 7px!important;}
.greenroom-leftbuttonboxes{width:60%;height:44px;float:right; background-color:#e0be58;text-align:center;/*margin-top:20px;*/}
/*.greenroom-featured {height:120px;width:160px;float: left;}*/
.greenroom-featuredtext{vertical-align: top;}
.btn-lg, .greenroom-buttonboxes{float:right; background-color:#e0be58!important;text-align:center;margin-top:10px;}
.greenroom-leftbuttonboxes{width:60%;height:44px;float:left; background-color:#e0be58;text-align:center;margin-top:10px;}
.greenroom-buttontext a, .greenroom-buttontext a:hover, .greenroom-buttontext a:visited{color:#ffffff;font-weight:bold;margin-top:11px;display:block;}
#greenroom-top-zone-horizontal h2.ms-webpart-titleText span, #greenroom-top-zone-vertical h2.ms-webpart-titleText span{color:#1b2326!important;}
/*buttons*/

/*logo library*/
.greenroom-logo{width:210px;float:left;height:120px;}
.greenroom-logoContainer{text-align:center;}
.brandcontainer{margin-left:-45px;}
.upload, .embedcode iframe{width:400px!important;height:225px!important;}
.upload{border:2px solid #d4d4d4!important;}
/*.greenroom-logolibhome{max-height:40%;max-width:60%;}*/

/* logo library ends */
/*grey boxes*/
.darkbox{background-color:#1f9fb2;height:auto;width:100%;border-radius: 7px 7px 0 0!important; border: 1px solid #e7e7e7;}
.greenroom-whitebuttonboxes{background-color:#ffffff;color:#e0be58;width:60%;height:44px;float:left;text-align:center;margin-top:10px;}
.greenroom-whitebuttonboxes a{color:#e0be58;font-weight:bold;margin-top:11px;display:block;}
/*.darkboxtext, .darkboxtext h1{color:#ffffff;width:320px;display:block;margin-left:auto;margin-right:auto;line-height:30px;padding-top:10px;}*/

.darkboxtext {
    min-height: 145px;
    padding: 10px;
}
.konda-featurecallout-large-top-content,.konda-featurecallout-large-top-content p{color:#fff!important; font-size: 14px!important; margin:0;}
.konda-featurecallout-large-headline {height: 75px;}
.konda-featurecallout-large-bottom-content-cont {
    background: #fff;
    float: left;
    width: 100%;
    border-radius: 0 0 7px 7px!important;
    padding: 12px 9px;
}

.konda-featurecallout-large-bottom-content-cont a span.ms-rteStyle-Accent2:after{display:none;}

/*grey boxes*/

.konda-content h3 {
    margin: 0;
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
}

.konda-content-block {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.konda-content-block p{margin: 0 0 5px;}

.twocolumn {width:100%; margin-bottom:10px;} /*prev 400px 1/27/15*/
.twocolumn div{width:250px;}
.left, #greenroom-sidebar h2.ms-webpart-titleText{float:left;}

.bullet ul{list-style-type:disc!important;margin-left:10px;display:block;padding-top:10px;}
#services-equipment-supplies{color:#777;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:18px;font-weight:500;line-height:1.6;margin:10px 0px 0px 10px;}

.greenroom-col1 {float: left;width:60px!important;height: 56px!important;}
.greenroom-col2 {float: none;width:280px;height: 65px;overflow: hidden;display: table-cell;}
.greenroom-col3 {float: right;top:-26px;position:relative;left:10px;}
.greenroom-col3noimg{float: right;height: 65px;position:relative;left:-5px;}
.greenroom-col4 {height: 85px;width:250px;}


li.dfwp-item{padding-bottom: 11px; float: left;  width: 100%; /*border-top: 1px solid #eee;*/}
li.dfwp-item .link-item a{color: #000;}
/*.greenroom-col1 img {margin: -10px 15px}*/
.greenroom-item hr{display:none;}
.twocolumn .textonhomepage2 a{font: 13px Helvetica Neue, Helvetica, Arial;color:#000;margin-top:10px;font-weight:bold}
.greenroom-col3noimg a img{margin-right:15px;}

#facilityservices {padding-left: 20px; float: left; width: 100%;}
#facilityservices li {margin:10px 0;}
.greenrrom-sendmail, .greenroom-location {padding-top:10px;color:#000000; font-size:14px;font-weight:bold;display:block;}
.line1{padding-top:5px;padding-bottom:5px;}

#greenroom-page-content-container > .col-xs-9 .officeDirectory {
   margin: 0;
    background: #d8e07b;
    padding: 5px 15px;
    text-align: left;
    border-radius: 5px!important;
}
#greenroom-page-content-container > .col-xs-9 .officeDirectory a {
    color: #009ab5;
    font-family: 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;
}

#greenroom-page-content-container > .col-xs-9 .officeDirectory::after,#greenroom-page-content-container > .col-xs-9 .viacomLocalOffices::after{content: ">>";  color: #009ab5; left: 8px;}

.greenroom-meettheteam .link-item a{color: #000; text-decoration: none!important; font-size: 12px; }
.greenroom-meettheteam .link-item p{font-size: 12px; line-height: 18px;}
.greenroom-meettheteam .groupheader{display: none;}
#greenroom-bottom-zone-left #latest-articles.cbs-List {margin-right: -15px;}


/*facilities*/
.facilityimage{width:398px;height:358px;}
.facilitiestable td{vertical-align:top;}
.facilities img{padding-right:20px;}
/*.greenroom-meettheteam img{padding-right:20px;}*/
.facilitiestable .greenroom-featuredtext, #greenroom-sidebar #greenroom-about-intro{line-height:17px!important;}
.facilitiestable span{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;}
.hr{margin-bottom:0px!important;margin-left:0px!important;margin-right:0px!important;margin-top:15px!important;}
.services-twolinestitle{margin-left:5px;padding-left:5px;padding-right:5px;position:absolute;/*width:120px;width:100%;*/color:#081e25;font: Helvetica Neue, Helvetica, Arial;font-weight:bold;}
.services-twolinesdes{margin-top:-25px;margin-left:53px;}
.facilitiestable.greenroom-meettheteam img{padding-right:15px;}
.greenroom-col1 img{height:43px;width:43px;}
#landing-page h4{margin-bottom:5px!important}
.dfwp-column{padding-left:0px!important;}
.greenroom-sendmail-container{padding-bottom:20px; margin-left: 14px; margin-right: 14px; margin-top: -40px; float:left;height:240px;}
.greenroom-sendmailimg{position:relative;top:-30px;}

#greenroom-bottom-zone-right .ms-rtestate-field ul, #greenroom-bottom-zone-left .ms-rtestate-field ul{list-style-type:disc!important;left:25px!important;position:relative;}
#greenroom-bottom-zone-right .ms-rtestate-field li, #greenroom-bottom-zone-left .ms-rtestate-field li{margin-bottom:5px;}
/*a span.ms-rteStyle-Accent2{margin-left:0px!important;}*/
#Ribbon\.EditingTools\.CPEditTab\.Font-Large-0-0{display:none !important;} /* hide font style and size dropdowns from ribbon*/