﻿/* light site background color start */
#TopBar, #greenroom-subsite-title, #greenroom-subsite-title-share .ms-core-menu-link, a span.ms-rteStyle-Accent2{background-color:#19a5d4 !important;}
/* light site background color end */

/* dark site background color start */
#greenroom-subsite-title-follow, #greenroom-subsite-title-share, #greenroom-page-content-count-likes, #greenroom-page-content-count-comments,#greenroom-landing-page-btn-feedback, core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, #greenroom-subsite-title-share a.ms-core-menu-link:hover, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover, .ms-rteStyle-greenroom-button-lg, #greenroom-featurecallout-large-headline, #greenroom-featurecallout-large-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, #greenroom-featurecallout-small-headline, #greenroom-featurecallout-small-top-content, a span.ms-rteStyle-Accent2:hover, .ms-acal-item{background-color:#106b89 !important;}
/* dark site background color end */

/* light font color start */
#greenroom-about-container small a, .ms-rteStyle-Accent1 a, a span.ms-rteStyle-Accent1, .ms-rteStyle-Accent1{color:#19a5d4 !important;}
/* light font color end */
