<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Master Page (.master file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .master file, and any rename, move, or deletion operations will be reciprocated.

To build the master page directly from this HTML file, simply edit the page as you normally would.  Use the Snippet Generator at https://greenroomqa.viacom.com/sites/Asia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroomqa%2Eviacom%2Ecom%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2Fkonda%2FkondaSearchMaster%2Emaster to create and customize useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file will automatically sync to the associated Master Page.

-->
<!-- _lcid="1033" _version="15.0.4505" _dal="1" -->
<!-- _LocalBinding -->
<!--SPM:<%@Master language="C#"%>-->
<!--SPM:<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint" %>-->
<!--SPM:<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>-->
<!--SPM:<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/15/Welcome.ascx" %>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <!--SID:00 -->
    <head runat="server">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <!--SPM:<SharePoint:SPPinnedSiteTile runat="server" TileUrl="/_layouts/15/images/SharePointMetroAppTile.png" TileColor="#0072C6"/>-->
        <!--SPM:<SharePoint:RobotsMetaTag runat="server"/>-->
        <!--SPM:<SharePoint:PageTitle runat="server">-->
        <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server"/>-->
        <!--SPM:</SharePoint:PageTitle>-->
        <!--SPM:<SharePoint:StartScript runat="server"/>-->
        <!--SPM:<SharePoint:CssLink runat="server" Version="15"/>-->
        <!--PS: Start of READ-ONLY PREVIEW (do not modify) --><link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/corev15.css" type="text/css" rel="stylesheet" /><link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/searchv15.css" type="text/css" rel="stylesheet" /><!--PE: End of READ-ONLY PREVIEW -->
        <!--SPM:<SharePoint:CacheManifestLink runat="server"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink21" Name="sp.js" runat="server" OnDemand="false" LoadAfterUI="true" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink name="SP.UserProfiles.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink10" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-1.10.2.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink3" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-ui.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink4" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/UserProfilePanel.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink5" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/NewQuickLinks.js" OnDemand="false" runat="server" Localizable="false"/>-->
		<!--SPM:<SharePoint:ScriptLink ID="ScriptLinkR1" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/bootstrap.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
		<!--SPM:<SharePoint:ScriptLink ID="ScriptLinkR2" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/owl.carousel.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink6" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Master.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink7" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/scrollto.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink8" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Utility.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink9" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/pagelayouts.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:SPShortcutIcon runat="server" IconUrl="../../sitecollectionimages/ico/favicon.ico"/>-->
        <!--SPM:<SharePoint:CustomJSUrl runat="server"/>-->
        <!--SPM:<SharePoint:SoapDiscoveryLink runat="server"/>-->
        <!--SPM:<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">-->
        <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server"/>-->
        <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true"/>-->
        <!--SPM:</SharePoint:AjaxDelta>-->
<![CDATA[ [if IE 9] ]]>        <style type="text/css">//<![CDATA[
    .ms-core-animation-transparent
    {
        opacity:0;
    }
    .ms-isBot .ms-core-animation-transparent
    {
        opacity:1;
    }
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </style>

<![CDATA[ [endif] ]]>        <!--[if lte IE 8]>
    <style type="text/css">//<![CDATA[
    .ms-core-animation-transparent,
    .ms-core-animation-transparent img
    {
       -ms-filter:"alpha(opacity=0)";
    }
    .ms-isBot .ms-core-animation-transparent,
    .ms-isBot .ms-core-animation-transparent img
    {
       -ms-filter:"";
    }
    //]]></style>
    <![endif]-->
        <script type="text/javascript">//<![CDATA[
        var g_pageLoadAnimationParams = { elementSlideIn: "sideNavBox", elementSlideInPhase2: "contentBox" };
    
        
        
        
        
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
		
        <!--SPM:<SharePoint:CssRegistration Name="Themable/oslo.css" runat="server" EnableCssTheming="true"/>-->
        <!--PS: Start of READ-ONLY PREVIEW (do not modify) --><link href="https://greenroomqa.viacom.com/_layouts/15/1033/styles/Themable/oslo.css" type="text/css" rel="stylesheet" /><!--PE: End of READ-ONLY PREVIEW -->
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentType msdt:dt="string">Html Master Page</mso:ContentType>

<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:HtmlDesignFromMaster msdt:dt="string"></mso:HtmlDesignFromMaster>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">https://greenroomqa.viacom.com/sites/Asia/_catalogs/masterpage/konda/kondaSearchMaster.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:FileDirRef msdt:dt="string">_catalogs/masterpage/konda</mso:FileDirRef>
<mso:FileLeafRef msdt:dt="string">kondaSearchMaster.html</mso:FileLeafRef>
<mso:UIVersion msdt:dt="string">;#15;#</mso:UIVersion>
<mso:ContentTypeId msdt:dt="string">0x0101000F1C8B9E0EB4BE489F09807B2C53288F0054AD6EF48B9F7B45A142F8173F171BD10003D357F861E29844953D5CAA1D4D8A3A00E34D97C4006D6944AECD7F6AA3E0F759</mso:ContentTypeId>
<mso:DefaultCssFile msdt:dt="string"></mso:DefaultCssFile>
<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/Master.css" rel="stylesheet" type="text/css" />
        <link href="css/PageLayouts.css" rel="stylesheet" type="text/css" />
		<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
        <link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="css/responsive.css" rel="stylesheet" type="text/css" />
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
    </head>
    <body class="search-page">
        <!--SPM:<SharePoint:ImageLink runat="server"/>-->
        <!--SPM:<SharePoint:SPNoScript runat="server"/>-->
        <!--SPM:<SharePoint:SPClientIDGenerator runat="server" ServerControlID="DeltaPlaceHolderMain;DeltaPlaceHolderPageTitleInTitleArea;DeltaPlaceHolderUtilityContent"/>-->
        <script type="text/javascript">//<![CDATA[        var submitHook = function () { return false; }; theForm._spOldSubmit = theForm.submit; theForm.submit = function () { if (!submitHook()) { this._spOldSubmit(); } }; 
        
        
        
        
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <!--SPM:<WebPartPages:SPWebPartManager runat="Server"/>-->
        <!--SPM:<asp:ScriptManager id="ScriptManager" runat="server" EnablePageMethods="false" EnablePartialRendering="true" EnableScriptGlobalization="false" EnableScriptLocalization="true"/>-->
        <!--SPM:<SharePoint:AjaxDelta id="DeltaDelegateControls" runat="server">-->
        <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="GlobalNavigation"/>-->
        <!--SPM:<SharePoint:DelegateControl ControlId="GlobalSiteLink3" Scope="Farm" runat="server" Visible="false"/>-->
        <!--SPM:</SharePoint:AjaxDelta>-->
        <!--SPM:<SharePoint:SPSecurityTrimmedControl runat="server" HideFromSearchCrawler="true" EmitDiv="true">-->
        <div id="TurnOnAccessibility" style="display: none" class="s4-notdlg noindex">
            <a id="linkTurnOnAcc" href="#" class="ms-TurnOnAcc" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnonaccessibility%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <div id="TurnOffAccessibility" style="display: none" class="s4-notdlg noindex">
            <a id="linkTurnOffAcc" href="#" class="ms-TurnOffAcc" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnoffaccessibility%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <div class="s4-notdlg s4-skipribbonshortcut noindex">
            <a href="javascript:;" onclick="document.getElementById('startNavigation').focus();" class="ms-SkiptoNavigation" accesskey="&lt;%$Resources:wss,skipribbon_accesskey%&gt;" runat="server">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,skipRibbonCommandsLink%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <div class="s4-notdlg noindex">
            <a href="javascript:;" onclick="document.getElementById('mainContent').focus();" class="ms-SkiptoMainContent" accesskey="&lt;%$Resources:wss,maincontent_accesskey%&gt;" runat="server">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,mainContentLink%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <div id="TurnOffAnimation" style="display: none;" class="s4-notdlg noindex">
            <a id="linkTurnOffAnimation" href="#" class="ms-accessible ms-acc-button" onclick="ToggleAnimationStatus();return false;">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_disableanimation%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <div id="TurnOnAnimation" style="display: none;" class="s4-notdlg noindex">
            <a id="linkTurnOnAnimation" href="#" class="ms-accessible ms-acc-button" onclick="ToggleAnimationStatus();return false;">
                <!--SPM:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_enableanimation%&#62;" EncodeMethod="HtmlEncode"/>-->
            </a>
        </div>
        <a id="HiddenAnchor" href="javascript:;" style="display: none;">
        </a>
        <!--SPM:</SharePoint:SPSecurityTrimmedControl>-->
        <!--SPM:<SharePoint:AuthenticatedUserDiv runat="server" ClientIDMode="static" Id="authWrapper" AuthenticatedStyle="ms-belltown-authenticated">-->
        <div class="ms-belltown-anonShow">
            <div id="kw-widget" class="kw-container" data-iframe-src="https://viacom.kaleosoftware.com/v4/boards" style="display:none;">
            </div>
            <div id="greenroom-ribbon-container">
                <div class="container">
                    <div id="ms-designer-ribbon">
                        <!--SID:02 {Ribbon}-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify) --><div class="DefaultContentBlock" style="background: rgb(0, 114, 198); color: white;&#xA;                width: 100%; padding: 8px; height: 64px; overflow: hidden;">
                In true previews of your site, the SharePoint ribbon will be here.</div><!--PE: End of READ-ONLY PREVIEW -->
                    </div>
                </div>
            </div>
            <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">-->
                <!--SPM:<wssucw:Welcome runat="server" EnableViewState="false"/>-->
            <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
        </div>
        <div id="s4-workspace">
            <div id="greenroom-header-container container">
                <!--<div id="WelcomeBar">
	        	</div>-->
                <div id="TopBar" class="ms-emphasis">
                    <div id="TopBarContent" class="content container">
                        <div id="NavBarContainer">
						<div class="navbar">
							<div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation
                                        
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                    </button>
                                </div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div data-name="TopNavigationNoFlyoutWithStartNode">
                                <!--CS: Start Top Navigation Snippet-->
                                <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<SharePoint:AjaxDelta ID="DeltaTopNavigation" BlockElement="true" CssClass="ms-displayInline ms-core-navigation ms-dialogHidden" runat="server">-->
                                    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--MS:<SharePoint:DelegateControl runat="server" ControlId="TopNavigationDataSource" Id="topNavigationDelegate">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><span style="display: none"><table cellpadding="4" cellspacing="0" style="font: messagebox; color: buttontext;&#xA;                                    background-color: buttonface; border: solid 1px; border-top-color: buttonhighlight;&#xA;                                    border-left-color: buttonhighlight; border-bottom-color: buttonshadow; border-right-color: buttonshadow"><tr><td nowrap="nowrap"><span style="font-weight: bold">PortalSiteMapDataSource</span> - topSiteMap
                                        </td></tr><tr><td></td></tr></table></span><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--MS:<Template_Controls>-->
                                            <!--MS:<asp:SiteMapDataSource ShowStartingNode="True" SiteMapProvider="SPNavigationProvider" ID="topSiteMap" runat="server" StartingNodeUrl="sid:1002">-->
                                            <!--ME:</asp:SiteMapDataSource>-->
                                        <!--ME:</Template_Controls>-->
                                    <!--ME:</SharePoint:DelegateControl>-->
                                    <a name="startNavigation">
                                    </a>
                                    <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
                                        <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="3" SkipLinkText="">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Benefits/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved/Pages/Get%20Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">
                                                                                                Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved%20News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">
                                                                                                        Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/New%20Joinees/SitePages/Community%20Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">
                                                                                                                                        New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Project%20Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</SharePoint:AspMenu>-->
                                    <!--ME:</asp:ContentPlaceHolder>-->
                                    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                <!--ME:</SharePoint:AjaxDelta>-->
                                <!--CE: End Top Navigation Snippet-->
									</div>
								</div>
							</div>
						</div>
                        <div id="QuickLinks">
                            <a class="aQuicklink" href="javascript:hideshowQuickLinksPanel();"><span class="quick-text">
                                Quick Links



                            
                                
                                </span>
                            
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <span class="sprite-new quick-sprite">
                                </span>
                            </a>
                        </div>
						<a href="#" class="quick-link-responsive">
                            <span class="sprite-new quick-sprite">
                            </span>
                        </a>
                        <a class="askQuestion askQuestion-responsive" href="#">
                            <small class="greenroom-topnav-icon-kaleo askQuestion sprite-new">
                            </small>
                        </a>
                    </div>
                </div>
            </div>
            <div id="QuickLinksPlaceholder" style="display: none" class="container">
                <div id="QuickLinksContainer" class="content">
                    <h3>
                    Quick Links 
                        <span>|
                        </span>
                    </h3>
                    <ul class="QuickLinksContainer">
                    </ul>
                    <div id="QuickLinksDropdown" class="quick-dropdown">
                        <span class="toggle-btn">
                            <small>
                            </small>
                            <small>
                            </small>
                            <small>
                            </small>
                        </span>
                        <ul class="QuickLinksDropdown">
                        </ul>
                    </div>
                    <!--<div id="QuickLinksSection">
                            <div style="padding:0 0 15px 15px;font-weight:600">QUICK LINKS
                            
                            
                            
                            
                            
                            
                            </div>
                            <div>
                                <div data-bind="if: _isExternal() == false">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed internally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div style="float:left;width: 70px;text-align:center">
                                                <div data-bind="with : BackgroundImageLocation ">
                                                    <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                                </div>
                                                <div data-bind="with : LinkLocation" style="float:left">
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                        <a data-bind="attr:{href: Url }">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                        <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                        <a data-bind="attr:{href: Url }" target="_blank">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="if: _isExternal() == true">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed externally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div data-bind="with : BackgroundImageLocation ">
                                                <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                            </div>
                                            <div data-bind="with : ExternalLink ">
                                                <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                    <a data-bind="attr:{href: Url }">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                                <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                    <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                    <a data-bind="attr:{href: Url }" target="_blank">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-edit-quick-links" style="display:none">
                                    <div class="pnl-edit-quick-links">
                                        <div data-bind="sortable: _myfollowedContent">
                                            <div class="item-edit-quick-link" data-bind="css: { itemeditquicklink : IsVisible }">
                                                <div data-bind="if: IsVisible">
                                                    <img src="../../SiteAssets/QuickLinksPanel/1383703094_Black_Remove.png" data-bind="click: $root.remove"/>
                                                </div>
                                                <span data-bind="visible: !$root.isTaskSelected($data)">
                                                    <span href="#" data-bind="text: Title, click: $root.selectedTask">
                                                    </span>
                                                </span>
                                                <span data-bind="visibleAndSelect: $root.isTaskSelected($data)">
                                                    <input data-bind="value: Title, event: { blur: $root.clearTask }"/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: addTask">SAVE
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: Cancel">CANCEL
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-internal-link" data-bind="click: AddLink ">ADD LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-external-link" data-bind="click: AddLinkExternal ">ADD EXTERNAL LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                </div>
                                <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
                                
                                
                                
                                //]]></script>
                            </div>
                        </div>-->
                </div>
                <div id="homepage-recommendedLinks">
                    <div class="RecomendedLinks-homepage" id="customized-intranet-quickLinks">
                        <h3>Custom Links
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <ul class="customized-intranet-quickLinks">
                        </ul>
                        <div id="CustomLinksDropdown" class="quick-dropdown">
                            <span class="toggle-btn">
                                <small>
                                </small>
                                <small>
                                </small>
                                <small>
                                </small>
                            </span>
                            <ul class="CustomLinksDropdown">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="workspace-links">
                    <div class="workspace-links-homepage">
                        <h3>WORKPLACE
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <div class="workspace-links-quickLinks">
                            <a href="#" target="_blank">
                                <img src="/SiteCollectionImages/QLs/workspace.png" class="workspace-logo" />
                                <img src="/SiteCollectionImages/QLs/workspace-roll.png" class="workspace-logo-roll" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Changes for Defect ID 357-->
                <div id="BreadCrumbNavigation">
                    <!--SPM:<asp:SiteMapPath
					runat="server"
					SiteMapProviders="CurrentNavSiteMapProviderNoEncode"
					RenderCurrentNodeAsLink="true"
					PathSeparator="> "
					CssClass="ms-nav-breadcrumb"
					NodeStyle-CssClass="ms-nav-breadcrumbNode"
					CurrentNodeStyle-CssClass="ms-nav-breadcrumbCurrentNode"
					RootNodeStyle-CssClass="ms-nav-breadcrumbRootNode"
					HideInteriorRootNodes="true"
					SkipLinkText=""/>-->
                </div>
            </div>
            <div id="Banner">
                <div data-name="SiteLogo">
                    <!--CS: Start Site Logo Snippet-->
                    <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<SharePoint:AjaxDelta BlockElement="true" runat="server">-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                        <!--MS:<SharePoint:SiteLogoImage CssClass="ms-siteicon-img" name="onetidHeadbnnr0" ID="xa7a0cbf69b8a46789492101b7bfb9e9b" LogoImageUrl="/SiteCollectionImages/subsite-banners/banner_company.jpg" runat="server">-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><img id="ctl00_xa7a0cbf69b8a46789492101b7bfb9e9b" name="onetidHeadbnnr0" src="http://sp2013-dev-4:2222/_catalogs/theme/Themed/C7475956/siteIcon-2129F729.themedpng?ctag=5" alt="Green Room" /><!--PE: End of READ-ONLY PREVIEW-->
                        <!--ME:</SharePoint:SiteLogoImage>-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                    <!--ME:</SharePoint:AjaxDelta>-->
                    <!--CE: End Site Logo Snippet-->
                </div>
            </div>
            <div id="s4-bodyContainer">
                <div class="container">
                    <div id="greenroom-subsite-title">
                    </div>
                    <a href="mailto:AllatSGISAppln@viacom.com?subject=Greenroom Asia Feedback">
                        <div id="greenroom-landing-page-btn-feedback" style="background-color: #4eb19f;">
                    Feedback
                
                    
                    
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </div>
                    </a>
                    <div class="ms-belltown-anonspacer">
                    </div>
                    <div id="ms-belltown-table" class="ms-table SearchMasterPage">
                        <div class="ms-tableRow">
                            <div class="ms-tableCell ms-verticalAlignTop">
                                <div id="notificationArea" class="ms-notif-box">
                                </div>
                                <!--SPM:<SharePoint:AjaxDelta id="DeltaPageStatusBar" BlockElement="true" runat="server">-->
                                <div id="pageStatusBar">
                                </div>
                                <!--SPM:</SharePoint:AjaxDelta>-->
                            </div>
                        </div>
                        <div class="ms-tableRow">
                            <div class="ms-tableCell">
                                <div class="contentwrapper">
                                    <div class="ms-table ms-fullWidth">
                                        <div class="ms-tableRow">
                                            <div class="ms-tableCell ms-verticalAlignTop search-refiners">
											<h3 class="refiner-heading">
                                                Filters



                                                
                                                    
                                                    <span class="refiner-close">
                                                    </span>
                                                </h3>
                                                <div id="sideNavBox" class="ms-dialogHidden ms-forceWrap ms-noList SearchSideNavBox">
                                                    <!--SPM:<SharePoint:AjaxDelta id="DeltaPlaceHolderLeftNavBar" BlockElement="true" CssClass="ms-core-navigation" role="navigation" runat="server">-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" runat="server">-->
                                                    <!--SPM:</asp:ContentPlaceHolder>-->
                                                    <!--SPM:</SharePoint:AjaxDelta>-->
                                                </div>
                                            </div>
                                            <div id="contentBox" class="ms-pub-contentLayout SearchContentBox" aria-live="polite" aria-relevant="all">
                                                <a id="mainContent" name="mainContent" tabindex="-1">
                                                </a>
                                                <!--SPM:<SharePoint:AjaxDelta id="DeltaPlaceHolderMain" BlockElement="true" IsMainContent="true" runat="server">-->
                                                <!--SPM:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
                                                <div class="DefaultContentBlock" style="border: medium black solid; background: yellow;&#xA;                                            color: black;">
                                            This area will be filled in by content you create in your page layouts.
                                        
                                            
                                            
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                </div>
                                                <!--SPM:</asp:ContentPlaceHolder>-->
                                                <!--SPM:</SharePoint:AjaxDelta>-->
                                            </div>
                                            <div class="ms-tableCell ms-verticalAlignTop">
                                                <!--SPM:<SharePoint:AjaxDelta id="DeltaFormDigest" BlockElement="true" runat="server">-->
                                                <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">-->
                                                <!--SPM:<SharePoint:FormDigest runat="server"/>-->
                                                <!--SPM:</asp:ContentPlaceHolder>-->
                                                <!--SPM:</SharePoint:AjaxDelta>-->
                                                <div class="ms-hide">
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderHorizontalNav" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageImage" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderTitleLeftBorder" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderMiniConsole" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderTitleRightMargin" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderTitleAreaSeparator" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderNavSpacer" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarBorder" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderBodyLeftBorder" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderBodyRightMargin" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigation" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigationSiteMap" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="WSSDesignConsole" runat="server" Visible="false"/>-->
                                                    <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server" Visible="false"/>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--SPM:<SharePoint:AjaxDelta id="DeltaPlaceHolderFooter" BlockElement="true" runat="server">-->
                        <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="PageFooter" AllowMultipleControls="false"/>-->
                        <!--SPM:</SharePoint:AjaxDelta>-->
                    </div>
                </div>
                <!-- FooterAreaWrapper starts -->
                <footer id="FooterAreaWrapper" class="SearchPageFooter">
                    <!-- Footer 1st row starts -->
                    <div id="FooterRow1" class="section group">
                        <div>
                            <div id="FooterSocial1">
                                <a title="facebook" href="http://www.facebook.com/viacom" target="_blank" class="footer-fb sprite-new">
                                    <!--<img alt="facebook" src="../../SiteCollectionImages/footer/facebook.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="twitter" href="https://twitter.com/Viacom" target="_blank" class="footer-twitter sprite-new">
                                    <!--<img alt="twitter" src="../../SiteCollectionImages/footer/twitter.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="instagram" href="http://instagram.com/viacominc" target="_blank" class="footer-instagram sprite-new">
                                    <!--<img alt="instagram" src="../../SiteCollectionImages/footer/instagram.png"/>-->
                                </a>
                            </div>
                        </div>
                        <a href="#startNavigation">
                            <div id="back-to-top-container">
                                <div id="back-to-top-text">BACK TO TOP
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                </div>
                                <div id="back-to-top-caret">
                                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                    </span>
                                </div>
                            </div>
                        </a>
						<div class="back-to-top-btn">
                            <div id="back-to-top-text">
                            BACK TO TOP





                        
                            
                            </div>
                            <div id="back-to-top-caret">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Footer 1st row ends -->
                </footer>
                <!-- FooterAreaWrapper end -->
                <!-- FooterAreaWrapper2 starts -->
                <div id="FooterAreaWrapper2">
                    <!-- Footer 3rd row starts -->
                    <div id="FooterRow3" class="section group">
                        <a title="bet" href="http://www.bet.com/" target="_blank" class="footer-bet sprite-new">
                            <!--<img alt="bet" src="/SiteCollectionImages/footer/bet.png"/>-->
                        </a>
                        <a title="Channel 5" href="http://www.channel5.com/" target="_blank" class="footer-5 sprite-new">
                        </a>
                        <a title="cmt" href="http://www.cmt.com/" target="_blank" class="footer-cmt sprite-new">
                            <!--<img alt="cmt" src="/SiteCollectionImages/footer/cmt.png"/>-->
                        </a>
                        <a title="Colors" href="http://www.viacom18.com/" target="_blank" class="footer-colors sprite-new">
                        </a>
                        <a title="comedy central" href="http://www.comedycentral.com/" target="_blank" class="footer-cc sprite-new">
                            <!--<img alt="comedy central" src="/SiteCollectionImages/footer/cc.png"/>-->
                        </a>
                        <a title="mtv" href="http://www.mtv.com/" target="_blank" class="footer-mtv sprite-new">
                            <!--<img alt="mtv" src="/SiteCollectionImages/footer/mtv.png"/>-->
                        </a>
                        <a title="nickelodeon" href="http://www.nickelodeon.com/" target="_blank" class="footer-nickelodeon sprite-new">
                            <!--<img alt="nickelodeon" src="/SiteCollectionImages/footer/nickelodeon.png"/>-->
                        </a>
                        <a title="Paramount Network" href="http://www.paramountnetwork.com/" target="_blank" class="footer-paramount-network sprite-new">
                            <!--<img alt="spike" src="/SiteCollectionImages/footer/spike.png"/>-->
                        </a>
                        <a title="paramount" href="http://www.paramount.com/" target="_blank" class="footer-paramount sprite-new">
                            <!--<img alt="paramount" src="/SiteCollectionImages/footer/paramount.png"/>-->
                        </a>
                        <a title="Telefe" href="http://telefe.com/" target="_blank" class="footer-telefe sprite-new">
                        </a>
                        <a title="tvland" href="http://www.tvland.com/" target="_blank" class="footer-tvland sprite-new">
                            <!--<img alt="tvland" src="/SiteCollectionImages/footer/tvland.png"/>-->
                        </a>
                        <a title="vh1" href="http://www.vh1.com/" target="_blank" class="footer-vh1 sprite-new">
                            <!--<img alt="vh1" src="/SiteCollectionImages/footer/vh1.png"/>-->
                        </a>
                    </div>
                    <!-- Footer 3rd row ends -->
                    <!-- Footer 4th row starts -->
                    <div id="FooterRow4" class="section group">
                        <h6>
                        Read our intranet 
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <a href="../../../pages/community-guidelines.aspx" title="Community Guidelines" target="_blank">
                                community guidelines









                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </a>


















.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </h6>
                        <h7>Any required small print to go here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada.
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h7>
                    </div>
                    <!-- Footer 4th row ends -->
                </div>
                <!-- iFrame for Ask a Question-->
                <!-- FooterAreaWrapper2 ends -->
            </div>
        </div>
        <!--SPM:</SharePoint:AuthenticatedUserDiv>-->
        <!--SPM:<SharePoint:ScriptBlock runat="server">-->
        <!--SPM:var g_Workspace = "s4-workspace";-->
        <!--SPM:</SharePoint:ScriptBlock>-->
    </body>
</html>
