﻿#VoteSection{width:830px;} 
.votingOptions{margin:15px;display: inline-block;width:45%;}
.spnVoteOptions{text-align:center; font: 18px Helvetica Neue, Helvetica, Arial; color:#000; margin-left:15px;}
#VoteSection label.ms-emphasis{background-color:#fff !important;}
#pnlVote{margin-bottom: 30px;}
.radioVotingOptions{margin-right:15px;}
#Vote input.view-results-link{border:0px !important; background-color:#fff;font: 14px Helvetica Neue, Helvetica, Arial; color:#000;}
.view-results-link{font: 14px Helvetica Neue, Helvetica, Arial; color:#000; border:0px; text-decoration:underline;}