<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at https://greenroom.viacom.com/sites/Asia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroom%2Eviacom%2Ecom%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2Fkonda%2Fkonda%2Dhomepage%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!-- _lcid="1033" _version="15.0.4505" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/Master.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/QuickLinksPanel.css" />
        <link rel="stylesheet" href="css/EditQuickLinksPanel.css" />
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-ddev-8.dmz.viacom.com:8081/sites/Asia/_catalogs/masterpage/konda/konda-homepage.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B00D4B34A8BE80D61439BDE3EB18F2A7C03</mso:ContentTypeId>
<mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
<mso:MasterHash msdt:dt="string">-656577693</mso:MasterHash>
<mso:HtmlDesignFromMaster msdt:dt="string">http://sp2013-ddev-8.dmz.viacom.com:8081/sites/konda/_catalogs/masterpage/Master.html, http://greenroom.viacom.com/sites/konda/_catalogs/masterpage/Master.html</mso:HtmlDesignFromMaster>
<mso:PublishingAssociatedContentType msdt:dt="string">;#Konda Page;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880800EF26396C90E8624CBE9A70B7AA543FE1;#</mso:PublishingAssociatedContentType>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
<mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
<mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">715745487</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
<mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass msdt:dt="string">268219038</mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>

<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:FileDirRef msdt:dt="string">_catalogs/masterpage/konda</mso:FileDirRef>
<mso:FileLeafRef msdt:dt="string">konda-homepage.html</mso:FileLeafRef>
<mso:ContentType msdt:dt="string">Html Page Layout</mso:ContentType>
<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:PublishingAssociatedVariations msdt:dt="string"></mso:PublishingAssociatedVariations>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <title>Homepage </title>
    </head>
    <body>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
            <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="0" SkipLinkText="">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Benefits/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved/Pages/Get Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/New Joinees/SitePages/Community Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Project Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</SharePoint:AspMenu>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
                                
                                
                                
                                
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderPageTitleInTitleArea" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink3" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/pagelayouts.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <link href="css/homepage.css" rel="stylesheet" type="text/css" ms-design-css-conversion="no" />
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink6" name="SP.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink8" name="SP.Core.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink9" name="Reputation.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <div class="container" id="homepage">
                <div class="container" id="greenroom-homepage-content-container">
                    <div class="col-md-12" id="greenroom-homepage-alert">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="x0f216b2285654ec48e74568cbc8ca8a2" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="Alert Zone">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                    <div class="col-md-12" id="greenroom-homepage-campaign">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="x77af1708ba5d4f32973b278bd939e5eb" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="Campaign Zone">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                    <div class="homepage-container">
					<div id="greenroom-anchor-links" class="col-md-12">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="x38ad711c90c6444e924baeeb1965df58" AllowPersonalization="False" FrameType="None" Orientation="Vertical" Title="Anchor Links Zone" PartChromeType="None">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                        <div id="greenroom-homepage-content" class="col-md-9 col-sm-7">
                            <div data-name="WebPartZone">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" ID="x38ad711c90c6444e924baeeb1965df57" AllowPersonalization="False" FrameType="None" Orientation="Vertical" Title="Left Content Zone" PartChromeType="None">-->
                                        <!--MS:<ZoneTemplate>-->
                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                        <!-- id="greenroom-homepage-content" end-->
                        <div class="col-md-3 col-sm-5" id="greenroom-homepage-sidebar">
                            <div data-name="WebPartZone">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" ID="xdd6908498dc04faf8396cc5dfd5282fc" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="Sidebar Zone" PartChromeType="None">-->
                                        <!--MS:<ZoneTemplate>-->
                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                        <!-- id="greenroom-homepage-sidebar" end-->
                    </div>
                </div>
                <!-- id="greenroom-homepage-content-container" end-->
            </div>
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink4" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/homepage.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!-- id="homepage" end-->
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
