<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at https://greenroom.viacom.com/sites/Asia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroom%2Eviacom%2Ecom%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2Fkonda%2Fkonda%2Dpage%2Dtemplate%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!-- _lcid="1033" _version="15.0.4505" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" />
        <link href="http://newrufusdev.viacom.com/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/Master.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/QuickLinksPanel.css" />
        <link rel="stylesheet" href="css/EditQuickLinksPanel.css" />
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-ddev-8.dmz.viacom.com:8081/sites/Asia/_catalogs/masterpage/konda/konda-page-template.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B00D4B34A8BE80D61439BDE3EB18F2A7C03</mso:ContentTypeId>
<mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
<mso:MasterHash msdt:dt="string">-656577693</mso:MasterHash>
<mso:HtmlDesignFromMaster msdt:dt="string">http://sp2013-ddev-8.dmz.viacom.com:8081/sites/konda/_catalogs/masterpage/master.html, http://greenroom.viacom.com/sites/konda/_catalogs/masterpage/Master.html</mso:HtmlDesignFromMaster>
<mso:PublishingAssociatedContentType msdt:dt="string">;#Konda Page;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880800EF26396C90E8624CBE9A70B7AA543FE1;#</mso:PublishingAssociatedContentType>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
<mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
<mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">715745487</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
<mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass msdt:dt="string">268219038</mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>

<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:FileDirRef msdt:dt="string">_catalogs/masterpage/konda</mso:FileDirRef>
<mso:FileLeafRef msdt:dt="string">konda-page-template.html</mso:FileLeafRef>
<mso:ContentType msdt:dt="string">Html Page Layout</mso:ContentType>
<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:PublishingAssociatedVariations msdt:dt="string"></mso:PublishingAssociatedVariations>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <title>Landing Page Template </title>
    </head>
    <body>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
            <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="0" SkipLinkText="">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://newrufusdev.viacom.com/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Benefits/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved/Pages/Get Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Get Involved News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/New Joinees/SitePages/Community Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Project Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://newrufusdev.viacom.com/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</SharePoint:AspMenu>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
                                
                                
                                
                                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderPageTitleInTitleArea" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
            <script type="text/javascript" src="scripts/js/LikePages.js">//<![CDATA[
             
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            //]]>
            </script>
            <script src="scripts/js/pagelayouts.js">//<![CDATA[
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            //]]>
            </script>
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink6" name="SP.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink8" name="SP.Core.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink9" name="Reputation.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <link href="css/PageLayouts.css" rel="stylesheet" type="text/css" ms-design-css-conversion="no" />
            <!-- Begin page content -->
            <div class="container" id="landing-page">
                <div id="greenroom-subsite-title">
                </div>
                <div id="greenroom-subsite-title-follow">
                </div>
                <a href="mailto:AllatSGISAppln@viacom.com?subject=Greenroom Asia Feedback">
                    <div id="greenroom-landing-page-btn-feedback">
                        FEEDBACK 
                        <span>
                        </span>
                    </div>
                </a>
                <div class="col-xs-12" id="greenroom-top-zone-full-width">
                    <div data-name="WebPartZone">
                        <!--CS: Start Web Part Zone Snippet-->
                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <div xmlns:ie="ie">
                            <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="xe9d280afd2674276aa5c949e659150e8" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-full-width">-->
                                <!--MS:<ZoneTemplate>-->
                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                <!--ME:</ZoneTemplate>-->
                            <!--ME:</WebPartPages:WebPartZone>-->
                        </div>
                        <!--CE: End Web Part Zone Snippet-->
                    </div>
                </div>
                <div class="container" id="greenroom-page-content-container">
                    <div class="col-md-9 col-sm-7 col-xs-12">
                        <div class="greenroom-article-info-report">
                            <div id="TimeStampModified">
                            </div>
                        </div>
                        <div id="greenroom-landing-page" class="col-xs-12">
                            <div id="greenroom-landing-page-content">
                                <div data-name="Page Field: Thumbnail Image" class="page-field-image">
                                    <!--CS: Start Page Field: Thumbnail Image Snippet-->
                                    <!--SPM:<%@Register Tagprefix="PageFieldRichImageField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<PageFieldRichImageField:RichImageField FieldName="3de94b06-4120-41a5-b907-88773e493458" runat="server">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Thumbnail Image</div><div id="ctl02__ControlWrapper_RichImageField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Thumbnail Image</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field"><img alt="" src="/_layouts/images/home.gif" style="BORDER: px solid; " /></div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--ME:</PageFieldRichImageField:RichImageField>-->
                                    <!--CE: End Page Field: Thumbnail Image Snippet-->
                                </div>
                                <div class="page-field-content">
                                    <!--CS: Start Page Field: Page Content Snippet-->
                                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="f55c4d88-1f2e-4ad9-aaa8-819af4ee7ee8" runat="server">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Page Content</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Page Content</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">Page Content field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                    <!--CE: End Page Field: Page Content Snippet-->
                                </div>
                                <div class="row1">
                                    <div id="greenroom-top-zone-left-col8" class="col-md-8">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c1" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-left-col8">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                    <div id="greenroom-top-zone-right-col4" class="col-md-4">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c2" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-right-col4">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="row2">
                                    <div id="greenroom-top-zone-left-col6" class="col-md-6 col-xs-12">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c3" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-left-col6">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                    <div id="greenroom-top-zone-right-col6" class="col-md-6 col-xs-12">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c4" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-right-col6">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="row1">
                                    <div id="greenroom-top-zone-left-col4" class="col-md-4">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c221" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-left-col4">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                    <div id="greenroom-top-zone-right-col8" class="col-md-8">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c122" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-right-col8">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="row3">
                                    <div id="greenroom-top-zone-extreme-left-col4" class="col-md-4">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c5" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-extreme-left-col4">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                    <div id="greenroom-top-zone-center-col4" class="col-md-4">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c6" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-center-col4">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                    <div id="greenroom-top-zone-extreme-right-col4" class="col-md-4">
                                        <div data-name="WebPartZone">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c7" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-extreme-right-col4">-->
                                                    <!--MS:<ZoneTemplate>-->
                                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                                    <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <div id="greenroom-top-zone-horizontal">
                                    <div data-name="WebPartZone">
                                        <!--CS: Start Web Part Zone Snippet-->
                                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <div xmlns:ie="ie">
                                            <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c"  AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-horizontal">-->
                                                <!--MS:<ZoneTemplate>-->
                                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                            <!--ME:</WebPartPages:WebPartZone>-->
                                        </div>
                                        <!--CE: End Web Part Zone Snippet-->
                                    </div>
                                </div>
                                <div id="greenroom-top-zone-horizontal2">
                                    <div data-name="WebPartZone">
                                        <!--CS: Start Web Part Zone Snippet-->
                                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <div xmlns:ie="ie">
                                            <!--MS:<WebPartPages:WebPartZone runat="server" ID="x8f90f749718c4a66a43577278f3e2c3e" LayoutOrientation="Horizontal" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Horizontal" Title="greenroom-top-zone-horizontal2">-->
                                                <!--MS:<ZoneTemplate>-->
                                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                            <!--ME:</WebPartPages:WebPartZone>-->
                                        </div>
                                        <!--CE: End Web Part Zone Snippet-->
                                    </div>
                                </div>
                                <div id="greenroom-top-zone-vertical">
                                    <div data-name="WebPartZone">
                                        <!--CS: Start Web Part Zone Snippet-->
                                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <div xmlns:ie="ie">
                                            <!--MS:<WebPartPages:WebPartZone runat="server" ID="x23c4d8a186514c6599791c1ab4797146" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-top-zone-vertical">-->
                                                <!--MS:<ZoneTemplate>-->
                                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                            <!--ME:</WebPartPages:WebPartZone>-->
                                        </div>
                                        <!--CE: End Web Part Zone Snippet-->
                                    </div>
                                </div>
                            </div>
                            <!-- id="greenroom-page-content" end-->
                        </div>
                        <!-- id="greenroom-article-content" end-->
                        <div id="greenroom-bottom-zone-left" class="col-md-6 col-xs-12">
                            <div data-name="WebPartZone">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" ID="xd7ee700c2f8244ae91a39adad0237e41" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-left">-->
                                        <!--MS:<ZoneTemplate>-->
                                        <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                        <div id="greenroom-bottom-zone-right" class="col-md-6 col-xs-12">
                            <div data-name="WebPartZone">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" ID="x0c81ca42b93c41b8aec63efb5beba7f6" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-right">-->
                                        <!--MS:<ZoneTemplate>-->
                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12" id="greenroom-sidebar">
                        <div data-name="EditModePanelShowInEdit">
                            <!--CS: Start Edit Mode Panel Snippet-->
                            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <!--MS:<Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                <div class="DefaultContentBlock" style="border:medium black solid; background:yellow; color:black; margin:20px; padding:10px;">
                                    <div data-name="Page Field: Enterprise Keywords">
                                        <!--CS: Start Page Field: Enterprise Keywords Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldTaxonomyFieldControl" Namespace="Microsoft.SharePoint.Taxonomy" Assembly="Microsoft.SharePoint.Taxonomy, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldTaxonomyFieldControl:TaxonomyFieldControl FieldName="23f27201-bee3-471e-b2e7-b64fd8b7ca38" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">
								Enterprise Keywords</span></div><div class="ms-formfieldvaluecontainer"></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldTaxonomyFieldControl:TaxonomyFieldControl>-->
                                        <!--CE: End Page Field: Enterprise Keywords Snippet-->
                                    </div>
                                </div>
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</Publishing:EditModePanel>-->
                            <!--CE: End Edit Mode Panel Snippet-->
                        </div>
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="x3a0dfd72d75543d3916f18c057f336e5" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-sidebar-zone">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" id="greenroom-bottom-zone-full-width">
                    <div data-name="WebPartZone">
                        <!--CS: Start Web Part Zone Snippet-->
                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <div xmlns:ie="ie">
                            <!--MS:<WebPartPages:WebPartZone runat="server" ID="x5d755603a53347849598d233b05fcfd2" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-full-width">-->
                                <!--MS:<ZoneTemplate>-->
                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                <!--ME:</ZoneTemplate>-->
                            <!--ME:</WebPartPages:WebPartZone>-->
                        </div>
                        <!--CE: End Web Part Zone Snippet-->
                    </div>
                    <div data-name="WebPartZone" id="greenroom-hidden">
                        <!--CS: Start Web Part Zone Snippet-->
                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <div xmlns:ie="ie">
                            <!--MS:<WebPartPages:WebPartZone runat="server" ID="xefd92f3301224e1a87c5f515a1d503e8" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-hidden">-->
                                <!--MS:<ZoneTemplate>-->
                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                <!--ME:</ZoneTemplate>-->
                            <!--ME:</WebPartPages:WebPartZone>-->
                        </div>
                        <!--CE: End Web Part Zone Snippet-->
                    </div>
                </div>
                <div class="edit-quick-links">
                    <div id="greenroom-bottom-zone-extreme-left-col4" class="col-md-4">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c5221" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-extreme-left-col4">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                    <div id="greenroom-bottom-zone-center-col4" class="col-md-4">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c6222" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-center-col4">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                    <div id="greenroom-bottom-zone-extreme-right-col4" class="col-md-4">
                        <div data-name="WebPartZone">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" ID="xa660de4d2908407ab1c5ffad45b9273c7223" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-bottom-zone-extreme-right-col4">-->
                                    <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>
                    </div>
                </div>
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
