<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at https://greenroomqa.viacom.com/sites/Australia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroomqa%2Eviacom%2Ecom%2Fsites%2FAustralia%2F%5Fcatalogs%2Fmasterpage%2Fkonda%2Fkonda%2Darticle%2Dsurvey%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--MS:<SharePoint:ProjectProperty Property="Title" runat="server">-->
            <!--ME:</SharePoint:ProjectProperty>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="../styles.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../images/icon.ico" />
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-dev-8:8081/sites/Konda/_catalogs/masterpage/konda/konda-article-survey.html, Warnings and Errors.</mso:HtmlDesignStatusAndPreview>
<mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B00D4B34A8BE80D61439BDE3EB18F2A7C03</mso:ContentTypeId>
<mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
<mso:MasterHash msdt:dt="string">757293399</mso:MasterHash>
<mso:HtmlDesignFromMaster msdt:dt="string">http://sp2013-dev-8:8081/sites/Konda/_catalogs/masterpage/Master.html, http://greenroom.viacom.com/sites/konda/_catalogs/masterpage/Master.html</mso:HtmlDesignFromMaster>
<mso:PublishingAssociatedContentType msdt:dt="string">;#Konda Survey Article Page;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C388070400FF8E9A03ABCFD64F8098E6AF26363023;#</mso:PublishingAssociatedContentType>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
<mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
<mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">715745487</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
<mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass msdt:dt="string">268219038</mso:ContentPlaceHolderHashPlaceHolderBodyAreaClass>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>

<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:PublishingAssociatedVariations msdt:dt="string"></mso:PublishingAssociatedVariations>
<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>

<mso:ContentType msdt:dt="string">Html Page Layout</mso:ContentType>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:FileDirRef msdt:dt="string">_catalogs/masterpage/konda</mso:FileDirRef>
<mso:FileLeafRef msdt:dt="string">konda-article-survey.html</mso:FileLeafRef>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <title>Survey Article </title>
    </head>
    <body>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
            <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="0" SkipLinkText="">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Benefits/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved/Pages/Get%20Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved%20News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/New%20Joinees/SitePages/Community%20Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Project%20Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</SharePoint:AspMenu>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
            <!-- <script type="text/javascript" src="scripts/js/jquery-1.10.2.min.js">//<![CDATA[
			
			//]]></script> -->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink4" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery.twbsPagination.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink5" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Comments.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink10" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/pagelayouts.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink7" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/unslider.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <link href="css/PageLayouts.css" rel="stylesheet" type="text/css" ms-design-css-conversion="no" />
            <link href="scripts/js/Survey/Survey.css" rel="stylesheet" type="text/css" ms-design-css-conversion="no" />
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink11" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Survey/Chart.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink12" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Survey/Survey.js" OnDemand="false" runat="server" Localizable="false"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink6" name="SP.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink8" name="SP.Core.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!--SPM:<SharePoint:ScriptLink ID="ScriptLink9" name="Reputation.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
            <!-- Begin page content -->
            <div class="container" id="article-survey">
                <div id="greenroom-subsite-title">
                </div>
                <div id="greenroom-subsite-title-follow">
                </div>
                <a href="mailto:hr.team@vimn.com?subject=Greenroom Australia Feedback">
                    <div id="greenroom-landing-page-btn-feedback">
                        <img src="../../../SiteCollectionImages/greenroom-subsite-feedback.png" />
                    </div>
                </a>
                <div class="container" id="greenroom-page-content-container">
                    <div class="col-md-9 col-sm-7 col-xs-12">
                        <div class="greenroom-article-info-report">
                            <div id="TimeStampCreated">
                            </div>
                        </div>
                        <div id="greenroom-article-content" class="col-md-9 col-sm-12">
                            <div class="page-header">
                                <h1>
                                    <!--CS: Start Page Field: Title Snippet-->
                                    <!--SPM:<%@Register Tagprefix="PageFieldTextField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<PageFieldTextField:TextField FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
                                    <!--ME:</PageFieldTextField:TextField>-->
                                    <!--CE: End Page Field: Title Snippet-->
                                </h1>
                                <div class="article-buttons">
                                </div>
                                <div class="greenroom-article-byline" data-name="Page Field: Byline">
                                    <!--CS: Start Page Field: Byline Snippet-->
                                    <!--SPM:<%@Register Tagprefix="PageFieldTextField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<PageFieldTextField:TextField FieldName="d3429cc9-adc4-439b-84a8-5679070f84cb" runat="server">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Byline</span></div><div class="ms-formfieldvaluecontainer">Byline field value.</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--ME:</PageFieldTextField:TextField>-->
                                    <!--CE: End Page Field: Byline Snippet-->
                                </div>
                            </div>
                            <div id="greenroom-page-content">
                                <div data-name="EditModePanelShowInEdit">
                                    <!--CS: Start Edit Mode Panel Snippet-->
                                    <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                        <div class="ms-formfieldvaluecontainer">Please enter the survey answers here separated by semicolon (;).
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            <br />








For example: Answer 1;Answer 2;Answer 3.                                                                                                                                                                                                                                                                                                                                                                                                            <br />









Images example:                                                                                                                                                                                                                                                                                                                                                                                                             <br />








&lt;img src='pathToImage1' /&gt;; &lt;img src='pathToImage2' /&gt;; &lt;img src='pathToImage3' /&gt;                                                                                                                                                                                                                                                                                                                                                                                                            <br />
                                            <br />
                                        </div>
                                        <div data-name="Page Field: ArticleSurveyAnswers">
                                            <!--CS: Start Page Field: ArticleSurveyAnswers Snippet-->
                                            <!--SPM:<%@Register Tagprefix="PageFieldNoteField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <!--MS:<PageFieldNoteField:NoteField FieldName="9e2f0fbb-6422-40da-a323-abbdeaf0a85f" runat="server">-->
                                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">ArticleSurveyAnswers</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">ArticleSurveyAnswers field value.</div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                            <!--ME:</PageFieldNoteField:NoteField>-->
                                            <!--CE: End Page Field: ArticleSurveyAnswers Snippet-->
                                        </div>
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--ME:</Publishing:EditModePanel>-->
                                    <!--CE: End Edit Mode Panel Snippet-->
                                </div>
                                <div id="VoteSection">
                                    <div id="Vote">
                                        <div id="pnlVote">
                                        </div>
                                        <input class="btn-sm" type="button" id="btnVote" value="VOTE NOW!!" onclick="CastYourVote()" disabled="disabled" />
                                        <input class="view-results-link" type="button" value="(or just view results)" onclick="ViewVotingResults()" />
                                    </div>
                                    <div>
                                        <canvas id="Results" width="700" height="400" style="display:none">
                                        </canvas>
                                    </div>
                                </div>
                                <!--CS: Start Page Field: Page Content Snippet-->
                                <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="f55c4d88-1f2e-4ad9-aaa8-819af4ee7ee8" runat="server">-->
                                    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Page Content</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Page Content</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">Page Content field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                <!--CE: End Page Field: Page Content Snippet-->
                            </div>
                            <!-- id="greenroom-page-content" end-->
                        </div>
                        <!-- id="greenroom-article-content" end-->
                        <div id="greenroom-article-content-sidebar" class="col-md-3 col-sm-12">
                            <div id="greenroom-page-content-count-likes">
                                <span>
                                    <span class="mylikecount">
                                    </span>
                                    <a href="#" onclick="LikePage()" class="MyLikeButton">
                                    </a>
                                </span>
                            </div>
                            <!--<div id="greenroom-page-content-count-comments">
                                <div class="comments">
                                </div>
                                <img src="/SiteCollectionImages/pagelayouts/greenroom-count-comments.png"/>
                            </div>-->
                            <div id="greenroom-subsite-title-share">
                                <div class="ms-cui-TabRowRight s4-trc-container s4-notdlg ms-core-defaultFont" id="RibbonContainer-TabRowRight" unselectable="on" onmouseover="document.getElementById('share-container').style.display='block';" onmouseout="document.getElementById('share-container').style.display='none';">
                                    <a title="Share this article with people." class="ms-promotedActionButton">
                                        <span class="s4-clust ms-promotedActionButton-icon">
                                            <img alt="Share" src="../../../SiteCollectionImages/pagelayouts/greenroom-subsite-title-share.png" />
                                        </span>
                                    </a>
                                    <ul id="share-container" class="ms-core-menu-list">
                                        <li class="ms-core-menu-item">
                                            <a onclick="javascript:OnEmailClick();" class="ms-core-menu-link">Email
                                
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            </a>
                                        </li>
                                        <li class="ms-core-menu-item">
                                            <a class="ms-core-menu-link" href="javascript:void(0);" onclick="javascript:OpenNewsFeed();">Newsfeed
                                
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- id="greenroom-article-content-sidebar end-->
                        <hr />
                        <div id="" class="col-xs-12">
                            <div data-name="WebPartZone">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" ID="xd7ee700c2f8244ae91a39adad0237e41" AllowPersonalization="False" FrameType="TitleBarOnly" Orientation="Vertical" Title="greenroom-left-zone">-->
                                        <!--MS:<ZoneTemplate>-->
                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                        <div id="greenroom-top-comments" class="col-md-9 col-sm-12">
                            <a name="top-comments">
                            </a>
                            <div id="DisplayTopComments">
                            </div>
                        </div>
                        <!-- id="greenroom-top-comments" end-->
                        <div id="greenroom-top-comments-sidebar" class="col-md-3 col-sm-12">
                            <div id="greenroom-add-comment">
                                <a class="btn btn-primary btn-lg" href="#post-comment">ADD A COMMENT 
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    <span class="glyphicon glyphicon-plus-sign">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- id="greenroom-top-comments-sidebar" end-->
                        <div class="greenroom-recent-comment">
                        </div>
                        <div class="clearfix">
                        </div>
                        <div id="greenroom-all-comments" class="col-md-9 col-sm-12">
                            <div id="DisplayAllComments">
                            </div>
                            <div id="pagination-demo" class="pagination-sm">
                            </div>
                        </div>
                        <!-- id="greenroom-all-comments" end-->
                        <div id="greenroom-all-comments-sidebar" class="col-md-3 col-sm-12">
                        </div>
                        <!-- id="greenroom-all-comments-sidebar" end-->
                        <hr />
                        <div id="greenroom-post-comment" class="col-md-9 col-sm-12">
                            <a name="post-comment">
                            </a>
                            <h1>Post a Comment
                            
                            
                            
                            
                            
                            
                            
                            
                            </h1>
                            <div id="greenroom-article-postcomment-container">
                                <div id="CommenterPictureURL" class="greenroom-post-comment-user-image">
                                </div>
                                <div>
                                    <textarea id="CommentArea" name="Comment" cols="70" rows="6">
                                    </textarea>
                                    <div id="greenroom-post-comment-guidelines">Before you post your comment, please be sure it adheres to our 
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <a href="../../../pages/community-guidelines.aspx" title="Community Guidelines" target="_blank">community guidelines
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        </a>








.                                                                                                                                                                                                                                                                                                                                    </div>
                                    <div id="greenroom-post-comment-button">
                                        <a class="btn btn-primary btn-lg" onclick="PostComment();">POST YOUR COMMENT 
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            <span class="glyphicon glyphicon-play">
                                            </span>
                                        </a>
                                    </div>
                                    <!--input class="btn btn-primary btn-lg" name="POST YOUR COMMENT" type="button" value="POST YOUR COMMENT" onclick="PostComment();"-->
                                </div>
                            </div>
                        </div>
                        <!-- id="greenroom-post-comments" end-->
                        <!-- id="greenroom-post-comment-sidebar" end-->
                        <hr />
                        <div id="greenroom-more-related-articles" class="col-xs-12">
                            <!--CS: Start Content Search Snippet-->
                            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="4" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;path:{SiteCollection.URL}((ContentType:\&#34;Konda Article Page\&#34;*) OR  (ContentType:\&#34;Konda Event Article Page\&#34;*) OR (ContentType:\&#34;Konda Gallery Article Page\&#34;*) OR (ContentType:\&#34;Konda Video Article Page\&#34;*) OR (ContentType:\&#34;Konda Survey Article Page\&#34;*) OR (ContentType:\&#34;Konda Text Article Page\&#34;*)) AND (( Title:{Page.Title} OR owstaxidmetadataalltagsinfo:{Page.TaxKeyword} ) AND Path\u003c\u003e{Page.URL} ) AND ( -ContentType:\&#34;CommentReportAbuse\&#34;*)&#34;,&#34;FallbackSort&#34;:[],&#34;FallbackSortJson&#34;:&#34;[]&#34;,&#34;RankRules&#34;:[],&#34;RankRulesJson&#34;:&#34;[]&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="4" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;SitePath&#34;,&#34;ModifiedOWSDATE&#34;,&#34;ListID&#34;,&#34;ListItemID&#34;,&#34;SiteTitle&#34;,&#34;PublishingPageContentOWSHTML&#34;,&#34;ContentTypeId&#34;,&#34;SecondaryFileExtension&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List_LandingPage_LatestArticles.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="More Related Articles" FrameType="TitleBarOnly" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_8488908f_0f79_4e8d_9182_bb80291d1323" ChromeType="TitleOnly" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{8488908f-0f79-4e8d-9182-bb80291d1323}" WebPart="true" Height="" Width="">-->
                            <!--ME:</spsswc:ContentBySearchWebPart>-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div class="ms-webpart-chrome-title" id="WebPartWPQ1_ChromeTitle"><span title="More Related Articles" id="WebPartTitleWPQ1" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span>More Related Articles</span><span id="WebPartCaptionWPQ1"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div><h2 class="ms-search-header, ms-srch-error-header">Sorry, something went wrong.</h2><div><a href="#" style="cursor:pointer; " class="ms-calloutLink ms-clientcontrol-showdetails" onclick="Srch.ClientControl.toggleMessageDetails(this.parentNode);;return false;">SHOW DETAILS</a><a href="#" style="display: none; cursor:pointer; " class="ms-calloutLink ms-clientcontrol-hidedetails" onclick="Srch.ClientControl.toggleMessageDetails(this.parentNode);;return false;">HIDE DETAILS</a><br style="display: none;" /><br style="display: none;" /><div style="display: none;" id="ms-search-errors" class="ms-status-msg ms-status-red ms-clientcontrol-errors"><div class="ms-search-error"><strong>Display Error:</strong> The display template had an error.  You can correct it by fixing the template or by changing the display template used in either the Web Part properties or Result Types.</div><br /><div class="ms-search-error">DisplayTemplateGetLikeCount is not defined (CoreRender: ~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles.js)</div></div></div></div><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_csr" style="display: none;">ReferenceError: DisplayTemplateGetLikeCount is not definedReferenceError: DisplayTemplateGetLikeCount is not definedReferenceError: DisplayTemplateGetLikeCount is not definedReferenceError: DisplayTemplateGetLikeCount is not defined </div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8488908f_0f79_4e8d_9182_bb80291d1323_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--CE: End Content Search Snippet-->
                        </div>
                        <!-- id="greenroom-more-related-articles" end-->
                        <hr />
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12" id="greenroom-sidebar">
                        <div data-name="EditModePanelShowInEdit">
                            <!--CS: Start Edit Mode Panel Snippet-->
                            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <!--MS:<Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                <div class="DefaultContentBlock" id="greenroom-admin-block">
                                    <div>
                                        <strong>PLEASE NOTE, AFTER YOU PUBLISH THE PAGE, IT MAY TAKE UP TO 30MINS FOR YOUR ARTICLE TO APPEAR ON THE SITE. 
                                        
                                        
                                        
                                        
                                        
                                        
                                        </strong>
                                    </div>
                                    <div data-name="Page Field: Contact">
                                        <!--CS: Start Page Field: Contact Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldUserField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldUserField:UserField FieldName="aea1a4dd-0f19-417d-8721-95a1d28762ab" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Contact</span></div><div class="ms-formfieldvaluecontainer"></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldUserField:UserField>-->
                                        <!--CE: End Page Field: Contact Snippet-->
                                    </div>
                                    <div data-name="Page Field: Region">
                                        <!--CS: Start Page Field: Region Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldTaxonomyFieldControl" Namespace="Microsoft.SharePoint.Taxonomy" Assembly="Microsoft.SharePoint.Taxonomy, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldTaxonomyFieldControl:TaxonomyFieldControl FieldName="Region" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">
								Region</span></div><div class="ms-formfieldvaluecontainer"></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldTaxonomyFieldControl:TaxonomyFieldControl>-->
                                        <!--CE: End Page Field: Region Snippet-->
                                    </div>
                                    <div data-name="Page Field: Enterprise Keywords">
                                        <!--CS: Start Page Field: Enterprise Keywords Snippet-->
                                        <!--SPM:<%@ Register Tagprefix="Taxonomy" Namespace="Microsoft.SharePoint.Taxonomy" Assembly="Microsoft.SharePoint.Taxonomy, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                        <!--MS:<Taxonomy:TaxonomyFieldControl FieldName="23f27201-bee3-471e-b2e7-b64fd8b7ca38" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Meta Keywords</span></div><div class="ms-formfieldvaluecontainer">Meta Keywords field value.</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</Taxonomy:TaxonomyFieldControl>-->
                                        <!--CE: End Page Field: EnterPrise Keywords Snippet-->
                                    </div>
                                    <div>
                                        <br />







Articles can be promoted in the subsites that they are created in, home page (featuring now) and happening now (if selected below).                                                                                                                                                                                                                                                                                                                                <br />
                                    </div>
                                    <div data-name="Page Field: Request to promote on the following pages">
                                        <!--CS: Start Page Field: Request to promote on the following pages Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldCheckBoxChoiceField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldCheckBoxChoiceField:CheckBoxChoiceField FieldName="20658759-c3a9-4482-8078-fca681363bb4" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Request to promote on the following pages</span></div><div class="ms-formfieldvaluecontainer">Homepage, Happening Now, Get Involved</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldCheckBoxChoiceField:CheckBoxChoiceField>-->
                                        <!--CE: End Page Field: Request to promote on the following pages Snippet-->
                                    </div>
                                    <div data-name="Page Field: PromotionStartDate">
                                        <!--CS: Start Page Field: PromotionStartDate Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldDateTimeField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldDateTimeField:DateTimeField FieldName="a90e54fb-1ca6-4e9b-9124-d0824233d1c0" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">PromotionStartDate</span></div><div class="ms-formfieldvaluecontainer">9/17/2014 2:14 PM</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldDateTimeField:DateTimeField>-->
                                        <!--CE: End Page Field: PromotionStartDate Snippet-->
                                    </div>
                                    <div data-name="Page Field: PromotionEndDate">
                                        <!--CS: Start Page Field: PromotionEndDate Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldDateTimeField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldDateTimeField:DateTimeField FieldName="0a61bf5a-6146-4c25-be7f-31b22ea97c43" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">PromotionEndDate</span></div><div class="ms-formfieldvaluecontainer">9/17/2014 2:14 PM</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldDateTimeField:DateTimeField>-->
                                        <!--CE: End Page Field: PromotionEndDate Snippet-->
                                    </div>
                                    <div>
                                        <strong>NOTE: IF REQUESTING TO PROMOTE AN ARTICLE, A THUMBNAIL 
						IMAGE IS REQUIRED IN 398x258px.
                                        
                                        
                                        
                                        
                                        
                                        
                                        </strong>
                                    </div>
                                    <div data-name="Page Field: Thumbnail Image">
                                        <!--CS: Start Page Field: Thumbnail Image Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldRichImageField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldRichImageField:RichImageField FieldName="3de94b06-4120-41a5-b907-88773e493458" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">Thumbnail Image</div><div id="ctl02__ControlWrapper_RichImageField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Thumbnail Image</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field"><img alt="" src="/_layouts/images/home.gif" style="BORDER: px solid; " /></div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldRichImageField:RichImageField>-->
                                        <!--CE: End Page Field: Thumbnail Image Snippet-->
                                    </div>
                                </div>
                                <div class="DefaultContentBlock" id="greenroom-admin-block-blue">
                                    <div data-name="Page Field: Promote Request?">
                                        <!--CS: Start Page Field: Promote Request? Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldBooleanField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldBooleanField:BooleanField FieldName="d08270ab-fdbb-4e30-a6f5-91325d58a16b" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">Promote Request?</span></div><div class="ms-formfieldvaluecontainer">Yes</div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldBooleanField:BooleanField>-->
                                        <!--CE: End Page Field: Promote Request? Snippet-->
                                    </div>
                                </div>
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</Publishing:EditModePanel>-->
                            <!--CE: End Edit Mode Panel Snippet-->
                        </div>
                        <div class="greenroom-sidebar-top-comment-headline">
                            <h2 class="ms-webpart-titleText">
                                <a href="#top-comments">
                                </a>
                            </h2>
                        </div>
                        <div class="greenroom-sidebar-top-comment">
                        </div>
                        <div id="greenroom-sidebar-add-comment">
                            <div id="greenroom-add-comment">
                                <a href="#post-comment" class="btn btn-primary btn-lg">ADD A COMMENT 
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    <span class="glyphicon glyphicon-plus-sign">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <hr />
                        <div class="clearfix">
                        </div>
                        <div class="greenroom-sidebar-more-surveys">
                            <!--CS: Start Content Search Snippet-->
                            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;path:{Site.URL} (ContentType:\&#34;Konda Survey Article Page\&#34;)  AND Path\u003c\u003e{Page.URL}&#34;,&#34;FallbackSort&#34;:[],&#34;FallbackSortJson&#34;:&#34;[]&#34;,&#34;RankRules&#34;:[],&#34;RankRulesJson&#34;:&#34;[]&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles_Sidebar.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="3" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;SitePath&#34;,&#34;ModifiedOWSDATE&#34;,&#34;ListID&#34;,&#34;ListItemID&#34;,&#34;SiteTitle&#34;,&#34;PublishingPageContentOWSHTML&#34;,&#34;ContentTypeId&#34;,&#34;SecondaryFileExtension&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List_LandingPage_LatestArticles.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="More Surveys" FrameType="TitleBarOnly" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31" ChromeType="TitleOnly" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{4ac220dd-ef85-441f-9bad-ce0fdd4f9a31}" WebPart="true" Height="" Width="">-->
                            <!--ME:</spsswc:ContentBySearchWebPart>-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div class="ms-webpart-chrome-title" id="WebPartWPQ1_ChromeTitle"><span title="More Surveys" id="WebPartTitleWPQ1" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span>More Surveys</span><span id="WebPartCaptionWPQ1"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_csr"></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_4ac220dd_ef85_441f_9bad_ce0fdd4f9a31_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--CE: End Content Search Snippet-->
                        </div>
                        <hr />
                        <div class="greenroom-sidebar-related">
                            <!--CS: Start Content Search Snippet-->
                            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="5" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;path:{SiteCollection.URL}((ContentType:\&#34;Konda Article Page\&#34;*) OR  (ContentType:\&#34;Konda Event Article Page\&#34;*) OR (ContentType:\&#34;Konda Gallery Article Page\&#34;*) OR (ContentType:\&#34;Konda Video Article Page\&#34;*) OR (ContentType:\&#34;Konda Survey Article Page\&#34;*) OR (ContentType:\&#34;Konda Text Article Page\&#34;*)) AND (( Title:{Page.Title} OR owstaxidmetadataalltagsinfo:{Page.TaxKeyword} ) AND Path\u003c\u003e{Page.URL} ) AND ( -ContentType:\&#34;CommentReportAbuse\&#34;*)&#34;,&#34;FallbackSort&#34;:[],&#34;FallbackSortJson&#34;:&#34;[]&#34;,&#34;RankRules&#34;:[],&#34;RankRulesJson&#34;:&#34;[]&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles_Sidebar.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="5" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;SitePath&#34;,&#34;ModifiedOWSDATE&#34;,&#34;ListID&#34;,&#34;ListItemID&#34;,&#34;SiteTitle&#34;,&#34;PublishingPageContentOWSHTML&#34;,&#34;ContentTypeId&#34;,&#34;SecondaryFileExtension&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List_LandingPage_LatestArticles.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Related Articles" FrameType="TitleBarOnly" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_fbc794de_9180_47e1_8750_29eed553f576" ChromeType="TitleOnly" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{fbc794de-9180-47e1-8750-29eed553f576}" WebPart="true" Height="" Width="">-->
                            <!--ME:</spsswc:ContentBySearchWebPart>-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div class="ms-webpart-chrome-title" id="WebPartWPQ1_ChromeTitle"><span title="Related Articles" id="WebPartTitleWPQ1" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span>Related Articles</span><span id="WebPartCaptionWPQ1"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div><h2 class="ms-search-header, ms-srch-error-header">Sorry, something went wrong.</h2><div><a href="#" style="cursor:pointer; " class="ms-calloutLink ms-clientcontrol-showdetails" onclick="Srch.ClientControl.toggleMessageDetails(this.parentNode);;return false;">SHOW DETAILS</a><a href="#" style="display: none; cursor:pointer; " class="ms-calloutLink ms-clientcontrol-hidedetails" onclick="Srch.ClientControl.toggleMessageDetails(this.parentNode);;return false;">HIDE DETAILS</a><br style="display: none;" /><br style="display: none;" /><div style="display: none;" id="ms-search-errors" class="ms-status-msg ms-status-red ms-clientcontrol-errors"><div class="ms-search-error"><strong>Display Error:</strong> The display template had an error.  You can correct it by fixing the template or by changing the display template used in either the Web Part properties or Result Types.</div><br /><div class="ms-search-error">SBDisplayTemplateGetLikeCount is not defined (CoreRender: ~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles_Sidebar.js)</div></div></div></div><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_csr" style="display: none;">ReferenceError: SBDisplayTemplateGetLikeCount is not definedReferenceError: SBDisplayTemplateGetLikeCount is not definedReferenceError: SBDisplayTemplateGetLikeCount is not definedReferenceError: SBDisplayTemplateGetLikeCount is not definedReferenceError: SBDisplayTemplateGetLikeCount is not defined </div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_fbc794de_9180_47e1_8750_29eed553f576_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--CE: End Content Search Snippet-->
                        </div>
                        <!-- id="greenroom-related-articles" end-->
                        <hr />
                        <div class="greenroom-sidebar-latest-articles">
                            <!--CS: Start Content Search Snippet-->
                            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="5" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;path:{Site.URL} (ContentType:\&#34;Konda Article Page\&#34;*) OR  (ContentType:\&#34;Konda Event Article Page\&#34;*) OR (ContentType:\&#34;Konda Gallery Article Page\&#34;*) OR (ContentType:\&#34;Konda Video Article Page\&#34;*) OR (ContentType:\&#34;Konda Survey Article Page\&#34;*) OR (ContentType:\&#34;Konda Text Article Page\&#34;*) AND Path\u003c\u003e{Page.URL}&#34;,&#34;FallbackSort&#34;:[],&#34;FallbackSortJson&#34;:&#34;[]&#34;,&#34;RankRules&#34;:[],&#34;RankRulesJson&#34;:&#34;[]&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Related_Articles_Sidebar.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="5" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;SitePath&#34;,&#34;ModifiedOWSDATE&#34;,&#34;ListID&#34;,&#34;ListItemID&#34;,&#34;SiteTitle&#34;,&#34;PublishingPageContentOWSHTML&#34;,&#34;ContentTypeId&#34;,&#34;SecondaryFileExtension&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List_LandingPage_LatestArticles.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Latest Articles" FrameType="TitleBarOnly" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60" ChromeType="TitleOnly" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{8f9e7e0f-b6ba-42ac-a218-aaeefec1de60}" WebPart="true" Height="" Width="">-->
                            <!--ME:</spsswc:ContentBySearchWebPart>-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div class="ms-webpart-chrome-title" id="WebPartWPQ1_ChromeTitle"><span title="Latest Articles" id="WebPartTitleWPQ1" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span>Latest Articles</span><span id="WebPartCaptionWPQ1"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_csr"></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_8f9e7e0f_b6ba_42ac_a218_aaeefec1de60_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--CE: End Content Search Snippet-->
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-xs-12" id="greenroom-bottom-zone-full-width">
                    <div data-name="WebPartZone">
                    </div>
                </div>
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
