<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Master Page (.master file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .master file, and any rename, move, or deletion operations will be reciprocated.

To build the master page directly from this HTML file, simply edit the page as you normally would.  Use the Snippet Generator at https://greenroom.viacom.com/sites/Asia/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fgreenroom%2Eviacom%2Ecom%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2FMaster%2Emaster to create and customize useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file will automatically sync to the associated Master Page.

-->
<!-- _lcid="1033" _version="15.0.4505" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <!--CS: Start Head Snippet-->
        <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SID:00 -->
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <!--SPM:<SharePoint:RobotsMetaTag runat="server"/>-->
        <!--MS:<SharePoint:PageTitle runat="server">-->
            <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--SPM:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:PageTitle>-->
        <!--SPM:<SharePoint:StartScript runat="server"/>-->
        <!--MS:<SharePoint:CssLink runat="server" Version="15">-->
            <!--PS: Start Preview--><link href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" /><link href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" /><link href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" /><!--PE: End Preview-->
        <!--ME:</SharePoint:CssLink>-->
        <!--SPM:<SharePoint:CacheManifestLink runat="server"/>-->
        <!--SPM:<SharePoint:PageRenderMode runat="server" RenderModeType="Standard"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink name="SP.UserProfiles.js" runat="server" ondemand="false" localizable="false" loadafterui="true"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink2" name="scriptforwebtaggingui.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink1" name="sp.taxonomy.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink3" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-1.10.2.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink4" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-ui.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink5" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/unslider.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink6" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/UserProfilePanel.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink7" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/NewQuickLinks.js" OnDemand="false" runat="server" Localizable="false"/>-->
		<!--SPM:<SharePoint:ScriptLink ID="ScriptLinkR1" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/bootstrap.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
		<!--SPM:<SharePoint:ScriptLink ID="ScriptLinkR2" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/owl.carousel.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
		<!--SPM:<SharePoint:ScriptLink ID="ScriptLink8" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Master.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink9" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/knockout-3.0.0.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink10" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/knockout-sortable.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink11" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Utility.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink12" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Galleria/galleria-1.3.5.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink13" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Galleria/themes/classic/galleria.classic.min.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink14" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery.SPServices-2013.01.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink ID="ScriptLink15" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/SitesFollowed.js" OnDemand="false" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:SPShortcutIcon runat="server" IconUrl="/sites/Asia/sitecollectionimages/ico/favicon.ico"/>-->
        <!--SPM:<SharePoint:CustomJSUrl runat="server"/>-->
        <!--MS:<SharePoint:SoapDiscoveryLink runat="server">-->
            <!--PS: Start Preview--><link href="http://sp2013-dev-4:2222/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" /><!--PE: End Preview-->
        <!--ME:</SharePoint:SoapDiscoveryLink>-->
        <!--MS:<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">-->
            <!--ME:</SharePoint:DelegateControl>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:AjaxDelta>-->
        <!--SPM:<SharePoint:CssRegistration Name="Themable/corev15.css" runat="server"/>-->
        <!--SPM:<SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">-->
        <!--SPM:<WebPartPages:SPWebPartManager runat="server"/>-->
        <!--SPM:</SharePoint:AjaxDelta>-->
        <!--CE: End Head Snippet-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../sitecollectionimages/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../sitecollectionimages/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../sitecollectionimages/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="../../sitecollectionimages/ico/apple-touch-icon-57-precomposed.png" />
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>

<mso:ContentType msdt:dt="string">Design File</mso:ContentType>
<mso:ContentTypeId msdt:dt="string">0x0101000F1C8B9E0EB4BE489F09807B2C53288F0054AD6EF48B9F7B45A142F8173F171BD10003D357F861E29844953D5CAA1D4D8A3A0071BF4BAE5319204CAFF56C14F3DAA9E5</mso:ContentTypeId>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:HtmlDesignFromMaster msdt:dt="string"></mso:HtmlDesignFromMaster>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-ddev-8.dmz.viacom.com:8081/sites/Asia/_catalogs/masterpage/Master.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:FSObjType msdt:dt="string">0</mso:FSObjType>
<mso:FileLeafRef msdt:dt="string">Master.html</mso:FileLeafRef>
<mso:FileDirRef msdt:dt="string">_catalogs/masterpage</mso:FileDirRef>
<mso:DefaultCssFile msdt:dt="string"></mso:DefaultCssFile>
<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:MasterPageDescription msdt:dt="string">Uploaded through powershell</mso:MasterPageDescription>
<mso:UIVersion msdt:dt="string"></mso:UIVersion>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <link rel="stylesheet" type="text/css" href="konda/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="konda/css/Master.css" />
        <script type="text/javascript">//<![CDATA[
			 KALEO_WIDGET_HOST = "https://viacom.kaleosoftware.com";
			 KALEO_WIDGET_TOKEN = "026df204-3b38-4c54-88d6-c7e5b55981f8";
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <link href="konda/scripts/js/Galleria/themes/classic/galleria.classic.css" rel="stylesheet" type="text/css" />
		<link href="konda/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
        <link href="konda/css/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="konda/css/responsive.css" rel="stylesheet" type="text/css" />
        <!--DC:Master-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <script type="text/javascript">//<![CDATA[
<!-- Google Analytics start -->                    
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62980038-1', 'auto');
  ga('send', 'pageview');
<!-- Google Analytics end -->  
                    
                    
        
        
        
        
        
        
        
        
        
        //]]>
        </script>
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
        <!--DC:-->
    </head>
    <body>
        <div id="kw-widget" class="kw-container" data-iframe-src="https://viacom.kaleosoftware.com/v4/boards" style="display:none;">
        </div>
        <div id="greenroom-ribbon-container">
            <div class="container">
                <div id="ms-designer-ribbon">
                    <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <div id="TurnOnAccessibility" style="display:none" class="s4-notdlg noindex">
                        <a id="linkTurnOnAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
                            <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnonaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                            <!--ME:</SharePoint:EncodedLiteral>-->
                        </a>
                    </div>
                    <div id="TurnOffAccessibility" style="display:none" class="s4-notdlg noindex">
                        <a id="linkTurnOffAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
                            <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnoffaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                            <!--ME:</SharePoint:EncodedLiteral>-->
                        </a>
                    </div>
                    <!--SID:02 {Ribbon Snippet}-->
                    <!--PS: Start Preview--><div class="DefaultContentBlock" style="background:rgb(0, 114, 198); color:white; width:100%; padding:8px; height:64px; overflow:hidden;">In true previews of your site, the SharePoint ribbon will be here.</div><!--PE: End Preview-->
                </div>
            </div>
        </div>
        <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">-->
            <!--SPM:<wssucw:Welcome runat="server" EnableViewState="false"/>-->
        <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
        <div id="s4-workspace">
            <div id="greenroom-header-container container">
                <!--<div id="WelcomeBar">
	        	</div>-->
                <div id="TopBar" class="ms-emphasis">
                    <div id="TopBarContent" class="content container">
                        <div id="NavBarContainer">
						<div class="navbar">
							<div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation
                                        
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                    </button>
                                </div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	
                            <div data-name="TopNavigationNoFlyoutWithStartNode">
                                <!--CS: Start Top Navigation Snippet-->
                                <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <!--MS:<SharePoint:AjaxDelta ID="DeltaTopNavigation" BlockElement="true" CssClass="ms-displayInline ms-core-navigation ms-dialogHidden" runat="server">-->
                                    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--MS:<SharePoint:DelegateControl runat="server" ControlId="TopNavigationDataSource" Id="topNavigationDelegate">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><span style="display:none"><table cellpadding="4" cellspacing="0" style="font:messagebox;color:buttontext;background-color:buttonface;border: solid 1px;border-top-color:buttonhighlight;border-left-color:buttonhighlight;border-bottom-color:buttonshadow;border-right-color:buttonshadow"><tr><td nowrap="nowrap"><span style="font-weight:bold">PortalSiteMapDataSource</span> - topSiteMap</td></tr><tr><td></td></tr></table></span><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--MS:<Template_Controls>-->
                                            <!--MS:<asp:SiteMapDataSource ShowStartingNode="True" SiteMapProvider="SPNavigationProvider" ID="topSiteMap" runat="server" StartingNodeUrl="sid:1002">-->
                                            <!--ME:</asp:SiteMapDataSource>-->
                                        <!--ME:</Template_Controls>-->
                                    <!--ME:</SharePoint:DelegateControl>-->
                                    <a name="startNavigation">
                                    </a>
                                    <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">-->
                                        <!--MS:<SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="3" SkipLinkText="">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://sp2013-dev-4:2222/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Pages/NewHome.aspx" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Intranet</span></span></a><ul class="static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Benefits/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Benefits</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Blog/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Blog</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Campaigns/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Campaigns</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Demo/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Demo</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Events/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved/Pages/Get%20Involved.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Get%20Involved%20News/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Get Involved News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/LodgeProject"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lodge Project</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/ManagementCoordination"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Coordination</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/New%20Joinees/SitePages/Community%20Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">New Joinees</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/News/Pages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Project%20Development"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Project Development</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/Search/Pages/default.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Search</span></span></a></li><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="http://sp2013-dev-4:2222/WOForm/SitePages/Home.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">WOForm</span></span></a></li></ul></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</SharePoint:AspMenu>-->
                                    <!--ME:</asp:ContentPlaceHolder>-->
                                    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                                <!--ME:</SharePoint:AjaxDelta>-->
                                <!--CE: End Top Navigation Snippet-->
								</div>
							</div>
						</div>
					</div>
                        <!-- search modified 1/16/12 start -->
                        <div id="SerachBoxConatiner">
							<span class="search-button">
                            </span>
                            <div id="searchInputBox">
                                <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox"/>-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome "><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPart" width="100%" class="ms-WPBody noindex " OnlyForMePart="true" allowDelete="false" style=""><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_SmallSearchInputBox1_csr_sboxdiv"><input type="text" value="Search This Site..." maxlength="2048" accessKey="S" title="Search This Site..." id="ctl00_SmallSearchInputBox1_csr_sbox" autocomplete="off" autocorrect="off" class="ms-srch-sb-prompt ms-helperText" /><a title="Search" class="ms-srch-sb-searchLink" id="ctl00_SmallSearchInputBox1_csr_SearchLink" href="javascript: {}"><img src="http://devviacom-sp:7777/_layouts/15/images/searchresultui.png" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a><div class="ms-qSuggest-container ms-shadow" id="AutoCompContainer"><div id="ctl00_SmallSearchInputBox1_csr_AutoCompList"></div></div></div></div></div><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"></div><div id="ctl00_SmallSearchInputBox1"></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            </div>
                        </div>
                        <!-- search modified 1/16/12 end -->
                        <div id="QuickLinks">
                            <a class="aQuicklink" href="javascript:hideshowQuickLinksPanel();">Quick Links 
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <span class="sprite-new quick-sprite">
                                </span>
                            </a>
                        </div>
						<a href="#" class="quick-link-responsive">
                            <span class="sprite-new quick-sprite">
                            </span>
                        </a>
                        <a class="askQuestion askQuestion-responsive" href="#">
                            <small class="greenroom-topnav-icon-kaleo askQuestion sprite-new">
                            </small>
                        </a>
                    </div>
                </div>
            </div>
            <div id="QuickLinksPlaceholder" style="display:none" class="container">
                <div id="QuickLinksContainer" class="content">
                    <h3>Quick Links<span>|
                        
                        
                        
                        
                        
                        </span>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    </h3>
                    <ul class="QuickLinksContainer">
                    </ul>
                    <div id="QuickLinksDropdown" class="quick-dropdown">
                        <span class="toggle-btn">
                            <small>
                            </small>
                            <small>
                            </small>
                            <small>
                            </small>
                        </span>
                        <ul class="QuickLinksDropdown">
                        </ul>
                    </div>
                    <!--<div id="QuickLinksSection">
                            <div style="padding:0 0 15px 15px;font-weight:600">QUICK LINKS
                            
                            
                            
                            
                            
                            
                            </div>
                            <div>
                                <div data-bind="if: _isExternal() == false">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed internally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div style="float:left;width: 70px;text-align:center">
                                                <div data-bind="with : BackgroundImageLocation ">
                                                    <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                                </div>
                                                <div data-bind="with : LinkLocation" style="float:left">
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                        <a data-bind="attr:{href: Url }">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                        <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                        <a data-bind="attr:{href: Url }" target="_blank">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="if: _isExternal() == true">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed externally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div data-bind="with : BackgroundImageLocation ">
                                                <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                            </div>
                                            <div data-bind="with : ExternalLink ">
                                                <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                    <a data-bind="attr:{href: Url }">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                                <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                    <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                    <a data-bind="attr:{href: Url }" target="_blank">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-edit-quick-links" style="display:none">
                                    <div class="pnl-edit-quick-links">
                                        <div data-bind="sortable: _myfollowedContent">
                                            <div class="item-edit-quick-link" data-bind="css: { itemeditquicklink : IsVisible }">
                                                <div data-bind="if: IsVisible">
                                                    <img src="../../SiteAssets/QuickLinksPanel/1383703094_Black_Remove.png" data-bind="click: $root.remove"/>
                                                </div>
                                                <span data-bind="visible: !$root.isTaskSelected($data)">
                                                    <span href="#" data-bind="text: Title, click: $root.selectedTask">
                                                    </span>
                                                </span>
                                                <span data-bind="visibleAndSelect: $root.isTaskSelected($data)">
                                                    <input data-bind="value: Title, event: { blur: $root.clearTask }"/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: addTask">SAVE
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: Cancel">CANCEL
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-internal-link" data-bind="click: AddLink ">ADD LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-external-link" data-bind="click: AddLinkExternal ">ADD EXTERNAL LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                </div>
                                <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
                                
                                
                                
                                //]]></script>
                            </div>
                        </div>-->
                </div>
                <div id="homepage-recommendedLinks">
                    <div class="RecomendedLinks-homepage" id="customized-intranet-quickLinks">
                        <h3>Custom Links
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <ul class="customized-intranet-quickLinks">
                        </ul>
                        <div id="CustomLinksDropdown" class="quick-dropdown">
                            <span class="toggle-btn">
                                <small>
                                </small>
                                <small>
                                </small>
                                <small>
                                </small>
                            </span>
                            <ul class="CustomLinksDropdown">
                            </ul>
                        </div>
                    </div>
                </div>
				<div id="workspace-links">
                    <div class="workspace-links-homepage">
                        <h3>WORKPLACE
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <div class="workspace-links-quickLinks">
                            <a href="#">
                                <img src="/SiteCollectionImages/QLs/workspace.png" class="workspace-logo" />
                                <img src="/SiteCollectionImages/QLs/workspace-roll.png" class="workspace-logo-roll" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Changes for Defect ID 357-->
                <div id="BreadCrumbNavigation">
                    <!--SPM:<asp:SiteMapPath
					runat="server"
					SiteMapProviders="CurrentNavSiteMapProviderNoEncode"
					RenderCurrentNodeAsLink="true"
					PathSeparator="> "
					CssClass="ms-nav-breadcrumb"
					NodeStyle-CssClass="ms-nav-breadcrumbNode"
					CurrentNodeStyle-CssClass="ms-nav-breadcrumbCurrentNode"
					RootNodeStyle-CssClass="ms-nav-breadcrumbRootNode"
					HideInteriorRootNodes="true"
					SkipLinkText=""/>-->
                </div>
            </div>
            <div id="Banner">
                <div data-name="SiteLogo">
                    <!--CS: Start Site Logo Snippet-->
                    <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<SharePoint:AjaxDelta BlockElement="true" runat="server">-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                        <!--MS:<SharePoint:SiteLogoImage CssClass="ms-siteicon-img" name="onetidHeadbnnr0" ID="xa7a0cbf69b8a46789492101b7bfb9e9b" LogoImageUrl="/SiteCollectionImages/subsite-banners/banner_company.jpg" runat="server">-->
                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><img id="ctl00_xa7a0cbf69b8a46789492101b7bfb9e9b" name="onetidHeadbnnr0" Src="http://sp2013-dev-4:2222/_catalogs/theme/Themed/C7475956/siteIcon-2129F729.themedpng?ctag=5" alt="Green Room" /><!--PE: End of READ-ONLY PREVIEW-->
                        <!--ME:</SharePoint:SiteLogoImage>-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                    <!--ME:</SharePoint:AjaxDelta>-->
                    <!--CE: End Site Logo Snippet-->
                </div>
            </div>
            <div id="s4-bodyContainer">
                <div id="MainPlaceHolder" class="content">
                    <!--CS: Start PlaceHolderMain Snippet-->
                    <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<SharePoint:AjaxDelta id="DeltaPlaceHolderMain" IsMainContent="true" runat="server">-->
                        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
                            <div class="DefaultContentBlock" style=" background:lime;">
                                This area will be filled in by content you create in your page layouts.
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </div>
                        <!--ME:</asp:ContentPlaceHolder>-->
                    <!--ME:</SharePoint:AjaxDelta>-->
                    <!--CE: End PlaceHolderMain Snippet-->
                </div>
                <!-- FooterAreaWrapper starts -->
                <footer id="FooterAreaWrapper">
                    <!-- Footer 1st row starts -->
                    <div id="FooterRow1" class="section group">
                        <div>
                            <div id="FooterSocial1">
                                <a title="facebook" href="http://www.facebook.com/viacom" target="_blank" class="footer-fb sprite-new">
                                    <!--<img alt="facebook" src="../../SiteCollectionImages/footer/facebook.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="twitter" href="https://twitter.com/Viacom" target="_blank" class="footer-twitter sprite-new">
                                    <!--<img alt="twitter" src="../../SiteCollectionImages/footer/twitter.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="instagram" href="http://instagram.com/viacominc" target="_blank" class="footer-instagram sprite-new">
                                    <!--<img alt="instagram" src="../../SiteCollectionImages/footer/instagram.png"/>-->
                                </a>
                            </div>
                        </div>
                        <a href="#startNavigation">
                            <div id="back-to-top-container">
                                <div id="back-to-top-text">BACK TO TOP
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                </div>
                                <div id="back-to-top-caret">
                                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                    </span>
                                </div>
                            </div>
                        </a>
						<div class="back-to-top-btn">
                            <div id="back-to-top-text">BACK TO TOP
                                                              
                                
                            
                            </div>
                            <div id="back-to-top-caret">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Footer 1st row ends -->
                    <!-- Footer 2nd row starts -->
                    <div id="FooterRow2" class="section group">
                        <div id="FooterPopularText">
                            <h2>Most popular in the last 30 days
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </h2>
                        </div>
                        <div id="FooterSocial2" class="footer-most-visited">
						<div id="cswp-footer-header" class="visible-xs-block">Most Visited</div>
                            <p>
                                <!--Most Visited-->
                                <!--CS: Start Content Search Snippet-->
                                <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="2" PropertyMappings="Picture URL{Picture URL}:PublishingImage;PictureURL;PictureThumbnailURL,Link URL{Link URL}:Path,Line 1{Line 1}:Title,Line 2{Line 2}:Description,Line 3{Line 3}:ViewsLifeTimeUniqueUsers,SecondaryFileExtension,ContentTypeId" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;(Path:{SiteCollection.URL} Created>{Today-30})(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880707005AAD9A5CD6374B69A585D72876AB2E5C*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880705005D67EAD78D4848A893C8C74D96F9FFB6*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880704007A4FD4C594D745339AC598DE8F02439B*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C38807030033684AA63B76430AB6443584AB26F35B*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C388070200B29BCD8A584642D18FB2C094FCCA16DD*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880706000D20DB6E70A24D3A9BD8F7140C17EAE6*)&#34;,&#34;FallbackSort&#34;:[{&#34;p&#34;:&#34;ViewsLifeTimeUniqueUsers&#34;,&#34;d&#34;:1}],&#34;FallbackSortJson&#34;:&#34;[{\&#34;p\&#34;:\&#34;ViewsLifeTimeUniqueUsers\&#34;,\&#34;d\&#34;:1}]&#34;,&#34;RankRules&#34;:null,&#34;RankRulesJson&#34;:&#34;null&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Most_Viewed.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="2" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;Description&#34;,&#34;ViewsLifeTimeUniqueUsers&#34;,&#34;SecondaryFileExtension&#34;,&#34;ContentTypeId&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Most Visited" FrameType="None" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="" ImportErrorMessage="" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_de0d7961_8069_4be3_8ae8_be9bda9a0345" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{de0d7961-8069-4be3-8ae8-be9bda9a0345}" WebPart="true" Height="" Width="">-->
                                <!--ME:</spsswc:ContentBySearchWebPart>-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowdelete="false" style=""><div style="display: none;"></div><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_csr"><ul class="cbs-List"><li><div><div><div id="cswp-footer-header">Most Visited</div></div><div id="cswp-footer-img"><a class="cbs-pictureImgLink" href="http://sp2013-dev-4:2222/happeningnow" title="Happening Now" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_csr1_picture3Lines_pictureLink"><span class="cbs-noImageContainer ms-fillBoxFull" title="Sorry, we can't find an image for this item."><span class="cbs-noImageContainer-Row"></span><span class="ms-tableRow"><span class="cbs-noImageContainer-Cell"></span><span class="cbs-noImageContainer-ContentWrapperSmall"><span class="cbs-noImageContainer-ContentSmall">?</span></span><span class="cbs-noImageContainer-Cell"></span></span><span class="cbs-noImageContainer-Row"></span></span></a></div><div id="cswp-footer-number"> Visits</div><div id="cswp-footer-title"><a class="cbs-picture3LinesLine1Link" href="http://sp2013-dev-4:2222/happeningnow" title="Happening Now" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_csr1_picture3Lines_line1Link"><span>Happening Now</span></a></div></div></li></ul></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_de0d7961_8069_4be3_8ae8_be9bda9a0345_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                <!--CE: End Content Search Snippet-->
                            </p>
                        </div>
                        <div id="FooterSocial2" class="footer-most-liked">
						<div id="cswp-footer-header" class="visible-xs-block">Most Liked</div>
                            <p>
                                <!--Most Liked-->
                                <!--CS: Start Content Search Snippet-->
                                <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                <!--MS:<spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="1" PropertyMappings="Picture URL{Picture URL}:PublishingImage;PictureURL;PictureThumbnailURL,Link URL{Link URL}:Path,Line 1{Line 1}:Title,Line 2{Line 2}:Description,Line 3{Line 3}:LikesCount,SecondaryFileExtension,ContentTypeId" DataProviderJSON="{&#34;QueryGroupName&#34;:&#34;Default&#34;,&#34;QueryPropertiesTemplateUrl&#34;:&#34;sitesearch://webroot&#34;,&#34;IgnoreQueryPropertiesTemplateUrl&#34;:false,&#34;SourceID&#34;:&#34;8413cd39-2156-4e00-b54d-11efd9abdb89&#34;,&#34;SourceName&#34;:&#34;Local SharePoint Results&#34;,&#34;SourceLevel&#34;:&#34;Ssa&#34;,&#34;CollapseSpecification&#34;:&#34;&#34;,&#34;QueryTemplate&#34;:&#34;Path:{SiteCollection.URL}  ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF39* Created>{Today-30} &#34;,&#34;FallbackSort&#34;:[{&#34;p&#34;:&#34;LikesCount&#34;,&#34;d&#34;:1}],&#34;FallbackSortJson&#34;:&#34;[{\&#34;p\&#34;:\&#34;LikesCount\&#34;,\&#34;d\&#34;:1}]&#34;,&#34;RankRules&#34;:null,&#34;RankRulesJson&#34;:&#34;null&#34;,&#34;AsynchronousResultRetrieval&#34;:false,&#34;SendContentBeforeQuery&#34;:true,&#34;BatchClientQuery&#34;:true,&#34;FallbackLanguage&#34;:-1,&#34;FallbackRankingModelID&#34;:&#34;&#34;,&#34;EnableStemming&#34;:true,&#34;EnablePhonetic&#34;:false,&#34;EnableNicknames&#34;:false,&#34;EnableInterleaving&#34;:false,&#34;EnableQueryRules&#34;:true,&#34;EnableOrderingHitHighlightedProperty&#34;:false,&#34;HitHighlightedMultivaluePropertyLimit&#34;:-1,&#34;IgnoreContextualScope&#34;:true,&#34;ScopeResultsToCurrentSite&#34;:false,&#34;TrimDuplicates&#34;:false,&#34;Properties&#34;:{&#34;TryCache&#34;:true,&#34;Scope&#34;:&#34;{Site.URL}&#34;,&#34;ListId&#34;:&#34;00000000-0000-0000-0000-000000000000&#34;,&#34;UpdateLinksForCatalogItems&#34;:true,&#34;EnableStacking&#34;:true},&#34;PropertiesJson&#34;:&#34;{\&#34;TryCache\&#34;:true,\&#34;Scope\&#34;:\&#34;{Site.URL}\&#34;,\&#34;ListId\&#34;:\&#34;00000000-0000-0000-0000-000000000000\&#34;,\&#34;UpdateLinksForCatalogItems\&#34;:true,\&#34;EnableStacking\&#34;:true}&#34;,&#34;ClientType&#34;:&#34;ContentSearchRegular&#34;,&#34;UpdateAjaxNavigate&#34;:true,&#34;SummaryLength&#34;:180,&#34;DesiredSnippetLength&#34;:90,&#34;PersonalizedQuery&#34;:false,&#34;FallbackRefinementFilters&#34;:null,&#34;IgnoreStaleServerQuery&#34;:false,&#34;RenderTemplateId&#34;:&#34;DefaultDataProvider&#34;,&#34;AlternateErrorMessage&#34;:null,&#34;Title&#34;:&#34;&#34;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Most_Liked.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="1" SelectedPropertiesJson="[&#34;PublishingImage&#34;,&#34;PictureURL&#34;,&#34;PictureThumbnailURL&#34;,&#34;Path&#34;,&#34;Title&#34;,&#34;Description&#34;,&#34;LikesCount&#34;,&#34;SecondaryFileExtension&#34;,&#34;ContentTypeId&#34;]" HitHighlightedPropertiesJson="[&#34;Title&#34;,&#34;Path&#34;,&#34;Author&#34;,&#34;SectionNames&#34;,&#34;SiteDescription&#34;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Most Liked" FrameType="None" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_05522626_5484_4312_80da_58a241f23614" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{05522626-5484-4312-80da-58a241f23614}" WebPart="true" Height="" Width="">-->
                                <!--ME:</spsswc:ContentBySearchWebPart>-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowdelete="false" style=""><div style="display: none;"></div><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_csr"><ul class="cbs-List"><li><div><div><div id="cswp-footer-header">Most Liked</div></div><div id="cswp-footer-img"><a class="cbs-pictureImgLink" href="http://sp2013-ddev-8.dmz.viacom.com:8081/benefits/Pages/Video-Article.aspx" title="Video Article" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_csr1_picture3Lines_pictureLink"><span class="cbs-noImageContainer ms-fillBoxFull" title="Sorry, we can't find an image for this item."><span class="cbs-noImageContainer-Row"></span><span class="ms-tableRow"><span class="cbs-noImageContainer-Cell"></span><span class="cbs-noImageContainer-ContentWrapperSmall"><span class="cbs-noImageContainer-ContentSmall">?</span></span><span class="cbs-noImageContainer-Cell"></span></span><span class="cbs-noImageContainer-Row"></span></span></a></div><div id="cswp-footer-number">1 Likes</div><div id="cswp-footer-title"><a class="cbs-picture3LinesLine1Link" href="http://sp2013-ddev-8.dmz.viacom.com:8081/benefits/Pages/Video-Article.aspx" title="Video Article" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_csr1_picture3Lines_line1Link"><span>Video Article</span></a></div></div></li></ul></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614"><div class="display-none"><div class="ms-webpart-chrome-title" id="WebPartWPQ2_ChromeTitle"><span title="" id="WebPartTitleWPQ2" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText"><nobr><span></span><span id="WebPartCaptionWPQ2"></span></nobr></h2></span></div><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ2" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_ctl00_csr" id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_ctl00_csr"><div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div></div><noscript>&lt;div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript><div id="ctl00_ctl00_PlaceHolderMain_ComponentMain_ComponentPropertyGrids_g_05522626_5484_4312_80da_58a241f23614_ctl00"></div><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                <!--CE: End Content Search Snippet-->
                            </p>
                        </div>
                        <div id="FooterSocial2" class="footer-most-shared">
                            <p>
                                <div style="margin-top: 40px;">
                                    <div id="cswp-footer-header">Most Shared
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <!--CS: Start Content Query Snippet-->
                                    <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                    <!--SPM:<%@Register Tagprefix="a08fba8b1"  Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                                    <!--MS:<a08fba8b1:ContentByQueryWebPart runat="server" ItemStyle="MostShared" GroupStyle="DefaultHeader" WebUrl="~sitecollection/" ListGuid="" ListName="Most Shared" FilterField1="Created" Filter1ChainingOperator="Or" Filter2ChainingOperator="Or" FilterOperator1="Geq" FilterDisplayValue1="-30" FilterValue1="-30" FilterType1="DateTime" Filter1IsCustomValue="True" DataMappingViewFields="{fa564e0f-0c70-4ab9-b863-0177e6ddd247},Text;{869f2131-3d48-4427-9937-d846f759eb89},Text;{009590b1-6d02-4c59-add0-5a79ed6a8444},Text;{b389b779-9558-40ad-8c40-c65ad34acb7c},Number;" GroupByDirection="Desc" SortBy="Shares" SortByFieldType="Number" SortByDirection="Desc" ItemLimit="1" DataMappings="DiscountContactInfo:|NewWindow:|Description:|LinkUrl:|ThumbnailImage:{009590b1-6d02-4c59-add0-5a79ed6a8444},ThumbnailImage,Text;|Link:|Shares:{b389b779-9558-40ad-8c40-c65ad34acb7c},Shares,Number;|Description1:|EventDate:|ImageUrl:|Title:{fa564e0f-0c70-4ab9-b863-0177e6ddd247},Title,Text;|DiscountWebsite:|CTAlink1:|CTAlink2:|Url:{869f2131-3d48-4427-9937-d846f759eb89},Url,Text;|Linktoform:|DiscountCode:|Body:|" ServerTemplate="10013" UseCopyUtil="True" ShowUntargetedItems="False" EnableOriginalValue="False" ViewFlag="0" ViewContentTypeId="" ListId="00000000-0000-0000-0000-000000000000" PageSize="-1" UseSQLDataSourcePaging="True" DataSourceID="" ShowWithSampleData="False" AsyncRefresh="False" ManualRefresh="False" AutoRefresh="False" AutoRefreshInterval="60" InitialAsyncDataFetch="False" Title="&#60;%$Resources:cmscore,ContentQueryWebPart_Title%&#62;" FrameType="None" SuppressWebPartChrome="False" Description="&#60;%$Resources:cmscore,ContentQueryWebPart_Description%&#62;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:cmscore,WebPartImportError%&#62;" ImportErrorMessage="&#60;%$Resources:cmscore,WebPartImportError%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_9669ca1a_26b4_4a3f_aa41_70e2169e31d2" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{9669ca1a-26b4-4a3f-aa41-70e2169e31d2}" WebPart="true" Height="" Width="">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartg_9669ca1a_26b4_4a3f_aa41_70e2169e31d2" width="100%" class="ms-WPBody noindex " OnlyForMePart="true" allowDelete="false" style=""><div id="WebPartContent"><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartg_9669ca1a_26b4_4a3f_aa41_70e2169e31d2" width="100%" class="ms-WPBody noindex " OnlyForMePart="true" allowDelete="false" style=""><div id="cbqwpg_9669ca1a_26b4_4a3f_aa41_70e2169e31d2" class="cbq-layout-main"><ul class="dfwp-column dfwp-list" style="width:100%"><li class="dfwp-item"><div class="groupheader item medium">Group Header</div><ul class="dfwp-list"><li class="dfwp-item"><div class="item"><div class="link-item"><a href="" target="_self">Item 1</a><div class="description"></div></div></div></li><li class="dfwp-item"><div class="item"><div class="link-item"><a href="" target="_self">Item 2</a><div class="description"></div></div></div></li><li class="dfwp-item"><div class="item"><div class="link-item"><a href="" target="_self">Item 3</a><div class="description"></div></div></div></li></ul></li></ul></div><link rel="stylesheet" type="text/css" href="http://sp2013-dev-4:9676/Style%20Library/en-US/Themable/Core%20Styles/controls15.css" /><div class="ms-clear"></div></div></div></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--MS:<Xsl>-->
                                            <!--MS:<xsl:stylesheet xmlns:x="http://www.w3.org/2001/XMLSchema" version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:cmswrt="http://schemas.microsoft.com/WebPart/v3/Publishing/runtime" exclude-result-prefixes="xsl cmswrt x">-->
                                                <!--MS:<xsl:import href="/Style Library/XSL Style Sheets/Header.xsl">-->
                                                <!--ME:</xsl:import>-->
                                                <!--MS:<xsl:import href="/Style Library/XSL Style Sheets/ItemStyle.xsl">-->
                                                <!--ME:</xsl:import>-->
                                                <!--MS:<xsl:import href="/Style Library/XSL Style Sheets/ContentQueryMain.xsl">-->
                                                <!--ME:</xsl:import>-->
                                            <!--ME:</xsl:stylesheet>-->
                                        <!--ME:</Xsl>-->
                                        <!--MS:<SampleData>-->
                                            <!--MS:<dsQueryResponse>-->
                                                <!--MS:<Rows>-->
                                                    <!--MS:<Row Title="Item 1" LinkUrl="http://Item1" Group="Group Header" __begincolumn="True" __begingroup="True">-->
                                                    <!--ME:</Row>-->
                                                    <!--MS:<Row Title="Item 2" LinkUrl="http://Item2" __begincolumn="False" __begingroup="False">-->
                                                    <!--ME:</Row>-->
                                                    <!--MS:<Row Title="Item 3" LinkUrl="http://Item3" __begincolumn="False" __begingroup="False">-->
                                                    <!--ME:</Row>-->
                                                <!--ME:</Rows>-->
                                            <!--ME:</dsQueryResponse>-->
                                        <!--ME:</SampleData>-->
                                        <!--MS:<DataFields>-->
                                        <!--ME:</DataFields>-->
                                    <!--ME:</a08fba8b1:ContentByQueryWebPart>-->
                                    <!--CE: End Content Query Snippet-->
                                </div>
                                <!--SPM:<SharePoint:ScriptLink ID="ScriptLink16" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/scrollto.js" OnDemand="false" runat="server" Localizable="false"/>-->
                            </p>
                        </div>
                        <!-- tagcloud webpart starts-->
                        <div id="TagCloud">
                            <div id="cswp-footer-header">Explore by #hashtags
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </div>
                            <!--CS: Start Tag Cloud Snippet-->
                            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--SPM:<%@Register Tagprefix="a6db02bfd"  Namespace="Microsoft.SharePoint.Portal.WebControls" Assembly="Microsoft.SharePoint.Portal, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                            <!--MS:<a6db02bfd:TagCloudWebPart runat="server" UserScope="UnderUrlEveryone" MaxTerms="25" TitleLocId="Null" TitleLocIdNum="0" DescriptionLocId="Null" DescriptionLocIdNum="0" Title="&#60;%$Resources:spscore,TagCloudWebPart_Title;%&#62;" FrameType="None" SuppressWebPartChrome="False" Description="&#60;%$Resources:spscore,TagCloudWebPart_Description;%&#62;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="Cannot import this Web Part." PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_cff7b63a_14d1_4a03_8caf_c918a5614b36" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{cff7b63a-14d1-4a03-8caf-c918a5614b36}" WebPart="true" Height="" Width="">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="tagCloudDatactl00_g_cff7b63a_14d1_4a03_8caf_c918a5614b36" class="ms-TagCloud ms-TagCloudLink"><span class="rank1">alligator</span><span class="spacer"></span><span class="rank2">bear</span><span class="spacer"></span><span class="rank4">cat</span><span class="spacer"></span><span class="rank5">dog</span><span class="spacer"></span><span class="rank7">elephant</span><span class="spacer"></span><span class="rank9">fox</span><span class="spacer"></span><span class="rank7">giraffe</span><span class="spacer"></span><span class="rank5">horse</span><span class="spacer"></span><span class="rank4">iguana</span><span class="spacer"></span><span class="rank2">jaguar</span><span class="spacer"></span><span class="rank1">kangaroo</span><span class="spacer"></span><span class="rank2">lion</span><span class="spacer"></span><span class="rank4">monkey</span><span class="spacer"></span><span class="rank5">nightingale</span><span class="spacer"></span><span class="rank7">ostrich</span><span class="spacer"></span><span class="rank9">pig</span><span class="spacer"></span><span class="rank7">quail</span><span class="spacer"></span><span class="rank5">rabbit</span><span class="spacer"></span><span class="rank4">shark</span><span class="spacer"></span><span class="rank2">tiger</span><span class="spacer"></span><span class="rank1">vulture</span><span class="spacer"></span><span class="rank2">wolf</span><span class="spacer"></span><span class="rank4">yak</span><span class="spacer"></span><span class="rank5">zebra</span></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</a6db02bfd:TagCloudWebPart>-->
                            <!--CE: End Tag Cloud Snippet-->
                        </div>
                        <!-- tagcloud webpart ends-->
                    </div>
                    <!-- Footer 2nd row ends -->
                </footer>
                <!-- FooterAreaWrapper end -->
                <!-- FooterAreaWrapper2 starts -->
                <div id="FooterAreaWrapper2">
                    <!-- Footer 3rd row starts -->
                    <div id="FooterRow3" class="section group">
                        <a title="bet" href="http://www.bet.com/" target="_blank" class="footer-bet sprite-new">
                            <!--<img alt="bet" src="/SiteCollectionImages/footer/bet.png"/>-->
                        </a>
                        <a title="Channel 5" href="http://www.channel5.com/" target="_blank" class="footer-5 sprite-new">
                        </a>
                        <a title="cmt" href="http://www.cmt.com/" target="_blank" class="footer-cmt sprite-new">
                            <!--<img alt="cmt" src="/SiteCollectionImages/footer/cmt.png"/>-->
                        </a>
                        <a title="Colors" href="http://www.viacom18.com/" target="_blank" class="footer-colors sprite-new">
                        </a>
                        <a title="comedy central" href="http://www.comedycentral.com/" target="_blank" class="footer-cc sprite-new">
                            <!--<img alt="comedy central" src="/SiteCollectionImages/footer/cc.png"/>-->
                        </a>
                        <a title="mtv" href="http://www.mtv.com/" target="_blank" class="footer-mtv sprite-new">
                            <!--<img alt="mtv" src="/SiteCollectionImages/footer/mtv.png"/>-->
                        </a>
                        <a title="nickelodeon" href="http://www.nickelodeon.com/" target="_blank" class="footer-nickelodeon sprite-new">
                            <!--<img alt="nickelodeon" src="/SiteCollectionImages/footer/nickelodeon.png"/>-->
                        </a>
                        <a title="paramount" href="http://www.paramount.com/" target="_blank" class="footer-paramount sprite-new">
                            <!--<img alt="paramount" src="/SiteCollectionImages/footer/paramount.png"/>-->
                        </a>
                        <a title="spike" href="http://www.spike.com/" target="_blank" class="footer-spike sprite-new">
                            <!--<img alt="spike" src="/SiteCollectionImages/footer/spike.png"/>-->
                        </a>
                        <a title="Telefe" href="http://telefe.com/" target="_blank" class="footer-telefe sprite-new">
                        </a>
                        <a title="tvland" href="http://www.tvland.com/" target="_blank" class="footer-tvland sprite-new">
                            <!--<img alt="tvland" src="/SiteCollectionImages/footer/tvland.png"/>-->
                        </a>
                        <a title="vh1" href="http://www.vh1.com/" target="_blank" class="footer-vh1 sprite-new">
                            <!--<img alt="vh1" src="/SiteCollectionImages/footer/vh1.png"/>-->
                        </a>
                    </div>
                    <!-- Footer 3rd row ends -->
                    <!-- Footer 4th row starts -->
                    <div id="FooterRow4" class="section group">
                        <h6>Read our intranet 
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <a href="../../pages/community-guidelines.aspx" title="Community Guidelines" target="_blank">community guidelines
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </a>










.                                                                                                                                                                                                                                                                                                                                                                                                                        </h6>
                        <!--h7>Any required small print to go here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada.                        
                        </h7-->
                    </div>
                    <!-- Footer 4th row ends -->
                </div>
                <!-- iFrame for Ask a Question-->
                <div id="iFrameForAsk-a-Question">
                </div>
                <!-- FooterAreaWrapper2 ends -->
            </div>
        </div>
        <div data-name="SecurityTrimmedAdministrators">
            <!--CS: Start Security Trim Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" Permissions="FullMask ">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><span><!--PE: End of READ-ONLY PREVIEW-->
                <!-- Changes for Defect ID 473-->
                <div id="greenroom-admin-block">
                    <script type="text/javascript">//<![CDATA[
					document.getElementById("greenroom-admin-block").style.display = "block";      
					document.getElementById("globalNavBox").style.display = "block";                                   
                    $(document).ready(function(){
						$(".greenroom-admin-block").each(function(){
							$(this).css("display","block");
						});
					});
<!-- addresses issue on MAC for trusted sites -->

        function ProcessImn() 
{ };
function ProcessImnMarkers()
{ };                   
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    //]]>
                    </script>
                </div>
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--></span><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
            <!--CE: End Security Trim Snippet-->
        </div>
        <div data-name="EditModePanelShowInEdit">
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
                <div class="DefaultContentBlock">
                    <link href="konda/css/edit-mode-panel.css" rel="stylesheet" type="text/css" />
                    <style>//<![CDATA[
.ms-core-webpartadder{top:126px !important;}
#DeltaWebPartAdderUpdatePanelContainer{position:unset;top:125px;}
#WebPartAdderUpdatePanelContainer{position:relative !important;}
.ms-wpadder-descriptionArea{width:350px;}
#landing-page.container{margin-top:230px !important; position:relative !important;}
#greenroom-landing-page-content{overflow:scroll;}
		
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    //]]>
                    </style>
                </div>
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><!--PE: End of READ-ONLY PREVIEW-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        </div>
    </body>
</html>
