<%-- SPG:

This HTML file has been associated with a SharePoint Master Page (.master file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .master file, and any rename, move, or deletion operations will be reciprocated.

To build the master page directly from this HTML file, simply edit the page as you normally would.  Use the Snippet Generator at http://sp2013-ddev-8.dmz.viacom.com:8081/sites/Asia/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Fsp2013%2Dddev%2D8%2Edmz%2Eviacom%2Ecom%3A8081%2Fsites%2FAsia%2F%5Fcatalogs%2Fmasterpage%2FMaster%2Emaster to create and customize useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file will automatically sync to the associated Master Page.

 --%>
<%@Master language="C#"%>
<%@Register TagPrefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>
<%@Register TagPrefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>
<%@Register TagPrefix="wssucmui" TagName="MUISelector" Src="~/_controltemplates/15/MUISelector.ascx"%>
<%@Register TagPrefix="wssucw" TagName="Welcome" Src="~/_controltemplates/15/Welcome.ascx"%>
<%@Register TagPrefix="PublishingRibbon" TagName="PublishingRibbon" Src="~/_controltemplates/15/Ribbon.ascx"%>
<%@Register TagPrefix="spsswc" Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@Register TagPrefix="a2e8ead9d" Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@Register TagPrefix="a08fba8b1" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@Register TagPrefix="a6db02bfd" Namespace="Microsoft.SharePoint.Portal.WebControls" Assembly="Microsoft.SharePoint.Portal, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@Register TagPrefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>
<!DOCTYPE html >
<SharePoint:SPHtmlTag runat="server" id="SPHtmlTag" dir="&lt;%$Resources:wss,multipages_direction_dir_value%&gt;">
    <head runat="server">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        
        
        
        
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <SharePoint:RobotsMetaTag runat="server" />
        <SharePoint:PageTitle runat="server">
            <asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">
            <SharePoint:ProjectProperty Property="Title" runat="server" />
            </asp:ContentPlaceHolder>
        </SharePoint:PageTitle>
        <SharePoint:StartScript runat="server" />
        <SharePoint:CssLink runat="server" Version="15">
            
        </SharePoint:CssLink>
        <SharePoint:CacheManifestLink runat="server" />
        <SharePoint:PageRenderMode runat="server" RenderModeType="Standard" />
        <SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink name="SP.UserProfiles.js" runat="server" ondemand="false" localizable="false" loadafterui="true" />
        <SharePoint:ScriptLink ID="ScriptLink2" name="scriptforwebtaggingui.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink1" name="sp.taxonomy.js" OnDemand="true" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink3" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-1.10.2.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink4" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery-ui.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink5" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/unslider.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink6" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/UserProfilePanel.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink7" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/NewQuickLinks.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLinkR1" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/bootstrap.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLinkR2" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/owl.carousel.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink8" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Master.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink9" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/knockout-3.0.0.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink10" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/knockout-sortable.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink11" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Utility.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink12" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Galleria/galleria-1.3.5.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink13" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/Galleria/themes/classic/galleria.classic.min.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink14" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/jquery.SPServices-2013.01.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:ScriptLink ID="ScriptLink15" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/SitesFollowed.js" OnDemand="false" runat="server" Localizable="false" />
        <SharePoint:SPShortcutIcon runat="server" IconUrl="/sites/Asia/sitecollectionimages/ico/favicon.ico" />
        <SharePoint:CustomJSUrl runat="server" />
        <SharePoint:SoapDiscoveryLink runat="server">
            
        </SharePoint:SoapDiscoveryLink>
        <SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">
            <asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">
            </asp:ContentPlaceHolder>
            <SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">
            </SharePoint:DelegateControl>
            <asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">
            </asp:ContentPlaceHolder>
        </SharePoint:AjaxDelta>
        <SharePoint:CssRegistration Name="Themable/corev15.css" runat="server" />
        <SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">
        <WebPartPages:SPWebPartManager runat="server" />
        </SharePoint:AjaxDelta>
        
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/sites/Asia/sitecollectionimages/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/sites/Asia/sitecollectionimages/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/sites/Asia/sitecollectionimages/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/sites/Asia/sitecollectionimages/ico/apple-touch-icon-57-precomposed.png" />
        
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/bootstrap.min.css %&gt;" runat="server" after="SharepointCssFile" />
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/Master.css %&gt;" runat="server" after="SharepointCssFile" />
        <script type="text/javascript">//<![CDATA[
			 KALEO_WIDGET_HOST = "https://viacom.kaleosoftware.com";
			 KALEO_WIDGET_TOKEN = "026df204-3b38-4c54-88d6-c7e5b55981f8";
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //]]></script>
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/scripts/js/Galleria/themes/classic/galleria.classic.css %&gt;" runat="server" after="SharepointCssFile" />
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/owl.carousel.min.css %&gt;" runat="server" after="SharepointCssFile" />
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/owl.theme.css %&gt;" runat="server" after="SharepointCssFile" />
        <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/responsive.css %&gt;" runat="server" after="SharepointCssFile" />
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <script type="text/javascript">//<![CDATA[
<!-- Google Analytics start -->                    
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62980038-1', 'auto');
  ga('send', 'pageview');
<!-- Google Analytics end -->  
                    
                    
        
        
        
        
        
        
        
        
        
        
        
        //]]></script>
        
        
        
        
        
        
        
    </head>
    <body onhashchange="if (typeof(_spBodyOnHashChange) != 'undefined') _spBodyOnHashChange();"><SharePoint:SPClientIDGenerator runat="server" ServerControlID="DeltaPlaceHolderMain;DeltaPlaceHolderPageTitleInTitleArea;DeltaPlaceHolderUtilityContent" /><SharePoint:ImageLink runat="server" /><SharePoint:SharePointForm onsubmit="if (typeof(_spFormOnSubmitWrapper) != 'undefined') {return _spFormOnSubmitWrapper();} else {return true;}" runat="server"><asp:ScriptManager id="ScriptManager" runat="server" EnablePageMethods="false" EnablePartialRendering="true" EnableScriptGlobalization="false" EnableScriptLocalization="true" />
        <div id="kw-widget" class="kw-container" data-iframe-src="https://viacom.kaleosoftware.com/v4/boards" style="display:none;">
        </div>
        <div id="greenroom-ribbon-container">
            <div class="container">
                <div id="ms-designer-ribbon">
                    
                    <div id="TurnOnAccessibility" style="display:none" class="s4-notdlg noindex">
                        <a id="linkTurnOnAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
                            <SharePoint:EncodedLiteral runat="server" text="&lt;%$Resources:wss,master_turnonaccessibility%&gt;" EncodeMethod="HtmlEncode">
                            </SharePoint:EncodedLiteral>
                        </a>
                    </div>
                    <div id="TurnOffAccessibility" style="display:none" class="s4-notdlg noindex">
                        <a id="linkTurnOffAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
                            <SharePoint:EncodedLiteral runat="server" text="&lt;%$Resources:wss,master_turnoffaccessibility%&gt;" EncodeMethod="HtmlEncode">
                            </SharePoint:EncodedLiteral>
                        </a>
                    </div>
                    <PublishingRibbon:PublishingRibbon runat="server" />
                    
                </div>
            </div>
        </div>
        <SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">
            <wssucw:Welcome runat="server" EnableViewState="false" />
        </SharePoint:SPSecurityTrimmedControl>
        <div id="s4-workspace">
            <div id="greenroom-header-container container">
                <!--<div id="WelcomeBar">
	        	</div>-->
                <div id="TopBar" class="ms-emphasis">
                    <div id="TopBarContent" class="content container">
                        <div id="NavBarContainer">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation
                                        
                                        
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                        <span class="icon-bar">
                                        </span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <div data-name="TopNavigationNoFlyoutWithStartNode">
                                        
                                        
                                        <SharePoint:AjaxDelta ID="DeltaTopNavigation" BlockElement="true" CssClass="ms-displayInline ms-core-navigation ms-dialogHidden" runat="server">
                                            
                                            <SharePoint:DelegateControl runat="server" ControlId="TopNavigationDataSource" Id="topNavigationDelegate">
                                                
                                                <Template_Controls>
                                                    <asp:SiteMapDataSource ShowStartingNode="True" SiteMapProvider="SPNavigationProvider" ID="topSiteMap" runat="server" StartingNodeUrl="sid:1002">
                                                    </asp:SiteMapDataSource>
                                                </Template_Controls>
                                            </SharePoint:DelegateControl>
                                            <a name="startNavigation">
                                            </a>
                                            <asp:ContentPlaceHolder ID="PlaceHolderTopNavBar" runat="server">
                                                <SharePoint:AspMenu ID="TopNavigationMenu" runat="server" EnableViewState="false" DataSourceID="topSiteMap" AccessKey="&lt;%$Resources:wss,navigation_accesskey%&gt;" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="2" AdjustForShowStartingNode="false" MaximumDynamicDisplayLevels="3" SkipLinkText="">
                                                    
                                                </SharePoint:AspMenu>
                                            </asp:ContentPlaceHolder>
                                            
                                        </SharePoint:AjaxDelta>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- search modified 1/16/12 start -->
                        <div id="SerachBoxConatiner">
                            <span class="search-button">
                            </span>
                            <div id="searchInputBox">
                                <SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox" />
                                
                            </div>
                        </div>
                        <!-- search modified 1/16/12 end -->
                        <div id="QuickLinks">
                            <a class="aQuicklink" href="javascript:hideshowQuickLinksPanel();">Quick Links 
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <span class="sprite-new quick-sprite">
                                </span>
                            </a>
                        </div>
                        <a href="#" class="quick-link-responsive">
                            <span class="sprite-new quick-sprite">
                            </span>
                        </a>
                        <a class="askQuestion askQuestion-responsive" href="#">
                            <small class="greenroom-topnav-icon-kaleo askQuestion sprite-new">
                            </small>
                        </a>
                    </div>
                </div>
            </div>
            <div id="QuickLinksPlaceholder" style="display:none" class="container">
                <div id="QuickLinksContainer" class="content">
                    <h3>Quick Links
                        <span>|
                        
                        
                        
                        
                        
                        
                        </span>
                    </h3>
                    <ul class="QuickLinksContainer">
                    </ul>
                    <div id="QuickLinksDropdown" class="quick-dropdown">
                        <span class="toggle-btn">
                            <small>
                            </small>
                            <small>
                            </small>
                            <small>
                            </small>
                        </span>
                        <ul class="QuickLinksDropdown">
                        </ul>
                    </div>
                    <!--<div id="QuickLinksSection">
                            <div style="padding:0 0 15px 15px;font-weight:600">QUICK LINKS
                            
                            
                            
                            
                            
                            
                            </div>
                            <div>
                                <div data-bind="if: _isExternal() == false">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed internally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div style="float:left;width: 70px;text-align:center">
                                                <div data-bind="with : BackgroundImageLocation ">
                                                    <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                                </div>
                                                <div data-bind="with : LinkLocation" style="float:left">
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                        <a data-bind="attr:{href: Url }">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                        <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                        <a data-bind="attr:{href: Url }" target="_blank">
                                                            <span data-bind="text: $parent.Title ">
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="if: _isExternal() == true">
                                    <span style="color:red;font-size:x-small;display:none"> Accessed externally
                                    
                                    
                                    
                                    
                                    
                                    
                                    </span>
                                    <div data-bind="foreach: _myfollowedContent" class="pnl-quick-links">
                                        <div data-bind="if: IsVisible" class="item-quick-link">
                                            <div data-bind="with : BackgroundImageLocation ">
                                                <img class="logo-quick-link" data-bind="attr:{src: Url+'?RenditionID=5' }"/>
                                            </div>
                                            <div data-bind="with : ExternalLink ">
                                                <div data-bind="if: $parent.LaunchBehavior() === 'In page navigation'">
                                                    <a data-bind="attr:{href: Url }">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                                <div data-bind="if: $parent.LaunchBehavior() === 'New tab'">
                                                    <img src="../../SiteAssets/RufusImages/1384915831_external_link.png" height="10px" width="10px"/>
                                                    <a data-bind="attr:{href: Url }" target="_blank">
                                                        <span data-bind="text: $parent.Title ">
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-separator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-edit-quick-links" style="display:none">
                                    <div class="pnl-edit-quick-links">
                                        <div data-bind="sortable: _myfollowedContent">
                                            <div class="item-edit-quick-link" data-bind="css: { itemeditquicklink : IsVisible }">
                                                <div data-bind="if: IsVisible">
                                                    <img src="../../SiteAssets/QuickLinksPanel/1383703094_Black_Remove.png" data-bind="click: $root.remove"/>
                                                </div>
                                                <span data-bind="visible: !$root.isTaskSelected($data)">
                                                    <span href="#" data-bind="text: Title, click: $root.selectedTask">
                                                    </span>
                                                </span>
                                                <span data-bind="visibleAndSelect: $root.isTaskSelected($data)">
                                                    <input data-bind="value: Title, event: { blur: $root.clearTask }"/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: addTask">SAVE
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links" data-bind="click: Cancel">CANCEL
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-internal-link" data-bind="click: AddLink ">ADD LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div class="save-edit-quick-links save-external-link" data-bind="click: AddLinkExternal ">ADD EXTERNAL LINK
				                        
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                </div>
                                <script>//<![CDATA[
		                               var oTaskListViewModel = new TaskListViewModel();
		                               oTaskListViewModel._funcFillQuickLinks();
		                               ko.applyBindings( oTaskListViewModel );
		                               
		                                
		                    
                                
                                
                                
                                
                                
                                
                                //]]></script>
                            </div>
                        </div>-->
                </div>
                <div id="homepage-recommendedLinks">
                    <div class="RecomendedLinks-homepage" id="customized-intranet-quickLinks">
                        <h3>Custom Links
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <ul class="customized-intranet-quickLinks">
                        </ul>
                        <div id="CustomLinksDropdown" class="quick-dropdown">
                            <span class="toggle-btn">
                                <small>
                                </small>
                                <small>
                                </small>
                                <small>
                                </small>
                            </span>
                            <ul class="CustomLinksDropdown">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="workspace-links">
                    <div class="workspace-links-homepage">
                        <h3>WORKPLACE
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </h3>
                        <div class="workspace-links-quickLinks">
                            <a href="#">
                                <img src="/SiteCollectionImages/QLs/workspace.png" class="workspace-logo" />
                                <img src="/SiteCollectionImages/QLs/workspace-roll.png" class="workspace-logo-roll" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Changes for Defect ID 357-->
                <div id="BreadCrumbNavigation">
                    <asp:SiteMapPath runat="server" SiteMapProviders="CurrentNavSiteMapProviderNoEncode" RenderCurrentNodeAsLink="true" PathSeparator="&gt; " CssClass="ms-nav-breadcrumb" NodeStyle-CssClass="ms-nav-breadcrumbNode" CurrentNodeStyle-CssClass="ms-nav-breadcrumbCurrentNode" RootNodeStyle-CssClass="ms-nav-breadcrumbRootNode" HideInteriorRootNodes="true" SkipLinkText="" />
                </div>
            </div>
            <div id="Banner">
                <div data-name="SiteLogo">
                    
                    
                    <SharePoint:AjaxDelta BlockElement="true" runat="server">
                        
                        <SharePoint:SiteLogoImage CssClass="ms-siteicon-img" name="onetidHeadbnnr0" ID="xa7a0cbf69b8a46789492101b7bfb9e9b" LogoImageUrl="/SiteCollectionImages/subsite-banners/banner_company.jpg" runat="server">
                            
                        </SharePoint:SiteLogoImage>
                        
                    </SharePoint:AjaxDelta>
                    
                </div>
            </div>
            <div id="s4-bodyContainer">
                <div id="MainPlaceHolder" class="content">
                    
                    
                    <SharePoint:AjaxDelta id="DeltaPlaceHolderMain" IsMainContent="true" runat="server">
                        <asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">
                            <div class="DefaultContentBlock" style=" background:lime;">
                                This area will be filled in by content you create in your page layouts.
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </div>
                        </asp:ContentPlaceHolder>
                    </SharePoint:AjaxDelta>
                    
                </div>
                <!-- FooterAreaWrapper starts -->
                <footer id="FooterAreaWrapper">
                    <!-- Footer 1st row starts -->
                    <div id="FooterRow1" class="section group">
                        <div>
                            <div id="FooterSocial1">
                                <a title="facebook" href="http://www.facebook.com/viacom" target="_blank" class="footer-fb sprite-new">
                                    <!--<img alt="facebook" src="../../SiteCollectionImages/footer/facebook.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="twitter" href="https://twitter.com/Viacom" target="_blank" class="footer-twitter sprite-new">
                                    <!--<img alt="twitter" src="../../SiteCollectionImages/footer/twitter.png"/>-->
                                </a>
                            </div>
                            <div id="FooterSocial1">
                                <a title="instagram" href="http://instagram.com/viacominc" target="_blank" class="footer-instagram sprite-new">
                                    <!--<img alt="instagram" src="../../SiteCollectionImages/footer/instagram.png"/>-->
                                </a>
                            </div>
                        </div>
                        <a href="#startNavigation">
                            <div id="back-to-top-container">
                                <div id="back-to-top-text">BACK TO TOP
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                </div>
                                <div id="back-to-top-caret">
                                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="back-to-top-btn">
                            <div id="back-to-top-text">BACK TO TOP
                                                              
                                
                            
                            
                            </div>
                            <div id="back-to-top-caret">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Footer 1st row ends -->
                    <!-- Footer 2nd row starts -->
                    <div id="FooterRow2" class="section group">
                        <div id="FooterPopularText">
                            <h2>Most popular in the last 30 days
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </h2>
                        </div>
                        <div id="FooterSocial2" class="footer-most-visited">
                            <div id="cswp-footer-header" class="visible-xs-block">Most Visited
                            </div>
                            <p>
                                <!--Most Visited-->
                                
                                
                                
                                <spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="2" PropertyMappings="Picture URL{Picture URL}:PublishingImage;PictureURL;PictureThumbnailURL,Link URL{Link URL}:Path,Line 1{Line 1}:Title,Line 2{Line 2}:Description,Line 3{Line 3}:ViewsLifeTimeUniqueUsers,SecondaryFileExtension,ContentTypeId" DataProviderJSON="{&quot;QueryGroupName&quot;:&quot;Default&quot;,&quot;QueryPropertiesTemplateUrl&quot;:&quot;sitesearch://webroot&quot;,&quot;IgnoreQueryPropertiesTemplateUrl&quot;:false,&quot;SourceID&quot;:&quot;8413cd39-2156-4e00-b54d-11efd9abdb89&quot;,&quot;SourceName&quot;:&quot;Local SharePoint Results&quot;,&quot;SourceLevel&quot;:&quot;Ssa&quot;,&quot;CollapseSpecification&quot;:&quot;&quot;,&quot;QueryTemplate&quot;:&quot;(Path:{SiteCollection.URL} Created&gt;{Today-30})(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880707005AAD9A5CD6374B69A585D72876AB2E5C*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880705005D67EAD78D4848A893C8C74D96F9FFB6*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880704007A4FD4C594D745339AC598DE8F02439B*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C38807030033684AA63B76430AB6443584AB26F35B*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C388070200B29BCD8A584642D18FB2C094FCCA16DD*)OR(ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00D82A09EDFC42AA4FBA3089B892E0C3880706000D20DB6E70A24D3A9BD8F7140C17EAE6*)&quot;,&quot;FallbackSort&quot;:[{&quot;p&quot;:&quot;ViewsLifeTimeUniqueUsers&quot;,&quot;d&quot;:1}],&quot;FallbackSortJson&quot;:&quot;[{\&quot;p\&quot;:\&quot;ViewsLifeTimeUniqueUsers\&quot;,\&quot;d\&quot;:1}]&quot;,&quot;RankRules&quot;:null,&quot;RankRulesJson&quot;:&quot;null&quot;,&quot;AsynchronousResultRetrieval&quot;:false,&quot;SendContentBeforeQuery&quot;:true,&quot;BatchClientQuery&quot;:true,&quot;FallbackLanguage&quot;:-1,&quot;FallbackRankingModelID&quot;:&quot;&quot;,&quot;EnableStemming&quot;:true,&quot;EnablePhonetic&quot;:false,&quot;EnableNicknames&quot;:false,&quot;EnableInterleaving&quot;:false,&quot;EnableQueryRules&quot;:true,&quot;EnableOrderingHitHighlightedProperty&quot;:false,&quot;HitHighlightedMultivaluePropertyLimit&quot;:-1,&quot;IgnoreContextualScope&quot;:true,&quot;ScopeResultsToCurrentSite&quot;:false,&quot;TrimDuplicates&quot;:false,&quot;Properties&quot;:{&quot;TryCache&quot;:true,&quot;Scope&quot;:&quot;{Site.URL}&quot;,&quot;ListId&quot;:&quot;00000000-0000-0000-0000-000000000000&quot;,&quot;UpdateLinksForCatalogItems&quot;:true,&quot;EnableStacking&quot;:true},&quot;PropertiesJson&quot;:&quot;{\&quot;TryCache\&quot;:true,\&quot;Scope\&quot;:\&quot;{Site.URL}\&quot;,\&quot;ListId\&quot;:\&quot;00000000-0000-0000-0000-000000000000\&quot;,\&quot;UpdateLinksForCatalogItems\&quot;:true,\&quot;EnableStacking\&quot;:true}&quot;,&quot;ClientType&quot;:&quot;ContentSearchRegular&quot;,&quot;UpdateAjaxNavigate&quot;:true,&quot;SummaryLength&quot;:180,&quot;DesiredSnippetLength&quot;:90,&quot;PersonalizedQuery&quot;:false,&quot;FallbackRefinementFilters&quot;:null,&quot;IgnoreStaleServerQuery&quot;:false,&quot;RenderTemplateId&quot;:&quot;DefaultDataProvider&quot;,&quot;AlternateErrorMessage&quot;:null,&quot;Title&quot;:&quot;&quot;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Most_Viewed.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="2" SelectedPropertiesJson="[&quot;PublishingImage&quot;,&quot;PictureURL&quot;,&quot;PictureThumbnailURL&quot;,&quot;Path&quot;,&quot;Title&quot;,&quot;Description&quot;,&quot;ViewsLifeTimeUniqueUsers&quot;,&quot;SecondaryFileExtension&quot;,&quot;ContentTypeId&quot;]" HitHighlightedPropertiesJson="[&quot;Title&quot;,&quot;Path&quot;,&quot;Author&quot;,&quot;SectionNames&quot;,&quot;SiteDescription&quot;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Most Visited" FrameType="None" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="" ImportErrorMessage="" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_de0d7961_8069_4be3_8ae8_be9bda9a0345" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{de0d7961-8069-4be3-8ae8-be9bda9a0345}" WebPart="true" Height="" Width="">
                                </spsswc:ContentBySearchWebPart>
                                
                                
                            </p>
                        </div>
                        <div id="FooterSocial2" class="footer-most-liked">
                            <div id="cswp-footer-header" class="visible-xs-block">Most Liked
                            </div>
                            <p>
                                <!--Most Liked-->
                                
                                
                                
                                <spsswc:ContentBySearchWebPart runat="server" AlwaysRenderOnServer="False" ResultType="" NumberOfItems="1" PropertyMappings="Picture URL{Picture URL}:PublishingImage;PictureURL;PictureThumbnailURL,Link URL{Link URL}:Path,Line 1{Line 1}:Title,Line 2{Line 2}:Description,Line 3{Line 3}:LikesCount,SecondaryFileExtension,ContentTypeId" DataProviderJSON="{&quot;QueryGroupName&quot;:&quot;Default&quot;,&quot;QueryPropertiesTemplateUrl&quot;:&quot;sitesearch://webroot&quot;,&quot;IgnoreQueryPropertiesTemplateUrl&quot;:false,&quot;SourceID&quot;:&quot;8413cd39-2156-4e00-b54d-11efd9abdb89&quot;,&quot;SourceName&quot;:&quot;Local SharePoint Results&quot;,&quot;SourceLevel&quot;:&quot;Ssa&quot;,&quot;CollapseSpecification&quot;:&quot;&quot;,&quot;QueryTemplate&quot;:&quot;Path:{SiteCollection.URL}  ContentTypeId:0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF39* Created&gt;{Today-30} &quot;,&quot;FallbackSort&quot;:[{&quot;p&quot;:&quot;LikesCount&quot;,&quot;d&quot;:1}],&quot;FallbackSortJson&quot;:&quot;[{\&quot;p\&quot;:\&quot;LikesCount\&quot;,\&quot;d\&quot;:1}]&quot;,&quot;RankRules&quot;:null,&quot;RankRulesJson&quot;:&quot;null&quot;,&quot;AsynchronousResultRetrieval&quot;:false,&quot;SendContentBeforeQuery&quot;:true,&quot;BatchClientQuery&quot;:true,&quot;FallbackLanguage&quot;:-1,&quot;FallbackRankingModelID&quot;:&quot;&quot;,&quot;EnableStemming&quot;:true,&quot;EnablePhonetic&quot;:false,&quot;EnableNicknames&quot;:false,&quot;EnableInterleaving&quot;:false,&quot;EnableQueryRules&quot;:true,&quot;EnableOrderingHitHighlightedProperty&quot;:false,&quot;HitHighlightedMultivaluePropertyLimit&quot;:-1,&quot;IgnoreContextualScope&quot;:true,&quot;ScopeResultsToCurrentSite&quot;:false,&quot;TrimDuplicates&quot;:false,&quot;Properties&quot;:{&quot;TryCache&quot;:true,&quot;Scope&quot;:&quot;{Site.URL}&quot;,&quot;ListId&quot;:&quot;00000000-0000-0000-0000-000000000000&quot;,&quot;UpdateLinksForCatalogItems&quot;:true,&quot;EnableStacking&quot;:true},&quot;PropertiesJson&quot;:&quot;{\&quot;TryCache\&quot;:true,\&quot;Scope\&quot;:\&quot;{Site.URL}\&quot;,\&quot;ListId\&quot;:\&quot;00000000-0000-0000-0000-000000000000\&quot;,\&quot;UpdateLinksForCatalogItems\&quot;:true,\&quot;EnableStacking\&quot;:true}&quot;,&quot;ClientType&quot;:&quot;ContentSearchRegular&quot;,&quot;UpdateAjaxNavigate&quot;:true,&quot;SummaryLength&quot;:180,&quot;DesiredSnippetLength&quot;:90,&quot;PersonalizedQuery&quot;:false,&quot;FallbackRefinementFilters&quot;:null,&quot;IgnoreStaleServerQuery&quot;:false,&quot;RenderTemplateId&quot;:&quot;DefaultDataProvider&quot;,&quot;AlternateErrorMessage&quot;:null,&quot;Title&quot;:&quot;&quot;}" BypassResultTypes="True" ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Most_Liked.js" GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js" ResultsPerPage="1" SelectedPropertiesJson="[&quot;PublishingImage&quot;,&quot;PictureURL&quot;,&quot;PictureThumbnailURL&quot;,&quot;Path&quot;,&quot;Title&quot;,&quot;Description&quot;,&quot;LikesCount&quot;,&quot;SecondaryFileExtension&quot;,&quot;ContentTypeId&quot;]" HitHighlightedPropertiesJson="[&quot;Title&quot;,&quot;Path&quot;,&quot;Author&quot;,&quot;SectionNames&quot;,&quot;SiteDescription&quot;]" AvailableSortsJson="null" ShowBestBets="False" ShowPersonalFavorites="False" ShowDefinitions="False" ShowDidYouMean="False" PreloadedItemTemplateIdsJson="null" QueryGroupName="Default" RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_List.js" StatesJson="{}" ServerIncludeScriptsJson="null" Title="Most Liked" FrameType="None" SuppressWebPartChrome="False" Description="" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&lt;%$Resources:core,ImportErrorMessage;%&gt;" ImportErrorMessage="&lt;%$Resources:core,ImportErrorMessage;%&gt;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_05522626_5484_4312_80da_58a241f23614" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{05522626-5484-4312-80da-58a241f23614}" WebPart="true" Height="" Width="">
                                </spsswc:ContentBySearchWebPart>
                                
                                
                            </p>
                        </div>
                        <div id="FooterSocial2" class="footer-most-shared">
                            <p>
                                <div style="margin-top: 40px;">
                                    <div id="cswp-footer-header">Most Shared
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    
                                    
                                    
                                    <a08fba8b1:ContentByQueryWebPart runat="server" ItemStyle="MostShared" GroupStyle="DefaultHeader" WebUrl="~sitecollection/" ListGuid="" ListName="Most Shared" FilterField1="Created" Filter1ChainingOperator="Or" Filter2ChainingOperator="Or" FilterOperator1="Geq" FilterDisplayValue1="-30" FilterValue1="-30" FilterType1="DateTime" Filter1IsCustomValue="True" DataMappingViewFields="{fa564e0f-0c70-4ab9-b863-0177e6ddd247},Text;{869f2131-3d48-4427-9937-d846f759eb89},Text;{009590b1-6d02-4c59-add0-5a79ed6a8444},Text;{b389b779-9558-40ad-8c40-c65ad34acb7c},Number;" GroupByDirection="Desc" SortBy="Shares" SortByFieldType="Number" SortByDirection="Desc" ItemLimit="1" DataMappings="DiscountContactInfo:|NewWindow:|Description:|LinkUrl:|ThumbnailImage:{009590b1-6d02-4c59-add0-5a79ed6a8444},ThumbnailImage,Text;|Link:|Shares:{b389b779-9558-40ad-8c40-c65ad34acb7c},Shares,Number;|Description1:|EventDate:|ImageUrl:|Title:{fa564e0f-0c70-4ab9-b863-0177e6ddd247},Title,Text;|DiscountWebsite:|CTAlink1:|CTAlink2:|Url:{869f2131-3d48-4427-9937-d846f759eb89},Url,Text;|Linktoform:|DiscountCode:|Body:|" ServerTemplate="10013" UseCopyUtil="True" ShowUntargetedItems="False" EnableOriginalValue="False" ViewFlag="0" ViewContentTypeId="" ListId="00000000-0000-0000-0000-000000000000" PageSize="-1" UseSQLDataSourcePaging="True" DataSourceID="" ShowWithSampleData="False" AsyncRefresh="False" ManualRefresh="False" AutoRefresh="False" AutoRefreshInterval="60" InitialAsyncDataFetch="False" Title="&lt;%$Resources:cmscore,ContentQueryWebPart_Title%&gt;" FrameType="None" SuppressWebPartChrome="False" Description="&lt;%$Resources:cmscore,ContentQueryWebPart_Description%&gt;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&lt;%$Resources:cmscore,WebPartImportError%&gt;" ImportErrorMessage="&lt;%$Resources:cmscore,WebPartImportError%&gt;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_9669ca1a_26b4_4a3f_aa41_70e2169e31d2" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{9669ca1a-26b4-4a3f-aa41-70e2169e31d2}" WebPart="true" Height="" Width="">
                                        
                                        <Xsl>
                                            <xsl:stylesheet version="1.0" exclude-result-prefixes="xsl cmswrt x">
                                                <xsl:import href="/Style Library/XSL Style Sheets/Header.xsl">
                                                </xsl:import>
                                                <xsl:import href="/Style Library/XSL Style Sheets/ItemStyle.xsl">
                                                </xsl:import>
                                                <xsl:import href="/Style Library/XSL Style Sheets/ContentQueryMain.xsl">
                                                </xsl:import>
                                            </xsl:stylesheet>
                                        </Xsl>
                                        <SampleData>
                                            <dsQueryResponse>
                                                <Rows>
                                                    <Row Title="Item 1" LinkUrl="http://Item1" Group="Group Header" __begincolumn="True" __begingroup="True">
                                                    </Row>
                                                    <Row Title="Item 2" LinkUrl="http://Item2" __begincolumn="False" __begingroup="False">
                                                    </Row>
                                                    <Row Title="Item 3" LinkUrl="http://Item3" __begincolumn="False" __begingroup="False">
                                                    </Row>
                                                </Rows>
                                            </dsQueryResponse>
                                        </SampleData>
                                        <DataFields>
                                        </DataFields>
                                    </a08fba8b1:ContentByQueryWebPart>
                                    
                                </div>
                                <SharePoint:ScriptLink ID="ScriptLink16" name="~sitecollection/_catalogs/masterpage/konda/scripts/js/scrollto.js" OnDemand="false" runat="server" Localizable="false" />
                            </p>
                        </div>
                        <!-- tagcloud webpart starts-->
                        <div id="TagCloud">
                            <div id="cswp-footer-header">Explore by #hashtags
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </div>
                            
                            
                            
                            <a6db02bfd:TagCloudWebPart runat="server" UserScope="UnderUrlEveryone" MaxTerms="25" TitleLocId="Null" TitleLocIdNum="0" DescriptionLocId="Null" DescriptionLocIdNum="0" Title="&lt;%$Resources:spscore,TagCloudWebPart_Title;%&gt;" FrameType="None" SuppressWebPartChrome="False" Description="&lt;%$Resources:spscore,TagCloudWebPart_Description;%&gt;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="Cannot import this Web Part." PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_cff7b63a_14d1_4a03_8caf_c918a5614b36" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{cff7b63a-14d1-4a03-8caf-c918a5614b36}" WebPart="true" Height="" Width="">
                                
                            </a6db02bfd:TagCloudWebPart>
                            
                        </div>
                        <!-- tagcloud webpart ends-->
                    </div>
                    <!-- Footer 2nd row ends -->
                </footer>
                <!-- FooterAreaWrapper end -->
                <!-- FooterAreaWrapper2 starts -->
                <div id="FooterAreaWrapper2">
                    <!-- Footer 3rd row starts -->
                    <div id="FooterRow3" class="section group">
                        <a title="bet" href="http://www.bet.com/" target="_blank" class="footer-bet sprite-new">
                            <!--<img alt="bet" src="/SiteCollectionImages/footer/bet.png"/>-->
                        </a>
                        <a title="Channel 5" href="http://www.channel5.com/" target="_blank" class="footer-5 sprite-new">
                        </a>
                        <a title="cmt" href="http://www.cmt.com/" target="_blank" class="footer-cmt sprite-new">
                            <!--<img alt="cmt" src="/SiteCollectionImages/footer/cmt.png"/>-->
                        </a>
                        <a title="Colors" href="http://www.viacom18.com/" target="_blank" class="footer-colors sprite-new">
                        </a>
                        <a title="comedy central" href="http://www.comedycentral.com/" target="_blank" class="footer-cc sprite-new">
                            <!--<img alt="comedy central" src="/SiteCollectionImages/footer/cc.png"/>-->
                        </a>
                        <a title="mtv" href="http://www.mtv.com/" target="_blank" class="footer-mtv sprite-new">
                            <!--<img alt="mtv" src="/SiteCollectionImages/footer/mtv.png"/>-->
                        </a>
                        <a title="nickelodeon" href="http://www.nickelodeon.com/" target="_blank" class="footer-nickelodeon sprite-new">
                            <!--<img alt="nickelodeon" src="/SiteCollectionImages/footer/nickelodeon.png"/>-->
                        </a>
                        <a title="paramount" href="http://www.paramount.com/" target="_blank" class="footer-paramount sprite-new">
                            <!--<img alt="paramount" src="/SiteCollectionImages/footer/paramount.png"/>-->
                        </a>
                        <a title="spike" href="http://www.spike.com/" target="_blank" class="footer-spike sprite-new">
                            <!--<img alt="spike" src="/SiteCollectionImages/footer/spike.png"/>-->
                        </a>
                        <a title="Telefe" href="http://telefe.com/" target="_blank" class="footer-telefe sprite-new">
                        </a>
                        <a title="tvland" href="http://www.tvland.com/" target="_blank" class="footer-tvland sprite-new">
                            <!--<img alt="tvland" src="/SiteCollectionImages/footer/tvland.png"/>-->
                        </a>
                        <a title="vh1" href="http://www.vh1.com/" target="_blank" class="footer-vh1 sprite-new">
                            <!--<img alt="vh1" src="/SiteCollectionImages/footer/vh1.png"/>-->
                        </a>
                    </div>
                    <!-- Footer 3rd row ends -->
                    <!-- Footer 4th row starts -->
                    <div id="FooterRow4" class="section group">
                        <h6>Read our intranet 
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <a href="/sites/Asia/pages/community-guidelines.aspx" title="Community Guidelines" target="_blank">community guidelines
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </a>











.                                                                                                                                                                                                                                                                                                                                                                                                                                                </h6>
                        <!--h7>Any required small print to go here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada.                        
                        </h7-->
                    </div>
                    <!-- Footer 4th row ends -->
                </div>
                <!-- iFrame for Ask a Question-->
                <div id="iFrameForAsk-a-Question">
                </div>
                <!-- FooterAreaWrapper2 ends -->
            </div>
        </div>
        <div data-name="SecurityTrimmedAdministrators">
            
            
            <SharePoint:SPSecurityTrimmedControl runat="server" Permissions="FullMask ">
                
                <!-- Changes for Defect ID 473-->
                <div id="greenroom-admin-block">
                    <script type="text/javascript">//<![CDATA[
					document.getElementById("greenroom-admin-block").style.display = "block";      
					document.getElementById("globalNavBox").style.display = "block";                                   
                    $(document).ready(function(){
						$(".greenroom-admin-block").each(function(){
							$(this).css("display","block");
						});
					});
<!-- addresses issue on MAC for trusted sites -->

        function ProcessImn() 
{ };
function ProcessImnMarkers()
{ };                   
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    //]]></script>
                </div>
                
            </SharePoint:SPSecurityTrimmedControl>
            
        </div>
        <div data-name="EditModePanelShowInEdit">
            
            
            <Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">
                
                <div class="DefaultContentBlock">
                    <SharePoint:CssRegistration name="&lt;% $SPUrl:~sitecollection/_catalogs/masterpage/konda/css/edit-mode-panel.css %&gt;" runat="server" after="SharepointCssFile" />
                    <style>//<![CDATA[
.ms-core-webpartadder{top:126px !important;}
#DeltaWebPartAdderUpdatePanelContainer{position:unset;top:125px;}
#WebPartAdderUpdatePanelContainer{position:relative !important;}
.ms-wpadder-descriptionArea{width:350px;}
#landing-page.container{margin-top:230px !important; position:relative !important;}
#greenroom-landing-page-content{overflow:scroll;}
		
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    //]]></style>
                </div>
                
            </Publishing:EditModePanel>
            
        </div>
    <SharePoint:AjaxDelta id="DeltaFormDigest" BlockElement="true" runat="server"><asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server"><SharePoint:formdigest runat="server" /></asp:ContentPlaceHolder></SharePoint:AjaxDelta></SharePoint:SharePointForm><SharePoint:AjaxDelta id="DeltaPlaceHolderUtilityContent" runat="server"><asp:ContentPlaceHolder id="PlaceHolderUtilityContent" runat="server" /></SharePoint:AjaxDelta><asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderGlobalNavigationSiteMap" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderGlobalNavigation" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderSearchArea" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderHorizontalNav" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderLeftNavBarDataSource" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderCalendarNavigator" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderLeftActions" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderLeftNavBarTop" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderSiteName" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderPageDescription" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderPageImage" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderTitleLeftBorder" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderMiniConsole" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderTitleRightMargin" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderTitleAreaSeparator" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderNavSpacer" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderLeftNavBarBorder" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderBodyLeftBorder" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderBodyRightMargin" Visible="False" runat="server" /><asp:ContentPlaceHolder id="WSSDesignConsole" Visible="False" runat="server" /><asp:ContentPlaceHolder id="SPNavigation" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderQuickLaunchTop" Visible="False" runat="server" /><asp:ContentPlaceHolder id="PlaceHolderQuickLaunchBottom" Visible="False" runat="server" /></body>
</SharePoint:SPHtmlTag>