﻿@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.eot');
  src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINPro.woff') format('woff'),
       url('../fonts/DINPro.ttf') format('truetype'),
       url('../fonts/DINPro.svg#DINPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINPro-Bold.woff') format('woff'),
       url('../fonts/DINPro-Bold.ttf') format('truetype'),
       url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{font-family: 'DINPro',"Helvetica Neue",Helvetica,Arial,sans-serif;}

/*For Top nav scroll start*/
.fixed{
    position:fixed;
     z-index: 999;
/*    top: 0;
    margin-right:auto;*/
}

.mainRibbonHide{/*display:none;*/visibility:hidden;}
.mainRibbonDisplay{/*display:block;*/visibility:visible;background-color:#000;}

/* hide suitebar links: OneDrive/SkyDrive, Sites, Help start */
.ms-core-suiteLinkList{display:none;}
#ms-help{display:none;}
/* hide suitebar links: OneDrive/SkyDrive, Sites, Help end */

#s4-bodyContainer{
	padding-bottom:0px;
}
/*For Top nav scroll end*/

a .ms-rteThemeForeColor-2-0{color: #337ab7!important;}

.container{ /*to make responsive, remove this overriding width */
  width: 1200px;
  padding:0px;
  max-width: 100%;
}
 .circular {
	width:100px!important;
	height:100px!important;
	border-radius:80px!important;
	-webkit-border-radius:80px!important;
	-moz-border-radius: 80px!important;
	
	
	}
#contingency_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
#browser_warn{position:relative;width:100%;font-size:12px;color:#333;background-color:#F5F5F5;padding:10px 0px; text-align:center; border:1px solid #F5F5F5;margin:0 auto 0px; color:#000;}
#greenroom-ribbon-container{background:#05bac9 url('../../../../SiteCollectionImages/konda-ribbon-container-top-bg.png') repeat center top;}/* Changes for Defact ID 473 */
#greenroom-admin-block{margin: 5px; padding: 5px; border: solid black; color: black; background-color: yellow; display:none;}/* Changes for Defact ID 544 */
#greenroom-admin-block-blue{margin: 5px; padding: 5px; border: solid black; color: black; background-color: #78d4f2; /*display:none;*/}
.DefaultContentBlock{border:medium black solid; background:yellow; color:black; margin:20px; padding:10px;}
#greenroom-logo-container{margin-left:-8px;}
#greenroom-logo-container-scroll{margin-left:-60px; display:none;}
#greenroom-logo-container-scroll #greenroom-logo{margin-top:0px;}
#greenroom-logo-container-scroll img{height:40px;}
.s4-workspace-scroll {top:-25px; /*max-height:900px;*/}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a{white-space: normal!important;}
#greenroom-sidebar  h2.ms-webpart-titleText span, #greenroom-top-zone-horizontal h2.ms-webpart-titleText span, #greenroom-about-find p b, #greenroom-about-contact p b{color:#1b2326!important;}

#greenroom-logo{
margin-top:-2px;
padding-top: 0;
position: absolute;
z-index: 1;
}
#suiteBar{height:40px;}
#suiteBarLeft,#suiteBarRight{
	background-color:transparent;
}
#globalNavBox{
	background-color:#000;
}
#globalNavBox{display:none;}/* Changes for Defact ID 473 */
/* for greenroom-homepage page layout start */
#greenroom-homepage-alert .ms-webpartzone-cell{margin-bottom:0px;}
#greenroom-homepage-alert ul.dfwp-column{margin-left:0px; padding-left: 0;}
#greenroom-homepage-alert{padding-left: 0px; padding-right: 0px; /*position: absolute; */top:0; z-index:9;}
#greenroom-homepage-alert-icon{
	display:inline; 
	float:left; 
	background-color:#009ab5; 
	height:37px;
	width:55px;
	text-align:center; 
	padding:7px 15px 9px 15px;
	-webkit-border-bottom-left-radius:10px 5px!important; 
	-moz-border-radius-bottomleft: 10px 5px!important;
	border-bottom-left-radius:10px 5px!important;

}

#greenroom-homepage-alert-title{
height:37px; 
width:1145px!important; 
padding:9px 0px 0px 0px; 
background-color:#eeef7a;
color:#009ab5;
-webkit-border-bottom-right-radius:10px 5px!important; 
-moz-border-radius-bottomright: 10px 5px!important;
border-bottom-right-radius:10px 5px!important;
}

#greenroom-homepage-alert-title a{color:#009ab5; padding-left:10px; font: 14px Helvetica Neue, Helvetica, Arial; font-weight:bold;}
#greenroom-homepage-content, #greenroom-homepage-sidebar{background-color:#f4f4f4; padding-bottom:20px;}
#greenroom-homepage-alert-icon img{width:25px;height:20px;}
/* for greenroom-homepage page layout end */


.ms-siteactions-hover{
	background-color:#00cec8;
	border-right-color:transparent;
	
}

/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}*/



h1 {
	font: 28px 'DINPro', Helvetica Neue, Helvetica, Arial;
	color:#1b2326;
}

h2, h2.ms-webpart-titleText nobr span{
	font: 20px 'DINPro', Helvetica Neue, Helvetica, Arial !important;
	margin-bottom:15px;
/*	color:#1b2326;*/
	cursor:text;
}

#greenroom-faqs-headline h2{
	color:#1b2326;margin-bottom:25px;font: 20px 'DINPro', Helvetica Neue, Helvetica, Arial !important;
}
.landing-page-title{
	font: 31px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;	
	color:#f1f1f1;	
}
.article-header{
	font: 38px 'DINPro', Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:42px;
}
.article-subheader{
	font: 28px 'ProximaNova-Regular', Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:32px;
}

p, .article-copy{
	font: 18px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:26px;
	widows: 3;
}

.caption{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:18px;
}

.tile-title{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	color:#1b2326;		
	line-height:13px;	
}

.text-links{
	font: 12px Helvetica Neue, Helvetica, Arial;	
	font-weight:bold;
	color:#1b2326;		
	line-height:18px;	
}

.ms-core-navigation, .ms-core-listMenu-verticalBox, .ms-core-listMenu-horizontalBox{
	font: 15px 'DINPro', Helvetica Neue, Helvetica, Arial;	
	color:#b7d689;		
	letter-spacing:-0.01em
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {margin-right: 7px;}
.btn, input.btn-xs, input.btn-sm, a.ms-heroCommandLink span{
	font: 13px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;	
	color:#fff;		
	text-transform:uppercase;
}
.btn-primary, input.btn-xs, input.btn-sm{
	background-color:#009ab5;
	border:0px;
	color:#d8e07b;
}
.btn-primary:hover, input.btn-xs:hover, input.btn-sm:hover{
	background-color:#009ab5;
	border:0px;	
}
#VoteSection{margin-bottom:20px;}
#Vote input.view-results-link{background:none!important; color: #009ab5!important; }
.landing-page-view-all{
display:none;
}
/*
.ms-cui-ribbon, .ms-cui-menu, .ms-cui-toolbar-toolbar{
	float:right;
}*/

.ms-cui-tabContainer{
	height:90px; background-color:#fff;
}

#pageStatusBar[class], .ms-status-msg{
	/*text-align:right;*/
	margin-bottom:0px;
}
#zz13_RootAspMenu{
	margin-left:80px;
}
.ms-siteicon-img, .ms-siteicon-a{
	width:100%;
	height:208px; /*prev 100%*/
	max-height: 100%;
	max-width:1680px;
	margin:auto;
}
.ms-siteicon-img{
	height: 592px;
	max-height: none;
	}

img#WelcomeIcon{margin-left:10px;}
#welcomeMenuBox{}
#FooterAreaWrapper{
	background-color:#009ab5; clear:both; padding:15px 0 0; height:425px; color:#CECECE; width:100%; position:relative; z-index:1;
}
#FooterRow1, #FooterRow2, #FooterRow3, #FooterRow4{
	margin:0 auto;
	max-width:1136px;
}

#FooterAreaWrapper2{
	background-color:#475658; clear:both; height:auto; padding-bottom: 20px; color:#666; width:100%;
}

#FooterRow3{
	background-color:#475658;
	text-align:center;
}

#FooterRow3.section a img{
	margin:35px 45px 35px 0;
}

.group:after{
	clear:both;
	content: ".";
	display:block;
	height:0;
	visibility:hidden;	
}
#FooterSocial1{
	float: left; padding-right:15px;
}

#FooterSocial2{
	float: left; /*width:185px;*/ height:200px;
	font: 18px 'DINPro', Helvetica Neue, Helvetica, Arial;
	color:#d4e27b;
	margin-top:-20px;
	margin-right: 28px;
}

#FooterSocial2 ul.cbs-List li{
	width:185px;
}

#cswp-footer-header{
	margin-bottom:25px;margin-top:30px;
}
#cswp-footer-title{height: 65px; overflow: hidden;}
#FooterSocial2 .cbs-picture3LinesImg{
	width:185px; height:110px;
}
#FooterSocial2 .cbs-picture3LinesImg{
	right:0px !important; bottom: 0!important; border-radius: 7px;
}
#FooterPopularText{
	margin-top:30px;
}

#FooterPopularText h2{
	color:#d4e27b; font-weight:bold; font-family: "DINPro-Bold",Helvetica Neue,Helvetica,Arial!important;}
#cswp-footer-number{color:#d4e27b; font: 13px Helvetica Neue, Helvetica, Arial;margin-top:13px; margin-bottom:5px; font-weight:bold;}
#FooterSocial2 .cbs-picture3LinesLine1Link{word-wrap: break-word!important;color:#e0e0e0; text-decoration:none;font: 13px Helvetica Neue, Helvetica, Arial; width: 185px; float: left; }
#TagCloud{
	float: right;width:22.5%;background-color:#009ab5;
}

#FooterRow4{
	text-align:center; font-size:11px; background-color:#475658;
}
#FooterRow4.section.group h6{color:#fff;}
#FooterRow4.section.group h7{display:none;}
#back-to-top-container{font: 13px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; margin-top:-15px; float:right; text-align:center; padding-top:10px; width:130px; height:40px; background-color:#666; border-radius: 0 0 7px 7px!important;}
a #back-to-top-container {text-decoration:none;color:#fff;}
#back-to-top-text{margin-left:15px; display:inline; float:left;}
#back-to-top-caret{font-size:15px; margin-left:5px;margin-top:0px; display:inline; float:left;}

/*.content{
	width:1144px;margin:auto;
}*/
#ms-designer-ribbon >div {
	/*background-color:black;border:0 black solid;color:white*/
}
#WelcomeBar
{
	background-color:#000000;
	width:100%;
	height:65px
}
#TopBar{
	width:100%;
	height:40px;
	background:rgba(0, 0, 0, 0) url("../../../../SiteCollectionImages/konda-TopBar-bg.png") repeat scroll 0 0;
/*	background-color:#00cec8;
	overflow:hidden;
	overflow-x:hidden;*/
}
#TopBar .fixed{
	height:41px;
}
#TopBarContent{
	height:100%;margin:auto;vertical-align:middle;
}
#TopBarContent a,#TopBarContent span.menu-item-text{color:#fff;}
#TopBarContent li.static:hover, #TopBarContent span.menu-item-text:hover{cursor: pointer; cursor: hand;}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover{background-color:#009ab5; margin-left:-5px; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:10px;margin-top:-10px;}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover span{color: #eeef7a!important;}
#s4-ribbonrow{height:0px !important;}
#NavBarContainer{
	/*width:800px;*/float:left;margin-left:52px;/*width:855px;float:left;height:100%;padding-top:10px*/
	font: 15px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial;	
	color:#fff;		
	white-space:nowrap;
	overflow:hidden;
}
#NavBarContainer ul ul .selected{background: #009ab5;}
#NavBarContainer ul ul .selected span {color: #eeef7a;}
#NavBarContainer li.static ul.static li.static{height:40px;}
#NavBarContainer li.static ul.static li.static a{padding: 10px 9px 10px!important; border: 0; margin: 0!important; line-height: 20px; }
/*.fixed #NavBarContainer li.static ul.static li.static a{padding: 10px 9px 11px!important;}*/
#NavBarContainer li.static ul.static li.static a:hover{width: 100%!important;}
#SerachBoxConatiner{
	/*width:215px;*/height:37px;float:right;padding-top:5px;margin-right:8px;}
#QuickLinks{
background: none repeat scroll 0 0 rgba(5,186,201, 0.2);
float: right;
font-weight: 600;
height: 30px;
margin: 5px 10px;
padding-top: 5px;
text-align: center;
width: 110px; /* from 125px changed 2/24/2015 to address closeness in FF */
display:none;
}
#QuickLinks:hover{
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
}
#searchInputBox{
height:31px;
}
#Banner{
	height:100px; /* prev 250px */
	min-width:1200px!important;
}
#SerachBoxConatiner  div{
	/*height:99%;width:215px;float:right*/}
#SerachBoxConatiner input{
	height:99%;width:168px;
}
.ms-srch-sb, .ms-srch-sb-border{
	border:1px solid rgba(255, 255, 255, 0.9) ; 

    background: rgba(255, 255, 255, 0.9);

}
#BreadCrumbNavigation{
	background-color:#fff;
	width:100%;
	height:26px;padding-top:6px;padding-left:3px;float:left;
font: 13px Helvetica Neue, Helvetica, Arial;
}
.nopaddingincrease{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
#greenroom-homepage-content-container{
	/*background-color:#f4f4f4;*/ position:relative;
}
#MainPlaceHolder{background: #00b5c8 url("../../../../PublishingImages/offset.png") repeat-x 0 top}
.ms-nav-breadcrumb li,ul {
display:inline;list-style-type:none;}
.ms-nav-breadcrumb li{
	margin-left:-35px
}
.ms-nav-breadcrumb a{
color:#666;
}
.ms-nav-breadcrumbCurrentNode{
	font-weight:600;
color:#333;
}
.ms-nav-breadcrumb > li:first-child  > span:first-child{
display:none
}
.ms-core-listMenu-root> li:first-child > a:first-child{
	display:none
}
#QuickLinksPlaceholder{
	height:120px !important; overflow:hidden; /*display:none;*/background-color:#fff;padding:10px 0px;
}
#QuickLinksContainer{
	height:100%;
	/*max-width: 75%;*/
	
}
#QuickLinksSection{
 width:70%;float:left;height:100%;padding:28px;-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;font-weight:600

}
#RecommendedlinksSection{
	 width:30%;float:left;height:100%;padding:28px;-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; font-weight:600


}

.cbs-List{margin: 0px -14px;}

.cbs-List li, #homepage-blockpaging.cbs-List li{display:inline-block;float:left;/*margin-bottom:45px;width:25%*/ margin-left: 14px; margin-right: 14px; }


.large-block{
	
}
.block-content{
	background-color:white;height:40%;position:absolute;width:100%;bottom:0;padding:20px
}
.block-Header{
	height:30px;color:white;
}
.block-Header-ParentLink{
	width:50%;float:left;padding:5px 10px
}
.block-Header-Likes{
	width:20%;float:right;background:rgba(0,0,0,0.3);height:100%;padding:5px
}
.block-body{
	padding:20px;background-color:white
}
.survey-medium{
	padding:20px;background-color:white
}
.survey-medium div{
	padding:20px 0px
}
input.btnVote{
	background-color: #081E25;color:white;width:80%;height:50px
}
input.btnVote:hover{
	background-color: #081E25;color:white;
}

.Gallery{ position: relative; overflow: auto; }
    .Gallery li { list-style: none; }
        .Gallery ul li { float: left; margin: 0!important; }
        
/* used in display templates: Related_Articles.html, LandingPage_LatestArticles_med.html start */        
.ellipsis {
    background: #fff;
    bottom: 25px;
    position: absolute;
    right: 45px;
}
#greenroom-sidebar ul#latest-articles{margin-top:-10px;  margin-left: -14px; margin-right: -14px;}
ul#latest-articles li{display: inline; float: left;}
li.disc{list-style:disc;margin-left:40px;}
#cswp-btn-vote{text-align:center;background-color:#fff;}

/*NOTE: commented out are actual sizes for launch but have been commented out for dev purposes*/

/***** tiny tile styles start *****/
#cswp-tile-container-tiny{width:255px; /*height:90px; *//*prev 30px updated on 1/28/15*/ overflow:hidden; margin-bottom: 27px; }
#cswp-tile-container-tiny .cbs-picture3LinesImageContainer, #cswp-tile-container-tiny .cbs-picture3LinesImageContainer img{width:90px;/*height:90px;*/}
#cswp-tile-container-tiny .cbs-picture3LinesDataContainer{word-wrap:break-word!important;margin-left:90px;margin-right: 10px;width:150px;padding-left:15px;/*padding-right:5px;*/vertical-align: top;height:95px;}
#cswp-tile-container-tiny .cbs-picture3LinesDataContainer a{max-height:90px; overflow:hidden;margin-top:-5px;word-wrap:break-word;}
#cswp-tile-container-tiny .cbs-pictureOnTopDataContainer{padding-top:1px;}
#cswp-tile-subsite-tiny, #cswp-tile-container-tiny #cswp-tile-event{font-weight:bold; margin-top:-5px; background-color:transparent;}
#cswp-tile-like-tiny{/*width:135px;*/position:absolute;right:0px;bottom:0px;width:50px;height:30px;color:#2ba8a9;text-align:center;background-color:#dde17c}
#cswp-tile-title-tiny, #cswp-tile-title-tiny a{/*width:140px; height:65px;*/ color:#000; text-decoration:none; overflow:hidden; padding-top:0px;}
#cswp-tile-title-box-tiny{background-color:#fff;padding-top:15px;padding-bottom:5%;clear:both;padding-left:15px;height:100px;overflow:hidden;}
#cswp-tile-thumbnail-img-tiny{/*height:130px;*//*width:185px;*/width:165px;margin-bottom:0px;}
#cswp-tile-title-box-tiny{margin-left:-15px;}
#cswp-tile-container-tiny #cswp-btn-vote{background-color:transparent;text-align:left;margin-left: -15px; margin-top:5px;}
#cswp-tile-title-survey-tiny, #cswp-tile-title-survey-tiny a{padding:45px 10px 10px 10px; color:#000; text-decoration:none;}
#cswp-tile-container-tiny #cswp-like-text{color: transparent;height: 32px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;width: 50px;z-index: 100;}
#cswp-tile-video-play-tiny{width:90px; height:60px; margin-top:-50px;}
/***** tiny tile styles end *****/

/***** small tile styles start *****/
#cswp-tile-container-sm{width:185px;max-height:252px;position: relative;} /*bug# 427 fixed*/
#cswp-tile-container-sm .cbs-picture3LinesImageContainer, img#cswp-tile-thumbnail-img-sm{width:185px; height:125px;} /* Updated as per requested from Thao for Defect Id 307 */
img#cswp-tile-thumbnail-img-sm-med{width:256px; /*height:100px;*/} /* This css is applied to medium tiles for scrolling on landing pages */
#cswp-tile-subsite-sm{width:135px;}
#cswp-tile-like-sm{width:50px;}
#cswp-tile-title-sm, #cswp-tile-title-sm a{width: 100%;word-wrap: break-word;height: 60px;line-height: 15px!important;}
/*#cswp-tile-text-only-sm{ min-height:225px;}*/
#cswp-tile-text-only-sm #cswp-tile-title-sm{
	height:185px;
}
.cswp-tile-txt-box-sm {float: left;  width: 100%;}
#cswp-tile-title-box-sm{background-color:#fff;padding:20px 15px;min-height:100px;overflow:hidden; width:100%;}
#cswp-tile-title-box-sm #cswp-btn-vote{margin-left:-15px;}
#cswp-tile-text-content-sm{
	width:160px; height:77px; overflow: hidden;
}
#cswp-tile-title-survey-sm{padding: 35px 15px 0;}
#cswp-tile-title-survey-sm, #cswp-tile-title-survey-sm a{color:#000; text-decoration:none; float: left; width: 100%; height: 100%;}

#cswp-tile-container-sm #cswp-like-text {color: transparent; width:50px; height:29px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;z-index: 100;}
#cswp-tile-video-play-sm{height: 90px; margin: 0px 10px 0 0;}/* Updated as per requested from Thao for Defect Id 307 */
.cswp-tile-title-box-text-only-sm{height:128px !important; background-color:#fff; width:100%!important; float:left;}
#cswp-tile-read-article{text-align:right; margin-right:10px;}
#cswp-tile-video-play-sm{height: 90px; margin: 0; position: absolute!important; width: 38px; left: 45px; top: 50px; z-index: 9999!important;}/* Updated as per requested from Thao for Defect Id 307 */
#cswp-tile-title-sm{
	min-height:51px;
}
/***** small tile styles end *****/

/***** medium tile styles start *****/
#cswp-tile-container-med{width:256px;}
#cswp-tile-container-med .cbs-picture3LinesImageContainer, img#cswp-tile-thumbnail-img-med{height:166px;width:256px; margin-bottom:0px;}
#cswp-tile-subsite-med{width:205px;}
#cswp-tile-like-med{width:51px;}
#cswp-tile-title-box-med{background-color:#fff;clear:both;padding:20px 15px;min-height:100px;}
#cswp-tile-title-med, #cswp-tile-title-med a{width:200px; height:50px; text-decoration:none;}
#cswp-tile-thumbnail-img-med{height:120px;width:200px}
#cswp-tile-title-survey-med{padding:10px; }
#cswp-tile-title-survey-link-med, #cswp-tile-title-survey-link-med a{padding-top:30px; color:#000; text-decoration:none; text-align:center;}
#cswp-tile-container-med #cswp-like-text{color: transparent;height: 28px;margin-left: -50px;margin-top: -10px;position: absolute;text-decoration: none;width: 50px;z-index: 100;}
#cswp-tile-video-play-med{height: 100px; margin: 0px 10px 0 0;}
.cswp-tile-title-box-text-only-med{height:225px !important; background-color:#fff;}
#cswp-tile-text-only-med #cswp-tile-title-med{ height:190px; width:230px;}

/***** medium tile styles end *****/

/***** large tile styles start *****/
#cswp-tile-container-lg{width:398px;height:260px; border-radius: 7px; position: relative; /*margin-left:14px; margin-right:14px;*/ background: #fff; margin-bottom: 27px; }
#cswp-tile-container-lg .cbs-picture3LinesImageContainer, #cswp-tile-thumbnail-img-lg img{max-width:398px; width:398px;height:260px;  border-radius: 7px; margin-bottom:0px;}
#cswp-tile-container-lg #cswp-btn-vote{height:38px; float:left; width:280px; position: relative; margin-top:-50px;}
/*#cswp-tile-subsite-lg, */.cswp-tile-subsite-lg{position:absolute;left:0%;top:150px;width:230px;height:30px;color:#fff;text-align:left;padding:7px 10px 0px; background:#4f4f4e; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/*#cswp-tile-like-lg*/.cswp-tile-like-lg{color:#2ba8a9;height: 30px;left:230px; background:#dde17c!important; position: absolute;text-align: center;top:150px;width: 50px;padding-top:4px;}
#cswp-tile-title-box-lg{background-color:#d5d5d4; background-color: rgba(255,255,255,.8); padding-left:15px;display:table-cell;height:80px;width:280px;padding-top:10px;bottom: 0px;position:absolute; border-radius: 0 0 0 7px;}
#cswp-tile-title-lg, #cswp-tile-title-lg a{font: 14px Helvetica Neue, Helvetica, Arial !important; }
#cswp-tile-thumbnail-img-lg{width:398px;height:258px;}
#cswp-tile-title-survey-lg{padding:10px; }
#cswp-tile-title-survey-link-lg, #cswp-tile-title-survey-link-lg a{padding-top:30px; color:#000; text-decoration:none;}
#cswp-tile-comments-lg, #cswp-tile-comments-text-lg a{background-color:#fff;font: 12px Helvetica Neue, Helvetica, Arial;font-weight:bold;color:#666;text-align:right;padding-right:15px;bottom: 15px;right: 0px;height:38px;text-align:right;}
#cswp-tile-comments-num-lg{display:inline; float:right; width: 25px; height:25px;background: #ffffff url('../../../../SiteCollectionImages/sprite.png') no-repeat -155px -80px; color:#fff;padding-top:3px;padding-right:6px;margin-top:-2px;}

.homepage-discussion-reply #cswp-tile-comments-num-lg{background: #ffffff url('../../../../SiteCollectionImages/pagelayouts/greenroom-comments-bubble-green.png') no-repeat right top;}

#cswp-tile-comments-text-lg{display:inline; float:right;margin-left:0px;}
#cswp-tile-container-lg #cswp-like-text{height:30px;margin-top:-23px; z-index:100;text-decoration:none; color:transparent; position: absolute; width: 50px;}
#cswp-tile-video-play-box-lg, #cswp-tile-video-play-lg{height: 225px; margin: 0px 10px 0 0;}
/***** large tile styles end *****/

/***** global tile styles start *****/
#cswp-tile-container-sm, #cswp-tile-container-med{overflow:hidden; /*margin-right:14px;margin-left:14px;*/margin-bottom:25px;}
#cswp-tile-container-tiny .cbs-picture3LinesContainer, #cswp-tile-container-sm .cbs-picture3LinesContainer, #cswp-tile-container-med .cbs-picture3LinesContainer, .cbs-picture3LinesContainer{padding-top:0px;}
#cswp-tile-container-tiny .cbs-picture3LinesImageContainer, #cswp-tile-container-sm .cbs-picture3LinesImageContainer, #cswp-tile-container-med .cbs-picture3LinesImageContainer, #cswp-tile-container-lg .cbs-picture3LinesImageContainer{background-color:#fff; margin-bottom:0px;}
#cswp-tile-subsite-sm, #cswp-tile-subsite-med{float:left;padding-top:5px;height:29px;overflow:hidden; background: #4f4f4e; text-transform: uppercase; white-space: nowrap; text-overflow: ellipsis; color: #fff; }
a.cswp-tile-subsite-link, .cswp-tile-event a{margin:0px 0 0 10px; text-decoration:none; color:#fff; font-weight:bold;}
#greenroom-sidebar a.cswp-tile-subsite-link{display: none;}/* hiding section heading in sidebar */
#cswp-tile-like-tiny, #cswp-tile-like-tiny a,#cswp-tile-like-sm, #cswp-tile-like-sm a,#cswp-tile-like-med, #cswp-tile-like-med a,#cswp-tile-like-lg, #cswp-tile-like-lg a{text-align:center;vertical-align:middle;float:right; text-decoration:none;font: 13px Helvetica Neue, Helvetica, Arial;color:#009ab5;font-weight:bold; height:29px;padding-top:5px; overflow:hidden; background: #dde17c!important;}
#cswp-like-text:hover{background: rgb(0, 0, 0) transparent;background: rgba(0, 0, 0, 0.40);filter:alpha(opacity=40);}
#cswp-tile-title-sm, #cswp-tile-title-sm a, #cswp-tile-title-med, #cswp-tile-title-med a, #cswp-tile-title-lg, #cswp-tile-title-lg a{font: 13px Helvetica Neue, Helvetica, Arial;color:#000; text-decoration:none;overflow:hidden;}
#cswp-tile-survey-sm .cbs-picture3LinesImageContainer, #cswp-tile-survey-med .cbs-picture3LinesImageContainer, #cswp-tile-survey-lg .cbs-picture3LinesImageContainer{background: #fff url('../../../../SiteCollectionImages/pagelayouts/tile-bg-survey-sm.png') no-repeat center center;}
#cswp-tile-video-play-tiny, #cswp-tile-video-play-sm, #cswp-tile-video-play-med, #cswp-tile-video-play-lg{background: url('../../../../SiteCollectionImages/pagelayouts/greenroom-btn-video-play_opaque_65.png') no-repeat center; 
position: relative;   z-index: 10;}
#cswp-tile-video-play-tiny:hover, #cswp-tile-video-play-sm:hover, #cswp-tile-video-play-med:hover, #cswp-tile-video-play-lg:hover{background: url('../../../../SiteCollectionImages/pagelayouts/greenroom-btn-video-play.png') center center no-repeat;}
#cswp-tile-event, .cswp-tile-event{background-color:#4f4f4e;}
#cswp-tile-like-event, .cswp-tile-like-event{background-color:#dde17c;}
#greenroom-sidebar #cswp-tile-title-tiny a:hover{text-decoration:underline !important;}
/*#greenroom-sidebar .ms-webpart-chrome-title, #greenroom-top-zone-vertical .ms-webpart-chrome-title{border-bottom:1px solid #ccc;margin-bottom:10px;}*/

ul.cbs-List a{text-decoration:none !important;}
a.greenroom-feedbackbutton{color:#ffffff;text-decoration:none;}
a.cbs-picture3LinesLine1Link:hover{text-decoration:underline !important;}
/***** global tile styles end *****/
.greenroom-topnav-icon-kaleo{margin-left: 9px; margin-top: -3px;}
img.greenroom-helpful-faq-icon-kaleo{border:0px;}
#greenroom-faqs-questions{/*margin-top:-20px;margin-left:-10px;*/}
#greenroom-faqs-questions ul{
    margin-left: -30px;
    padding-right: 0;
    list-style-type: none;
}
#greenroom-faqs-questions ul li{
    counter-increment: step-counter;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
#greenroom-faqs-questions ul li::before {
    content: counter(step-counter);
    margin-right: 14px;
    font-size: 18px;
    background-color: #0d8bb5;
    color: white;
    font-weight: bold;
    padding: 0;
    border-radius: 50%;
	width: 29px; height: 29px; float: left; text-align: center; line-height: 29px;
}
#greenroom-faqs-questions-cont{
	margin-left:30px; margin-top:-23px;margin-bottom:15px;
}

#greenroom-faqs-questions li .kaleo-ques-no{display: none;}

#greenroom-faqs-questions ul li a{
	text-decoration:none;color:#000;font: 12px Helvetica Neue,Helvetica,Arial; float: left; width: 82%;
}
#greenroom-faqs-questions ul li a:hover{
	text-decoration:none;
}
#greenroom-faqs-view-all{font-weight:bold; margin: 15px 0px;}
.greenroom-faqs-board-name-link{color:#000;}
#greenroom-faqs-ask-kaleo{font-size:11px; font-weight:bold;margin-top:25px;}
.btn-primary.greenroom-faqs-ask-kaleo{background-color:#f9a732; margin-top: 10px; color: #fff; }

.kaleo-ques-no{background-image: url("../../../../SiteCollectionImages/icons/greenroom-helpful-faq-circle.png");}
#btn-greenroom-ask-kaleo span.glyphicon.glyphicon-circle-arrow-right {color: #fff;font-family: 'Glyphicons Halflings'!important;line-height: 16px!important;}


/* used in display templates: Related_Articles.html, LandingPage_LatestArticles_med.html end */     

#greenroom-top-pages-edit-links li {border: 1px solid #333;margin: 5px;padding: 10px;width: 300px;}
.RecomendedLinks-homepage a {font-weight:bold;color:#000000;}
.RecomendedLinks-homepage li{padding-right:20px;width:120px;}
.RecomendedLinks-homepage{margin-left:50px;}
.homepage-recommendedLinks{font-weight:bold;color:#A7A7A7;}
#homepage-recommendedLinks div.ms-webpart-chrome{display:none;}
.searchinactive{background-color:#696969;}

#AddQuickLinksContainer li, .RecomendedLinks li{float:left!important;padding-right:20px!important;width:31%!important;  }
#AddQuickLinksContainer li a, .RecomendedLinks li a{color: #222;}
#AddQuickLinksContainer{min-height:200px; padding: 16px; margin-top:-40px; }
#AddQuickLinksContainer li{margin-bottom: 5px !important; background: #fff!important; height: 28px!important; width: 30.33%!important; line-height: 28px; margin: 0 1.5%; padding: 0 10px!important;}
#AddQuickLinksContainer li span{line-height: 28px!important; font-weight: bold!important }
#AddQuickLinksContainer li .quick-links-full span{float: none!important; color: #fff; font-weight: normal!important;}
#AddQuickLinksContainer li .btnRemove span,#AddQuickLinksContainer li .btnAdd span{font-weight: normal!important; color: #fff; }
#AddQuickLinksContainer li:hover{background: #ccc!important;}
#AddQuickLinksContainer li:hover a span{color: #fff;}
#AddQuickLinksContainer ul{margin-top:-15px;}

/*Modified on 14 Dec 2014 for overwridding galaria style for galary article banner */
#cswp-tile-like-tiny span > img {
    width: 11px !important;
    height: 10px !important;
}
#cswp-tile-like-tiny {
 /* bottom:0px !important;*/ /* Modified on 2/25/15 to address heart tile being off by one pixel. */
}

/*Modified on Dec15 for Survey Questions in featuring now */
.featuring-now-survey{background: #fff url('../../../../SiteCollectionImages/pagelayouts/tile-bg-survey-sm.png') no-repeat center center;}
#cswp-tile-container-lg .featuring-now-survey{background: #fff url('../../../../SiteCollectionImages/pagelayouts/tile-bg-survey-sm.png') no-repeat center center!important;}
#cswp-tile-container-tiny .featuring-now-survey{background: #fff url('../../../../SiteCollectionImages/pagelayouts/tile-bg-survey-tiny.png') no-repeat center center;}
#greenroom-homepage-alert-title{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: auto;}
#greenroom-homepage-alert .ms-webpart-zone ,#greenroom-homepage-alert .ms-webpart-cell-vertical,#greenroom-homepage-alert .ms-webpart-chrome-vertical{display: block;}
#QuickLinksContainer{float: left; /*width: 61%;*/ display:block;}
#homepage-recommendedLinks{float: left; /*width: 39%;*/ /*max-width: 25%;*/overflow:hidden;}
#QuickLinksContainer a{color: #333;}
a.aQuicklink:hover{text-decoration:none;}
#QuickLinksContainer li {margin: 0 5px !important; text-align: center; width: 74px;height:63px;border-right: 1px solid #e5e5e5; padding-top: 5px; }
#QuickLinksContainer li:last-child{border: 0;}
#QuickLinksContainer li span{display: block; overflow: hidden; font-size: 11px; margin: 5px 0; font-weight: bold;padding-right:10px; height:30px;}
#QuickLinksContainer li img{display: inline-block!important;}

.RecomendedLinks-homepage li{width: 88px;}
.RecomendedLinks-homepage a{text-overflow:ellipsis; overflow: hidden; width: 100%!important;}
.RecomendedLinks-homepage a span{text-overflow:ellipsis; overflow: hidden; width: 100%!important;}

.ms-welcome-root > a.ms-core-menu-root, .ms-signInLink,#globalNavBox .ms-promotedActionButton-text{color: #FFF;}
.ms-welcome-hover{background:transparent;border-right-color:transparent;}
.ms-cui-tt-a > .ms-cui-tt-span,.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span{color: #898989!important;}
#VoteSection #Vote label.ms-emphasis{background: none!important;}

#greenroom-sidebar .ms-webpart-zone,#greenroom-sidebar .ms-webpart-chrome-vertical,#greenroom-sidebar .ms-webpart-cell-vertical{display: block;}
#greenroom-sidebar .twocolumn{max-width: 100%;}

.ms-siteactions-normal{width: 30px; height: 30px;}
#suiteBarLeft, #suiteBarRight, #suiteLinksBox, .ms-core-suiteLink, .ms-core-deltaSuiteBarRight, #suiteBarButtons, #welcomeMenuBox{vertical-align: middle;}

#greenroom-ribbon-container #zz13_RootAspMenu{margin-left: 0;}

#WelcomeIcon{width: 25px; height: 25px;}
#AddtoOutlook a{cursor: pointer;}

#TagCloud{margin-top: -10px;}
#TagCloud #cswp-footer-header{color: #fff; font: 18px "DINPro",Helvetica Neue,Helvetica,Arial;}
.ms-core-menu-arrow{margin-left: 6px;}
#TopBar #SearchBox .ms-srch-sb{/*width: 215px!important;*/}
#TopBar #SearchBox .ms-srch-sb-scroll{width:215px!important;}
.ms-qSuggest-hListItem, .ms-qSuggest-listItem, .ms-helperText, input.ms-helperText{color:#000000!important;}
.ms-srch-sb > input{height:27px;}

.RecomendedLinks-homepage{margin-left: 0; float: left; /*max-width: 66%;*/}
.RecomendedLinks-homepage a{color: #333;}
.RecomendedLinks-homepage li {margin: 0 3px !important; text-align: center; width:80px;height:63px; border-right: 1px solid #e5e5e5;padding: 5px 0 0 !important;}
.RecomendedLinks-homepage li:last-child{border: 0;}
.RecomendedLinks-homepage li span{display: block; text-overflow:ellipsis; overflow: hidden; white-space: pre; font-size: 11px; margin: 5px 0;  word-wrap: normal!important;}
.RecomendedLinks-homepage li img{display: inline-block!important;}

#homepage #greenroom-homepage-content-container .ms-webpartzone-cell{margin-bottom: 0;}

/* Master.css added as mail */
#s4-bodyContainer{max-width: 100%;}
.ms-srch-sb > .ms-srch-sb-searchLink{margin-left: -3px;}
/*div#SerachBoxConatiner{width: 100%; background: #000;}*/
#SerachBoxConatiner div{float: right; margin-left: 1px; height: 30px;}
#SerachBoxConatiner input{height: 25px;}
.ms-srchnav{margin-top: 20px;}
.ms-srch-ellipsis{margin-top: 0;}
.ms-qSuggest-listItem{color: #333;}
.ms-qSuggest-hListItem{background: #B6B3B3;}
#SerachBoxConatiner #NavDropdownListContainer{margin-left: -1px; margin-top: 1px;}
#NavDropdownListContainer div{margin-left: 0;}
#PageLinkNext{height:25px;width:25px;}
#PageLinkPrev{height:25px;width:25px;}
.ms-srch-item:hover, .ms-srch-resultHover:hover, .edisc-SearchResultItemContainer:hover{background-color:#B6B3B3;}
#searchIcon{display:none;}
#NavBarContainer{width: 730px;}
span.view-blog-link {float: right;}

/* CSS for System Page Branding Start */

div#contentBox.SystemPageContent {background: #f4f4f4; z-index: 99; position: relative; margin: 0 auto; width: 1200px; padding: 10px 32px; }
#pageTitle.SystemPageTitle{margin: 0;}
#pageTitle.SystemPageTitle #DeltaPlaceHolderPageTitleInTitleArea span span a{ font: 32px/46px DINPro-Bold,Helvetica Neue,Helvetica,Arial; height: 46px; min-width: 310px;  text-transform: uppercase; color: #fff; background: #4eb19f; display: inline-block; vertical-align: middle; margin-top: 18px; padding: 0 20px; text-decoration: none!important; }
#titleAreaBox { margin: 0 auto; width: 1200px;}

/* CSS for System Page Branding End */

/* CSS for Most Commented Start */
#MostCommented > div {position:relative;}
.most-commented-video-article {position: absolute;z-index: 99;left: 50%;top: 50%;float: left;width: 50px;height: 50px;margin: -25px 0 0 -25px;background: url('../../../../SiteCollectionImages/pagelayouts/greenroom-btn-video-play_opaque_65.png') center center no-repeat;}
/* CSS for Most Commented Start */

#greenroom-subsite-title{vertical-align: bottom; margin-top: 84px!important; position: relative; top: 0; }
#greenroom-subsite-title-follow{vertical-align: bottom; top: 1px!important;}
#greenroom-page-content-count-likes {vertical-align: bottom; margin-bottom: 0!important;}
#greenroom-subsite-title-share{vertical-align: bottom; margin-bottom: 0!important;}

/* Kaleo CSS start*/
.kw-popover {position: absolute;height: 560px;width: 560px;z-index:1000;}
.kw-iframe-container {background: white;position: absolute;height: 560px;width: 560px;}
.kw-iframe-container iframe {border: none;width: 100%;height: 100%;-moz-border-radius: 12px;-webkit-border-radius: 12px;border-radius: 12px;-moz-box-shadow: 4px 4px 14px #000;-webkit-box-shadow: 4px 4px 14px #000;box-shadow: 4px 4px 14px #000;}
.kw-container .kw-popover {display: none;}
.kw-container.kw-open .kw-popover {display: block;}
/* Replace the button that activates the Kaleo widget by using your own custom image here */
.kw-container .kw-button {height: 50px;background-repeat: no-repeat;background-image: url("https://production.kaleosoftware.com/assets/widgets/placeholder-closed.png");}
.kw-container.kw-open .kw-button {background-image: url("https://production.kaleosoftware.com/assets/widgets/placeholder-open-2.png");}
.askQuestion > .kw-container{display: none;}
/*.askQuestion:hover > .kw-container{display: inline;}*/
#NavBarContainer{overflow: visible;}
.kw-container .kw-button{width: 290px; position: absolute;/* top: 40px;*/ z-index: 99; margin-top:10px; border:1px #eee solid;}
#greenroom-homepage-sidebar .kw-iframe-container, #greenroom-sidebar #kw-widget .kw-iframe-container{width: 290px;}
#greenroom-ribbon-container #kw-widget.kw-container div.kw-popover{margin-top:10px;}
/* Kaleo CSS end*/

#cswp-tile-comments-text-lg:hover{text-decoration: underline;}
a#ctl00_ctl46_site_share_button,#ribbonBox #site_follow_button{display:none !important;}
#back-to-top-container:hover{background-color: #525050;}
#s4-workspace{margin-top: 0!important;}
#s4-workspace.s4-workspace-scroll{margin-top: 25px!important;}
a.ms-nav-breadcrumbRootNode, a.ms-nav-breadcrumbNode{margin-right:5px;}

/* quick links start */
#greenroom-top-pages-edit-links{float:left;}
#QuickLinksPlaceholder{position:relative;}
#EditQuickLinksContainer{min-height:225px;margin-top:20px;padding:20px;}
#EditQuickLinksContainer li{padding: 10px !important; text-align: center; width: 7.6%; border-right: 1px solid #e5e5e5;}
#EditQuickLinksContainer li:last-child{border: 0;}
#EditQuickLinksContainer li span{display: block;  font-size: 11px; font-weight: bold;  margin: 5px 0;  padding-right: 10px;  color: #222;}
.quicklinks{padding-bottom:10px;}
#EditQuickLinksContainer .quicklinks,#AddQuickLinksContainer .hrbottom{font: 28px "DINPro",Helvetica Neue,Helvetica,Arial !important;}
.hrbottom{display: block;border: 0; margin: 1em 0; padding: 0; }
.hr,#article-default #greenroom-sidebar hr,#article-gallery #greenroom-sidebar hr{display: block; height: 1px; border: 0; border-top: 2px solid #d4d4d4!important; margin: 10px 0; padding: 0; float: left; width: 100%; }
#AddQuickLinksForPages .greenroom-quicklinks-sitename{background-color:#00cec8;color:#fff!important; display:block;text-align:center;padding:5px; font-size: 16px!important; text-transform: capitalize;}
#QuickLinksPlaceholder h3{color: #6f6f70; font-size: 12px; text-transform: uppercase; margin:6px 0;  font-weight: 700; padding: 0 10px;}
#homepage-recommendedLinks .ms-webpart-chrome{ float: left;  min-width: 1px; /*width: 75%;*/}
#QuickLinksPlaceholder input[type="button"]{ border-style: none;border-color: inherit;border-width: 0;color: #6f6f70; 	font-size: 12px; 	font-weight: 700; 	padding: 0 0 0 20px; background: url('../../../../SiteCollectionImages/icons/edit.png') no-repeat 0 center; 
	min-width: 1px; margin: 0; text-transform: uppercase; line-height: 15px;}
/* quicklinks end */

.btn-group-lg > .btn, .btn-lg{
padding: 12px 20px;color: #fff;display: block;margin-top: 11px;font: 14px 'DINPro',Helvetica Neue,Helvetica,Arial;text-transform: uppercase;}
.btn-group-lg > .btn, .btn-lg .glyphicon-play{margin-left: 13px;}
/*
.ms-rteStyle-Accent2{-ms-name:"Large Button"; line-height:1.3333333;border-radius:6px; color: #fff;display: block;margin-top: 11px;font: 16px 'DINPro-Bold',Helvetica Neue,Helvetica,Arial; font-weight:bold; text-transform: uppercase;height:44px;float: right;margin-top: 10px;text-align: center;}
.ms-rteStyle-Accent2 a span{margin-left: 6px; font-weight: 100; font-size: 14px;}
.ms-rteStyle-Accent2 a, .ms-rteStyle-Accent2 a:hover{text-decoration:none; color:#fff; padding:10px 50px 10px 20px}
.ms-rteStyle-Accent2 {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    line-height: 1;
    margin-top:20px;
}
.ms-rteStyle-Accent2:after {
    font-family: "Glyphicons Halflings";
    content: "";
    margin-left:-35px;
    padding-right:30px;
    font-weight: 400;    
}

*/
a span.ms-rteStyle-Accent2{-ms-name:"Large Button"; border-radius:6px!important;display: block;font: 13px/29px 'DINPro-Bold',Helvetica Neue,Helvetica,Arial!important; text-transform: uppercase;height:29px; line-height: 29px; float: left;text-align: center; background:#d8e07b; color: #1f9fb2!important;
    min-width: 160px;}
a span.ms-rteStyle-Accent2{font-weight: 100; font-size: 14px;}
a span.ms-rteStyle-Accent2, a span.ms-rteStyle-Accent2:hover{text-decoration:none; color:#fff; padding: 0 10px;}
a span.ms-rteStyle-Accent2{
    position: relative;
    display: inline-block;
    font-style: normal;
	
}

a span.ms-rteStyle-Accent2:after {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    margin-left: 13px;
    font-weight: 400;
	position: relative;
	top: 0;
	vertical-align:top;
}

.glyphicon-menu-up:before{
	content:"\e113";
}


#FooterSocial1 a img{opacity: 1;}
#FooterSocial1 a:hover img{opacity: 0.7;}
#FooterRow3.section a:hover img{opacity: 0.5;}
#s4-workspace{overflow-x: hidden; }
#FooterAreaWrapper.SearchPageFooter{height: auto; padding-bottom: 15px;}
.ms-srch-people-item #UserInfoContainer{width: 380px!important;}
.ms-searchCenter-result-main .ms-srch-sbLarge{width: 496px!important;}
.homepage-discussion-reply{display: inline-block; padding: 6px; height: 30px;}
.homepage-discussion-reply #cswp-tile-comments-text-lg,#homepage-Discussions #greenroom-discussion-username a {color: #009ab5;}


/*#greenroom-page-content-container > .col-xs-9{padding-top: 25px;}  update from 50px on 1/27/15 */
#greenroom-sidebar.col-md-3,#greenroom-sidebar.col-xs-3 {padding-top: 95px;}

#s4-bodyContainer > iframe{display: none;}

#greenroom-landing-page-content h2.ms-webpart-titleText span:first-child, #landing-page h4, h4 a, h4 a:visited{font: 28px 'DINPro', Helvetica Neue, Helvetica, Arial !important; color:#1b2326;margin-bottom:25px; text-decoration:none; margin-top: 0; }
h4 a:hover{text-decoration:none; cursor:text;  color:#1b2326;}

/*#greenroom-subsite-title-follow:active{background: #fff!important;}*/
#TagCloud div.ms-TagCloudLink a:hover{background: none!important; color: #fff;}
#NavBarContainer .static.askQuestion {position: relative; vertical-align: top; padding-top: 9px; padding-left: 4px;}
#NavBarContainer .static.askQuestion span{background:none; color: #fff!important;}
/* Search Branding :Start */
.SearchMasterPage{background:rgba(243, 243, 243, 0.9);}
.ms-pub-contentLayout.SearchContentBox,#sideNavBox.SearchSideNavBox{background:none;}
#greenroom-subsite-title{background-color:#4eb19f;}
h3.ms-srch-ellipsis{white-space:normal;}

/* Search Branding :End */

#DeltaPageStatusBar{margin-top:25px;}
#greenroom-bottom-zone-left h2.ms-webpart-titleText nobr span,
#greenroom-bottom-zone-right h2.ms-webpart-titleText nobr span,
h2#greenroom-webpart-darktitle.ms-webpart-titleText{
	font: 18px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial !important;	
	color:#fff;		
}

#FooterRow3 > a{margin: 35px 1.3%; vertical-align: middle; }
#FooterRow3.section a img {margin: 35px 0;}
/*#FooterRow3.section a:first-child{margin-left: 0;}
#FooterRow3.section a:last-child{margin-right: 0;}*/
#suiteBarLeft .ms-core-suiteLink-a{color: #fff!important;}
#suiteBarLeft .ms-core-suiteLink-a:hover{background: none; color: #fff;}
#greenroom-ribbon-container #SerachBoxConatiner input{ font-style: italic; height: 28px; }
#TopBar #SerachBoxConatiner #NavDropdownListContainer,#TopBar #SerachBoxConatiner #NavDropdownListContainer div{height: auto;}
#TopBar #SerachBoxConatiner #NavDropdownListContainer .ms-qSuggest-listItem,#TopBar #SerachBoxConatiner #NavDropdownListContainer .ms-qSuggest-hListItem{width: 100%;}
#suiteBarRight #suiteBarButtons a.ms-core-menu-root{background: url('../../../../SiteCollectionImages/sprite.png') no-repeat -121px -75px; height: 30px; width: 30px;}
#suiteBarRight #suiteBarButtons a.ms-core-menu-root .ms-siteactions-imgspan > img{display: none;}
#TopBar #SerachBoxConatiner .ms-srch-sb-searchLink{background: url('../../../../SiteCollectionImages/sprite.png') no-repeat -285px -119px;  margin: 2px 3px 0 0;}
#TopBar #SerachBoxConatiner .ms-srch-sb-searchLink img{display: none; }
#TopBar #SerachBoxConatiner .ms-srch-sb.ms-srch-sb-border{background: #f7f7f7;}
#TopBar #SerachBoxConatiner .ms-srch-sb-navLink{margin-left: -5px;}
#TopBar #SerachBoxConatiner div{margin-left: 0;}
.proximaregulareighteen{font: 18px 'ProximaNova-Regular', Helvetica Neue, Helvetica, Arial;color:#1b2326;line-height:32px;}

.greenroom-item .textonhomepage{margin-left: 0;padding-left: 15px;margin-right: 0; padding-right: 15px; font-weight: bold!important; display:inline-block;}
#bar #complete{color: #ddd!important;}`
.footer-most-visited{width:398px !important}
.footer-most-visited li{float: left!important;}
.footer-most-visited li:last-child #cswp-footer-header,.footer-most-liked li:last-child #cswp-footer-header{text-indent: -99999px; overflow: hidden;}
.footer-most-visited li:first-child #cswp-footer-header,.footer-most-liked li:first-child #cswp-footer-header{text-indent: 0;}
blockquote{width: 100%!important; margin: 0!important; padding: 15px 40px 30px!important; }
.ms-webpartzone-cell-no-margin{margin-bottom: 0;}
#greenroom-page-content-container > .col-md-9,#greenroom-page-content-container > .col-xs-9 {padding-top: 42px; padding-right: 28px; min-height: 500px; }
#QuickLinksContainer ul{padding: 0;}
#greenroom-homepage-content .cbs-List {margin-left: -14px; margin-right: -14px;}
#greenroom-homepage-content .cbs-List li{margin-right: 14px; margin-left: 14px;}


#greenroom-page-content-container > .col-md-9 .cbs-List,#greenroom-page-content-container > .col-xs-9 .cbs-List{margin-right: -15px; margin-left: -14px;}
#greenroom-page-content-container > .col-md-9 .cbs-List li,#greenroom-page-content-container > .col-xs-9 .cbs-List li{margin-right:14px; margin-left:14px;}
#greenroom-page-content-container > .col-md-9 .cbs-List #cswp-tile-container-sm,#greenroom-page-content-container > .col-xs-9 .cbs-List #cswp-tile-container-sm{margin-right: 0; margin-left: 0;}
.row1,.row2,.row3 {margin: 0 -14px;}
#greenroom-homepage-sidebar.col-md-3,#greenroom-homepage-sidebar.col-xs-3 {padding-left: 20px; border-radius: 0 7px 0 0!important;}
#greenroom-sidebar.col-md-3 #popular-docs.cbs-List,#greenroom-sidebar.col-xs-3 #popular-docs.cbs-List{margin-right: 0; margin-left: 0; }
#greenroom-page-content-container > #greenroom-sidebar.col-md-3,#greenroom-page-content-container > #greenroom-sidebar.col-xs-3 {padding-right: 32px; padding-left: 12px; border-radius: 0 7px 0 0!important; min-height: 500px;}
#greenroom-top-zone-left-col8,#greenroom-top-zone-right-col4,#greenroom-top-zone-left-col6,#greenroom-top-zone-right-col6,#greenroom-top-zone-left-col4,#greenroom-top-zone-center-col4,#greenroom-top-zone-right-col4,#greenroom-top-zone-extreme-right-col4,#greenroom-top-zone-left-col4,#greenroom-top-zone-right-col8{padding: 0 14px;}
#FooterSocial2 .cbs-List li{float: left;}
#greenroom-bottom-zone-left{padding-right: 14px;}
#greenroom-bottom-zone-right{padding-left: 14px;}
.bullet-ul li{list-style: inside disc!important;}

.ms-webpart-titleText.ms-webpart-titleText{margin-bottom:25px; font: 19px 'DINPro', Helvetica Neue, Helvetica, Arial !important; text-align: left;}
#greenroom-landing-page-content #greenroom-top-zone-left-col6 h2.ms-webpart-titleText span,
#greenroom-landing-page-content #greenroom-top-zone-right-col6 h2.ms-webpart-titleText span{
	font: 18px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial !important;	color:#fff;}
#landing-page #greenroom-top-zone-left-col6 h4,#landing-page #greenroom-top-zone-right-col6 h4{margin-bottom: 5px;}
/*.page-field-content > .ms-rtestate-field > p{display: none;} Commented as page content data was not appearing on page*/
.happening-class > .col-md-6,.happening-class > .col-xs-6{background: #f1f1f1;}
.icon-container .image-area-left{padding-bottom:15px; border-top:2px solid #d4d4d4!important;}
.icon-container{border-top:1px solid #d4d4d4!important;padding-top:10px}

#FooterSocial2 .cbs-List li{margin:0 15px 0 15px;}
.page-header > h1 {margin-top: 5px; margin-bottom: 40px; min-height: 35px; }
#greenroom-article-content-sidebar.col-md-3,#greenroom-article-content-sidebar.col-xs-3{text-align: right;}
#greenroom-article-postcomment-container textarea {float: right; width: 87%; resize: none; border: 0; border-radius: 12px; padding: 10px; color: #009ab5;}
#greenroom-add-comment .btn.btn-primary.btn-lg {display: inline-block; float: right; margin-right: 4px; }

#greenroom-more-related-articles{margin: 20px 0;}
#greenroom-more-related-articles h2.ms-webpart-titleText nobr span{font-size: 28px!important;}
#article-default #greenroom-sidebar.col-md-3,#article-default #greenroom-sidebar.col-xs-3{padding-top: 5px;}
.greenroom-sidebar-more-events{float: left; width: 100%;}
#EventConatiner{background: #fff; min-height: 172px; border-radius: 7px 0 0 7px; margin-bottom: 20px;}
.twocolumn .greenroom-featured {float: left;margin-right: 14px;}

#cswp-tile-text-only-sm #cswp-tile-title-box-sm{min-height:128px;}

.col-md-6 .greenroom-webpart-bg-offset h2.ms-webpart-titleText nobr span,.col-xs-6 .greenroom-webpart-bg-offset h2.ms-webpart-titleText nobr span{text-overflow: ellipsis; max-width: 383px; overflow: hidden; display: inline-block;}
.ms-webpart-chrome .ms-rteTable-default,.ms-webpart-chrome .ms-rteTable-default > tbody > tr > td,.ms-webpart-chrome .ms-rteTable-default > tbody > tr > th,.ms-webpart-chrome td.ms-rteTable-default,.ms-webpart-chrome th.ms-rteTable-default,.ms-webpart-chrome .ms-rtetablecells {border: 0!important;}

#homepage-recommendedLinks .cbs-List li{margin: 0;}
.js-webpart-titleCell{vertical-align: top;}
.darkbox.small-darkbox .darkboxtext{min-height: 164px; padding: 15px 20px 10px;}
.darkbox.small-darkbox .darkboxtext h1{font-size: 24px !important; line-height: 36px; margin-bottom: 0;}
.darkbox.small-darkbox #greenroom-featurecallout-large-top-content p{font-size: 16px!important;}
#greenroom-featurecallout-large-top-content p a{color:#fff; text-decoration:underline;}
#EventImage img{height: 172px; width: auto;}

#greenroom-top-zone-full-width {background: #f1f1f1;}
.order-content{padding: 50px 0 0;}
#PromotionOrder table{background: #fff; width: 100%!important; }
/*#PromotionOrder td a{color: #000;}*/
#PromotionOrder td,#PromotionOrder th {padding: 5px;}
.myDragClass td{background: #fff;}

.upcoming-event #cswp-tile-container-tiny{margin-bottom: 10px; height: auto;}
.upcoming-event #cswp-tile-container-tiny #cswp-tile-event{margin-top: 0; margin-bottom: 5px; text-align: center; min-height: 20px; }
.upcoming-event #cswp-tile-container-tiny .cbs-picture3LinesImageContainer{height: 115px;}
.cbs-List .upcoming-item {margin: 0!important;}
.cbs-List .upcoming-item:first-child{margin-left: 14px!important;}

.cbs-noImageContainer{background-image:url('../../../../SiteCollectionImages/pagelayouts/default-article-thumbnail.png')!important;background-size:90px 90px;}
.cbs-noImageContainer-ContentWrapperSmall{display:none!important;}
#greenroom-top-zone-horizontal ul#popular-docs.cbs-List li{width:45%;}
#popular-pages #cswp-tile-container-tiny .cbs-pictureImgLink {float: left; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 9; background: rgba(0,0,0,0);}
#homepage-blockpaging #cswp-tile-container-tiny .cbs-pictureImgLink {float: left; height: 100%; left: 0; position: absolute; top: 0; width: 100%; background: rgba(0,0,0,0); }
/*.ms-belltown-authenticated #greenroom-landing-page-btn-feedback{background: #106b89!important;}*/

.greenroom-item .textonhomepage a {color: #222;}
.textonhomepage:hover{text-decoration:underline;}
.greenroom-sidebar-top-comment{margin-bottom: 30px;}
.comment-btn {margin: 5px 0;}
.comment-btn .btn-primary{background: #d8e07b url("../../../../SiteCollectionImages/pagelayouts/comment-white.png") no-repeat 88% center; line-height: 17px; padding-right: 30px; text-transform: capitalize; }
.comment-day a#greenroom-article-comments-likes-text{display: inline-block; vertical-align: middle;}
#greenroom-sidebar h2.ms-webpart-titleText span.landing-page-view-all:hover, #greenroom-top-zone-horizontal h2.ms-webpart-titleText span.landing-page-view-all:hover, .landing-page-view-all:hover,#greenroom-landing-page-content #greenroom-top-zone-left-col6 h2.ms-webpart-titleText span.landing-page-view-all:hover, #greenroom-landing-page-content #greenroom-top-zone-right-col6 h2.ms-webpart-titleText span.landing-page-view-all:hover, #homepage-Discussions-add-link a:hover, #greenroom-discussion-comments-usercomment .greenroom-discussion-view:hover, #FooterRow4 h6 a, #navcontainer ul li a:hover {text-decoration: none; color: #19a5d4!important;}

.uniqueYears {color: #222!important; display: inline-block; vertical-align: top; margin-bottom: 5px;}
#tdYears span.glyphicon.glyphicon-menu-left{padding-top: 0!important;}
.ms-cui-topBar1{width: auto!important;}
#greenroom-hidden{display:none;}

#QuickLinksPlaceholder .RecomendedLinks-homepage ul {float: left; width: 100%; padding: 0;  height: 68px; overflow: hidden;}
#AddQuickLinksContainer > ul {padding: 0; display: block; margin: 0 -1.5%; }
#EditQuickLinksContainer ul {float: left; width: 100%; margin-top: 10px; padding: 0;}
#EditQuickLinksContainer a { min-height: 50px !important;}
#EditQuickLinksContainer .btnRemove {min-height: 1px !important;}
#Revertquicklinks {float: right;}
#Revertquicklinks a {color: #222;line-height: 32px; font-weight: bold;}

#AddQuickLinksContainer .hover {}
#AddQuickLinksForPages{float: left; width: 100%; padding: 20px 10px;}
#AddQuickLinksForPages > div {float: none !important; display: inline-block !important; vertical-align: top;  margin: 0 0 20px !important; width: 50% !important; padding: 0 10px; }
#AddQuickLinksForPages h2{ font: 28px "DINPro",Helvetica Neue,Helvetica,Arial !important; color: #333; padding-left: 10px; }
#AddQuickLinksForPages .quick-link-pages > a {color: #222; font-weight: bold; background: none!important;}
#AddQuickLinksForPages .hover {float: right;}
.hover > img {margin-right: 5px;}

#greenroom-top-sites > ul {float: left; padding: 0; width: 100%;}
#greenroom-top-sites li {margin-bottom: 20px; float: left; width: 100%;}
#greenroom-top-sites .site-name {font-size: 18px !important; margin-bottom: 5px;}
#greenroom-top-sites .btn-sm {margin: 5px 5px 0 0;}
.site-link a {color: #222;}

#greenroom-top-pages > ul {float: left; padding: 0; width: 100%;}
#greenroom-top-pages li {margin-bottom: 20px; float: left; width: 100%;}
#greenroom-top-pages .btn-sm {margin: 5px 5px 0 0;}
#greenroom-top-pages .site-name {font-size: 18px !important; margin-bottom: 5px;}
#greenroom-top-pages {float: left; margin-bottom: 20px; width: 100%;}
#greenroom-top-pages table {margin-bottom: 20px; min-width: 300px; }
#greenroom-top-pages table td {padding: 5px;}
#greenroom-top-pages table td a {color: #222;}

#greenroom-add-comment .btn-primary.btn-lg { background: #009ab5!important;  border-radius: 7px!important; color: #d4e37c!important;}


#greenroom-subsite-title-follow{background-image: url("../../../../SiteCollectionImages/pagelayouts/greenroom-subsite-title-follow.png")!important; background-position: 23px center!important; background-repeat: no-repeat!important; min-width: 93px;}
#greenroom-subsite-title-follow a {height: 100%; width: 100%;}
#greenroom-subsite-title-follow #site_follow_button img{display: none;}
/*#greenroom-subsite-title-follow #site_follow_button:active,#greenroom-subsite-title-follow.SiteFollowed #site_follow_button{background: #fff url("../../../../SiteCollectionImages/pagelayouts/greenroom-subsite-title-follow-active.png") no-repeat center center!important;}*/

#greenroom-landing-page-btn-feedback{background-image: url("../../../../SiteCollectionImages/pagelayouts/greenroom-subsite-feedback.png")!important; background-position: center center!important; background-repeat: no-repeat!important; min-width: 108px; text-indent: -9999px; overflow: hidden; }
#greenroom-landing-page-btn-feedback img{display: none;}
/*#greenroom-landing-page-btn-feedback:active{background: #fff url("../../../../SiteCollectionImages/pagelayouts/greenroom-subsite-feedback-active.png") no-repeat center center!important; min-width: 108px;}*/

.cswp-like-text.activestate,.cswp-tile-event.activestate,#cswp-tile-like-tiny.activestate,#greenroom-page-content-count-likes.activestate,.activestate {background: #d8e07b!important;}
.activestate #cswp-like-text {background: none!important;}
/*.activestate{color: #000!important;}*/
.activestate > span > span{background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -129px -116px!important; min-width: 22px; padding-left: 12px; display: inline-block;}
.activestate > span > span img{display: none; }
#greenroom-page-content-count-likes.activestate > span > span{background: url("../../../../SiteCollectionImages/pagelayouts/greenroom-count-likes-active.png") no-repeat 6px 5px; padding-left: 30px; }


#greenroom-page-content-count-likes .mylikecount{display: inline-block!important; vertical-align: middle; }
#greenroom-page-content-count-likes .mylikecount img{float: left; margin-right: 4px;}

.ms-webpart-controlBox .js-webpart-menuCell .ms-webpart-menuLink{background: url("../../../../SiteCollectionImages/pagelayouts/edititem.gif") no-repeat center center; width: 16px; height: 16px; margin-left: -4px; margin-top: 6px; visibility: hidden; }
.ms-webpartzone-cell:hover .ms-webpart-controlBox .js-webpart-menuCell .ms-webpart-menuLink{visibility: visible;}
.ms-webpart-controlBox .js-webpart-menuCell .ms-webpart-menuLink .ms-webpart-menuArrowImg{display: none;}
#greenroom-article-event-contact{font: 14px Helvetica Neue, Helvetica, Arial;color: #000;font-weight: bold;float: left;margin-right: 5px;}
.ms-webpart-controlBox .js-webpart-menuCell .ms-core-menu-box.ms-core-menu-hasIcons{top: auto!important;}

.ms-dialog #MainPlaceHolder{background: #fff;}
.ms-dlgTitleBtns{margin-right: 0;}
.s4-wpcell-plain .ms-WPBorderBorderOnly{border: 0;}

.cbs-List.recommended-links-edit-ul {width: 100%; margin: 0;}
.cbs-List.recommended-links-edit-ul > li{margin: 0; float: left; width: 33.33%; height: 28px;  margin-bottom: 5px; line-height: 28px; padding: 0 16px;}
.recommended-links-edit-li{ float: left; padding: 0 10px!important; width: 100%;  background: #fff; height: 28px; }
.recommended-links-edit {float: left; color: #333 !important;}
.recommended-links-edit > span {width: 100% !important; font-weight: bold; }
.recommended-links-edit-li .btnAdd,.recommended-links-edit-li .btnRemove{ color: #fff;}
.recommended-links-edit > img {border: 1px solid #e5e5e5; height: 65px !important; width: 65px !important; margin-bottom: 5px;}
.recommended-links-edit-li .quick-links-full span{float: none!important; color: #fff;}
.recommended-links-edit-li:hover{background: #ccc !important}
.recommended-links-edit-li:hover .recommended-links-edit{color: #fff !important}
.recommended-links-edit-li.recommended-links-edit-li-remove,#AddQuickLinksContainer .quick-link-pages.quick-link-pages-remove{background: #aaa!important;}
.recommended-links-edit-li.recommended-links-edit-li-remove span,#AddQuickLinksContainer .quick-link-pages.quick-link-pages-remove span{color: #fff;}


.ms-rteStyle-content-with-bg {-ms-name: "Content With Background"; background: #fff; margin: -25px 0 0; padding: 0 15px 25px; float: left; width: 100%;}
a:focus, a:hover{text-decoration:none;} 

.cswp-tile-event > span > a{margin: 0;}

.category-links-edit-ul .greenroom-quicklinks-sitename {font: 28px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin: 20px 0 10px 0; display: block;}
.edit-quick-links {background: #f1f1f1; float: left; width: 100%; padding: 0 16px; margin-top:-55px;}
.category-links-edit-ul .category-links-edit-li{height: 28px!important; line-height: 28px; padding: 0 10px !important;}
.category-links-edit-ul .category-links-edit-li a{color: #222;}
.category-links-edit-ul .btnRemove {font-size: 12px;}
.category-links-edit-ul .category-links-edit-li:hover {background: #ccc!important;}
.category-links-edit-ul .category-links-edit-li:hover a{color: #fff;}
li.category-links-edit-li.category-links-edit-li-remove,li.category-links-edit-li.category-links-edit-li-remove:hover {background: #aaa!important;}
.category-links-edit-ul li.category-links-edit-li.category-links-edit-li-remove a{color: #fff;}
.category-links-edit-ul .quick-links-full span{float: none!important; color: #fff;}
div.ms-TagCloudLink a:link {color:#FFF !important; font-size:12px;}
div.ms-TagCloudLink a.rank1:hover{color:#fff !important;}
div.ms-TagCloudLink a.rank9{font-size:18px; color:#f4f4f4 !important;}
div.ms-TagCloudLink a.rank9:hover{color:#9f9f9f !important;}
div.ms-TagCloudLink a:visited {color:#d4e27b !important; font-size:12px;}

#cswp-tile-thumbnail-img-lg{height: auto;}
#FooterRow2 .cbs-noImageContainer{background-size: 185px 110px; width: 185px; height: 110px;}
.cswp-tile-like-lg > span > span, #cswp-tile-like-sm > span > span,#cswp-tile-like-med > span > span{display: inline-block; vertical-align: middle; line-height: 18px; top:1px; position: relative; background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -158px -117px; min-width: 25px; padding-left: 11px;}
.cswp-tile-like-lg > span > span img,#cswp-tile-like-tiny > span > span img,#cswp-tile-like-sm > span > span img,#cswp-tile-like-med > span > span img{float: left; vertical-align: middle; margin: 3px 3px 0 0px; display: none;}
p a:visited{color:#059CC8!important;}
/* #greenroom-admin-block-blue{display:none;}*/
#ifProfileCompleteHtml {position: relative;float: left;width: 100%;}
#get-started-preloader {position: absolute;left: 0;top: 0;float: left;width: 100%;height: 100%;background: rgba(255,255,255,.5);text-align: center;display:none;}
#get-started-preloader-img {padding-top: 35%;}

/* Sprite images */
.sprite-new{background: url('../../../../SiteCollectionImages/sprite.png') no-repeat 0 0;}
.footer-fb{width: 12px; height: 24px; float: left; background-position: -203px 0;}
.footer-twitter{width: 30px; height: 24px; float: left; background-position: -162px 0;}
.footer-instagram{width: 24px; height: 24px; float: left; background-position: -124px 0;}
.footer-bet{width: 53px; height: 18px; display: inline-block;   background-position: -26px -8px;}
.footer-cmt{width: 52px; height: 41px; display: inline-block; background-position: -25px -37px;}
.footer-cc{width: 119px; height: 26px; display: inline-block; background-position: 0px -87px;}
.footer-mtv{width: 34px; height: 23px; display: inline-block; background-position: -31px -125px;}
.footer-nickelodeon{width: 94px; height: 15px; display: inline-block; background-position: -4px -172px;}
.footer-spike{width: 48px; height: 21px; display: inline-block; background-position: -34px -207px;}
.footer-tvland{width: 59px; height: 21px; display: inline-block; background-position: -133px -173px;}
.footer-vh1{width: 48px; height: 26px; display: inline-block; background-position: -231px -170px;}
.footer-paramount{width: 50px; height: 37px; display: inline-block; background-position: -127px -287px;}
.footer-5{width: 16px; height: 24px; display: inline-block;   background-position: -83px -248px;}
.footer-colors {width: 58px; height: 35px; display: inline-block; background-position: 0px -244px;}
.footer-telefe {width: 53px; height: 30px; display: inline-block; background-position: -237px -211px;}
.footer-paramount-network{width: 78px; height: 28px; display: inline-block; background-position: 0px -296px;}

#FooterRow3 > a:hover{opacity: 0.5;}
#FooterSocial1 a{opacity: 1;}
#FooterSocial1 a:hover{opacity: 0.7;}
.quick-sprite{width: 16px; height: 16px; display: inline-block; background-position: -290px -83px; vertical-align: middle;}
.sprite-new.greenroom-topnav-icon-kaleo{width: 25px; height: 20px; background-position: -246px -81px;  display: inline-block; vertical-align: middle;}

.sprite-icon3{width: 37px; height: 35px;  background-position: -124px -32px; display: inline-block; vertical-align: top;}
.sprite-icon2{width: 34px; height: 36px;  background-position: -237px -32px; display: inline-block; vertical-align: top;}
.sprite-icon1{width: 43px; height: 37px;  background-position: -177px -33px; display: inline-block; vertical-align: top;}

#greenroom-welcome-close{background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -291px -5px; width: 17px; height: 17px; float: left;}
.profile-sprite{background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -260px -5px; width: 13px; height: 13px; float: left; margin-right: 6px;}
.book-vacation-icon{background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -230px -6px; width: 14px; height: 14px; float: left; margin-right: 5px;}
.sprite-plus-icon{background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -130px -144px; width: 12px; height: 12px; float: left; margin-right: 5px; margin-top: 3px;}

h2 a, h2 a strong.ms-rteStyle-DINPro-Bold{color:#000 !important;}
/*#FooterSocial2 ul.dfwp-column{background-color: #181D1F !important;}*/
#FooterSocial2 .dfwp-column {margin-top: 0px;padding-left:0px;padding-right:0px;}

.ms-srchnav-link-selected:link, .ms-srchnav-link-selected:visited {color: #0072c6 !important;}
#cswp-tile-like-tiny{height:32px;}
.fmrt #cswp-tile-like-tiny, .ras #cswp-tile-like-tiny{height:32px;}
#landing-page .ras #cswp-tile-like-tiny{height:31px;}

small.uncheck { background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -236px -120px;  width: 29px!important;  height: 29px!important;}
small.check { background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -191px -120px;  height: 29px!important;  width: 29px!important;}
h2 span.greenroom-helpful-faq-icon-kaleo {  width: 26px;  height: 20px;  display: inline-block;  margin-left: 2px;  background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -200px -80px;
  vertical-align: middle;}
#greenroom-next-holiday-icon {background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -286px -36px; width: 29px; height: 29px;}
#greenroom-next-holiday-icon > img {display: none;}
#greenroom-page-content-count-likes.page-content-count-likes-activestate {  background: #e3e2e2!important;  color: #333;}
#homepage.container {width: auto;}
#cswp-tile-container-tiny .cbs-picture3LinesImageContainer{height:90px;}
#createQuickLink{padding:20px;}
.ms-rtestate-field  .createQuickLinkHeadingRow {font: 28px "DINPro",Helvetica Neue,Helvetica,Arial !important;padding-bottom: 15px; float:left; width:100%}
.createQuickLinkTitleRow, .createQuickLinkUrlRow, .createQuickLinkRow, .createQuickLinkErrorMsgRow {padding-bottom: 10px;}
.createQuickLinkDescRow{padding-bottom: 10px; float:left;}
.createQuickLinkForm{width:400px; margin-bottom:40px;}
#txtCreateQuickLinkTitle{width:80%;float:right;}
#txtCreateQuickLinkUrl{width:80%;float:right;}
#btnCreateQuickLink{float:right;}
.createQuickLinkErrorMsgRow {color:red}
.ms-rtestate-field .mandatory {color:red;}
.myLinkExists{border: 1px solid red;}
#CustomQuickLinksContainer  {float:left;width:100%;padding:20px;}
#CustomQuickLinksContainer .quicklinks{font: 28px "DINPro",Helvetica Neue,Helvetica,Arial !important;padding-bottom: 15px; float:left; width:100%}
#CustomQuickLinksContainer li{padding: 10px !important;text-align: center;width: 7.6%;border-right: 1px solid #e5e5e5;}
#CustomQuickLinksContainer li:last-child {border: 0;}
.myAnchorExists > span{color:red !important;}
/*Style for Create Own Link section on edit quick link page ends*/
#greenroom-discussion-comments-usercomment .greenroom-discussion-comments-subject strong {font-weight:bold;}
#createQuickLinkRow-compliment-loader img{ margin-left: 150px;  margin-top: -80px;}
#homepage-Discussions .greenroom-discussion-view a, .viewallhomepage a{color:#000000!important;font-size:12px!important}
.greenroom-discussion-view{font-size:12px!important}

#WordClockKondaTest div {text-align: left!important; padding-left: 0!important; float:left; width:100%!important;}
.corporateDirectory {font: 20px 'DINPro', Helvetica Neue, Helvetica, Arial !important; margin-bottom:5px;}
#WordClockKondaTest b{font: 20px 'DINPro', Helvetica Neue, Helvetica, Arial !important;}
#WordClockKondaTest {width: 100%!important; margin-bottom: 20px; float: left;}
#WordClockKondaTest table{width:100%;}
#WordClockKondaTest td a{float:right; line-height:25px; color: #333;}
#WordClockKondaTest td a:hover{color:#19a5d4;}
input#btnSave {background: #0d313c; color: #fff;  border: 0; padding: 6px 10px; cursor: pointer;}
.select1-clock { float: left;  width: 150px!important; height: 250px;}
.clock-btns {float: left; width: 30%; padding-top: 20%;}
.select2-clock { float: right; width: 150px!important; height: 250px;}
.custom-clock-bottom { float: left;  width: 100%;}
.clock-btns a {text-decoration: none; line-height: 20px; color: #333;}

#CustomQuickLinksContainer > ul {float: left; width: 100%; padding: 0;}

.officeDirectory, .viacomLocalOffices, #greenroom-btn-holiday-schedule {
	background-color:#009ab5;
	margin-left:25px;
	padding:10px;
	text-align:center;
	-webkit-border-radius:8px!important; 
	-moz-border-radius:8px!important;
	border-radius:8px!important; 
}

.officeDirectory a, .viacomLocalOffices a, #greenroom-btn-holiday-schedule a {
	color:#d4e37c;	
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}

.officeDirectory::after, .viacomLocalOffices::after, #greenroom-btn-holiday-schedule::after{
	content: "\003e";
	color:#d4e37c;
	left:15px;
	position:relative;
}
.viacomLocalOffices{
	margin-top:7px;
}

#cswp-tile-like-tiny > span > span{display: inline-block; vertical-align: middle; line-height: 18px; top:5px; position: relative; background: url("../../../../SiteCollectionImages/sprite.png") no-repeat -158px -117px; min-width: 25px; padding-left: 11px;}

#conf-list {
    display: block;
	margin:0!important;
}
#conf-list li {
    float: left;
    width: 100%;
    margin: 0 0 5px !important;
}
#conf-list .cbs-Item {
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #826E1B;
}
#conf-list .cbs-Detail {
    margin: 0;
}
#conf-list a {
    display: block!important;
    text-align: center;
color: #fff;
}

.event-list ul li:last-child {
    margin-bottom: 0;
}
.event-list .dfwp-list {
    margin: 0!important;
	padding:10px;
	border: 0;
    background: #fff;
    border-radius: 7px!important;
}
#greenroom-next-holiday-box h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    font-weight: bold;
	margin:0;
	line-height: 20px;
}
#greenroom-next-holiday-box h3 a{color:#009ab5}
#greenroom-next-holiday-box #greenroom-next-holiday-date {
    line-height: 20px;
    font-size: 12px;
}
#landing-page #greenroom-next-holiday-box h4 {
    font-size: 13px!important;
    margin: 0;
}
#FooterAreaWrapper .cbs-noImageContainer-ContentLarge{font-size: 32px;}
#FooterAreaWrapper .cbs-noImageContainer-ContentWrapperLarge{border:0;}
#FooterAreaWrapper  .dfwp-column{background:none!important;}
.greenroom-meettheteam .ms-addnew,.greenroom-meettheteam .ms-list-addnew { display: none;}

#greenroom-next-holiday-box{margin-left:10px;}
#greenroom-next-holiday-icon{display:inline; float:left; margin-right:15px; margin-left:-5px;}
#greenroom-next-holiday-occassion{color:#0d8bb5;font-weight:bold !important;font: 13px Helvetica Neue, Helvetica, Arial;}
#greenroom-next-holiday-date{color:#363636; font: 13px Helvetica Neue, Helvetica, Arial;}
#greenroom-btn-holiday-schedule{color:#fff;margin-top:15px;}
.nxt-holiday.cbs-List{display:block;}
#FooterSocial2 #MostShared div:nth-child(2) { margin: 9px 0 3px!important;}
#FooterAreaWrapper .dfwp-column .page-image-url{border-radius:7px;}
#greenroom-home-title{
	display: inline-block;color:#fff; font: 32px/38px 'DINPro-Bold', Helvetica Neue, Helvetica, Arial; background-color:#19a5d4;text-transform:uppercase;padding:4px 40px 4px 32px; min-width:210px;
background: #07cfc6 url("../../../../PublishingImages/heading-bg.png") repeat-y 0 0!important;
    background-size: 100% auto!important;
	border-radius: 8px 8px 0 0!important;
	    position: absolute;
    z-index: 9;
    top: -46px;
    left: 0;
}
.homepage-container {
    background: #f4f4f4;
    float: left;
    width: 100%;
	border-radius: 0 7px 0 0;
}
#greenroom-homepage-campaign {
    min-height: 120px;
}
#TagCloud a {
    color: #fff;
}
#greenroom-subsite-title{
    background: #07cfc6 url("../../../../PublishingImages/heading-bg.png") repeat-y 0 0!important;
    background-size: 100% auto!important;
	border-radius: 8px 8px 0 0!important;
	position: relative; z-index:9;
}

#greenroom-subsite-title-follow{background-color: #009ab5!important; margin-left: -15px!important; border-radius: 8px 8px 0 0!important; min-width: 120px!important;}
#greenroom-landing-page-btn-feedback{  background-color: rgba(0, 0, 0, 0.2)!important; margin-top: 20px!important; border: 2px solid #fff!important; border-radius: 8px !important;}
#greenroom-top-comments-sidebar .btn.btn-primary.btn-lg {display: none!important;}
#cswp-tile-survey-sm {width: 50%; float: left;}
#greenroom-landing-page-content #greenroom-top-zone-left-col6 h2.ms-webpart-titleText span.landing-page-view-all, #greenroom-landing-page-content #greenroom-top-zone-right-col6 h2.ms-webpart-titleText span.landing-page-view-all {
    font-size: 12px !important;
    margin-right: 10px !important;
    margin-top: 2px !important;
}
.cbs-List.nxt-holiday li {
    float: left;
    width: 100%;
}
#greenroom-panel-start-headline{ font: 20px "DINPro",Helvetica Neue,Helvetica,Arial !important; margin: 25px 0 5px;}
.ms-dialog #greenroom-page-content-container > .col-md-9,.ms-dialog #greenroom-page-content-container > #greenroom-sidebar.col-md-3,.ms-dialog #greenroom-page-content-container > .col-xs-9,.ms-dialog #greenroom-page-content-container > #greenroom-sidebar.col-xs-3{min-height:0;}

/*Style for second level navigation link*/
.dynamic-children ul.dynamic {background: #009ab5; box-shadow: 0 0; border: 0; padding: 10px 0;}
.dynamic-children.hover .dynamic-children.menu-item,.dynamic-children.hover-off .dynamic-children.menu-item{background: #009ab5;}
#TopBarContent .dynamic-children.hover .dynamic-children.menu-item span,#TopBarContent .dynamic-children.hover-off .dynamic-children.menu-item span{color: #eeef7a;} 
#TopBarContent .dynamic-children ul.dynamic span.menu-item-text{color:#eeef7a}
#TopBarContent .dynamic-children ul.dynamic a:hover span.menu-item-text{color: #fff;}
#TopBarContent #NavBarContainer .dynamic-children ul.dynamic a{padding: 5px 9px!important;}
.ms-core-listMenu-horizontalBox .dynamic-children.additional-background{padding-right:15px;}

.VideosAndTutorials {padding-left: 40px; float: left; width: 100%; margin-bottom: 15px;}
.VideosAndTutorials a h2 {color: #000; font-size: 16px!important; cursor: pointer;}

/*Hide NewsFeed and Share */
#suiteLinksBox a[id$="ShellNewsfeed"],.ms-cui-topBar2 a[id$="site_share_button"] {
    display: none!important;
}
#greenroom-page-content-container,.homepage-container {position: relative; border-top-right-radius: 7px; z-index: 1;}
#greenroom-top-zone-full-width{border-radius: 0 7px 0 0;}
#greenroom-page-content-container{float: left; width: 100%;}

#QuickLinksPlaceholder h3 > span {vertical-align: top; margin: 0 5px; display: inline-block;}
#workspace-links{float: right; width: 90px;}
#QuickLinksPlaceholder #workspace-links h3 {padding: 0;}
.workspace-links-quickLinks {padding: 7px;}
.workspace-links-quickLinks img {width: 65px; height: 65px;}
#workspace-links .workspace-logo-roll{display: none;}
#workspace-links a:hover .workspace-logo-roll{display: block;}
#workspace-links a:hover .workspace-logo{display: none;}

/* Related Latest Article Video Tile issue*/
#homepage-blockpaging #cswp-tile-container-sm {position:relative;}
#homepage-blockpaging #cswp-tile-container-sm #cswp-tile-video-play-box-sm #cswp-tile-video-play-sm {
    position: absolute;
    top: 29px;
    height: 128px;
    margin: 0;
    width: 50%;
}

.event-calendar-container{background:#fff;padding:10px;border:1px solid #e7e7e7;border-radius:7px}
.event-calendar-container .event-calendar-item{margin-bottom:10px;font-size:13px}
.event-calendar-item .event-calendar-title{margin-bottom:2px}
.event-calendar-item .event-calendar-title a{color:#337ab7;font-size:13px;font-family:'DINPro-Bold',Helvetica Neue,Helvetica,Arial}
.event-calendar-time{font-size:12px}
.event-calendar-container .event-calendar-item:last-child{margin:0}